

/** Reference web font **/
@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Alternate selection colour **/
/* Safari */::selection {background:#f5acac;}
/* Firefox */::-moz-selection {background:#f5acac;}


/** Reset **/
body ul, ol, li {margin:0; padding:0;} 
body li {list-style-type:none;}
body img {margin:0; padding:0; border:none;}


/** Typography styles and background **/
body {text-align:center; background-color:#f1f3f2;
	font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif; margin:0; padding:0;
	color:#666666; font-weight:normal; font-size:11.5px; line-height:1.2; letter-spacing:0.04em;}
	
body h1 {font-size:40px; color:#343a46; margin:0 0 15px; padding:0; font-weight:normal; text-transform:uppercase; letter-spacing:0.13em;}
body h2 {font-size:23px; color:#343a46; margin:0 0 13px; padding:0; font-weight:normal; letter-spacing:0.065em;}
body h3 {font-size:13px; color:#343a46; margin:0 0 13px; padding:0; font-weight:normal; text-transform:uppercase; letter-spacing:0.13em;}
body p {margin:0 0 10px; padding:0;}
body span.notes {font-size:10px; color:#999!important; margin:0; padding:0; font-weight:normal;}
	
	
/** Hyperlinks **/
body a {margin:0; padding:0; color:#353574;}
body a:link {text-decoration:none;}
body a:visited {text-decoration:none;}
body a:hover {text-decoration:underline;}
body a:active {text-decoration:none;}


/** Buttons **/
a.button {width:150px; height:16px; margin:0; padding:7px 0; display:block; 
	font-size:13px; letter-spacing:0.13em; text-transform:uppercase;}
a.button:link {text-decoration:none; color:#FFF;}
a.button:visited {text-decoration:none; color:#FFF;}
a.button:hover {text-decoration:none; color:#efefef;}
a.button:active {text-decoration:none; color:#FFF;}
a.green {background:URL(../images/bttn_green.gif) left no-repeat;}
a.blue {background:URL(../images/bttn_blue.gif) left no-repeat;}
a.brws {background:URL(../images/bttn_browseart.gif) left no-repeat; height:17px; padding:9px 0;}
a.facebook {background:URL(../images/footer/facebook.gif) left no-repeat; height:16px; padding:9px 0 8px;}
a.twitter {background:URL(../images/footer/twitter.gif) left no-repeat; height:16px; padding:9px 0 8px;}
a.red_pointer {background:URL(../images/pointer_red.png) left no-repeat; padding-left:11px;}
a.header_pointer {background:URL(../images/pointer_header.png) left no-repeat; padding-left:11px;}


/** Containers **/
#container {width:975px; margin:0 auto; padding:40px 0 0; text-align:left; position:relative; z-index:1;}
#main {margin:0; padding:0 0 15px; width:975px;}
#secondary {width:100%; margin:0; padding:20px 0 30px; background-color:#FFF;}


/** TEMPORARY rollovers **/
#container #panel_browse {width:995px; height:150px; margin:0; padding:0; position:absolute; top:110px; left:-10px; display:none;
	background:URL(../images/browse_search/browse_panel.png) top no-repeat; z-index:3;}
#container #panel_browse #options_browse {margin:23px 0 0 15px; padding:0;}
#container #panel_browse #options_browse .panel {height:110px; margin:0 0 0 5px; padding:0; float:left; background-color:#FFF; overflow:hidden;}	
#container #panel_browse #options_browse .allart {width:130px;}
#container #panel_browse #options_browse .ending {width:190px;}
#container #panel_browse #options_browse .range {width:190px;}
#container #panel_browse #options_browse .cats {width:430px;}
#container #panel_browse #options_browse .panel h3 {margin:10px 0 15px 10px;}
#container #panel_browse #options_browse .panel ul.one_col {padding-left:10px;}
#container #panel_browse #options_browse .panel li {margin-bottom:7px;}
#container #panel_browse #options_browse .panel .col_tiny {width:83px; height:40px; margin:0; padding:0 0 0 10px; float:left;}
#container #panel_browse #options_browse .panel .divider {border-left:1px solid #BABABA;}

#container #panel_search {width:455px; height:160px; margin:0; padding:0; position:absolute; top:110px; right:-10px; display:none;
	background:URL(../images/browse_search/search_panel.png) top no-repeat; z-index:4;}
#container #panel_search #all {margin:30px 0 20px; padding:0 0 0 25px;}
#container #panel_search .col_search {width:85px; margin:0; padding:0 0 0 20px; float:left;}

	
/** Top navigation **/
#topnav {width:100%; height:40px; margin:0; padding:0; font-size:13px; letter-spacing:0.13em; text-transform:uppercase; 
	background-color:#403f47; z-index:99;  top:0;}
#centre {width:975px; height:40px; margin:0 auto; padding:0; text-align:left;}
#topnav ul {margin-top:12px;}
#topnav li {display:inline; margin-right:3px; padding:0 0 15px; color:#666;}
#topnav li a:link {text-decoration:none; color:#FFF;}
#topnav li a:visited {text-decoration:none; color:#FFF;}
#topnav li a:hover {text-decoration:none; color:#666;}
#topnav li a:active {text-decoration:none; color:#FFF;}
#topnav li.current {background:URL(../images/current.png) bottom center no-repeat;}
#topnav .left {float:left; width:500px;}
#topnav #login_reg {float:right; width:400px; position:relative;}
#topnav #login_reg ul {text-align:right;}

#topnav #login_reg #loggedin {width:350px; height:40px; position:absolute; top:0; right:0; z-index:2;
	background:URL(../images/topnav_bg.gif) top repeat-x; margin:0; padding:0;}
#topnav #login_reg #loggedin #summary {width:260px; height:40px; margin:0; padding:0; float:left; background:URL(../images/topnav_dotted.gif) left no-repeat;}
#topnav #login_reg #loggedin #summary ul.studio {float:none; font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif; padding:0 0 0 10px;
	color:#BABABA; font-weight:normal; font-size:11.5px; line-height:1.2; letter-spacing:0.04em; text-transform:none; text-align:left;}


/** Header **/	
#header {margin:0 0 20px; padding:0; height:95px; background:URL(../images/divider_full.gif) bottom no-repeat;}
#header img#logo {float:left;}
#header #search {margin:0; padding:30px 0 0; width:315px; float:right;}
#header #browse {margin:0 15px 0 0; padding:30px 0 0; width:150px; float:right;}	


/** Columns **/
.col_small {float:left; width:150px; margin:0 15px 0 0; padding:0;}
.col_final {margin-right:0;}
.notitle {padding-top:15px;}
.titlebar {border-top:5px solid #3b3a46; padding-top:10px;}
.col_small li {margin-bottom:7px;}


/** Left Hand Navigation **/
#sign_reg {margin:0; padding:0; display:block;}
ul.lhn {margin-bottom:15px;}
#activity {margin:25px 0 0;}
#news {margin:25px 0 0;}
#news .news_sml {width:150px; margin:0; padding:0;}
#news .news_sml p {padding-left:25px;}
#news .event {background:URL(../images/newsicon_event.gif) top left no-repeat;}
#news .article {background:URL(../images/newsicon_article.gif) top left no-repeat;}
#news .press {background:URL(../images/newsicon_press.gif) top left no-repeat;}
#news .report {background:URL(../images/newsicon_report.gif) top left no-repeat;}


/** Banner ads **/
#banner_bottom {width:975px; height:100px; margin:10px auto; padding:0; text-align:left;
	 background:#FFF URL(../images/ad_banners/ad_bg_728.gif) center no-repeat;}
#banner_bottom img {margin:5px 0 0 242px;}


/** Footer **/
#footer {background:#403f47 URL(../images/footer/footer_bg.gif) top repeat-x; width:100%; color:#BABABA; height:240px;}
#footer #foot_container {width:975px; margin:0 auto; padding:35px 0 0; text-align:left;}
#footer #foot_container ul#link_lg li {margin-bottom:10px;}
#footer a.bright {color:#FFF;}
#footer a.footerlink_lg {color:#BABABA; font-size:13px; letter-spacing:0.13em; text-transform:uppercase;
	background:URL(../images/footer/pointer_footer_lg.gif) left no-repeat; padding-left:15px;}
#footer a.footerlink_sml {color:#BABABA;
	background:URL(../images/footer/pointer_footer_sml.gif) left no-repeat; padding-left:11px;}
	
#footer #foot_container #subscribe {width:315px; margin:0; padding:0; float:right;}
#footer #foot_container #subscribe h3 {color:#BABABA; margin-bottom:0;}


/** Other styles **/
img.thumbs {margin-bottom:15px; border:1px solid #FFF; width:148px; height:148px;}
p.clearer {clear:both; margin:0; padding:0; font-size:1px; line-height:1px; width:100%;}
li.navdivider {color:#555;}
	
	
.register{ width:656px; border:1px solid #000100; margin:0px auto; padding:30px 0px;}
.register p{ font-size:13px; line-height:16px;}
.txtCenter{ text-align:center !important;}
.font17{ font-size:17px !important; line-height:22px !important;}
.colorBlack{ color:#000 !important;}
.paddingH40{padding-left:40px !important; padding-right:40px !important;}
.paddingV20{padding-top:20px !important; padding-bottom:20px !important;}
.margin2{ margin:2px !important;}
.clear{ height:1px; margin:0 0 -1px; clear:both; font-size:1px;}    
.floatL{ float:left !important;}
.floatR{ float:right !important;}
.floatN{ float:none !important;}
.heightAuto{ height:auto !important;}

.blackBorder{ height:1px; overflow:hidden; font-size:0px; border-top:1px solid #000100;}
.register .block{ width:235px; margin-right: 45px; float:left; margin-bottom:20px;}
.register .block label{ display:block; margin-bottom:5px;}
.register .block .input{ border:1px solid #000100; height:17px; width:100%; font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif;}
.register .blue_button{ background:url(../images/bttn_blue.gif) no-repeat;}
	
	
	
	
	
	
	
	