<?php  
 echo $this->mailsubject;
echo $this->headScript()->appendFile($this->baseUrl().'/js/ckeditor/ckeditor.js','text/javascript');
?>
<div class="inner-right-content"> 
	<h2 class="page-title">Manage <?php echo ucwords($this->mailcontent['title']);?></h2>
	<?php if(isset($this->msg)){?>
	<div class="white-box-cont paddingLeft">
	<table cellpadding="5" cellspacing="5" border="0">
<!--<tr ><td > <?php if(isset($this->msg)) { ?> <div class="err_msg"> <?php  echo $this->msg ; ?> </div> <?php }?> </td></tr>-->
	  <tr ><td > <?php if(isset($this->msg)) { ?> <div class="update_msg"> <?php  echo $this->msg ; ?> </div> <?php }?> </td></tr>
	   <tr></tr><tr></tr>
	</table>
</div>
	<?php } ?>
<div style="float:left;margin-left:10px;">
	<form name="ckeditorform" action="<?php echo $this->url(array('controller'=>'manageemailformats', 'action'=>'emailformat','title'=>$this->mailcontent['id']),'default',true)  ?>" method="post">
	<input type="submit" name="submit" value="<< Back" class="update_btn"/>
	</form>
</div>
<br clear="all" />
<form name="ckeditorform" action="<?php echo $this->url(array('controller'=>'manageemailformats', 'action'=>'emailcontent','title'=>$this->mailcontent['id']),'default',true)  ?>" method="post">
<div class="white-box-cont">
<div class="row" align="top">
					<table>
					<td ><th height="6px">Subject:</th></td>
					</table>
				   	<textarea id="subject" name="subject" cols="80" rows="3" /><?php echo $this->mailcontent['subject'];?></textarea>
					<div class="clear"></div>
</div></br>
<div class="white-box">
<div class="row" align="top">
					    <table>
						<td ><th height="6px">Message Content:</th></td>
						</table>
</div></br>
	<div class="sign-up">
	
		<div class="form-section">

			<div id='form-container'>

            	<div>
                    
                        <textarea id="editor1" name="editor1">
						<?php if(empty($this->editor1)){ echo $this->mailcontent['content']; }else { $this->editor1; }?></textarea>
							<script type="text/javascript">
                                CKEDITOR.replace( 'editor1' );
                            </script>
                        <input type="submit" name="submit" value="Update" class="update_btn"/>
                    
               </div>
                
			</div>
		</div><!-- /form-section -->
	</div>

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</form>
</div><!-- inner-right-content -->

        