 <!-- pagination Area start --> 
 <?php
	$namespace 	= new Zend_Session_Namespace();
		if($namespace->perpage!='')
		$this->perpage=$namespace->perpage;
?> 
 
<div class="paginationArea marginT5">
	<div class="floatL marginT5 marginL20">
    	 
    		<img id="gridviewll" onclick="gridview();" src="<?php echo $this->baseUrl();?>/images/browse_search/grid_view_icon.jpg" border="0" />
    	 &nbsp;&nbsp; 
    	 
    		<img id="listviewll" onclick="listview();" src="<?php echo $this->baseUrl();?>/images/browse_search/list_view_icon.jpg" border="0" />
    	 
    </div>
                          
                          
    <div class="floatL marginT7 marginL20">
    	<div class="sortBy cursorPointer">
			<div class="floatL marginT5">Sort By </div>
			<div class="floatL marginL5">
				<div class="sortByWrapper">
				   <select id="sortBy"  onchange="change();">
						<option <?php if( $this->sortBy == 'Ending Soonest' ){?>selected="selected"<?php }?> value="Ending Soonest">Ending Soonest</option>
						<option <?php if( $this->sortBy == 'Recently Added' ){?>selected="selected"<?php }?> value="Recently Added">Recently Added</option>
						<option <?php if( $this->sortBy == 'Top Rated' ){?>selected="selected"<?php }?> value="Top Rated">Top Rated</option>
						<option <?php if( $this->sortBy == 'Top Artists' ){?>selected="selected"<?php }?> value="Top Artists">Top Artists</option>
				   </select>
			   </div>
			</div>
		</div>    
	</div>
                          
	<div class="floatL marginT7 ">
		<div class="perpageOpen cursorPointer">
			<div class="floatL marginT5 marginL5">Per Page</div>
			<div class="floatL marginL10">
			   <div class="perpageWrapper">
			   
				 <select id="per_page" onchange="change();">
				   <?php 
					for($per_page = 1; $per_page<51; $per_page++){ //$per_page = $per_page+9;?>
						<option <?php if( $this->perpage == $per_page ){?>selected="selected"<?php }?> value="<?php echo $per_page;?>"><?php echo $per_page;?></option>
				   <?php }?>
				 </select>
			   </div>
			</div>
		 </div>
	</div>
                          
    <div id="paging_top" class="floatR marginT10 marginR10">
                          
		 <!--  Showing 1-30 of 294 / page 1 of 10 <span class="marginL80"><img src="<?php //echo $this->baseUrl();?>/images/browse_search/back_arrow.png" />&nbsp;&nbsp; <img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /></span> -->
		  <?php echo $this->paginationControl($this->paginator,'Elastic','/search/pagination_top.phtml'); ?>
		  
	</div>
</div>
                          
<!------------------------------------- pagination Area end --------------------------------------->

<!---------------------------------- Grid view ------------------------------>
<div id="imgThumbAreaBox"  style="display:<?php echo $this->grid;?>;">
                             
                              <!-- list Thumbs start here -->
   <?php if(count($this->paginator) != 0){foreach ($this->paginator as $artworks){?>
	<div class="imgThumbBox">
		<div class="imgThumb">
			<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$artworks['id']));?>"><img height="150" width="150" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $artworks['image'];?>" /></a>
		</div>
		<div class="imgThumbDetail">
			<h5 class="marginT5 marginB5"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$artworks['id']));?>"><?php echo $artworks['title'];?></a></h5>
			<div class="imgThumbDetail_left">
				<div class="smallUP"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$artworks['owner_id']));?>"><?php echo $artworks['first_name'].' '.$artworks['last_name'];?></a><br />
				<?php  
		foreach($this->rec  as $value){   // global auction duration
		$auction_duration=$value['auction_duration'];
		}

		   $atime=explode(':',$artworks['ending']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'d ';
					$actime .=$hr.'h ';
					if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	$h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
		  ?>
					Ending in <span class="redTXT"><?php echo $h<=0?'Bid Close':$actime;?> </span>
				</div>    
			</div>
			<div class="imgThumbDetail_right">
              <?php if($artworks['buy_it_now']=='0.00') {?>
				<div class="small">Bids<br>
				<?php 
					$maxbid		= new Application_Model_DbTable_Artworkbid();
							$maxbidVal_artist	= $maxbid->getBidMaxlist($artworks['id']); 

					?> 
					<span class="redTXT">&pound; <?php echo $maxbidVal_artist['0']['maxbid']==''?$artworks['price']:$maxbidVal_artist['0']['maxbid']?></span>
                     <?php }else { ?>
         	<div class="small">Buy it now<br>
					<span class="redTXT">&pound; <?php echo $artworks['buy_it_now']?></span>
        <?php } ?>
				</div>   
			</div>                                  
		</div>
    </div>
   <?php }}else{?>
	<div class="norecord" style="text-align: center;">Record not found.</div>
   <?php }?>
                                
                                <!-- list thumbs end here -->                         
</div>
						  <!----------------------------------END Grid view ------------------------------>
						  
						  <!-----------------------------------List view --------------------------------->
<div id="imgThumbAreaList" style="display:<?php echo $this->list;?>;">
                             
	<!-- list Thumbs start here -->
	<?php if(count($this->paginator) != 0){ foreach ($this->paginator as $artworks){?>
	<div class="listViewBox">
		<div class="listViewBox_Img">
			<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$artworks['id']));?>"><img height="78" width="78" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $artworks['image'];?>"></a>
		</div>
		<div class="listViewBox_Big">
		   <h5 class="marginT15 marginB5"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$artworks['id']));?>"><?php echo $artworks['title'];?></a></h5>
		   <div class="hilefilter"><span class="lightCol">by</span> <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$artworks['owner_id']));?>"><?php echo $artworks['first_name'].' '.$artworks['last_name'];?></a></div>
		   <div class="marginT7 floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT.jpg"></div>
		   <div class="marginT10 floatL marginL5 redTXT"><strong><?php echo $artworks['rate_count'];?></strong></div>
		</div>
		<div class="listViewBox_Small">
		<?php  
		foreach($this->rec  as $value){   // global auction duration
		$auction_duration=$value['auction_duration'];
		}

		  $atime=explode(':',$artworks['ending']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'d ';
					$actime .=$hr.'h ';
					if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	$h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
		
		?>
			<div class="hilefilter"><span class="lightCol">Ends:</span> <?php echo $h<=0?'Bid Close':$actime;?> </div>
			<?php 
			$artworkuploadbidcount_model   = new Application_Model_DbTable_Artworkbid();
			$artworkuploadbidcount_model_result = $artworkuploadbidcount_model->getBidlist_count($artworks['id']);	
			
			foreach($artworkuploadbidcount_model_result  as $bid){ // get bid count of current artwork
			$noofbid=$bid;
			}
			?>
			<div class="small marginT5"><span class="lightCol">Bids:</span> <?php echo $noofbid?></div>
		</div>
		<div class="listViewBox_Small">
			<div class="hilefilter"><span class="lightCol">Completed Date:</span></div>
			<div class="hilefilter marginT5"> <?php echo $artworks['date_completed'];?></div>
		</div>
		<div class="listViewBox_Small">
			<div class="hilefilter"><span class="lightCol">Highest bid:</span></div>
			<div class="hilefilter marginT5"><strong class="redTXT">&pound; <?php echo $artworks['price'];?></strong></div>
		</div>
	</div>
                                
	 <?php }}else{?>
	<div class="norecord" style="text-align: center;">Record not found.</div>
   <?php }?>
	
	<!-- list thumbs end here -->                       
</div>
                          
  <!----------------------List view END----------------------->
                           
  <!-- bottom pagination start here -->
<div class="paginationArea marginT20">
	<div class="goTop cursorPointer"  onclick="gotop();">
		<span class="floatL marginL10 marginT15"><img src="<?php echo $this->baseUrl();?>/images/browse_search/top_arrow.png" /></span>
		<span class="floatL marginL10 marginT13">Back to the top</span>
	</div>
 
	<div class="marginT3 marginR10" id="paging">
	 <?php echo $this->paginationControl($this->paginator,'Elastic','/search/pagination.phtml'); ?>
	</div>
</div>
<script>
$(document).ready(function(){
	   
	$(".goTop").click(function(){
          $('html, body').animate({ scrollTop: 0 }, 2000);
	});
});
</script>