<?php
	$namespace 	= new Zend_Session_Namespace();
	$category = $this->headercontent(); 
		if($namespace->perpage!='')
		$this->perpage=$namespace->perpage;
?>  
<script src="<?php echo $this->baseUrl();?>/js/search/modernizr-1.7.min.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/search/paginator.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/jquery.history.js" type="text/javascript"></script>
<script> //setInterval( "refreshbid('<?php echo $this->url(array('controller'=>'Search', 'action'=>'ajaxsearch'),'default',true)?>')", 10000 );</script>

    <!-- ** Begin primary area ** -->
    
    <div id="main">
       
        <!-- ** Begin left hand nav ** -->
        
         <?php echo $this->render('index/left.phtml');?>
		
        <!-- ** End left hand nav ** -->
        
      <div id="searchArea">
                     <div class="filterArea">
        <div class="filterTop">
                             <div class="filterTopLeft" style="width: 468px;">
                                <h2 class="marginT10 marginL10"><span id="searchHead"><?php echo $this->heading;?></span> <span id="togg" class="hilefilter floatR marginL10 marginT10" >(Hide filter option)</span></h2>
                            </div>
                            
                             <div class="filterTopRight">
                             <div class="marginT10 marginR10">
                             
                            	<div class="floatL marginL10">
                                   <div class="browseByWrapper">
                                   		<select id="cat_list">
									  		<option value="">Brows by category</option>
									   	<?php for ($i=0;$i<count($category);$i++){?>
											<option <?php if (in_array($category[$i]['id'],$this->catidshow)){?>selected="selected"<?php }?> value="<?php echo $category[$i]['id'];?>"><?php echo $category[$i]['cat_name'];?> </option>
									   	<?php }?>
									    </select><input type="hidden" name="subcat_id" id="subcat_id" value="<?php echo $this->subcatID?>" />
                                   </div>
                                </div>
                             
                             </div>
                             </div>
                            
                          </div><!--END filterTop-->  
        <div class="filterMid">
        <div id="serchoption">
          <div class="filterMidLeft">
            <div class="floatL">
              <h3 class="marginT10">Filter</h3>
            </div>
            <div class="floatL marginL5 marginT7 font13">
              <label>
              <input type="checkbox" class="cat_id" value="All" />
              &nbsp;&nbsp;All <span id="searchHead_filter"><?php echo $this->heading;?></span></label>
            </div>
            <div class="clear"></div>
            <script language="javascript">
       $(document).ready(function(){
	     $(".mediumBTN").click(function(){  
			if($(".onTAB").hasClass("searchtabActive")){   
			   $(".onTAB").addClass("searchtabActive");
			   $(".onTAB").removeClass("searchtabInactive");
			   $(".offTAB").addClass("searchtabInactive");
		       $(".wd440").addClass("wd441");
			}
		 })
		 $(".styleBTN").click(function(){
		    
			if($(".offTAB").hasClass("searchtabInactive")){   
			   $(".offTAB").addClass("searchtabActive");
			   $(".offTAB").removeClass("searchtabInactive");
			   $(".onTAB").addClass("searchtabInactive");
		       $(".wd440").addClass("wd441");
			}
	   })
    })
    </script>
            <div class="onTAB mediumBTN searchtabActive" id="medium">
              <div class="floatL">Medium</div>
              <div class="floatL marginL5 font13">
                <label>
                <input type="checkbox" name="allmedium" id="allmedium" value="allmedium" onclick="toggleChecked(this.checked)" />
                &nbsp;&nbsp;All Mediums</label>
              </div>
            </div>
            <div class="offTAB styleBTN searchtabInactive"  id="style">
            <div class="floatL">STYLE</div>
             <div class="floatL marginL5 font13">
                <label>
                <input type="checkbox" name="allstyle" id="allstyle" value="allstyle" onclick="toggleCheckedstyle(this.checked)" />
                &nbsp;&nbsp;All Styles</label>
              </div>
              </div>
            <div class="clear"></div>
            <div class="clear"></div>
            <!-- filter checkboxes start here -->
             <div id="filterOptionsArea" class="wd440" style="border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5;  border-bottom:1px solid #E5E5E5; padding-top:10px; ">
            <?php 
			//echo "<pre>";
			$medium_name= new Application_Model_DbTable_ArtCatmedium();
			$medium=$medium_name->getcatmediumName(implode(',',$this->catidshow)); //print_r($medium[0]);
			for ($c=0;$c<count($medium);$c++) { 
			?>
              <div class="optionBox">
                <div class="optionChkBox">
                  <input type="checkbox" value="<?php echo $medium[$c]['id']?>" id="mediumck[]" class="checkbox"/>
                </div>
                <div class="optionChkBoxLabel marginT3" title="<?php echo $medium[$c]['medium']?>"><?php echo  substr($medium[$c]['medium'],0,15)?></div>
              </div>
              <?php }?>
            
            </div>
            <!-- filter checkboxes end here -->
            <!-- filter checkboxes start here -->
            <div id="filterOptionsArea1" class="wd440" style="border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5;  border-bottom:1px solid #E5E5E5; padding-top:10px; display:none">
            <?php 
			//echo "<pre>";
			$style_name= new Application_Model_DbTable_ArtCatstyle();
			$style=$style_name->getcatstyleName(implode(',',$this->catidshow)); //print_r($medium[0]);
			for ($c=0;$c<count($style);$c++) { 
			?>
              <div class="optionBox">
                <div class="optionChkBox">
                  <input type="checkbox" value="<?php echo $style[$c]['id']?>" id="styleck[]" class="stylecheckbox" />
                </div>
                <div class="optionChkBoxLabel marginT3" title="<?php echo $style[$c]['style']?>"><?php echo substr($style[$c]['style'],0,15)?></div>
              </div>
              <?php }?>
            
            </div>
            <!-- filter checkboxes end here -->
          </div>
          <div class="filterMidRight">
                                  <div class="marginT10 marginR10 marginL35"><h3>Keywords</h3>
                                  		<input type="text" class="wideInput" name="artkeyword" id="artkeyword" />
                                   		<div class="marginT10 floatR">
                                   			<img id="artsearch" src="<?php echo $this->baseUrl();?>/images/browse_search/search_button_bg.jpg" style="cursor:pointer" />
                                   		</div>
                                  </div>
                             </div>
         </div>    <!--END serchoption-->                 
        </div> <!--END filterMid-->      
      </div>   <!--END filterArea-->      
                          <div id="ajaxcontent">
                                                
                         <?php echo $this->render('search/ajaxsearch.phtml') ?>                     
						                      
                        </div>
                        <!-- this div is used for check current view of artwork listing -->
                        <div id="current_view" style="display: none;"><?php echo $this->current_view==''?'grid':$this->current_view?></div>
                        <div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Search', 'action'=>'ajaxsearch'),'default',true);?></div>
                       	 
                       <!-- end here -->    
                       
                        <!-- bottom pagination end here -->     
      </div>
          <p class="clearer">&nbsp;</p> 
   </div>

<!-- ** Toggle search option and Hide ans show view(Grid, List) of artwork By Abhishek on (15 Feb 2012)  ** -->
<script>


</script> 


<script src="<?php echo $this->baseUrl();?>/js/search/search.js" type="text/javascript"></script>
