<?php
	$namespace 	= new Zend_Session_Namespace();
	$category = $this->headercontent();
?>  
<script src="<?php echo $this->baseUrl();?>/js/search/modernizr-1.7.min.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/search/paginator.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/jquery.history.js" type="text/javascript"></script>
<script>setInterval( "refreshbidsize('<?php echo $this->url(array('controller'=>'Search', 'action'=>'ajaxsearch'),'default',true)?>')", 10000 );</script>

    <!-- ** Begin primary area ** -->
    
    <div id="main">
       
        <!-- ** Begin left hand nav ** -->
        
         <?php echo $this->render('index/left.phtml');?>
		
        <!-- ** End left hand nav ** -->
        
      <div id="searchArea">
                     <div class="filterArea">
                         
                           <div class="filterTop">
                             <div class="filterTopLeft" style="width: 334px;">
                                <h2 class="marginT10 marginL10"><span id="searchHead"><?php echo $this->heading;?></span> <span id="togg" class="hilefilter floatR marginL10 marginT10" >(Hide filter option)</span></h2>
                            </div>
                            
                             <div class="filterTopRight">
                             <div class="marginT10 marginR10">
                             
                            	<div class="floatL marginL10">
                                  <!-- <div class="browseByWrapper">
                                   		<select id="cat_list">
									  		<option value="">Brows by category</option>
									   	<?php for ($i=0;$i<count($category);$i++){?>
											<option <?php if (in_array($category[$i]['id'],$this->catidshow)){?>selected="selected"<?php }?> value="<?php echo $category[$i]['id'];?>"><?php echo $category[$i]['cat_name'];?> </option>
									   	<?php }?>
									    </select>
                                   </div>-->
                                </div>
                             
                             </div>
                             </div>
                            
                          </div>
                          
                          <div class="filterMid">
						  	<div id="serchoption">

                             <div class="filterMidLeft">
                                <div class="floatL"><h3 class="marginT10">Filter</h3></div><div class="floatL marginL20 marginT7" style="padding-top: 4px;"><!--<label><input type="checkbox" class="cat_id" value="All" />&nbsp;&nbsp;All Art Network</label>--></div>
                                <div class="clear"></div>
                                <hr style="margin-bottom: 8px; margin-top: 5px;"/>
                                <!-- filter checkboxes start here -->
                                
                                <div id="filterOptionsArea">
                                    <div class="optionChkBox" style="width:94px; padding-top:6px;">Width</div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="wfrom" name="wfrom" /> to</div>
                                    </div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="wto" name="wto"/></div>
                                    </div>
                                </div>
                                 <div id="filterOptionsArea">
                                    <div class="optionChkBox" style="width:94px; padding-top:6px;">Depth</div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="dfrom" name="dfrom" /> to</div>
                                    </div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="dto" name="dto"/></div>
                                    </div>
                                </div>
                                 <div id="filterOptionsArea">
                                    <div class="optionChkBox" style="width:94px; padding-top:6px;">Height</div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="hfrom" name="hfrom"  /> to</div>
                                    </div>
                                    <div class="optionBox" style="width:74px">
                                    <div class="optionChkBoxLabel marginT3"><input type="text" size="5" id="hto" name="hto"/></div>
                                    </div>
                                </div>
                                <!-- filter checkboxes end here -->
                               
                            </div>
                            
                             <div class="filterMidRight">
                                  <div class="marginT10 marginR10 marginL35"><h3>Keywords</h3>
                                  		<input type="text" class="wideInput" name="artkeyword" id="artkeyword" />
                                   		<div class="marginT10 floatR">
                                   			<img id="artsearch" src="<?php echo $this->baseUrl();?>/images/browse_search/search_button_bg.jpg" style="cursor:pointer" />
                                   		</div>
                                  </div>
                             </div>
                          </div>
                          </div>
                           
                           </div>   
                          <div id="ajaxcontent">
                                                
                         <?php echo $this->render('search/ajaxsearch.phtml') ?>                     
						                      
                        </div>
                        <!-- this div is used for check current view of artwork listing -->
                        <div id="current_view" style="display: none;"><?php echo $this->current_view==''?'grid':$this->current_view?></div>
                        <div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Search', 'action'=>'ajaxsearch'),'default',true);?></div>
                       	 
                       <!-- end here -->    
                       
                        <!-- bottom pagination end here -->     
      </div>
          <p class="clearer">&nbsp;</p> 
   </div>

<!-- ** Toggle search option and Hide ans show view(Grid, List) of artwork By Abhishek on (15 Feb 2012)  ** -->
<script>


</script> 


<script src="<?php echo $this->baseUrl();?>/js/search/sizesearch.js" type="text/javascript"></script>
