<?php if($this->segId==1)
{
	?>

<select class="signup_input" style="width:240px;" id="creditcardtype" name="location">
    <!--<option label="Bottom" value="Bottom">Bottom</option>-->
    <option label="Right" value="Right">Right</option>
</select>
<?php } ?>

<?php if($this->segId==2)
{
	?>

<select class="signup_input" style="width:240px;" id="creditcardtype" name="location">
    <option label="Bottom" value="Bottom">Bottom</option>
</select>
<?php } ?>

