<div class="inner-right-content"> 

	<h2 class="page-title">Manage Banner </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $this->bannerlist_model_result;

					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Banner</div><a href="<?php echo $this->url(array('controller'=>'banner', 'action'=>'bannerlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Page Name:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo ucwords($this->bannerlist_model_result['page_name']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Location:</strong></td>
        <td><?php echo $this->bannerlist_model_result['location'];?></td>
      </tr>
  <!--    <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Banner Type:</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo $this->bannerlist_model_result['banner_type'];?>
          </div></td>
      </tr>-->
	  <?php //if($this->bannerlist_model_result['banner_type']=='Image')
	 // { ?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Banner:</strong></td>
        <td><img src='<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->bannerlist_model_result['banner_path'];?>' hieght='40' width=40'></td>
      </tr>
	  <?php // } else { ?>
      <!-- <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Banner:</strong></td>
        <td><?php echo $this->bannerlist_model_result['banner_path'];?></td>
      </tr>-->
	  
<?php //}?>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>