         <br clear="all" />
		 
		 </div><!-- content wrapper ends -->
        <span class="clearfix"></span>
        <div class="footer-wrapper">
            <div class="copyright">
            	Copyright &copy; 2012 Artex
            </div>
        </div><!-- footer wrapper ends -->
    </div><!-- wrapper ends -->
    
     <!--[if IE 6]><script src="js/DD_belatedPNG.js"></script>
		<script language="javascript" type="text/javascript">
			  DD_belatedPNG.fix('img,.top-links,.search-box, .go, #main-nav, li, div.rc');
		</script>
	<![endif]-->  
</body>
</html>
