<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Artex Administrator</title>
<link type="image/x-icon" rel="shortcut icon" href="/images/favicon11.ico" />
<?php 
$images	=	BASE_URL.'/images';
$style	=	BASE_URL.'/css/style.css';
echo $this->headLink()->appendStylesheet($style);
echo $this->headLink()->appendStylesheet('/css/autoSuggest.css');
$namespace = new Zend_Session_Namespace(); 
$js_func	=	BASE_URL.'/js/function.js'; 
$jq_lib		=	BASE_URL.'/js/jquery.js';
$jq_curvi	=	BASE_URL.'/js/curvycorners.js';
$jq_lib_min	=	BASE_URL.'/js/jquery-1.4.4.min.js';
$jq_script	=	BASE_URL.'/js/script.js';
?>
<script language="javascript" src="<?php echo $jq_lib_min?>"></script>
<script type="text/javascript" src="<?php echo $jq_lib?>"> </script>
<script type="text/javascript" src="<?php echo $js_func?>"> </script>
<script type="text/javascript" src="<?php echo $jq_curvi?>"> </script>
<script language="javascript" src="<?php echo $jq_script?>"></script>
</head>

<body>
	<div class="wrapper">
    	<div class="header">
        	<div class="logo">
            	<a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>''),'default',true)  ?>">
				
				<img src="<?php echo $this->baseUrl();?>/images/logo.gif" alt="Artex" /></a>
            </div><!-- /logo-->
			<?php if($namespace->adminemail!='') { ?>
			<div class="top_rt_box">
			  <div class="login_box2">
				<div class="login_box2_lt"> <?php echo $namespace->username ?> &nbsp; <span class="dark_red">|</span> &nbsp; <a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'logout'),'default',true)  ?>">Logout</a> </div>
			  </div>
			  <!-- /login Box End -->
			  <div class="clear"> </div>
			  <div class="top_navigation">
				<ul>
				  <li><a href="#"><span class="search">&nbsp;</span>Search</a></li>
				  <li><a href="#"><span class="likes">&nbsp;</span>Likes me</a></li>
				  <li><a href="#"><span class="mails">&nbsp;</span>My Mails</a></li>
				  <li class="bg_none"><a href="#" class="active"><span class="profile">&nbsp;</span>My Profile</a></li>
				</ul>
			  </div>
			  <!-- Top Navigation End -->
			</div>
			<?php } else { ?>
            <!-- /login -->
			<?php } ?>
			
        </div><!-- /header -->
	</div><!-- /wrapper -->	


        