</div>
<div class="clear"></div>
<div class="bottom-wrapper">
	
	<div class="footer">
		
		<p class="copyright" style="height:30px; text-align:center; color:#777; font-size:11px; padding-top:12px;">
			&copy; Copyright 2011 Artex
		</p>
	</div>
</div><!-- /bottom wrapper -->
</body>
</html>
