<?php 
$option='';
$homeImg = $option == ''? 'IMAGE_PATH.images/login_bg_inner.gif':'';
?>
<style type="text/css">
<!--
body {
	background-image: url();
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
-->
</style>
<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

ddsmoothmenu.init({
	mainmenuid: "smoothmenu2", //Menu DIV id
	orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	//customtheme: ["#804000", "#482400"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
</head>
<body>

<?php echo $this->render('adminheaderhome.phtml');?>
	<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
 		<tr>
    		<td width="960" align="center" valign="top" bgcolor="#08235A">
				<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border:1px solid #CCCCCC; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">
           			<tr>
          				<td width="210" height="420" valign="top">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
						    	<tr>
									<td width="169" height="19" background="<?php echo $this->baseUrl().'/images/menutop_bg.gif';?>" style="background-repeat:no-repeat;" >&nbsp;</td>
							    </tr>
							    <tr>
									<td valign="top" bgcolor="#082255" align="left" style="text-align:left;" width="169px;">
										<div id="smoothmenu2" class="ddsmoothmenu">
											<ul><!--  components start  -->
												<li><a href="<?php echo $this->baseUrl();?>/admin/home" class="<?php echo $hSelected;?>">Home</a></li>					<!--  components start  -->
												<li><a href="<?php echo $this->baseUrl();?>/admin/matchlist"  class="<?php echo $tmSelected;?>">Match List</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/serieslist" class="<?php echo $aSelected;?>">Series List</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/squads" class="<?php echo $aSelected;?>">Series Squads</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/bettingtutoriallist"  class="<?php echo $tmSelected;?>">Betting Tutorial List</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/bettingtutorial"  class="<?php echo $tmSelected;?>">Add Betting Tutorial</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/faqlist"  class="<?php echo $tmSelected;?>">FAQs List</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/addfaq"  class="<?php echo $tmSelected;?>">Add FAQs</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/cmslist" class="<?php echo $aSelected;?>">Cms Management </a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/addcms"  class="<?php echo $tmSelected;?>">Add Cms</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/bannerlist" class="<?php echo $aSelected;?>">Banner Management </a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/addbanner" class="<?php echo $aSelected;?>">Add Banner</a></li>
												<!-- <li><a href="<?php echo $this->baseUrl();?>/admin/addpoll" class="<?php echo $aSelected;?>">Add Poll</a></li> -->
												<li><a href="<?php echo $this->baseUrl();?>/admin/polllist" class="<?php echo $aSelected;?>">poll list</a></li>
												<li><a href="<?php echo $this->baseUrl();?>/admin/editadminmenu" class="<?php echo $aSelected;?>">Admin Settings</a></li>
												<li><a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>'changepassword'),'default',true)  ?>">Change Password</a></li>
												<!--  components end  -->
											</ul>
										</div>
									</td>
								  </tr>
								  <tr>
									<td width="169" height="19" background="<?php echo $this->baseUrl().'/images/menubottom_bg.gif'; ?>" style="background-repeat:no-repeat;">&nbsp;</td>
								  </tr>
								</table>
							</td>
          					<td width="783" align="left" valign="top" style="padding-left:10px;">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
  									<tr>
  									  <?php 
 											$url = explode("/",$_SERVER['REQUEST_URI']);
											if ($_SERVER['REQUEST_URI'] == '/admin/home'){?>  
  										<td width="758" valign="top" style="background-repeat:repeat-y;"  background="<?php echo $homeImg;?>" height="359px">
											<table border="0" align="right" cellpadding="0" cellspacing="0">
											  <tr>
												<td width="232" valign="top" class="admin_heading">Welcome to iiiAdmin</td>
											  </tr>
											  <tr>
												<td class="admin_txt">iAdmin Revolution is a powerful PHP web application admin tool that plays nicely with custom code and helps you build sites faster and maintain them with ease. With Revolution you'll leverage the best things to come around since MVC.</td>
											  </tr>
											  <tr>
												<td class="admin_txt"><strong>Thanks</strong><br/></td>
											  </tr>
											  <tr>
												<td>&nbsp;</td>
											  </tr>
        									</table>
										<?php }?> 
<?php echo $this->layout()->content?>
<?php echo $this->render('adminfooter.phtml');?>