<?php
$seo = $this->seocontent(); ?>
<script language="javascript">
$(".tip8").fancybox({
	'scrolling'		: 'no',
	'titleShow'		: false,
	'html'			: true,
	'onClosed'		: function() {
	    $("#login_error").hide();
	    $("#ac_error").hide();
	}
});
/********************This script used for main login form ***************************************/
$("#loginform").bind("submit", function() {

	var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	var emailaddress = $('#loginemail').val(); //alert(emailaddress);alert($("#pwd").val());
	var remember=document.getElementById('remember').checked;
	var ltype=document.getElementById('s_l_val').innerHTML;
	if ($("#loginemail").val().length < 1 || $("#pwd").val().length < 1){
		$("#ac_error").html('Please enter email and password');
	    $.fancybox.resize();
	    return false;
    }/*else if(reg.test(emailaddress) == false) {
	    $("#ac_error").html('Please enter correct email');
	    $.fancybox.resize();
	    return false;
	}*/else if($("#loginemail").val().length >= 1 && $("#pwd").val().length >= 1){
		 
		var username = $("input#loginemail").val();
		 
		var pwd = $("input#pwd").val();
			
		var dataString = 'loginemail='+ username + '&pwd=' + pwd+ '&ltype=' + ltype+ '&remember=' + remember;
	
		$.ajax({
      		type: "POST",
      		url: "<?php echo $this->url(array('controller'=>'Login', 'action'=>'login'),'default',true)?>",
      		data: dataString,
      		success: function(data) {  //alert(data);
      			  
       			 if(data!=''){
       				 
       				 $("#ac_error").html(data);
       			     $.fancybox.resize();
       				 return false;
       			 }else{
           			var str=window.location; 
					
					var patt1=/artworkdetails/g; var patt2=/userprofile/g; 
					
					if(patt1.test(str)==true)
					window.location.reload(true);
					else if(patt2.test(str)==true)
					window.location.reload(true);
					else
       				window.location.href = "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome'),'default',true)?>";
               	 }       			
      		}
     	});return false;
	}

	$.fancybox.showActivity();
});



/********************This script used for froget password form ***************************************/
$("#forget_frm").bind("submit", function() {
	 
	var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	var emailaddress = $('#forgetemail').val();
	
	if ($("#forgetemail").val().length < 1) {
	    $("#forge_error").html('Please enter email');
	    $.fancybox.resize();
	    return false;
	}else if(reg.test(emailaddress) == false) {
		$("#forge_error").html('Please enter correct email');
	    $.fancybox.resize();
	    return false;
    }else{
		var dataString = 'forgetemail='+ emailaddress;
		  // alert(dataString);
		$.ajax({
      		type: "POST",
      		url: "<?php echo $this->url(array('controller'=>'Login', 'action'=>'forgetemail'),'default',true)?>",
      		data: dataString,
      		
      		success: function(data) { 
		 	//alert(data+'sssssssss');
       			 if(data!=''){
       				 
       				 $("#forge_error").html(data);
       			     $.fancybox.resize();
       				 return false;
       			 }       			
      		}
     	});return false;
	}
});
function subscribe(surl)
{ 
	var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	var emailaddress = $('#subscribe_email').val();
	
	if ($("#subscribe_email").val().length < 1) {
	    $("#subs_error").html('Please enter email');
	    $.fancybox.resize();
	    return false;
	}else if(reg.test(emailaddress) == false) {
		$("#subs_error").html('Please enter correct email');
	    $.fancybox.resize();
	    return false;
    }else{
	 var dataString = 'subscribe_email='+ emailaddress ;

	$.ajax({
      		type: "POST",
      		url: surl,
      		data: dataString,
			beforeSend: function(){
  
   				},
      		success: function(data) {//alert(data);
			 
				$("#subs_error").html(data);
       				//$("#subs_error").show();
      		}
     	});return false;
	}
}
</script> 

</div><!-- ** Begin banner ad ** -->
    
<!-- ** End banner ad ** -->

<!-- ** Begin footer ** -->

<div id="footer">
	<div id="foot_container">
    
    	<div class="col_small">
        	<ul id="link_lg">
            	<li><a href="#" class="footerlink_lg">BUYER</a></li>
                <li><a href="#" class="footerlink_lg">ARTIST</a></li>
                <li><a href="#" class="footerlink_lg">DEALER</a></li>
            </ul>
            <img src="<?php echo $this->baseUrl();?>/images/footer/divider_150_footer.gif" width="150" height="55" alt="" />
            <p>ArtEx 2011 Ltd. <br />
            Design by <a class="bright" href="http://www.jamiewinder.co.uk/" target="_blank">Jamie Winder</a><br />Developed by <a class="bright" href="http://www.inoday.com/" target="_blank">Inoday</a></p>
        </div>
        
        <div class="col_small">
        		<ul>
            	<li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssection','page'=>1),'default',true);?>" class="footerlink_sml">About</a></li>
                <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmscategory','sec'=>1,'page'=>6),'default',true);?>" class="footerlink_sml">Contact</a></li>
                <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>1, 'cat'=>6, 'page'=>9),'default',true);?>" class="footerlink_sml">Press</a></li>
                <li><a href="#" class="footerlink_sml">Scout</a></li>
                <li><a href="#" class="footerlink_sml">Careers</a></li>
                <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>3,'cat'=>13,'page'=>18),'default',true);?>" class="footerlink_sml">Privacy</a></li>
                <li><a href=" <?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmscategory','sec'=>3,'page'=>13),'default',true);?>" class="footerlink_sml">Terms</a></li>
                <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>3,'cat'=>13,'page'=>19),'default',true);?>" class="footerlink_sml">Copyright</a></li>
            </ul>
        </div>
        
        <div class="col_small">
        	<p><a href="<?php echo $seo['header'][0]['join_us']?>"  target="_blank" class="button facebook"><img src="<?php echo $this->baseUrl();?>/images/spacer.gif" width="40" height="10" alt="Facebook" />JOIN US</a></p>
            <p><a href="<?php echo $seo['header'][0]['follow_us']?>" target="_blank" class="button twitter"><img src="<?php echo $this->baseUrl();?>/images/spacer.gif" width="40" height="10" alt="Twitter" />FOLLOW US</a></p>
        </div>
        
        <div id="subscribe">
        	<h3>SUBSCRIBE TO OUR MAILING LIST</h3>
            
            <img src="<?php echo $this->baseUrl();?>/images/footer/divider_315_footer.gif" width="315" height="40" alt="" />
            <div id="subs_error"></div><br>
            <p><input type="text" name="subscribe_email" id="subscribe_email"> &nbsp; <a class="bright" href="javascript:void(0)" onclick="subscribe('<?php echo $this->url(array('controller'=>'Index', 'action'=>'subscribe'),'default',true);?>')">Subscribe &nbsp;<img src="<?php echo $this->baseUrl();?>/images/footer/pointer_footer_sml.gif" width="10" height="10" alt=""  /></a></p>
            
            <p>Subscribe and be the first to receive our latest news and offers. We will not share your email address with anyone without your permission, that's a promise.</p>
        </div>
        
        <p class="clearer">&nbsp;</p>
    </div>
</div>
<!-- ** End footer ** -->
</body>
</html>