<div id="news" class="col_small col_final titlebar">
            <h3>ARTEX NEWS</h3>
            
            <div class="news_sml event">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml article">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml press">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml report">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml report">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
            </div>
            
            
            <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
            </div>
            
        </div>
        
        <p class="clearer">&nbsp;</p>
        
      </div>
</div>