<div class="inner-right-content"> 
	<h2 class="page-title">Manage Email Formats</h2>
<div class="white-box">
<div class="white-box-cont">
<!--<div class="message"><?php echo $this->messages[0]; ?></div>-->
<div style='padding:10px;'>
    <ul>
    	<br />
		<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
        <li><a href="<?php echo $this->url(array('controller'=>'manageemailformats', 'action'=>'emailcontent','title'=> $event['id']),'default',true)  ?>">
        	<?php echo $event['title']?></a>
        </li><br />
		<?php  $i++;}
					?>

 		
  </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        