<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
 <script>
setInterval( "topdetails('<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'topdetail'))?>')", 5000 );
setInterval( "bottomdetails('<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'bottomdetail'))?>')", 60000 );
 </script>
<?php $namespace 	= new Zend_Session_Namespace();
$google = $this->google(); ?>
<div id="fb-root"></div>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){
	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);
$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});
});
});

</script>

<?php 
$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);

		/****************** Get login user details ****************************/
		$Objbid   			 = new Application_Model_DbTable_Artworkbid();
		$userstuff		= new Application_Model_Artuser();
		foreach($this->rec  as $value){   // global auction duration
		$auction_duration=$value['auction_duration'];
		$bid_interval=$value['bid_interval']; 
		}
		foreach($this->Categorylist_model_result  as $catname){ // get category name
		$cat_name=$catname['cat_name'];
		}
		if ($namespace->email) {
			foreach($this->artworkuploadrate_model_result  as $rate){ // get rate of current user
				$rate=$rate['rating'];
			}
		}
		foreach($this->artworkuploadbidcount_model_result  as $bid){ // get bid count of current artwork
		$noofbid=$bid;
		}
		foreach($this->artworkuploadminbid_model_result  as $next_minbid){ // get min bid of current artwork 
		$minbid=$next_minbid['minbid'];
		
		}
		$high_bid = 0;
		foreach($this->artworkuploadmaxbid_model_result  as $next_maxbid){ // get min bid of current artwork 
		$highuserVal	= $userstuff->selestuser($next_maxbid['bidder_id']); 
		$high_bid=$next_maxbid['maxbid'];
		}
		
				foreach($this->artworkuploadlist_model_result as $event){ 
				
				if($noofbid>0)
				{
				if($event['price']>=10 && $event['price']<=100) $bid_interval_price=$bid_interval[0];
				if($event['price']>=101 && $event['price']<=500) $bid_interval_price=$bid_interval[1];
				if($event['price']>=501 && $event['price']<=1000) $bid_interval_price=$bid_interval[2];
				if($event['price']>=1001 )  $bid_interval_price=$bid_interval[3];
				$next_bid= $high_bid +$bid_interval_price;
				}
				else {   $bid_interval_price=0; $prev_bid=0; $next_bid= $event['price'] +$bid_interval_price; }
				
				$ownerVal	= $userstuff->selestuser($event['owner_id']); //owner_name
				//////////////////////////////user_location name/////////////////////////////////////////
			$userInfo	=	new Application_Model_DbTable_Profile();
			/****************** Get login user details ****************************/
			$user_details = $userInfo->getUserProfile($event['owner_id']);
					?>
<script type="text/javascript">
$(function()
{ 
ArtID='<?php echo $event['id']?>';
$('.more').live("hover",function()
{
var ID = $(this).attr("id");
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'loadmore'),'default',true)?>",
data: "lastmsg="+ ID+ "&artwork="+ArtID,
cache: false,
success: function(html){ //alert(html);
$("#showCommentArea").append(html);
$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});
</script>

					
<script>
window.onload = countview('<?php echo $event['id']?>','<?php echo $event['user_views']?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'viewscount'),'default',true)?>');
</script>
<div id="alert_msgs" style="position: absolute; top: 263px; left: 520.5px; display:none"><a class="close_btn" href="#" onclick="document.getElementById('alert_msgs').style.display='none';"> </a><div  id="alert_messgs">&nbsp;</div></div>
<?php if($namespace->msg!='') { ?>
<div id="alert_msgs1" style="position: absolute; top: 263px; left: 520.5px;"><a class="close_btn" href="#" onclick="document.getElementById('alert_msgs1').style.display='none';"> </a><?php echo $namespace->msg?></div>
<?php $namespace->msg=null;
} ?>


    <div id="basic-modal-content">
<div class="SignInBlock">
		<form id="loginform" action="" method="post" >
		
    	<p id="ac_error" style="color: #FFFFFF;"></p>
			<h3>Sign In</h3>
			<input type="radio" class="signup_input" id="ltype" name="ltype" value='id'  onclick='show_login_val(1)' checked />Username&nbsp;&nbsp;<input type="radio" class="signup_input" id="ltype" name="ltype" value='email'  onclick='show_login_val(2)' />Email<div class="clear"></div>
            <label id='s_l_val'>Username</label><div class="clear"></div>

            <input type="text" class="signup_input" style="width:168px;" size="25" id="loginemail" name="loginemail" />
            
            <label>Password</label><div class="clear"></div>
            <input type="password" class="signup_input" style="width:168px;" size="25" value="" id="pwd" name="pwd" />
			<label><input type="checkbox" class="signup_input" id="remember" name="remember" value='1'  /> Stay signed in</label>
            <input type="submit" value="Sign In" class="button floatL" /><span id='basic-modal1'><a href="#" class="floatL block marginL5 marginT13 fgtPass">Forgot Password?</a></span>
            <div class="clear"></div>
            <div class="marginT10">
            <script>function logface()
{ 
	var url = "<?php echo $this->loginUrl; ?>";
	newwindow = window.open(url,'','width=700,height=400,left=200,top=200',false);
}</script>
            	<span class="floatL marginT5 block">Sign In using :</span> &nbsp; <a onclick="logface()" href="#"><img src="<?php echo $this->baseUrl();?>/images/facebook.png" alt="Login with Facebook" /></a><a href="<?php echo $this->googleAuthUrl ?>"><img src="<?php echo $this->baseUrl();?>/images/google.png" alt="Login with Google" class="marginL5" /></a>
             </div>
             
             <div class="border-top marginT10">
             	 <a href='<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>'>New user click here to register</a>
             </div>
			 </form>
		</div><!-- SignInBlock-->
		<div class="forgotPassBlock">
	<form id="forget_frm" action="" method="post" >
    	<h3>Forgot Password?</h3>
    	<p id="forge_error" style="color: #FF0000;"></p>
		 <label>Enter Email Address</label><div class="clear"></div>
		 <input type="text" class="signup_input" style="width:168px;" size="25" id="forgetemail" name="forgetemail" />
		 <input type="submit" class="sign_up_submit" style="width: 58px;" value="Submit" id="login" name="login">
		 </form>
</div><!-- forgotPassBlock-->
<div class="BidBlock">
	<form id="bid_form" action="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'bidnow'))  ?>" method="post" onsubmit='return check_bid()' >
    	<h3>Your Bid</h3>
    	<div id="error_msg2" style='color:#ffffff;text-align:left'></div>
<?php $MyMaxbid=$Objbid->getMaxBidofUser($namespace->userid,$event['id']); 
if($highuserVal[0]['id']!=$namespace->userid) $MyMaxbid['0']['maxbid']=$MyMaxbid['0']['maxbid']; else $MyMaxbid['0']['maxbid']=$minbid;
?>
		 <label>Enter Bid  ( Yours highest bid:<?php echo $MyMaxbid['0']['maxbid']>0?$MyMaxbid['0']['maxbid']:'-'?>)</label><div class="clear"></div>
		<div style='padding:0px; margin:0;width:368px;'><div style='padding-top:15px; margin:0; width:178px;float:left'><input type="text" class="signup_input" style="width:168px;" size="25" value="" id="cur_bid" name="cur_bid" /></div>&nbsp;&nbsp; <div style='padding:0; margin:0;width:150px;float:left'><input type="image" src="<?php echo $this->baseUrl()?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></div></div><br/><div id='biddata'><br />(Enter &pound; <?php echo $next_bid?> or more) <input type="hidden" name="bid_interval" id="bid_interval" value="<?php echo $bid_interval_price?>" /><input type="hidden" name="prev_bid" id="prev_bid" value="<?php echo $next_bid?>" /><input type="hidden" name="maximum_bid" id="maximum_bid" value="<?php echo $minbid?>" /><input type="hidden" name="maximum_bidder" id="maximum_biddder" value="<?php echo $highuserVal[0]['id']?>" /><input type="hidden" name="id_end_time" id="id_end_time" value="<?php echo $event['auction_duration']?>" /></div>
		<div style='padding:0px; margin:0;width:368px;'>
		  <table  width="100%" border="0" >
<tr>
    			<td colspan="2"><strong><a href="javascript:void(0)" onclick="document.getElementById('td_bid_history').style.display=''">Bid History</a> </strong></td>
    		</tr>
			 <tr>
			   <td colspan="2" id='td_bid_history' style="display:none"><table width="100%" border="0" cellpadding="1" cellspacing="1">
                 <tr>
                   <td align="left" width="30%" nowrap='nowrap'><b>Bidder</b></td>
                   <td align="left" width="30%" nowrap='nowrap'><b>Bid Amount </b></td>
                   <td align="left" width="39%" nowrap='nowrap'><b>Bid date </b></td>
                   <td align="left" width="1%" nowrap='nowrap'>&nbsp;</td>
                 </tr>
				<?php  foreach($this->artworkuploadbid_model_result  as $bidlist){ // get min bid of current artwork
				$userVal	= $userstuff->selestuser($bidlist['bidder_id']); 
				?>
                 <tr>
                   <td align="left" nowrap='nowrap'>
				   <?php  if($namespace->userid==$bidlist['bidder_id']) 
				  echo ($userVal[0]['user_id']);
				   else  echo substr(ucfirst($userVal[0]['first_name']),0,1).' '.substr($userVal[0]['last_name'],0,1);?></td>
                   <td align="left" nowrap='nowrap'>&pound;<?php echo $bidlist['current_bid'];?></td>
                   <td align="left" nowrap='nowrap'><?php echo $bidlist['bid_date'];?></td>
                   <td align="left" nowrap='nowrap'>&nbsp;</td>
                 </tr>
				 <?php }?>
</table></td></tr></table></div>
		 </form>
</div><!-- end BidBlock-->

<div class="RecommendBlock">
	<form id="recommed_form" action="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'recommend'))  ?>" method="post" onsubmit='return check_recommend()' >
		
    	<p id="error_msg" style='color:#ffffff'></p>
			<h3>Recommend to a friend</h3>
			
            <label>To</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25" id="to" name="to" />
            
            <label>Subject</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25" value="Recommend: <?php echo $event['title'];?>" id="subject" name="subject" />
			<label>Message</label><div class="clear"></div>
             <textarea name="message" id="message" style="width: 168px;"></textarea>
            <input type='hidden' name='artworkpath' value='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['id']))  ?>'><input type="submit" value="Recommend" class="button floatL" name='send' id='send' />
            <div class="clear"></div>
          
             
            
			 </form>
		</div><!-- end RecommendBlock-->
<div class="ReportabuseBlock">
	<form id="reportabuse_message_form" action="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'reportabuse'))  ?>" method="post" onsubmit='return check_reportabuse()' >
		
    	<p id="error_msg1" style='color:#ffffff'></p>
			<h3>Report Abuse</h3>
	
            
            <label>Category: Artwork</label><div class="clear"></div>
           
			<label>Message</label><div class="clear"></div>
             <textarea name="mmessage1" id="mmessage1" style="width: 190px; height:80px;"></textarea>
            <input type='hidden' name='report_comment_id' id="report_comment_id" value='<?php echo $event['owner_id'];?>'>
			  <input type='hidden' name='id' value='<?php echo $event['id'];?>'><input type="submit" value="send" class="button floatL" name='send' id='send' />
            <div class="clear"></div>
          
             
            
			 </form>
		</div><!-- end ReportabuseBlock-->		
<div class="MessageBlock">
	<form id="send_message_form" action="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'inbox'))  ?>" method="post" onsubmit='return check_send()' >
		
    	<p id="error_msg1" style='color:#ffffff'></p>
			<h3>Send Message</h3>
			
         
            
            <label>Subject</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25" value="" id="msubject" name="msubject" />
             <label>Message</label><div class="clear"></div>
             <textarea name="mmessage" id="mmessage" style="width: 168px;"></textarea>
            <input type='hidden' name='receiver_id' value='<?php echo $event['owner_id'];?>'>
			  <input type='hidden' name='sender_id' value='<?php echo $namespace->email; ?>'>
			  <input type='hidden' name='id' value='<?php echo $event['id'];?>>'><input type="submit" value="send" class="button floatL" name='send' id='send' />
            <div class="clear"></div>
          
             
            
			 </form>
		</div><!-- end MessageBlock-->
<div class="MessagePromptBlock" style="display:none">
	<form id="forget_frm" action="" method="post" >
    	<h3>Bank Account Details Alert</h3>
    	<p style="color: #FFF;">Hi, <?php echo substr($namespace->fname,0,10);?><br /><br />
        This prompt for enter your bank account details. To complete your profile and payment process. <br /><br /><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'account', 'login_id'=>$getInfo[0]['id']),'default',true);?>"><strong>click here</strong></a></p>
		
		 </form>
</div><!-- MessagePromptBlock-->
	<div class="PayBlock">
	<form  method="post" >
    	<h3>Payment Options</h3>
    	<p id="forge_error" style="color: #FF0000;"></p>
		 <div class="clear"></div>
		<!-- <label><?php echo $event['approval_status']=='1'?'<a href="'.$this->url(array('controller'=>'artworkdetails', 'action'=>'directpay','id'=>$event['id'])) .'">Direct Paypal</a></label>-->
		 <label><a href="'.$this->url(array('controller'=>'artworkdetails', 'action'=>'creditpay','id'=>$event['id'])) .'">Credit Paypal</a>':'Not approved';?></label>
		 </form>
</div><!-- PayBlock-->	
		
</div><!-- end basic-modal-content-->

 

<div id="main"> <input type="text" id="focu" readonly="readonly" style="border:#FFF 1px hidden;width:1px" />
    <!-- product detail top part -->
    <div id="topProDetail_Part">
      <div id="topProDetail_Part_left">
        <div class="big_image">
           <!-- photogallery start here -->
           
           <div id="main-photo-slider" class="csw">
			<div class="panelContainer">

					<?php  $i=1;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					?>
				<div class="panel" title="Panel <?php echo $i?>">
					<div class="wrapper">
						<img src="<?php echo $this->baseUrl();?>/upload/large/<?php echo $eventi['image'];?>" alt="temp" />
						
					</div>
				</div>	
				<?php $i++;} if($i==1) {?>
				<div class="panel" title="Panel <?php echo $i?>">
					<div class="wrapper">
						<img src="<?php echo $this->baseUrl();?>/images/defaultArtEx_770x535.jpg" alt="temp" />
						
					</div>
				</div>	
				<?php }?>	
				
				

			</div>
		</div>
           
           <!-- photo gallery end here -->
        </div>
        <div class="smallThumbsArea">
        <!-- img thumbs start here -->
         
		<div id="movers-row">
            <?php  $i=1;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					?>
            <div class="smallThumbsImg"><a href="#<?php echo $i?>" class="cross-link"><img src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $eventi['image'];?>" class="nav-thumb" alt="temp-thumb" /></a></div>
		<?php $i++; if($i==9) break;}if($i==1) {?>
				<div class="smallThumbsImg"><a href="#<?php echo $i?>" class="cross-link"><img src="<?php echo $this->baseUrl();?>/images/defaultArtEx_78x78.jpg" class="nav-thumb" alt="temp-thumb" /></a></div>
				<?php }?>		
			
		</div>
        <!-- img thumb end here -->
        
        </div>
      </div>
      <div id="topProDetail_Part_right">
        <div class="titlebar">
          <h2>Bidding</h2>
          <?php if($high_bid>0) { ?>
		  <div>Highest bid</div>
          <div class="marginT5 redTXT font18">&pound;<?php echo $high_bid?>  <span class="redTXT font13"><?php echo $high_bid>=$event['reserve_price']?'reserve met':'reserve not met' ?></span></div>
		<?php } else if($event['price']>0) {?>
           <div class="marginT5 redTXT font18">&pound;<?php echo $event['price']?>  <span class="redTXT font13"><?php echo 'Starting Price' ?></span></div>
          <?php } else if($event['buy_it_now']>0) {?>
           <div class="marginT5 redTXT font18">&pound;<?php echo $event['buy_it_now']?>  <span class="redTXT font13"><?php echo 'Price' ?></span></div>
          <?php } if($high_bid>0) { ?>
          <div class="">Highest bidder:</div>
          <div class="marginB5 darklTXT"><?php echo ucwords($highuserVal[0]['user_id'])?></div>
		  <?php } ?>
          <div class="clear"></div>
          <hr class="WTBorder" />
          <!--<div class="floatL">Listed:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&pound;10,000.00</div>-->
          <div class="clear"></div>
          <div class="floatL">Ends:</div>
		  <?php  $ending=$event['count']-$auction_duration;?>
		  <?php if($noofbid!=0) {?>
		  <?php 
		 if($event['bid_start_date']!="")
		 {
		  $atime=explode(':',$event['ending']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'d ';
					$actime .=$hr.'h ';
					if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
			
		  ?>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo $h<=0?'Bid Close':$actime;?></div>
		  <?php } else {?>
		  <div class="floatL marginL10 marginB5 darklTXT">--</div>
		  <?php } } else { $h=1;} ?><input type="hidden" value="<?php echo $actime;?>" name="end_time" id="end_time" />
          <div class="clear"></div>
          <div class="floatL">Quantity Available:</div>
          <div class="floatL marginL10 marginB5 darklTXT">1</div>
          <div class="clear"></div>
		  <?php if($high_bid>0) { ?>
          <div class="floatL">Bids:</div>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo $noofbid?></div>
		  <?php } ?>
          <div class="clear"></div>
		  
          <hr class="WTBorder" />
          <div class="">Shipping:</div>
          <div class="marginB5 darklTXT"><span class="redTXT">&pound; <?php echo $event['postage_cost']?></span><br /><span class="small"><?php echo $event['service']?></span></div>
          <div class="clear"></div>
          <div class="">Location:</div>
          <div class="marginB5 darklTXT"><?php echo $user_details[0]['city'] ;?>, <?php echo $user_details[0]['countr'] ;?></div>
          <div class="clear"></div>
          <!--<div class="">Ships to:</div>
          <div class="marginB5 darklTXT">Europe <span class="small">(options)</span></div>-->
          <div class="clear"></div>
          <div class="marginT20" >
		 			
			<?php 
			if($event['owner_id']!=$namespace->userid)
			{
			if($event['sold_status']=="1")
		 	{?>
			<img src="<?php echo $this->baseUrl();?>/images/browse_search/sold_outBTN.jpg" />
			<?php } else
			if($event['bid_start_date']!="")
		 	{
			if($h>0) {  // check bid end
			if($namespace->email==''){   // check login if not
			if($event['price']!='0.00')
			{
			?>
			 <span class='basic-modal'> <a class="basic" title="Sign In" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></a></span>
		 <?php }
		 else
		 {
			 ?>
             <span class='basic-modal'> <a class="basic" title="Sign In" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" width="150" height="33" /></a></span>
             <?php
		 }
			}
		  else  // check login if login
		  {
			  if($event['price']!='0.00')
			{ if($getInfo[0]['credit_card_number']=='') $class='MessagePrompt'; else $class='Bidnow';
		  ?>
		  <span class='basic-modal'><a class="<?php echo $class?> basic" title="Bid now" href="#">
			 <img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></a></span>
		 
			<?php
			}
			else
		 {
			 ?>
             <a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'reviewpurchase', 'id'=>$event['id']));?>"> 
			 <img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" width="150" height="33" /></a>
             <?php
		 }
		  }
			} 
			else   // check bid end  pay now
			{
			if($namespace->email==''){// check login if not
			?>
			 <span class='basic-modal'> <a class="basic" title="Sign In" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_close.jpg" width="150" height="33" /></a></span>
		  <?php 
		  }
		  else// check login if login
		  { 
		  
		  if($next_maxbid['bidder_id']==$namespace->userid)
			{
		  ?>
		  <span class='basic-modal'><a class="Pay basic" title="bid now" href="#">
			 <img src="<?php echo $this->baseUrl();?>/images/browse_search/paymentNow.jpg" width="150" height="33" /></a></span>
		  <?php 
		  }
		  }
		  } 
		  }// check bid end
			}
		  ?>
		  </div>
          <hr class="BLKBorder" />
          <div class="marginT20">
            <div class="floatL marginT1"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /></div>
            <div class="floatL marginL10"><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$event['category']),'default',true);?>">More art like this</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- product detail top part end -->
    
    <!-- product detail mid part -->
    
    <div id="midProDetail_Part">
<div id="midProDetail_Part_left">
        <h1><?php echo substr($event['title'],0,29);?></h1>
        <div class="whtrectBox backgroundN">
          <div class="ftrsBox wd180">
           <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT2.jpg" /></div>
        <div class="floatL marginL5 redTXT" id='trate'><strong><?php echo $event['rate_count'];?></strong></div>
        <div class="floatL marginT3 marginL5">
          <?php if ($namespace->email!=''){ if($rate=='') $rate=0;?>
		 
            <input type="hidden" name="artwork_rate" id="artwork_rate" value="<?php echo $rate?>" /><!--onclick="return rate('<?php echo $event['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','1','<?php echo $event['rate_count'];?>')"-->
			<a href="#rate"><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(1)" id='rate1'  onmouseout="hide_rate(1,document.getElementById('artwork_rate').value)"></div></a>
        <a href="#rate"> <div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(2)" id='rate2' onmouseout="hide_rate(2,document.getElementById('artwork_rate').value)"></div></a>
        <a href="#rate"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(3)" id='rate3' onmouseout="hide_rate(3,document.getElementById('artwork_rate').value)"></div></a>
       <a href="#rate"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(4)" id='rate4' onmouseout="hide_rate(4,document.getElementById('artwork_rate').value)"></div></a>
       <a href="#rate"> <div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(5)" id='rate5' onmouseout="hide_rate(5,document.getElementById('artwork_rate').value)"></div></a>
		<?php } else {?>
		<span class='basic-modal'>
		<a class="basic" title="Sign In" href="#rate" ><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate(1)" id='rate1'  onmouseout="hide_rate(1,0)"></div></a>
         <a class="basic" title="Sign In" href="#rate"><div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(2)" id='rate2' onmouseout="hide_rate(2,0)"></div></a>
        <a class="basic" title="Sign In" href="#rate"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate(3)" id='rate3' onmouseout="hide_rate(3,0)"></div></a>
       <a class="basic" title="Sign In" href="#rate"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate(4)" id='rate4' onmouseout="hide_rate(4,0)"></div></a>
        <a class="basic" title="Sign In" href="#rate"><div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate(5)" id='rate5' onmouseout="hide_rate(5,0)"></div></a>
		</span>
		<?php }
		?>        

        </div>
        <div class="floatL marginL5">rate</div>
          </div>
          <div class="ftrsBox" id='tview'>Views: <?php echo $event['user_views'];?></div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <?php if ($namespace->email==''){?> 
			 <span class='basic-modal'><a class="basic" title="Sign In" href="#">
			<?php } else {?>
			<span class='basic-modal'><a href="javascript:void(0)" onclick="return watchlist('<?php echo $event['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'watchlist'),'default',true)?>')">
			<?php }?>Add to watchlist</a></span></div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <?php if ($namespace->email==''){?>
			 <span class='basic-modal'><a class="basic" title="Sign In" href="#">
			<?php } else {?>
			<span class='basic-modal'><a class="recommend basic" title="recommend" href="#">
			<?php }  ?>Recommend to a friend</a></span></div>
          <div class="ftrsBox BorderNone font11 floatL noPadding marginL30" style='width:80px'><div class="floatL"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/artworkdetails/index/id/<?php echo $event['id'];?>" data-lang="en" data-counturl="http://artex.inoday.com/public/artworkdetails/index/id/<?php echo $event['id'];?>">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
         
           <!--<div class="twt_fb_countBox marginL5">
            <div class="twt_fb_countBoxL"></div>
            <div class="twt_fb_countBoxM">693</div>
            <div class="twt_fb_countBoxR"></div>
           </div>-->
          </div>
          <div class="ftrsBox BorderNone font11 floatL noPadding"  style='width:80px'><div class="floatL"><div class="fb-like" data-href="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/artworkdetails/index/id/<?php echo $event['id'];?>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div></div>
          
          <!--<div class="twt_fb_countBox marginL5">
            <div class="twt_fb_countBoxL"></div>
            <div class="twt_fb_countBoxM">693</div>
            <div class="twt_fb_countBoxR"></div>
           </div>-->
          
          </div>
          
         
        </div>
        <div class="widthAuto marginT20">
          <div class="floatL wd_150">
            <div class="floatL">Category:</div>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo substr($cat_name,0,14);?></div>
            <div class="clear"></div>
			
            <div class="floatL">Subject:</div>
			<?php
			///////////////////Find category name///////////////////////////////////////
			$subject   = new Application_Model_DbTable_ArtCatsubject();
			$subject_res = $subject->getcatsubjectlistName($event['subject'],'');	
			$subjectarr=$this->view->subject_res = $subject_res;
			///////////////////////////Listing Images////////////////////////////////////
			?>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo substr($subjectarr[0]['subject'],0,14)?></div>
            <div class="clear"></div>
            <div class="floatL">Medium:</div>
			<?php
			///////////////////Find category name///////////////////////////////////////
			$medium   = new Application_Model_DbTable_ArtCatmedium();
			$medium_result = $medium->getcatmediumlistName($event['medium'],'');	
			$mediumarr=$this->view->medium_result = $medium_result;
			///////////////////////////Listing Images////////////////////////////////////
			?>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo  substr($mediumarr[0]['medium'],0,14)?></div>
            <div class="clear"></div>
            <div class="floatL">Style </div>
			<?php
			///////////////////Find category name///////////////////////////////////////
			$style   = new Application_Model_DbTable_ArtCatstyle();
			$style_result = $style->getcatstylelistName($event['style'],'');	
			$stylearr=$this->view->style_result = $style_result;
			///////////////////////////Listing Images////////////////////////////////////
			?>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo  substr($stylearr[0]['style'],0,14)?></div>
            <div class="clear"></div>
            <div class="floatL">Dimentions:</div>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo $event['width']?> x <?php echo $event['depth']?> x <?php echo $event['height']?></div>
            <div class="clear"></div>
            <div class="floatL">Year:</div>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo $event['date_completed']?></div>
          </div>
          <div class="floatL paddingL10 paddingR10 wd610">  <?php echo nl2br(html_entity_decode(htmlentities(stripslashes($event['descrption'])))) ?>  </div>
          <div class="floatL wd_300 paddingL10">
            <!--<div class="lightCol marginT10"> Frame Details:<br />
                <span class="darklTXT"><?php echo nl2br(html_entity_decode(htmlentities(stripslashes($event['frame_details'])))) ?></span> </div>-->
          </div>
        </div>
        <div class="clear"></div>
        <hr class="WTBorder marginT20" />
        <div class="lightCol marginT20">Keywords: <?php echo $event['keywords'];?> </div>
        <div class="whtrectBox marginT20 marginB10">
          <div class="ByBox">
		  
            <h3 class="font17 paddingL10">BY <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['owner_id']));?>"><?php echo ucfirst($ownerVal[0]['first_name']).' '.$ownerVal[0]['last_name']?></a></h3>
          </div>
          <div class="ftrsBox">Seller <img src="<?php echo $this->baseUrl();?>/images/browse_search/start.jpg" /> <span class="redTXT">38</span></div>
          <div class="ftrsBox">Sales: 5</div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Visit Studio</a></div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <?php if ($namespace->email==''){?>
		  <span class='basic-modal'><a class="basic" title="Sign In" href="#">
			<?php } else {?>
			<a href="javascript:void(0)" onclick="return follow('<?php echo $event['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'follow'),'default',true)?>')">
			<?php } ?>Follow</a><span></div>
          <div class="ftrsBox BorderNone"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" />  <?php if ($namespace->email==''){?>
		  <span class='basic-modal'> <a class="basic" title="Sign In" href="#">
			<?php } else {?>
			<span class='basic-modal'><a class="Message basic" title="Message" href="#">
			<?php } ?>Send a message</a><a name="rate"></a></span></div>
        </div>
      </div>
    </div>
    <!-- product detail mid part end -->
     <!-- product detail bottom part -->
        <div id="bottomProDetail_Part">
           <div id="bottomProDetail_Part_left">
		   
              <!-- add comment -->
              
               <div id="addCommentArea" class="wd780 HT125">
                <form name="myform" action="<?php echo $this->url(array('controller'=>'artworkdetails','action'=>'ratingandreview','page'=>$this->page))  ?>" method="post" >
        <div class="floatL marginT10">
          <div class="floatL marginL10">
              <h2 class="noMargin noPadding">RATE THIS ARTWORK</h2>
          </div>
          <div class="floatL marginL20">
           <div class="ftrsBox wd180 marginT3 BorderNone">
           <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT2.jpg"></div>
        <div class="floatL marginL5 redTXT"><input type="text" value="0" name="feed_rate" id="feed_rate" size="1" style="border:0px; background-color:#F1F3F2; font-weight:bold;width:15px" readonly="readonly" /> </strong></div>
        <div class="floatL marginT3 marginL5">
          
          <div class="ratingHRT" onclick="set_rate_in(1,'<?php echo $event['id'];?>')" onmouseover="show_rate_in(1,'<?php echo $event['id'];?>')" id='rate1<?php echo $event['id'];?>'  onmouseout="hide_rate_in(1,document.getElementById('feed_rate').value,'<?php echo $event['id'];?>')"></div>
          <div class="ratingHRT" onclick="set_rate_in(2,'<?php echo $event['id'];?>')" onmouseover="show_rate_in(2,'<?php echo $event['id'];?>')" id='rate2<?php echo $event['id'];?>'  onmouseout="hide_rate_in(2,document.getElementById('feed_rate').value,'<?php echo $event['id'];?>')"></div>
          <div class="ratingHRT" onclick="set_rate_in(3,'<?php echo $event['id'];?>')" onmouseover="show_rate_in(3,'<?php echo $event['id'];?>')" id='rate3<?php echo $event['id'];?>'  onmouseout="hide_rate_in(3,document.getElementById('feed_rate').value,'<?php echo $event['id'];?>')"></div>
          <div class="ratingHRT" onclick="set_rate_in(4,'<?php echo $event['id'];?>')" onmouseover="show_rate_in(4,'<?php echo $event['id'];?>')" id='rate4<?php echo $event['id'];?>'  onmouseout="hide_rate_in(4,document.getElementById('feed_rate').value,'<?php echo $event['id'];?>')"></div>
          <div class="ratingHRT" onclick="set_rate_in(5,'<?php echo $event['id'];?>')" onmouseover="show_rate_in(5,'<?php echo $event['id'];?>')" id='rate5<?php echo $event['id'];?>'  onmouseout="hide_rate_in(5,document.getElementById('feed_rate').value,'<?php echo $event['id'];?>')"></div>
        </div>
        
          </div>
          </div>
          </div>
          <div class="clear"></div>
          <div class="floatL marginL5 marginT10">
           <textarea id='maincomment' name='maincomment'></textarea><input type="hidden" name="artwork_ratecount" id="artwork_ratecount" value="<?php echo $event['rate_count']?>" />
          </div>
          <div class="floatL marginL5 marginT20">
            <?php if ($namespace->email==''){?>
			<span class='basic-modal'><a class="basic" title="Sign In" href="#"> 
			<input type="button" value="   " name='submit' id='submit' /> </a></span>
			<?php } else {?>
			<input type="submit" value="   " name='submit' id='submit' />
			<?php } ?>
          </div>
          </form>
        </div>
              <!-- add comment end -->
              <!-- show comment -->
               <div id="showCommentArea"><input type="text" value="" name="focusid" id="focusid" size="1" style="border:0px; font-weight:bold;width:2px" readonly="readonly" />
			   <?php  $j=1;
					foreach($this->artworkuploadfeedbacks_model_result as $eventf){ 
					?>
                  <div id="showCommentBox" class="wd780" onmouseover="document.getElementById('show_review<?php echo $eventf['id']?>').style.display=''" onmouseout="document.getElementById('show_review<?php echo $eventf['id']?>').style.display='none'">
            <div class="showComment_title wd_150">
              <h2 class="font13 noMargin">Rate on this artwork</h2>
              <div class="ftrsBox wd180 marginT3 BorderNone">
           <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT2.jpg"></div>
        <div class="floatL marginL5 redTXT"><strong><?php echo $eventf['feedback_rate']==''?'0':$eventf['feedback_rate'];?></strong></div>
        <div class="floatL marginT3 marginL5">
          <div  class="<?php echo $eventf['feedback_rate']>=1?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventf['feedback_rate']>=2?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventf['feedback_rate']>=3?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventf['feedback_rate']>=4?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventf['feedback_rate']>=5?'ratingHRThover':'ratingHRT'?>"></div>
        </div>
        
          </div>
            </div>
            <div class="showComment_comment wd500">
              <h2 class="font13"><?php echo nl2br(stripslashes($this->Escape($eventf['feedback'])));?> (<span class="redTXT"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventf['user_id']));?>" class="redTXT"><?php echo ucwords($eventf['username']);?></a></span>)</h2>
              <div class="clear"></div>
              <div id="show_review<?php echo $eventf['id']?>" style="display:none">
              <strong class="small font13 marginT10 floatL"><span class="addComment">Was this review helpful to you ?</span></strong>
              <div class="clear marginB5"></div><!--// for yes 1 and for No 2 store in database-->
             
              <?php if ($namespace->email==''){?>
										 
										<div class="floatL"><span class='basic-modal'><a class="basic" title="Sign In" href="#"><img src="<?php echo $this->baseUrl();?>/images/yesBTN.png" /></a></span></div><div class="floatL  marginL5"><span class='basic-modal'><a class="basic" title="Sign In" href="#"><img src="<?php echo $this->baseUrl();?>/images/noBTN.png" /></a></span></div><?php } else {?>
              
               <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/yesBTN.png" onclick="helpreview('<?php echo $this->url(array('controller'=>'artworkdetails','action'=>'helpreview','artwork_id'=>$event['id'],'feedback_id'=>$eventf['id'],'review'=>'1'))  ?>','show_review<?php echo $eventf['id']?>')"/></div>
              <div class="floatL marginL5	"><img src="<?php echo $this->baseUrl();?>/images/noBTN.png" onclick="helpreview('<?php echo $this->url(array('controller'=>'artworkdetails','action'=>'helpreview','artwork_id'=>$event['id'],'feedback_id'=>$eventf['id'],'review'=>'2'))  ?>','show_review<?php echo $eventf['id']?>')"/></div><?php } ?>
              </div>
              <!-- write comment box here -->
             
              <!-- write comment box end here -->
            </div>
               <div class="showComment_icon wd_85"> 
                 <div class="floatL"> <?php if ($namespace->email==''){?>
										<span class='basic-modal'><a class="basic" title="Sign In" href="javascript:void(0)"> 
										Reprot Abuse </a></span><?php } else {?>
									<span class='basic-modal'><a class="Reportabuse basic" title="Message" href="javascript:void(0)" onclick="set_comment('<?php echo $eventf['id']?>')">  Reprot Abuse</a></span> <?php } ?></div> 
                <!-- <div class="floatL marginT5"><a href="#">Permalink</a></div>-->    
                  <div class="clear"></div>
                 <!--<div class="floatL marginT5"><img src="<?php echo $this->baseUrl();?>/images/commentIcon.png" /></div>
                 <div class="floatL marginT5 marginL5"><a href="#">Comment</a></div>   -->      
               </div>
          </div>
                 <? $j++;} ?>
                  
                 <?php if($this->mpage>1) { ?> 
               <div id="more4" class="morebox">
<a href="#" id="4" class="more">more</a>
</div> <?php } ?></div>
              <!-- show comment end -->
              
              
           </div>
           <div id="bottomProDetail_Part_right">
               <h3 class="font13 marginT10">other work by this artist</h3>
               <?php $i=1;
			   foreach($this->artworkuploadimageslist_model_result_all  as $all_images){ // get all other work by this artist
		
		?>
               <div class="bottomPart_rightImg"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$all_images['id']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $all_images['image'];?>" height='148' width='148' border='0' /></a></div>
                <?php
				 $i++; if($i==4) break;} 
				 if($i==1)
				 {
					 echo "No More Artwork";
				 }
				?>
           </div>
        </div></div>
    <!-- product detail bottom part end -->
   
    <?php }?>
    
