<?php 
$namespace 	= new Zend_Session_Namespace();
$msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';
?>
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<div id="main">
    <!-- welcome area -->
    <?php echo $this->render('profile/headpart.phtml');?>
    <!-- ** Begin left hand nav ** -->
    <?php echo $this->render('profile/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <?php $i=0;
					foreach($this->artworkuploadlist_model_result as $event){ 
					?>
   <div id="userIntroArea" class="paddingL10">
      <h2>Review Purchase</h2>
      <div class="clear"></div>
      <div class="paginationArea marginL5 wd780 marginT5">
        <div class="floatL wd250 marginT10 paddingL10">
         <h3>Artwork Details</h3>
        </div>
         <div class="floatL wd180 marginT10">
         <h3>Postal Address</h3>
        </div>
        <div class="floatL wd200 marginT10 paddingL10">
         <h3>Postage & Packaging</h3>
        </div>
        <div class="floatL wd100 marginT10 paddingL10">
         <h3>Price</h3>
        </div>
      </div>
       <div class="clear"></div>
      <div class="listViewBox wd250 backgroundN paddingL10">
      <?php
      $i=0;
	  foreach($this->artworkuploadimageslist_model_result as $eventi){ 
		  if($i==1) break;
	 ?> 
	  
	  
        <div class="listViewBox_Img marginL5"><img src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $eventi['image'];?>" /></div><?php $i++; }
	  ?>
          <div class="listViewBox_Big wd135 marginL5">
            <h5 class="marginT15 marginB5"><?php echo ucwords($event['title']);?></h5>
            <?php
			$userstuff		= new Application_Model_Artuser();
			$ownerVal	= $userstuff->selestuser($event['owner_id']);
			?>
            <div class="small"><span class="lightCol">by</span> <?php echo ucfirst($ownerVal[0]['first_name']).' '.$ownerVal[0]['last_name']; ?></div>
              <?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			$userInfo	=	new Application_Model_DbTable_Profile();
			/****************** Get login user details ****************************/
			$user_details = $userInfo->getUserProfile($event['owner_id']);
			?>
            <div class="marginT5 floatL redTXT"><strong><?php echo $catarr[0]['cat_name']?></strong></div>
          </div>
      </div>    
       <div class="floatL wd180 marginT10 paddingL3">
          <?php echo $user_details[0]['shipping_address'];?><?php echo $user_details[0]['shipping_city']!=''?', '.$user_details[0]['shipping_city']:'' ;?><br />
          <?php echo $user_details[0]['shipping_state'] ;?>  <?php echo $user_details[0]['shipping_zip']!=''?'- '.$user_details[0]['shipping_zip']:'' ;?><br />
<?php
$countryInfo	=	new Application_Model_DbTable_ArtCountry();
$s_country=$countryInfo->getcountryCode($user_details[0]['shipping_country']);
?>
          
<?php echo $s_country['country'] ;?> <br />
<div class="font11 marginT10"><!--<a href="#" class="redTXT">Change Address</a>--></div>
      </div>
        <div class="floatL wd200 marginT10 paddingL10">
          <?php echo $event['service']?><?php echo $event['dispatch_time']!=''?': '.$event['dispatch_time'].'Working Days':''?><br />
          Charges: &pound; <?php echo $event['postage_cost']?>
      </div>
       <div class="floatL wd100 marginT10 paddingL10">
       <strong>&pound; <?php echo $event['buy_it_now']?></strong>
      </div>
       <div class="clear"></div>
       <div class="paginationArea marginL5 wd780 marginT5"></div>
       <div class="clear"></div>
        <div class="floatR wd375 marginT20">
          <div class="floatL wd250 txtAlignR">Subtotal:</div>
          <div class="floatL marginL10"> <strong>&pound; <?php echo $event['buy_it_now']?></strong></div>
          <div class="clear marginB5"></div>
          <div class="floatL wd250 txtAlignR">Postage & Packaging:</div>
          <div class="floatL marginL10"> <strong>&pound; <?php echo $event['postage_cost']?></strong></div>
           <div class="clear marginB5"></div>
           <div class="floatL wd250 txtAlignR">Total:</div>
           <?php $totamount=$event['buy_it_now']+$event['postage_cost']?>
          <div class="floatL marginL10"> <strong>&pound; <?php echo $totamount?></strong></div>
          <div class="clear marginB5"></div>
          <div class="floatR marginR40 marginT10 font11"> <strong><!--<a href="#">Update Total</a>--></strong></div>
          <div class="clear marginB5"></div>
          <div class="floatR marginR20 marginT10 font11"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'creditpay','id'=>$event['id'],'P'=>$totamount)) ?>"><img src="<?php echo $this->baseUrl();?>/images/continueBTN.jpg" /></a></div>
          
        </div>
       <div class="clear"></div>
    </div>
    <?php  } ?>
    
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
</div>
