<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/css/basic.css" type="text/css" />
<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/popup/jquery.simplemodal.js'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/popup/basic.js'></script>
<script>
	$(document).ready(function(){
		//To switch directions up/down and left/right just place a "-" in front of the top/left attribute
		
		//Vertical Sliding
		$('.slidedown').hover(function(){
			$(".cover", this).stop().animate({top:'-148px'},{queue:false,duration:300});
		}, function() {
			$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
		});
			
			$(".fgtPass").click(function()	{
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".forgotPassBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"110px"});
			});
			$(".Bidnow").click(function()	{ 
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".BidBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
				$(".simplemodal-container").animate({"width":"400px"});
			});
			$(".Pay").click(function() { 
			$(".SignInBlock").hide();$(".BidBlock").hide();			
			$(".ReportabuseBlock").hide();
			
				$(".PayBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"150px"});
				$(".simplemodal-container").animate({"width":"200px"});
			});
			$(".recommend").click(function() { 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".ReportabuseBlock").hide();
				$(".RecommendBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".Message").click(function() { 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();$(".ReportabuseBlock").hide();
				$(".MessageBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".Reportabuse").click(function() {  
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();
				$(".ReportabuseBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
			});
			$(".MessagePrompt").click(function() { 
			$(".SignInBlock").hide();
			$(".ReportabuseBlock").hide();$(".MessagePromptBlock").fadeIn();
			$(".simplemodal-container").animate({"width":"300px"});
			$(".simplemodal-container").animate({"height":"150px"});
			
			});
			
			var str=window.location; 
			var patt1=/moderated/g; var patt2=/userartworkuploadlist/g;
			if(patt1.test(str)==true || patt2.test(str)==true)
			{
			<?php if($getInfo[0]['credit_card_number']=='' && $getmoderatedartwork[0]['modrate_art']>0) {?>
			$(".basic-modal .basic").trigger("click");
			$(".MessagePrompt").trigger("click");
			<?php } ?> 
			}
	});

</script><?php 
	$namespace 	= new Zend_Session_Namespace();
$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);
		$userstuff		= new Application_Model_Artuser();
		foreach($this->rec  as $value){   // global auction duration
		$auction_duration=$value['auction_duration'];
		$bid_interval=$value['bid_interval']; 
		}
		foreach($this->Categorylist_model_result  as $catname){ // get category name
		$cat_name=$catname['cat_name'];
		}
		if ($namespace->email) {
		foreach($this->artworkuploadrate_model_result  as $rate){ // get rate of current user
		$rate=$rate['rating'];
		}
		}
		foreach($this->artworkuploadbidcount_model_result  as $bid){ // get bid count of current artwork
		$noofbid=$bid;
		}
		foreach($this->artworkuploadminbid_model_result  as $next_minbid){ // get min bid of current artwork 
		$minbid=$next_minbid['minbid'];
		
		}

		foreach($this->artworkuploadmaxbid_model_result  as $next_maxbid){ // get min bid of current artwork 
		$highuserVal	= $userstuff->selestuser($next_maxbid['bidder_id']); 
		$high_bid=$next_maxbid['maxbid'];
		}
		
				foreach($this->artworkuploadlist_model_result as $event){ 
				
				if($noofbid>0)
				{
					if($event['price']>=10 && $event['price']<=100) $bid_interval_price=$bid_interval[0];
					if($event['price']>=101 && $event['price']<=500) $bid_interval_price=$bid_interval[1];
					if($event['price']>=501 && $event['price']<=1000) $bid_interval_price=$bid_interval[2];
					if($event['price']>=1001 )  $bid_interval_price=$bid_interval[3];
					$next_bid= $high_bid +$bid_interval_price;
				}
				else {   $bid_interval_price=0; $next_bid= $event['price'] +$bid_interval_price; }
					//////////////////////////////user_location name/////////////////////////////////////////
		 $userInfo	=	new Application_Model_DbTable_Profile();
		 /****************** Get login user details ****************************/
		 $user_details = $userInfo->getUserProfile($event['owner_id']); 
					?>
		  <div class="titlebar">
          <h2>Bidding</h2>
          <?php if($high_bid>0) { ?>
		  <div>Highest bid</div>
          <div class="marginT5 redTXT font18">&pound;<?php echo $high_bid?>  <span class="redTXT font13"><?php echo $high_bid>=$event['reserve_price']?'reserve met':'reserve not met' ?></span></div>
		<?php } else if($event['price']>0) {?>
           <div class="marginT5 redTXT font18">&pound;<?php echo $event['price']?>  <span class="redTXT font13"><?php echo 'Starting Price' ?></span></div>
          <?php } else if($event['buy_it_now']>0) {?>
           <div class="marginT5 redTXT font18">&pound;<?php echo $event['buy_it_now']?>  <span class="redTXT font13"><?php echo 'Price' ?></span></div>
          <?php } if($high_bid>0) { ?>
          <div class="">Highest bidder:</div>
          <div class="marginB5 darklTXT"><?php echo ucwords($highuserVal[0]['user_id'])?></div>
		  <?php } ?>
          <div class="clear"></div>
          <hr class="WTBorder" />
          <!--<div class="floatL">Listed:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&pound;10,000.00</div>-->
          <div class="clear"></div>
          <div class="floatL">Ends:</div>
		  <?php  
			if($noofbid!=0) {
		   if($event['bid_start_date']!="")
		 	{
		 		$atime=explode(':',$event['ending']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'d ';
					$actime .=$hr.'h ';
					if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
			if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
		  ?>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo $h<=0?'Bid Close':$actime;?></div>
		  <?php } else { ?>
		   <div class="floatL marginL10 marginB5 darklTXT">--</div>
		  <?php } } else { $h=1;}?><input type="hidden" value="<?php echo $actime;?>" name="end_time" id="end_time" />
          <div class="clear"></div>
          <div class="floatL">Quantity Available:</div>
          <div class="floatL marginL10 marginB5 darklTXT">1</div>
          <div class="clear"></div>
		  <?php if($high_bid>0) { ?>
          <div class="floatL">Bids:</div>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo $noofbid?></div>
		  <?php } ?>
          <div class="clear"></div>
		  
          <hr class="WTBorder" />
          <div class="">Shipping:</div>
          <div class="marginB5 darklTXT"><span class="redTXT">&pound; <?php echo $event['postage_cost']?></span><br /><span class="small"><?php echo $event['service']?></span></div>
          <div class="clear"></div>
          <div class="">Location:</div>
          <div class="marginB5 darklTXT"><?php echo $user_details[0]['city'] ;?>, <?php echo $user_details[0]['countr'] ;?></div>
          <div class="clear"></div>
         <!-- <div class="">Ships to:</div>
          <div class="marginB5 darklTXT">Europe <span class="small">(options)</span></div>-->
          <div class="clear"></div>
          <div class="marginT20">
		  <?php 
			if($event['owner_id']!=$namespace->userid)
			{
			if($event['sold_status']=="1")
		 	{?>
			<img src="<?php echo $this->baseUrl();?>/images/browse_search/sold_outBTN.jpg" />
			<?php } else
		   if($event['bid_start_date']!="")
		 {
			if($h>'0') {  // check bid end
			if($namespace->email==''){   // check login if not
			if($event['price']!='0.00')
			{
			?>
			 <span class='basic-modal'> <a class="basic" title="Login" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></a></span>
		 <?php }
		 else
		 {
			 ?>
             <span class='basic-modal'> <a class="basic" title="Login" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" width="150" height="33" /></a></span>
             <?php
		 }
			}
		  else  // check login if login
		  {
			  if($event['price']!='0.00')
				{ if($getInfo[0]['credit_card_number']=='') $class='MessagePrompt'; else $class='Bidnow';
			  ?>
			<span class='basic-modal'><a class="<?php echo $class?>  basic" title="Bid now" href="#">
			<img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></a></span>
				<?php
				}
			else
				 {
					 ?>
                     <a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'reviewpurchase', 'id'=>$event['id']));?>"> 
					 <img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" width="150" height="33" /></a>
					 <?php
				 }
			}
			} 
			else  // check bid end  pay now
			{
			if($namespace->email==''){// check login if not
			?>
			 <span class='basic-modal'> <a class="basic" title="Login" href="#">
		  <img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_close.jpg" width="150" height="33" /></a></span>
		  <?php 
		  }
		  else// check login if login
		  { 
		  
		  if($next_maxbid['bidder_id']==$namespace->userid)
			{
		  ?>
		   <span class='basic-modal'><a class="Pay basic" title="payment now" href="#">
			 <img src="<?php echo $this->baseUrl();?>/images/browse_search/paymentNow.jpg" width="150" height="33" /></a></span>
		  <?php 
		  }
		  }
		  }  // check bid end
		  }
			}
		  ?>
		  </div>
          <hr class="BLKBorder" />
          <div class="marginT20">
            <div class="floatL marginT1"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /></div>
            <div class="floatL marginL10"><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$event['category']),'default',true);?>">More art like this</a></div>
          </div>
        </div>@|@
		<br />(Enter &pound; <?php echo $next_bid?> or more) <input type="hidden" name="bid_interval" id="bid_interval" value="<?php echo $bid_interval_price?>" /><input type="hidden" name="prev_bid" id="prev_bid" value="<?php echo $next_bid?>" /><input type="hidden" name="maximum_bid" id="maximum_bid" value="<?php echo $minbid?>" /><input type="hidden" name="maximum_bidder" id="maximum_biddder" value="<?php echo $highuserVal[0]['id']?>" /><input type="hidden" name="id_end_time" id="id_end_time" value="<?php echo $event['auction_duration'];?>" />
		    <?php }?>
			@|@
			<table width="100%" border="0" cellpadding="1" cellspacing="1">
                 <tr>
                   <td align="left" width="30%" nowrap='nowrap'><b>Bidder</b></td>
                   <td align="left" width="30%" nowrap='nowrap'><b>Bid Amount </b></td>
                   <td align="left" width="39%" nowrap='nowrap'><b>Bid date </b></td>
                   <td align="left" width="1%" nowrap='nowrap'>&nbsp;</td>
                 </tr>
				<?php  foreach($this->artworkuploadbid_model_result  as $bidlist){ // get min bid of current artwork
				

				$userVal	= $userstuff->selestuser($bidlist['bidder_id']); 
					
			
				?>
		
		
                 <tr>
                   <td align="left" nowrap='nowrap'>
				   <?php  if($namespace->userid==$bidlist['bidder_id']) 
				  echo ($userVal[0]['user_id']);
				   else  echo substr(ucfirst($userVal[0]['first_name']),0,1).' '.substr($userVal[0]['last_name'],0,1);?></td>
                   <td align="left" nowrap='nowrap'>&pound;<?php echo $bidlist['current_bid'];?></td>
                   <td align="left" nowrap='nowrap'><?php echo $bidlist['bid_date'];?></td>
                   <td align="left" nowrap='nowrap'>&nbsp;</td>
                 </tr>
				 <?php }?>
</table>
