<?php
$namespace = new Zend_Session_Namespace(); 
$category   = $this->headercontent();
$ind=$this->ind;
$ind = ($ind=='') ? '0' : $ind;

 //////////////////For RSS feed//////////////////////////////////
$feedlist   = new Application_Model_DbTable_ArtNewsfeed();
$activitylist = new Application_Model_DbTable_Artuseractivity();
		
 $recentactivity = $activitylist->Artuseractivity();

/*$feed = $feedlist->getnewslistany(); 
		try {
    $slashdotRss =
        Zend_Feed::import($feed[0]['url']);
} catch (Zend_Feed_Exception $e) {
    // feed import failed
    echo "Exception caught importing feed: {$e->getMessage()}\n";
    exit;
}
// Initialize the channel data array
$channel = array(
    'title'       => $slashdotRss->title(),
    'link'        => $slashdotRss->link(),
    'description' => $slashdotRss->description(),
    'items'       => array()
    );
 
// Loop over each channel item and store relevant data

date_default_timezone_set('UTC');


foreach ($slashdotRss as $item) {
    $channel['items'][] = array(
        'title'       => $item->title(),
        'link'        => $item->link(),
        'description' => $item->description(),
		'lastUpdate' => $item->pubDate()
        );
}*/
		//echo "<pre>";print_r($channel);echo $channel['items'][0]['title'];die;
		//////////////////////////////////////////////////////////////////
?>

<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/ddaccordion.js'></script>

<script type="text/javascript">


ddaccordion.init({ //top level headers initialization
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "clickgo", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [<?php echo $ind?>], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: false, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})

ddaccordion.init({ //2nd level headers initialization
	headerclass: "subexpandable", //Shared CSS class name of sub headers group that are expandable
	contentclass: "subcategoryitems", //Shared CSS class name of sub contents group
	revealtype: "clickgo", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["opensubheader", "closedsubheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>



<div class="col_small home_nav">
<div class="titlebar">
<div class="arrowlistmenu">

<h3 class="menuheader expandable">CATEGORIES</h3>
<ul class="categoryitems">
<?php for($i=0;$i<count($category);$i++){?>
<li><a  class="subexpandable" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$category[$i]['id'],'ind'=>0,'heading'=>$category[$i]['cat_name']),'default',true);?>" title="<?php echo $category[$i]['cat_name'];  ?>"><?php echo substr($category[$i]['cat_name'],0,18);  ?></a>
    <ul class="subcategoryitems">
   <?php  $allsubject	=	new Application_Model_DbTable_ArtCatsubject();
		    $record		=	$allsubject->getcatsubjectName($category[$i]['id']);
			for ($c=0;$c<count($record);$c++) { 
			?>
             <li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$category[$i]['id'],'subcat'=>$record[$c]['id'], 'heading'=>$category[$i]['cat_name'].'('.str_replace("/", "",$record[$c]['subject']).')'),'default',true);?>" title="<?php echo $record[$c]['subject'];  ?>"><?php echo substr($record[$c]['subject'],0,14)?> </a></li>
            <?php
			}
    ?>
    </ul>	
</li>
<?php }?></ul>
<h3 class="menuheader expandable">AUCTION</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending Soonest','ind'=>'1'),'default',true);?>">Ending soonest</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added','ind'=>'1'),'default',true);?>">Newly listed</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Buy it now', 'sortBy'=>'Ending Soonest','ind'=>'1'),'default',true);?>">Buy it now</a></li>
</ul>

<h3 class="menuheader expandable">SEARCHES</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'locationsearch', 'heading'=>'Location', 'sortBy'=>'Ending Soonest','ind'=>'2'),'default',true);?>">Locations</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'sizesearch', 'heading'=>'Size', 'sortBy'=>'Ending Soonest','ind'=>'2'),'default',true);?>">Size</a></li>
<!--<li><a href="#">Medium</a></li>-->
</ul>

<h3 class="menuheader expandable">RATINGS</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists','ind'=>'3'),'default',true);?>">Top Rated Artworks</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated','ind'=>'3'),'default',true);?>">Top Rated Artists</a></li>
</ul>

<div>

</div>
    </div> </div> 
    <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                 <?php for ($i=0;$i<count($recentactivity);$i++){?>
				<?php $atime=explode(':',$recentactivity[$i]['act_time']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.' Day(s)';
					}
				else
				{
					if($atime[0]!='00') { $actime=$atime[0].' hours '; }
					else if($atime[1]!='00') { $actime =$atime[1].' minutes ';}
					else if($atime[2]!='00') { $actime =$atime[2].' seconds ';}
				
				}
				?>
                <p><?php echo stripslashes($recentactivity[$i]['activity_msg'])?> <br />
                <span class="notes"><?php echo $actime?> ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <?php }?>  
            </div>
            
            <div class="titlebar" id="news">
            	<h3>ARTEX NEWS</h3>
            	<?php for ($i=0;$i<=1;$i++){?>
                <div class="news_sml event">
                    <p>
                    	<a href="<?php echo $channel['items'][$i]['link']?>"><?php echo $channel['items'][0]['title']?></a>  <br>
                       <?php echo $channel['items'][$i]['description']?> <br><?php echo gmdate("M d Y h:i:s",strtotime($channel['items'][$i]['lastUpdate']))?> 
                	</p>
                </div>
                <img width="150" height="20" alt="" src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif">
            	<?php }?>  
                        
            </div>
    
    </div>
