<?php 
$namespace 	= new Zend_Session_Namespace();
?>
<script src="<?php echo BASE_URL;?>/js/easySlider1.7.js" type="text/javascript"></script>
<link href="<?php echo BASE_URL;?>/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">

			$(document).ready(function(){	
			$("#slider").easySlider({
				auto: true,
				continuous: true,
				nextId: "slider1next",
				prevId: "slider1prev"
			});
			

		});
		
</script>
<ul>
                 <?php 
				$banner = $this->banner();
				$allgloble = new Application_Model_DbTable_ArtGlobelinfo();	
				$rec =	$allgloble->getglobelinfoAll();
				
				$rate=0;
				for($i=0;$i<count($banner);$i=$i+2){ 
					$artworkuploadrate_model = new Application_Model_DbTable_Artworkrating();
					$artworkuploadrate_model_result = $artworkuploadrate_model->getArtworkrate_user($banner[$i]['id'],$namespace->userid);	 
					$rate=0;
					if(count($artworkuploadrate_model_result)>0)
						$rate=$artworkuploadrate_model_result[0]['rating'];
						
					$artworkuploadbidcount_model = new Application_Model_DbTable_Artworkbid();
					$artworkuploadbidcount_model_result = $artworkuploadbidcount_model->getBidlist_count($banner[$i]['id']);	
					$noofbid=$artworkuploadbidcount_model_result;
				?>				
				<li>
                <div style="width:470px;" class="banner_slide">
                    <img class="banner_img" src="<?php echo $this->baseUrl();?>/upload/big/<?php echo $banner[$i]['image'];?>" height="350" width="478" alt="Demo image">
                    <div class="detailHolder">
                     <h2 class="WTColor"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><?php echo $banner[$i]['title'];?></a></h2>
                     <div class="wd375 floatL marginL80">
                   <div class="wd375 floatL marginL80">
	          					<div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/HRTRed.png" /></div>
	          					<div class="floatL redTXT"><strong><?php echo $banner[$i]['rate_count']==''?'0':$banner[$i]['rate_count'];?></strong></div>
	          					<div class="floatL marginT5 marginL5">
			  					<?php if($rate=='') $rate=0;?> <?php if ($namespace->email!=''){?>
	            					<div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','1','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(1,'<?php echo $banner[$i]['id'];?>')" id='rate1<?php echo $banner[$i]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	         						<div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','2','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(2,'<?php echo $banner[$i]['id'];?>')" id='rate2<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','3','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(3,'<?php echo $banner[$i]['id'];?>')" id='rate3<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	       							<div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','4','<?php echo $banner[$i]['rate_count'];?>')"  onmouseover="show_rate_in(4,'<?php echo $banner[$i]['id'];?>')" id='rate4<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','5','<?php echo $banner[$i]['rate_count'];?>')"  onmouseover="show_rate_in(5,'<?php echo $banner[$i]['id'];?>')" id='rate5<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(5,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
								<?php } else { ?>
									<span class='basic-modal'>
										<a class="basic" title="Login" href="#"><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(1,'<?php echo $banner[$i]['id'];?>')" id='rate1<?php echo $banner[$i]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(2,'<?php echo $banner[$i]['id'];?>')" id='rate2<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(3,'<?php echo $banner[$i]['id'];?>')" id='rate3<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(4,'<?php echo $banner[$i]['id'];?>')" id='rate4<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(5,'<?php echo $banner[$i]['id'];?>')" id='rate5<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate(5,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								    </span>
								<?php } ?>
	          					</div>
	          					<div class="floatL marginL10">rate</div>
	        				</div>
                   </div>
                   <div>Artist: <span class="WTColor"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$banner[$i]['owner_id']));?>"><?php echo $banner[$i]['first_name'].' '.$banner[$i]['last_name'];?></a></span></div>
                    <?php $actime='';
			if($noofbid['noofbid']!=0) {			
			$atime=explode(':',$banner[$i]['ending']);
							if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'days ';
					$actime .=$hr.'hours ';
					if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
	  			}			?> 
                   <div>Ends: <span class="WTColor"><?php echo $h<=0?'Bid Close':$actime;?> </span></div>
<?php 
					   if($banner[$i]['price']!='0.00') {
					   ?>  						
        <div>Bid: <span class="WTColor"><?php echo $noofbid['noofbid']?></span></div>
					        <div>Current bid: <span class="WTColor"><?php 
								$maxbid	= new Application_Model_DbTable_Artworkbid();
								$maxbidVal = $maxbid->getBidMaxlist($banner[$i]['id']); 
							?>
		                    <a href="#" class="currentbid">&pound; <?php echo count($maxbidVal)<=0?$banner[$i]['price']:$maxbidVal['0']['maxbid']?></a></span>
		                    </div>
                       
                   <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" /></a></div>
                   <?php 
					   } else {
					   ?> 
                       <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" /></a></div> 
                       <?php 
					   }
					   ?> 
                   
                   
                   
                   
                     </div>
                   </div><?php  // Used to block div no any value for second artwork
				   if($banner[$i+1]['id'] > 0) {
					$artworkuploadrate_model = new Application_Model_DbTable_Artworkrating();
			$artworkuploadrate_model_result = $artworkuploadrate_model->getArtworkrate_user($banner[$i+1]['id'],$namespace->userid);	 
			$rate=0;
			if(count($artworkuploadrate_model_result)>0)
				$rate=$artworkuploadrate_model_result[0]['rating'];
			$artworkuploadbidcount_model = new Application_Model_DbTable_Artworkbid();
			$artworkuploadbidcount_model_result = $artworkuploadbidcount_model->getBidlist_count($banner[$i+1]['id']);	
			$noofbid=$artworkuploadbidcount_model_result;
			?><div style="width:470px;" class="banner_slide"> 
                   
                   
                   
                    <img class="banner_img" src="<?php echo $this->baseUrl();?>/upload/big/<?php echo $banner[$i+1]['image'];?>" height="350" width="478" alt="Demo image">
                    <div class="detailHolder">
                   <h2 class="WTColor"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><?php echo $banner[$i+1]['title'];?></a></h2>
                   <div class="wd375 floatL marginL80">
                   <div class="wd375 floatL marginL80">
	          					<div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/HRTRed.png" /></div>
	          					<div class="floatL redTXT"><strong><?php echo $banner[$i+1]['rate_count']==''?'0':$banner[$i+1]['rate_count'];?></strong></div>
	          					<div class="floatL marginT5 marginL5">
			  					<?php if($rate=='') $rate=0;?> <?php if ($namespace->email!=''){?>
	            					<div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','1','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(1,'<?php echo $banner[$i+1]['id'];?>')" id='rate1<?php echo $banner[$i+1]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	         						<div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','2','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(2,'<?php echo $banner[$i+1]['id'];?>')" id='rate2<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','3','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(3,'<?php echo $banner[$i+1]['id'];?>')" id='rate3<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	       							<div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','4','<?php echo $banner[$i+1]['rate_count'];?>')"  onmouseover="show_rate_in(4,'<?php echo $banner[$i+1]['id'];?>')" id='rate4<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','5','<?php echo $banner[$i+1]['rate_count'];?>')"  onmouseover="show_rate_in(5,'<?php echo $banner[$i+1]['id'];?>')" id='rate5<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(5,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
								<?php } else { ?>
									<span class='basic-modal'>
										<a class="basic" title="Login" href="#"><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(1,'<?php echo $banner[$i+1]['id'];?>')" id='rate1<?php echo $banner[$i+1]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(2,'<?php echo $banner[$i+1]['id'];?>')" id='rate2<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(3,'<?php echo $banner[$i+1]['id'];?>')" id='rate3<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(4,'<?php echo $banner[$i+1]['id'];?>')" id='rate4<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(5,'<?php echo $banner[$i+1]['id'];?>')" id='rate5<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate(5,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								    </span>
								<?php } ?>
	          					</div>
	          					<div class="floatL marginL10">rate</div>
	        				</div>
                   </div>
                   <div>Artist: <span class="WTColor"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$banner[$i+1]['owner_id']));?>"><?php echo $banner[$i+1]['first_name'].' '.$banner[$i+1]['last_name'];?></a></span></div>
                   <?php $actime='';
				if($noofbid['noofbid']!=0) {				
				$atime=explode(':',$banner[$i+1]['ending']);
							if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'days ';
					$actime .=$hr.'hours ';
					if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
	  			}			?>
                   <div>Ends: <span class="WTColor"><?php echo $h<=0?'Bid Close':$actime;?> </span></div>
<?php 
					   if($banner[$i+1]['price']!='0.00') {
					   ?>  			
					        <div>Bid: <span class="WTColor"><?php echo $noofbid['noofbid']?></span></div>
					        <div>Current bid: <span class="WTColor"><?php 
								$maxbid	= new Application_Model_DbTable_Artworkbid();
								$maxbidVal = $maxbid->getBidMaxlist($banner[$i+1]['id']); 
							?>
		                    <a href="#" class="currentbid">&pound; <?php echo count($maxbidVal)<=0?$banner[$i+1]['price']:$maxbidVal['0']['maxbid']?></a></span>
		                    </div>
                   <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" /></a></div>
                    <?php 
					   } else {
					   ?> 
                       <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" /></a></div> 
                       <?php 
					   }
					   ?> 
                   </div></div>
                   <?php } // End blocking condition
				   ?>
                     
                
            </li>
			<?php } ?></ul>
