
<?php
$BP=new Application_Model_DbTable_Artworkbidtransaction();
$artworkuploadlist_model   = new Application_Model_DbTable_Artworkupload();
$artworkuploadlist_model_result = $artworkuploadlist_model->fetchAll($artworkuploadlist_model->select()->where('id = ?', $this->paymentlist_model_result[0]['artwork_id']));
foreach($artworkuploadlist_model_result as $event){
$auction_sold=$event['auction_comm'];
$scout_percent=$event['scout_percent'];
$buyerspremium=$event['buyers_premium'];
}
?>

<div class="inner-right-content"> 

	<h2 class="page-title">Manage Artwork Payment </h2>
    <div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php //echo "<pre>";print_r($this->paymentlist_model_result); die();

					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Artwork Payment</div>
    <a href="<?php echo $this->url(array('controller'=>'adminmanagepayment', 'action'=>'paymentlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Artwork:</strong></td>
		<?php 		$userstuff		= new Application_Model_Artuser(); 
					$userVal	= $userstuff->selestuser($this->paymentlist_model_result[0]['bidder_id']);
					$Artwork_title		= new Application_Model_DbTable_Artworkupload();
					$ArtworkTitle	= $Artwork_title->getArtworkTitlelist($this->paymentlist_model_result[0]['artwork_id']);
					?>
        <td width="344" style='padding:5px'><strong><?php echo $ArtworkTitle[0]['title']?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Winner:</strong></td>
        <td style='padding:5px'><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
      </tr>
      <?php
   	 $artex_per=$BP->getartworkAP($this->paymentlist_model_result[0]['id']);
    ?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Artwork Amount :</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'>&pound; <?php echo $artex_per[0]['amount'];?>
          </div></td>
      </tr>
	
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Artwork Percentage :</strong></td>
        <td style='padding:5px'><?php echo $auction_sold?> %</td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Transaction Date:</strong></td>
        <td style='padding:5px'><?php echo $artex_per[0]['transaction_date'];?></td>
      </tr>
	<?php
   	 $buyers_premium=$BP->getartworkBP($this->paymentlist_model_result[0]['id']);
    ?>
	   <tr bgcolor="#F7F7F7">
         <td align="left" valign="top" style='padding:5px'><strong>Buyers Premium Amount</strong>:</td>
         <td style='padding:5px'>&pound; <?php echo $buyers_premium[0]['amount'];?></td>
       </tr>
	   <tr bgcolor="#F7F7F7">
         <td align="left" valign="top" style='padding:5px'><strong>Buyers Premium Percentage</strong>:</td>
         <td style='padding:5px'><?php echo $buyerspremium;?> %</td>
       </tr>
	   <tr bgcolor="#F7F7F7">
	     <td align="left" valign="top" style='padding:5px'><strong>Transaction Date:</strong></td>
	     <td style='padding:5px'><?php echo $buyers_premium[0]['transaction_date'];?></td>
	     </tr>
       	<?php
   	 	$scout_per=$BP->getartworkSP($this->paymentlist_model_result[0]['id']);
   		?>
       <tr bgcolor="#F7F7F7">
         <td align="left" valign="top" style='padding:5px'><strong>Scount Amount</strong>:</td>
         <td style='padding:5px'>&pound; <?php echo $scout_per[0]['amount'];?></td>
       </tr>
	   <tr bgcolor="#F7F7F7">
         <td align="left" valign="top" style='padding:5px'><strong>Scount Percentage</strong>:</td>
         <td style='padding:5px'><?php echo $scout_percent;?> %</td>
       </tr>
	   <tr bgcolor="#F7F7F7">
	     <td align="left" valign="top" style='padding:5px'><strong>Transaction Date:</strong></td>
	     <td style='padding:5px'><?php echo $scout_per[0]['transaction_date'];?></td>
	     </tr>
		<?php
		$seller_amt=$BP->getartworkArtP($this->paymentlist_model_result[0]['id']);
		?>
       <tr bgcolor="#F7F7F7">
         <td align="left" valign="top" style='padding:5px'><strong>Supplier Amount: </strong></td>
         <td style='padding:5px'>&pound; <?php echo $seller_amt[0]['amount'];?></td>
       </tr>
  		<tr bgcolor="#F7F7F7">
	     <td align="left" valign="top" style='padding:5px'><strong>Transaction Date:</strong></td>
	     <td style='padding:5px'><?php echo $seller_amt[0]['transaction_date'];?></td>
	     </tr>

    </table>
    </div></td>
  </tr>
  <tr>
  <?php
  if($artex_per[0]['amount']!='')
  {
  if($scout_per[0]['amount']=='')
  {
  $amount=($artex_per[0]['amount']*$scout_percent/100);
  ?>
    <td align ="center" ><a href="<?php echo $this->url(array('controller'=>'Adminmanagepayment','action'=>'payforscout','id'=>$artex_per[0]['artwork_id'],'scout_amount'=>$amount))  ?>"><input type="button" name="button" id="button" value="Pay for Scout" /></a><?php } 
	}?></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>