<?php   //echo $this->msg;  


?>



<div class="inner-right-content"> 


	<h2 class="page-title">Manage Artwork Payment </h2>
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?></h3>

	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	<div class="searchconmain">
			<div class="searchconleft">
				
					&nbsp;
				
			</div>
			<div class="filterconmiddle" >
		<form action="<?php echo $this->url(array('controller'=>'adminmanagepayment', 'action'=>'paymentlist'),'default',true) ?>" method="post">
			 
			
			<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
	
			  <select name='bidder_id' id='bidder_id' class="search_box_small" style='margin-left: 5px;'>
			  	<option value=''> Select User</option>
			  <?php
			  		$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->getUsers();
					foreach($userVal as $user){ 
					?>
					<option value='<?php echo $user['id']?>' <?php echo $this->bidder_id==$user['id']?'selected':'' ?>><?php echo $user['first_name']?> <?php echo $user['last_name']?></option>
					<?php } ?>
					</select>
					 <select name='artwork_id' id='artwork_id' class="search_box_small">
			  	<option value=''>Select Artwork</option>
			  <?php
			  		$artstuff		= new Application_Model_DbTable_Artworkupload();
					$artVal	= $artstuff->getArtwork();
					foreach($artVal as $artwork){ 
					?>
					<option value='<?php echo $artwork['id']?>' <?php echo $this->artwork_id==$artwork['id']?'selected':'' ?>><?php echo $artwork['title']?></option>
					<?php } ?>
					</select>
		</form>

			</div>
			<div class="searchconright"></div>
		</div>
 
	</div>
<div class="white-box">
<div>

			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="5%"><center>S.R.No</center></th>	
				<th width="11%" nowrap="nowrap"><center>Artwork Title</center></th>
				<th width="10%"><center>Winner</center></th>
				<th width="15%" nowrap="nowrap">Buyers Premium</th>
				<th width="15%" nowrap="nowrap">
				<?php if($this->sortBy=='artwork_amount asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'artwork_amount desc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Artwork Amount</a>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'artwork_amount asc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Artwork Amount</a>
				<?php } ?>
				</th>
				<th width="14%" nowrap="nowrap">
				<?php if($this->sortBy=='scout_amount asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'scout_amount desc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Scout Amount</a>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'scout_amount asc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Scout Amount</a>
				<?php } ?>
				</th>
			<!--	<th width="19%" nowrap="nowrap"><center>
				<?php if($this->sortBy=='transaction_date asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'transaction_date desc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Payment Date</a>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagepayment','action'=>'paymentlist','sortBy'=>'transaction_date asc','artwork_id'=>$this->artwork_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>Payment Date</a>
				<?php } ?>
				</center></th>-->
				<th width="10%" nowrap="nowrap"><center>Supplier Amount
				</center></th>
               <th width="16%"><center>Action</center></th>
			    </tr>

					<?php $i=1;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><?php echo $i?></td>
					<?php
					$paymentstuff		= new Application_Model_DbTable_Artworkpayment();
					$paymentVal	= $paymentstuff->getPaymentCurlist($event['artwork_id']); 
					$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->selestuser($paymentVal[0]['bidder_id']);
					$Artwork_title		= new Application_Model_DbTable_Artworkupload();
					$ArtworkTitle	= $Artwork_title->getArtworkTitlelist($event['artwork_id']);
					?>
					<td align="left" valign="top" ><?php echo $ArtworkTitle[0]['title']?></td>
					<td width="10%" align="center"  valign="middle"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
                    <?php
					$BP=new Application_Model_DbTable_Artworkbidtransaction();
					$buyers_premium=$BP->getartworkBP($paymentVal[0]['id']);
					?>
					<td align="left" valign="top" >&pound; <?php echo $buyers_premium[0]['amount'];?></td>
                    <?php
					$artex_per=$BP->getartworkAP($paymentVal[0]['id']);
					?>
					<td align="left" valign="top" >&pound; <?php echo $artex_per[0]['amount'];?></td>
                    <?php
					$scout_per=$BP->getartworkSP($paymentVal[0]['id']);
					?>
					<td align="left" valign="top" >&pound; <?php echo $scout_per[0]['amount'];?></td>
				<!--	<td align="center" id="containerid"><?php echo $paymentVal[0]['transaction_date'];?></td>-->

					<td align="left" valign="top" ><center>&pound; <?php echo $paymentVal[0]['amount']?></center></td>
					<td align="left" valign="top" ><center><a href="<?php echo $this->url(array('controller'=>'adminmanagepayment', 'action'=>'viewpaymentlist','auid'=>$event['artwork_id']),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a></center></td>
					
					</tr>
					<?php  $i++;} if($i==1)
					{
					?>
					<tr>
				<td colspan='9'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					


					</tr>
			</table></form>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        