
<?php $namespace 	= new Zend_Session_Namespace(); $i=1; 
foreach($this->artworkuploadlisteventowner_model_result as $eventowner){ 
$owner_id=$eventowner['owner_id'];
}
					foreach($this->arraymerg as $eventfeed){  ?>
                    <script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
					<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){

	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);
/*$("body").click(function(){
$("#writeCommentBoxArea").fadeOut(500);
});
*/

$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});


});


});
$(document).ready(function(){
		//To switch directions up/down and left/right just place a "-" in front of the top/left attribute
		
		//Vertical Sliding
		$('.slidedown').hover(function(){
			$(".cover", this).stop().animate({top:'-148px'},{queue:false,duration:300});
		}, function() {
			$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
		});
			
			$(".fgtPass").click(function()	{
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".forgotPassBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"110px"});
			});
			$(".Bidnow").click(function()	{ 
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".BidBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
				$(".simplemodal-container").animate({"width":"350px"});
			});
			$(".recommend").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".ReportabuseBlock").hide();
				$(".RecommendBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".Message").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();$(".ReportabuseBlock").hide();
				$(".MessageBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
		
	});
</script>
                  <div id="showCommentBox" class="wd780" onmouseover="document.getElementById('show_review<?php echo $eventfeed['id']?>').style.display=''" onmouseout="document.getElementById('show_review<?php echo $eventfeed['id']?>').style.display='none'">
            <div class="showComment_title wd_150">
              <h2 class="font13 noMargin">Rate on this artwork</h2>
              <div class="ftrsBox wd180 marginT3 BorderNone">
           <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT2.jpg"></div>
        <div class="floatL marginL5 redTXT"><strong><?php echo $eventfeed['feedback_rate']==''?'0':$eventf['feedback_rate'];?></strong></div>
        <div class="floatL marginT3 marginL5">
          <div  class="<?php echo $eventfeed['feedback_rate']>=1?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventfeed['feedback_rate']>=2?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventfeed['feedback_rate']>=3?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventfeed['feedback_rate']>=4?'ratingHRThover':'ratingHRT'?>"></div>
          <div class="<?php echo $eventfeed['feedback_rate']>=5?'ratingHRThover':'ratingHRT'?>"></div>
        </div>
        
          </div>
            </div>
            <div class="showComment_comment wd500" >
              <h2 class="font13"><?php echo nl2br(stripslashes($this->Escape($eventfeed['feedback'])));?> (<span class="redTXT"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventfeed['user_id']));?>" class="redTXT"><?php echo  ucwords($eventfeed['username']);?></a></span>)</h2>
              <div class="clear"></div>
              <div id="show_review<?php echo $eventfeed['id']?>"  style="display:none">
              <strong class="small font13 marginT10 floatL"><span class="addComment">Was this review helpful to you ?</span></strong>
              <div class="clear marginB5"></div><!--// for yes 1 and for No 2 store in database-->
             
              <?php if ($namespace->email==''){?>
										 
										<div class="floatL"><span class='basic-modal'><a class="basic" title="Login" href="#"><img src="<?php echo $this->baseUrl();?>/images/yesBTN.png" /></a></span></div><div class="floatL  marginL5"><span class='basic-modal'><a class="basic" title="Login" href="#"><img src="<?php echo $this->baseUrl();?>/images/noBTN.png" /></a></span></div><?php } else {?>
              
               <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/yesBTN.png" onclick="helpreview('<?php echo $this->url(array('controller'=>'artworkdetails','action'=>'helpreview','artwork_id'=>$eventfeed['artwork_id'],'feedback_id'=>$eventfeed['id'],'review'=>'1'))  ?>','show_review<?php echo $eventfeed['id']?>')"/></div>
              <div class="floatL marginL5	"><img src="<?php echo $this->baseUrl();?>/images/noBTN.png" onclick="helpreview('<?php echo $this->url(array('controller'=>'artworkdetails','action'=>'helpreview','artwork_id'=>$eventfeed['artwork_id'],'feedback_id'=>$eventfeed['id'],'review'=>'2'))  ?>','show_review<?php echo $eventfeed['id']?>')"/></div><?php } ?>
              </div>
              <!-- write comment box here -->
             
              <!-- write comment box end here -->
            </div>
               <div class="showComment_icon wd_85"> 
                 <div class="floatL"> <?php if ($namespace->email==''){?>
										<span class='basic-modal'><a class="basic" title="Login" href="javascript:void(0)"> 
										Reprot Abuse </a></span><?php } else {?>
									<span class='basic-modal'><a class="Reportabuse basic" title="Message" href="javascript:void(0)" onclick="set_comment('<?php echo $eventfeed['id']?>')">  Reprot Abuse</a></span> <?php } ?></div> 
                <!-- <div class="floatL marginT5"><a href="#">Permalink</a></div>  -->  
                  <div class="clear"></div>
                 <!--<div class="floatL marginT5"><img src="<?php echo $this->baseUrl();?>/images/commentIcon.png" /></div>
                 <div class="floatL marginT5 marginL5"><a href="#">Comment</a></div>   -->      
               </div>
          </div> 
                 <? } ?>
				 <div id="more<?php echo $eventfeed['limit'];?>" class="morebox">
<a href="#" id="<?php echo $eventfeed['limit'];?>" class="more">more</a>
</div> 