<?php $namespace = new Zend_Session_Namespace();
$msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';?>
<script src="<?php echo $this->baseUrl();?>/js/profile/profile.js" type="text/javascript"></script>
 
<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
    <?php include 'headpart.phtml';?>
    <!-- welcome area end -->
    <!-- user Intro Area -->
    <div id="accountsUpdateArea">
        <h2>Update Your Account</h2>
        <hr class="LGHTBorder">
        <form method="post" name="profile" action="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'account'),'default',true)?>"  onsubmit="return checkUser();">
           <table width="700" border="0" cellpadding="2" cellspacing="2">
  <tbody>
  
  <tr>
    <td colspan="3"><div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div></td>
  </tr>
  <tr>
    <td colspan="3"><div align="center"><?php if(isset($this->msg)){echo $this->msg;}?> </div></td>
  </tr>
  <tr>
    <td colspan="3"><div class="floatL marginR5"><img src="<?php echo $this->baseUrl();?>/images/1331549057_Billing.png"></div><div align="left"><h3><span class="redTXT">Billing</span>  Information</h3></div></td>
  </tr>
   
  
  <tr>
    <td width="150"><div align="left">Address:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <?php echo $this->form->baddress;?> 
    </div></td>
  </tr>
  <tr>
    <td><div align="left">Country:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->bcountry;?></div></td>
  </tr>
  <tr>
    <td><div align="left">City:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->bcity;?></div></td>
  </tr>
  <tr>
    <td><div align="left">State:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->bstate;?></div></td>
  </tr>
  <tr>
    <td><div align="left">Zip Code: </div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->bzip;?></div></td>
  </tr>
  <tr>
    <td><div align="left">Phone Number: </div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->bphone;?></div></td>
  </tr>
   
  <tr>
    <td colspan="3"><div align="left" class="marginT10"><div class="floatL marginR5"><img src="<?php echo $this->baseUrl();?>/images/1331549066_shipping.png"></div><h3><span class="redTXT">Shipping</span> Information</h3>
    </div></td>
  </tr>
   
  <tr>
    <td><div align="left">Address: </div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->saddress;?></div></td>
  </tr>
  <tr>
    <td><div align="left">Country:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->scountry;?></div></td>
  </tr>
  <tr>
    <td><div align="left">City:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->scity;?></div></td>
  </tr>
  <tr>
    <td><div align="left">State:</div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->sstate;?></div></td>
  </tr>
  <tr>
    <td><div align="left">Zip Code: </div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->szip;?></div></td>
  </tr>
  <tr>
    <td><div align="left">Phone Number: </div></td>
    <td>&nbsp;</td>
    <td><div align="left"> <?php echo $this->form->sphone;?></div></td>
  </tr>
  <tr>
    <td colspan="3"><div align="left" class="marginT10"><div class="floatL marginR5"><img src="<?php echo $this->baseUrl();?>/images/1331549066_shipping.png"></div><h3><span class="redTXT">Credit Card</span> Information</h3>
    </div></td>
  </tr>
  <tr>
  
    <td>Credit Card Type :</td>
    <td>&nbsp;</td>
    <td><?php echo $this->form->creditcardtype;?></td>
  </tr>
  <tr>
    <td>Credit Card Number :</td>
    <td>&nbsp;</td>
    <td><?php echo $this->form->creditcardnumber;?></td>
  </tr>
  <tr>
    <td>Expiration Month :</td>
    <td>&nbsp;</td>
    <td><?php echo $this->form->exp_date_month;?><?php echo $this->form->exp_date_year;?></td>
  </tr>
 <!-- <tr>
    <td>Expiration Year :</td>
    <td>&nbsp;</td>
    <td><?php echo $this->form->exp_date_year;?></td>
  </tr>-->
  <tr>
    <td>CVV2 Number :</td>
    <td>&nbsp;</td>
    <td><?php echo $this->form->cvv_number;?></td>
  </tr>
  <tr>
    <td colspan="3"><div align="left" class="marginT10"><div class="floatL marginR5"><img src="<?php echo $this->baseUrl();?>/images/1331549069_paypal.png"></div><h3><span class="redTXT">Paypal</span> Information</h3></div></td>
  </tr>
  <tr>
    <td width="31%" align="left">User Name:</td>
    <td>&nbsp;</td>
    <td width="69%" align="left"><?php echo $this->form->paypal_username;?></td>
    </tr>
  <tr>
    <td align="left">Password:</td>
    <td>&nbsp;</td>
    <td align="left"><?php echo $this->form->paypal_password;?></td>
    </tr>
  <tr>
    <td align="left">Signature:</td>
    <td>&nbsp;</td>
    <td align="left"><?php echo $this->form->paypal_signature;?></td>
    </tr>
  <tr>
    <td><div align="left">Paypal Email:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <?php echo $this->form->pemail;?>
    </div></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
    <td>
    	<div align="left" style="padding-top: 8px;">
      		<input type="submit" name="submit" value=" ">
      		<input type="hidden" name="user_id" value="<?php echo $this->details[0]['id'];?>">
    	</div>    </td>
  </tr>
</tbody></table> 
</form>       
    </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <?php echo $this->render('profile/left_menu.phtml');?>
     
    <p class="clearer">&nbsp;</p>
    
  </div>
  