<?php $namespace = new Zend_Session_Namespace();

foreach($this->sectionlist_model_result as $event){ 
$sectionname=$event['section_name'];
$sectionid=$event['id'];
}

foreach($this->categorylist_model_result as $event){ 
$categoryname=$event['category_name'];
$categorydescription=$event['category_description'];
$categoryid=$event['id'];
}



$msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';?>


<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">Welcome back <span class="redTXT"><?php echo $this->userInfo[0]['first_name'];?></span></h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT"> ( <?php echo $msg;?> ) new messages</span><!-- <span class="redTXT">(2 urgent)</span> --> </div>
          <div class="floatL marginL20 marginT5"><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT"><?php echo $this->bidding[0]['bidding'];?> items</span> <span class="redTXT">(<?php echo $this->bidding[1];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->liveart[0]['liveart'];?> live artworks</span> <span class="redTXT">(<?php echo $this->liveart[1];?> ending soon)</span> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT"><?php echo $this->watchlist[0]['watchling'];?> items</span> <span class="redTXT">(<?php echo $this->watchlist[1]['watchling'];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->feedback[0]['newfeedback'];?> items of new feedback</span> </div>
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <!-- user Intro Area -->
    <div id="profileUpdateArea">
        <h2><?php echo ucwords(stripslashes($categoryname))?></h2>
        
        <hr class="LGHTBorder">
        <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
            <form method="post" name="profile" enctype="multipart/form-data" action="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'index'),'default',true)?>" onsubmit="return checkProfile()">
             <?php echo nl2br(html_entity_decode(htmlentities(stripslashes($categorydescription))))?>
    </form>    
        </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
     <?php echo $this->render('profile/left_menu.phtml');?>
     
    <p class="clearer">&nbsp;</p>
    
  </div>
  