  <?php 
$namespace 	= new Zend_Session_Namespace();

?>
<script>	</script>
           <div class="marginL10 floatL marginT20">
            <h2>Feedback Rating</h2>
                        <div class="floatL">
                          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/checkIcon.png" /></div>
                          <div class="floatL marginL10 marginT3 font17 greenTXT"><?php echo $this->positive ?></div>
                        </div>
                        <div class="floatL marginL20">
                            <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/okIcon.png" /></div>
                            <div class="floatL marginL10 marginT3 font17 greenTXT"><?php echo $this->ok ?></div>
                        </div>
                        <div class="floatL marginL20">
                            <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/negativeIcon.png" /></div>
                            <div class="floatL marginL10 marginT3 font17 redTXT"><?php echo $this->negative ?></div>
                        </div>
            </div>

@#@


                                   <div style="background-color:#B4BDC2;color: #666666;float:left; font-weight:bold;height:30px; padding-left: 10px;padding-top: 15px;width:799px;">
                                   <div style="float:left; width:280px;">Feadback</div>
                                   <div style="float:left; width:250px;">From / Price</div>
                                   <div style="float:left; width:250px;">Date</div>
                                   <input type="hidden" name="activetrans" id="activetrans" value='' /><input type="hidden" name="viewrans" id="viewrans" value='' /><input type="hidden" name="per_page" id="per_page" value="10"/><div id="viewtab" style="display: none;"></div>
                         <div id="current_view" style="display: none;"></div><div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'feedbackrating','id'=>$this->userid),'default',true);?></div></div>
                                   <?php $i=0;	foreach($this->paginator as $event){ 
									   $rate=new Application_Model_DbTable_Profile();
									   $img=$rate->artworkratestatus($event['wid']);
									   ?>
                                   <div style="color: #666666;float:left; height:30px; padding-left: 10px;padding-top: 15px;">
                                   <div style="float:left; width:25px;"><img src="<?php echo $this->baseUrl();?>/images/<?php echo $img?>" height="20" width="20" /></div>
                                   <div style="float:left; width:255px;"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> <br /></div>
                                   <?php 
									   $UserProfile=$rate->getUserProfile($event['bidder_id']);
									   ?>
                                   <div style="float:left; width:250px;"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['bidder_id']));?>"><?php echo ucwords($UserProfile[0]['first_name'])?> <?php echo ucwords($UserProfile[0]['last_name'])?></a>  / &pound; <?php echo $event['amount'];?></div>
                                   <div style="float:left; width:250px;"><?php echo date('d M Y ',strtotime($event['transaction_date']));?></div>
                                   </div>
                                    <?php	$i++; } if($i==0){?>
			<div style="color: #666666;float:left; height:30px; padding-left: 10px;padding-top: 15px;"><center><b>Record not found.</b></center> </div>
			 <?php }?> 
                 <!-- bottom pagination start here -->
		<div class="paginationArea marginT20">
			<div class="goTop cursorPointer">
				<!--<span class="floatL marginL10 marginT15"><img src="userartworkuploadlist_files/top_arrow.png"></span>-->
				
			</div>
			<div class="marginT3 marginR20" id="paging"><?php echo $this->paginationControl($this->paginator,'Elastic','/profile/pagination.phtml'); ?>
			</div>
		</div>
  	<!-- bottom pagination end here -->   


    
    
    
