<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){

	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);


$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});


});


});
$(".tip8").fancybox({
	'scrolling'		: 'no',
	'titleShow'		: false,
	'html'			: true,
	'onClosed'		: function() {
	    $("#login_error").hide();
	    $("#ac_error").hide();
	}
});
</script>
<?php $namespace 	= new Zend_Session_Namespace(); $i=1;?>
<div id="showCommentArea">
<?php  $j=1;
	foreach($this->comments as $eventf){ 
		if ($eventf['profile_image']=='') {
			$profile_imgComment = 'NoProfileImg_50x50.jpg';
		}else{
			$filenameC = 'images/profile_image/small/'.$eventf['profile_image'];
			if (file_exists($filenameC)) {
			    $profile_imgComment = $eventf['profile_image']; 
			} else { //
			    $profile_imgComment = 'NoProfileImg_50x50.jpg';
			}
		} 
?>	
          	<div id="showCommentBox" class="wd780">
            	<div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $profile_imgComment;?>"></div>
            	<div class="showComment_title">
              		<h2 class="font13 noMargin"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventf['user']));?>"><?php echo $eventf['first_name'];?></a></h2>
              		<span class="small font11"><?php echo isset($eventf['feedtime']) ? date('d/M/Y h:i:s',strtotime($eventf['feedtime'])) : '';?> </span>
              	</div>
              	<div class="showComment_comment wd500">
              		<h2 class="font13"><?php echo nl2br($this->Escape(stripslashes($eventf['feedback'])));?></h2>
              	<?php foreach($this->feedbackscomments as $eventfc){ 
              		 
              		if($eventfc['fcid']>0 && $eventfc['feedback_id']==$eventf['id']) {?>
               
            	
              		<div class="showComment_commentInside">
                		<div class="showComment_icon marginT10 marginL10"> <span class="floatL">0</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
                		<span class="floatL marginL5 marginT5"><img src="<?php echo $this->baseUrl();?>/images/browse_search/curve_arrow.png"></span>
                		<h2 class="floatL font13 marginT10 marginBN"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventfc['userID']));?>"><?php echo $eventfc['first_name'];?> </a><span class="small">(<?php echo $eventfc['cdate'];?>)</span></h2>
                		<span class="floatL small font11 marginL25 "><?php echo isset($eventfc['feedtime']) ? date('d/M/Y h:i:s',strtotime($eventfc['feedtime'])) : '';?></span>
                		<div class="clear"></div>
                		<h2 class="floatL font13 marginL25 marginT-25"><?php echo nl2br($this->Escape(stripslashes($eventfc['comment'])));?></h2>
              		</div>
              		<?php }}?>
		            <div class="clear"></div>
		           	<span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>  

	            </div>
	            
<!------------------------------ write comment box here ------------------------------>
		<div id="writeCommentBoxArea">  
			<form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'feedcomment','page'=>$this->page))  ?>" method="post" >
		    	<div class="writeCommentBox">
		        	<div class="cancel">
		        		<a href="javascript:void(0);"><img src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png" border="0" /></a>
		        	</div>
		            <div><textarea id='subcomment' name='subcomment'></textarea></div>
		            <div><input type='hidden' name='feedid' value="<?php echo $eventf['id'];?>">
		            <input type="hidden" name="id" value="<?php echo $this->userInfo[0]['id'];?>">
		            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
				  	<?php if ($namespace->email==''){?>
						<a class="tip8" title="Login" href="#login_frm"> 
						<input type="button" value="   " name='submit' id='submit' /> </a>
					<?php } else {?>
				  		<input type="submit" value=" " />
				  	<?php } ?>
				  	</div>
		        </div>
		    </form>
		</div>           
<!--------------------------- END write comment box here ------------------------------> 
	           	<div class="showComment_icon"> 
	           		<span class="floatL">20</span> 
           			<span class="floatL marginL10">
           				<img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg">
           					           		
		           		<a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'deletecomment', 'comment_id'=>$eventf['id'], 'action_name'=> $this->action_name, 'id'=> $this->userInfo[0]['id']),'default',true);?>">
		           			<img src="<?php echo $this->baseUrl();?>/images/browse_search/delete.png">
		           		</a>
		           		 
           			</span>
           		</div>
	         </div>
	         <?php $j++;}?>
	     </div>
	     <?php if($j>1) { ?> 
	     <div id="more<?php echo $eventf['limit'];?>" class="loadMoreBox"> <a class="red_pointer" href="#" id="<?php echo $eventf['limit'];?>">Load more</a> </div>
	     <?php } ?>
      </div>
<?php //} ?>