
<?php

$serchurl = BASE_URL."admin/autoselect";

?>

<?php   echo $this->msg;  ?>
<div class="inner-right-content"> 
<h2 class="page-title">Add Group</h2>
<div class="white-box">
<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>
<div class="white-box-cont">

<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        	<form action="<?php echo $this->url(array('controller'=>'group','action'=>'addgroup'),'default',true)?>" >
				<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				 	<tr> 
						 <td>Group name:</td> <td><input type="text" name="group_type" id="group_type"></td>
					</tr>
	        		<tr>
	        			 <td colspan="2" align="left"><input type="submit" name="submit" id="submit" value="Submit"></td>
	        		</tr>
           		</table>
        	</form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	
  
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        