<?php

$serchurl = BASE_URL."admin/autoselect";

?>

<?php   echo $this->msg;  ?>
<div class="inner-right-content"> 
	<form action="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true) ?>" method="post">
    	<h2 class="page-title">Set Permission:- <?php echo $this->g_id['group_type'];?>	 	 </h2>
    </form>
<div class="white-box">
<div class="white-box-cont">

<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        	<form action="<?php echo $this->url(array('controller'=>'group','action'=>'addgrouppermission'),'default',true)  ?>" name="" method="post">
				<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
					<tr>
						<th>Module</th>
						<th align="center">Yes</th>
						<th>No</th>
					</tr>
					  
					<tr> 
						 <td>My Wall</td><td><input type="radio" <?php if ($this->g_id['my_wall']=='yes'){echo 'checked="checked"';}?> name="wall" value="yes"> </td><td><input type="radio" <?php if ($this->g_id['my_wall']=='no'){echo 'checked="checked"';}?> name="wall" value="no"></td>
					</tr>
					  
					<tr> 
						 <td>Auction</td><td><input type="radio" checked="checked" <?php if ($this->g_id['auction']=='yes'){echo 'checked="checked"';}?> name="auction" value="yes"> </td><td><input type="radio" name="auction" <?php if ($this->g_id['auction']=='no'){echo 'checked="checked"';}?> value="no"></td>
					</tr>
					  
					<tr> 
						 <td>Upload Art Work</td><td><input type="radio" <?php if ($this->g_id['upload_aw']=='yes'){echo 'checked="checked"';}?> checked="checked" name="upload_art" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['upload_aw']=='no'){echo 'checked="checked"';}?> name="upload_art"></td>
					</tr>
					  
					<tr> 
						 <td>Collection</td><td><input type="radio" <?php if ($this->g_id['collection']=='yes'){echo 'checked="checked"';}?> name="collection" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['collection']=='no'){echo 'checked="checked"';}?> name="collection"></td>
					</tr>
					  
					<tr> 
						 <td>View Art Work</td><td><input type="radio" <?php if ($this->g_id['view_aw']=='yes'){echo 'checked="checked"';}?> name=view_art value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['view_aw']=='no'){echo 'checked="checked"';}?> name="view_art"></td>
					</tr>
					  
					<tr> 
						 <td>Manage Art Work</td><td><input type="radio" <?php if ($this->g_id['manage_aw']=='yes'){echo 'checked="checked"';}?> name="manage_art" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['manage_aw']=='no'){echo 'checked="checked"';}?> name="manage_art"></td>
					</tr>
					  
					<tr> 
						 <td>Watchlist</td><td><input type="radio" name="watchlist" <?php if ($this->g_id['watchlist']=='yes'){echo 'checked="checked"';}?> value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['watchlist']=='no'){echo 'checked="checked"';}?> name="watchlist"></td>
					</tr>
					
					<tr> 
						 <td>Bidding Status</td><td><input type="radio" <?php if ($this->g_id['view_bidding']=='yes'){echo 'checked="checked"';}?> name="bidding" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['view_bidding']=='no'){echo 'checked="checked"';}?> name="bidding"></td>
					</tr>
					
					<tr> 
						 <td>Message</td><td><input type="radio" <?php if ($this->g_id['message']=='yes'){echo 'checked="checked"';}?> name="message" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['message']=='no'){echo 'checked="checked"';}?> name="message"></td>
					</tr>
					  
					<tr> 
						 <td>User Profile</td><td><input type="radio" <?php if ($this->g_id['user_profile']=='yes'){echo 'checked="checked"';}?> name="profile" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['user_profile']=='no'){echo 'checked="checked"';}?> name="profile"></td>
					</tr>
					  
					<tr> 
						 <td>Art Work Approval</td><td><input type="radio" <?php if ($this->g_id['aw_approval']=='yes'){echo 'checked="checked"';}?> name="approval" value="yes"> </td><td><input type="radio" value="no" <?php if ($this->g_id['aw_approval']=='no'){echo 'checked="checked"';}?> name="approval"></td>
	        		</tr>
	        		
	        		<tr><td colspan="3" align="center"><input type="hidden" name="group_id" value="<?php echo $this->g_id['group_id'];?>"><input type="submit" name="submit" value="Submit" /></td></tr>
	           	</table>
	    	</form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	
  
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        