<?php  
	
	$namespace 	= new Zend_Session_Namespace();
	$userstuff	= new Application_Model_FbUser();
	$userIndex	= new Application_Model_FbProfileFuncions();
	$val		= $userstuff->userRec($namespace->userid);
	$country    = new Application_Model_FbCountry();
	$FbHome    	= new Application_Model_FbHomeProfile();
	$fbMeet    	= new Application_Model_FbLikeToMeet();
	$takeQuiz   = new Application_Model_FbDatingQuiz();
	
	//******** Javascript Functions 
	
	$js_search		= BASE_URL.'js/search_functions.js';
	$winks_function	= BASE_URL.'js/winks_function.js';
	$images			= BASE_URL.'images';	
	$js_fc_rel		= BASE_URL.'js/faceboxrel.js'; 
	$tooltip		= BASE_URL.'js/tooltip.js';
	$autoRefresh	= BASE_URL.'js/autoRefresh.js'; 

?>  
<script type="text/javascript" src="<?php echo $js_search?>"> </script>
<script type="text/javascript" src="<?php echo $winks_function?>"> </script>
<script type="text/javascript" src="<?php echo $js_fc_rel?>">   </script>
<script type="text/javascript" src="<?php echo $autoRefresh;?>"> </script>

<script> 
	
	  // When the document loads do everything inside here ...
	  $(document).ready(function(){
		// When a link is clicked
			$(".tabbed_area a.tab").click(function () {
			
			
			// switch all tabs off
			$(".tabbed_area .active").removeClass("active");
			
			// switch this tab on
			$(this).addClass("active");
			
			// slide all content up
			$(".tabbed_area .content").hide();
			
			// slide this content up
			var content_show = $(this).attr("title");
			$("#"+content_show).show();
		  
		});
	
	  });
	  
	  
	  


  </script>
  
      <div class="midd_column">
			 <div class="navigation2">
          <ul> 
            <li><a href="<?php echo BASE_URL.'home'; ?>" class="active"><span>Top Matches</span></a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'Home', 'action'=>'advancesearch'),'default',true) ; ?>" ><span>Search</span></a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'Home', 'action'=>'onlinenow'),'default',true) ; ?>"><span>Online Now!</span></a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'Home', 'action'=>'myfavorite'),'default',true) ; ?>" ><span>My Favourite</span></a></li>
          </ul>
        </div>
        <div class="navigation2_cont">
			<div id="top_matches_cont" class="nav2_content">
			<div class="paging"> 
			<div id="addScriptFacebox"></div>
			
			<div id="addScriptJS"></div>
				<?php
					if($this->indu_index!='')
					{
						echo '&nbsp;&nbsp;&nbsp;<a href="'.$this->backto.'" > << '.$this->HTTPmsg.'</a>';
					}
				?>
				<span class="paging_hd_txt" id='topLoader'> </span>
				<ul class="topPaging">
					
					<input type="hidden" name="hidd_index" id="hidd_index" value="<?php echo ($this->sessionInc!='' ? $this->sessionInc : '0'); ?>">
					<input type="hidden" name="hidd_index_prev" id="hidd_index_prev" value="<?php echo ($this->sessionInc!='' ? ($this->sessionInc) : '0'); ?>">
				  <?php
					
					$coun	= count($this->all_index);
					if($coun>0)
					{
						if($this->indu_index=='')
						{
							
								$topId	= $userIndex->getIndexArray($this->all_index,($this->sessionInc!='' ? ($this->sessionInc) : '0'));
								echo '<li id="prevProfile"><a href="#"  class="prev">Prev</a> </li>&nbsp;&nbsp;&nbsp;&nbsp;';
								echo '<li id="nxtProfile"><a href="#"  class="next">Next</a> </li>';
						}
						
					}
					if($this->indu_index!='')
						{
							$topId	= $this->indu_index;
						}
					//exit;
				  ?>
				 </ul>
			</div>
			<div class="clear"> </div>
			<?php
			//echo $this->indu_index.' '.$coun;exit;
			if($coun>0 || $this->indu_index!='' )
			{ 
			//echo $this->hiddTry;
			//exit;
			?>
			<div id="profile_hd_txt">
				<?php echo $FbHome->profile_hd_txt($topId,$this->hiddTry); ?>
			</div>
	
			<div class="clear"> </div>
			<div id="horizontal_tabs">
				<div class="basic-info-section" id="aboutMeProfile">
					<?php echo $FbHome->aboutMeProfile($topId); ?>					
				</div>
				<div class="tabbed_area">
					<ul class="tabs">
						
						<li><a href="javascript:void(0)" title="content_1" class="tab active">About Me</a></li>
						<?php
						$totImage	= $userstuff->SelectProfileImage($topId);
						if(count($totImage)>0)
						{ }
						?>
						<li><a href="javascript:void(0)" title="content_2" class="tab">
							<span id="tot_photos">Photos (<?php echo count($totImage); ?>)</span>
							</a></li>
						<?php  ?>
						<?php
						$totMeet	= $fbMeet->getUserMatchData($topId);
						
						if(count($totMeet)==1)
						{ }?>
						<li><a href="javascript:void(0)" title="content_3" class="tab">Who I'd Like to Meet</a></li>
						<?php  ?>
						<li><a href="javascript:void(0)" title="content_4" class="tab">Dating Quiz</a></li>
						<li><a href="javascript:void(0)" title="content_5" class="tab">Conversation</a></li>
					</ul>
					<div id="content_1" class="content" >
					
						<?php echo $FbHome->aboutMeProfile_txtArea($topId,'aboutme','About Me'); ?>
						
						<?php echo $FbHome->aboutMeProfile_txtArea($topId,'weekends','Friday or Saturday Nights I'); ?>
						
						<?php echo $FbHome->aboutMeProfile_interest($topId); ?>
					</div>
					<div id="content_2" class="content" >
						<div id="photoMeProfile">
						<?php echo $FbHome->photoMeProfile($topId); ?>
						</div>
					</div>
					<div id="content_3" class="content">
						<div id="likeToMeetProfile" >
							<?php echo $FbHome->likeToMeetProfile($topId); ?>
						</div>
					</div>
					<div id="content_4" class="content">
						<div id="datingProfile">
							<?php echo $FbHome->datingProfile($topId); ?>
						</div>
					</div>
					<div id="content_5" class="content">
						<div id="conversationProfile">
							<?php echo $FbHome->conversationProfile($topId); ?>
						</div>
					</div>
				</div>
		    </div>
			<?php 
			} 
			else
			{
				echo "<div style='padding: 50px 40px; color: #555; font-size: 18px; float:left'>Your prefferred matches not found . Which you have entered in 'Who I have Like to meet' section.
Try changing your filters for getting your 'Top Mathes' </div>";
				
			}
			?>
		  </div><!-- top matches ends -->
		  <!-- favorite content ends -->
		  
       </div><!-- navigation2 cont ends-->
      <!-- middle column end -->
      </div>
      <!-- middle column end -->
      <div class="right_column">
        <div class="advertise_box2"> <img src="<?php echo $images ?>/advertise_img1.jpg" />
          <p class="advertise_link" align="center"><a href="#">advertise with us</a></p>
        </div>
      </div>
      <!-- right column end -->
    </div>
    <!-- /content wrapper 2 -->
    <div class="clear"> </div>
  </div>
  <!-- /wrapper -->
</div>
<div id="alertdiv" style="display:none;z-index:1000;background:#e5e5e5;
position:absolute;width:200px;top:400px;left:500px;border:1px solid #c5c5c5;padding:5px;"></div>
<script>
var refreshId = setInterval(function()
			   { //alert('aaaaaa');
		   			$.ajax({
					url: "http://findbuddy.inoday.com/public/Home/favouritenotification/",
					//alert(data);
					success: function(data)
					{
						//alert(data);
						if(data != '')
						{
							$("#alertdiv").html(data).fadeIn(4000, function(){
								$("#alertdiv").fadeOut(2000);
								});
						}
					}
					});	 
			  }, 5000);
			/*$("#stop").click(function()
		    {
		    	clearInterval(refreshId);
		    });*/
</script>