<?php   //echo $this->msg;  



?>



<div class="inner-right-content"> 


<h2 class="page-title">Manage Artwork Category</h2>
			
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?></h3>
	<td align="right" >
	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	
	<div class="searchconmain">
			<div class="searchconleft">
				
					<div id="ad_sec_btn" style="float:left;"><a href="<?php echo $this->url(array('controller'=>'category', 
					'action'=>'addcategorylist'));?>">Add Category </a></div>
				
			</div>
			<div class="searchconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist')) ?>" method="get">
    	
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
        <input type="text"  id="squestion" name="searchelement" class="search_box" 
		  value="<?php echo $this->psquestion ?>" /> 	
        
</form>

			</div>
			<div class="searchconright"></div>
		</div>
		
	<div style="float:right;"></div></td>   
	</div>
<div class="white-box">
<div >

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="91%" class="members-list">
				<tr>
				<th width="4%" ><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th width="24%"  nowrap="nowrap"><center>
				<?php if($this->sortBy=='cat_name asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'cat_name desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'cat_name asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				
				Category Name</a></center></th>
				<th width="17%" nowrap="nowrap">
				<?php if($this->sortBy=='create_date asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'create_date desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'create_date asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>Create Date </a></th>
				<th width="23%"  nowrap="nowrap"><center>
				<?php if($this->sortBy=='modify_date asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'modify_date desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'modify_date asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				Modified Date</a></center></th>
                <th width="14%" ><center>
				<?php if($this->sortBy=='publish asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'publish desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'category','action'=>'categorylist','sortBy'=>'publish asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				
				Publish</a></center></th>
                <th width="18%" ><center>Action</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					
					<td align="center"  valign="middle"><?php echo ucwords($event['cat_name']);?></td>
					<td align="center" valign="middle" ><?php echo $event['create_date'];?></td>
					<td align="center" valign="middle" ><?php echo $event['modify_date'];?></td>
					<?php if($event['publish']=='1') {?>
					<td align="center" valign="middle" id="containerID"><a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'updateCategoryliststatus', 'msg'=>'', 'status'=>'0', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'updateCategoryliststatus', 'msg'=>'' ,'status'=>'1', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>

					<?php }?>
					<td align="center"><a href="<?php echo $this->url(array('controller'=>'category', 
					'action'=>'viewcategorylist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'addcategorylist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20"alt="Delete CMS" title="Click Here To Edit" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'deletecategorylist', 'id'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a></td>
					</tr>
					
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='6'><center><b>Record not found.</b></center></td>	
		      </tr>
					
					<?php
					}
					?>
					<tr>
					
					    
					     <td colspan='6'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'category', 'action'=>'updateCategoryliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'category', 'action'=>'updateCategoryliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'category', 'action'=>'deletecategorylist', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>
			        
			  </tr>



</table>
			</form>
	   </ul> 
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        