<div class="inner-right-content"> 

	<h2 class="page-title">Manage Category </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $i=0;
					foreach($this->categorylist_model_result as $event){ 
					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Category</div><a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'categorylist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Category Name:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo ucwords($event['cat_name']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Lft:</strong></td>
        <td><?php echo $event['lft'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Rgt:</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo $event['rgt'];?>
          </div></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Created Date:</strong></td>
        <td><?php echo $event['create_date'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Modified Date:</strong></td>
        <td><?php echo $event['modify_date'];?></td>
      </tr>
<?php }?>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>