<div class="inner-right-content"> 

	<h2 class="page-title">Manage Report Abuse </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php 
 $artworkstuff		= new Application_Model_DbTable_Artworkupload();
 $artworkfeed		= new Application_Model_DbTable_Artworkfeedbacks();
$abuselist=$this->abuselist_result;
$userstuff		= new Application_Model_Artuser();
$userVal	= $userstuff->selestuser($abuselist['user_id']); 

 $i=0;
	?>				
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Report Abuse</div><a href="<?php echo $this->url(array('controller'=>'reportabuse', 'action'=>'reportabuselist'))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
	 <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Type:</strong></td>

        <td  style='padding:5px'><?php echo stripslashes($abuselist['category']); ?>
          </td>
      </tr>
	  <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Name:</strong></td>
<?php $artworkVal	= $artworkstuff->getArtworkTitlelist($abuselist['artwork_id']); ?>
        <td  style='padding:5px'><?php echo ucfirst($artworkVal[0]['title']);?>
          </td>
      </tr>
	   <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Sender:</strong></td>

        <td  style='padding:5px'><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?>
          </td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>IP Address:</strong></td>

        <td width="344" style='padding:5px'><?php echo stripslashes($abuselist['ip']); ?></td>
      </tr>
       <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px;'><strong>Artwork Comment:</strong></td>
        <?php $artworkfeedVal	= $artworkfeed->getArtworkfeedbacksbyIdcomment($abuselist['feedback_id']); ?>
        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo stripslashes($artworkfeedVal[0]['feedback']); ?></div></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px;'><strong>Report Abuse:</strong></td>
        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo stripslashes($abuselist['message']); ?></div></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px;'><strong>Date:</strong></td>
        <td style='padding:5px'><?php echo date('M d, Y',strtotime($abuselist['create_date'])); ?></td>
      </tr>
     

    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>