  <?php
	$namespace 	= new Zend_Session_Namespace();
?> <div id="main">
    
    
        <!-- ** Begin left hand nav ** -->
        
        <div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>CATEGORIES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Painting</a></li>
                    <li><a class="red_pointer" href="#">Sculpture</a></li>
                    <li><a class="red_pointer" href="#">Photography</a></li>
                    <li><a class="red_pointer" href="#">Drawing</a></li>
                    <li><a class="red_pointer" href="#">Illustration</a></li>
                    <li><a class="red_pointer" href="#">Original Print</a></li>
                    <li><a class="red_pointer" href="#">Ceramics &amp; Pottery</a></li>
                    <li><a class="red_pointer" href="#">Other Media</a></li>
                </ul>
                
                <h3>AUCTION</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Ending soonest</a></li>
                    <li><a class="red_pointer" href="#">Newly listed</a></li>
                    <li><a class="red_pointer" href="#">Buy it now</a></li>
                </ul>
                
                <h3>SEARCHES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Locations</a></li>
                    <li><a class="red_pointer" href="#">Size</a></li>
                    <li><a class="red_pointer" href="#">Colours</a></li>
                    <li><a class="red_pointer" href="#">Medium</a></li>
                </ul>
                
                <h3>RATINGS</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Top Rated Artworks</a></li>
                    <li><a class="red_pointer" href="#">Top Rated Artists</a></li>
                </ul>
            </div> 
            
            <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
            </div>
            
            
             <div id="news" class="titlebar">
            	<h3>ARTEX NEWS</h3>
            
                <div class="news_sml event">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <div class="news_sml article">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>   
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />         
            </div>
            
        </div>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">
	  <a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'artworkupload'),'default',true);?>">ArtWork Upload</a><br />
	  <a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'payforartworkuploadlist'),'default',true);?>">Pay for ArtWork Upload</a><br />
	  <a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'userartworkuploadlist'),'default',true);?>">Manage ArtWork Upload</a><br />
	  <a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'index'),'default',true);?>">Manage Message </a><br />
	  <a href="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'myblog'),'default',true);?>">My Blog </a>
	  </div>
      
        <p class="clearer">&nbsp;</p> 

    </div>
