<script language="javascript" src="<?php echo $this->baseUrl()?>/js/validation.js" type="text/javascript"></script>
<script>
$(function() {
$(".showMsg a").mouseover(function(){
 $(this).siblings(".msgBox").fadeIn(200);
 
});
$(".showMsg a").mouseout(function(){
$(this).siblings(".msgBox").fadeOut(200);
});
});

</script>
        

<?php if(isset($this->error)){ echo $this->error ; }?>
<div class="inner-right-content">
<h2 class="page-title">Add Global Info</h2>		 
<form  action="<?php echo $this->url(array('controller'=>'adminmanageglobalinfo','action'=>'addglobalinfo','page'=>$this->page),'default',true)  ?>" method="post" name="myform" onsubmit="return savegift()">
<div class="message" style="text-align:center;" id="db_message"><?php echo $this->msg;  ?></div>
<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	   <table width="90%" border="0" cellpadding="6" cellspacing="6">
			<tr>
			  <td colspan="2" valign="top" ><strong class="gsubheading">General Site Info</strong> </td>
	     </tr>
	     <tr>
				<td width="30%" align="left" valign=top nowrap="nowrap">Title:</td>
			  <td width="70%"><div style="width:265px; height:25px"><input style='width:220px' type="text"  size="12" maxlength="50" name="title" id='title' value="<?php echo $this->title; ?>"><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> Set title of the site
              </div>
              </div>
            </div></div></td>
			</tr>
			<tr>
				<td width="30%" align="left" valign=top nowrap="nowrap">Meta Keyword:</td>
			  <td width="70%"><div style="width:265px; height:25px"><input style=width:220px type="text"  size="12" maxlength="50" name="meta_keywords" id='meta' value="<?php echo $this->meta_keywords; ?>"><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> Set Meta Keyword of the site for SEO
              </div>
              </div>
            </div></div></td>
			</tr>
			<tr>
			<td align="left" valign=top nowrap="nowrap">Meta Description:</td>
			<td><div style="width:475px;"><textarea  rows="6" cols="55"  wrap="physical" name="meta_description" id="description"  value=""><?php echo $this->meta_description; ?></textarea><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> Set Meta Description of the site for SEO
              </div>
              </div>
            </div></div></td>
			</tr>
			<tr>
				<td align="left" valign=top>Status:</td>
				<td valign=top>
				<input type="radio"  name="status" id="status" value="1" <?php if($this->status == 1){ echo "checked='checked'"; } ?> >online
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
				<input type="radio" name="status" id="status" value="0" <?php if($this->status == 0){ echo "checked='checked'"; } ?> >offline				</td>
			</tr>
			<tr>
				<td align="left" valign=top>Enable IP:</td>
				<td align="left"><input style=width:220px type="text" id="enable_ip"  size="12" maxlength="50" name="enable_ip" value="<?php echo $this->enable_ip; ?>"><br><span style="color: #757575;">Hint: Enter multiple IP seperated with comma( , ).</span></td>
			</tr>
			<tr>
			  <td align="left" valign=top>Offline Message: </td>
			  <td><textarea name="offline_message" id="offline_message" cols="60"  rows="5"  wrap="physical" value=""><?php echo $this->offline_message; ?></textarea></td>
	     </tr>
			<tr>
				<td align="left" valign=top>Admin Email:</td>
				<td align="left"><input style=width:220px type="text" id="admin_email"  size="12" maxlength="50" name="admin_email" value="<?php echo $this->admin_email; ?>"></td>
			</tr>
			<tr>
			  <td align="left" valign=top>Contact Email:</td>
			  <td align="left"><div style="width:265px; height:25px"><input name="contact_email" type="text" id="contact_email" style="width:220px" value="<?php echo $this->contact_email; ?>"  size="12" maxlength="50" /><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> This will be use for contact us mail and CC mails
              </div>
              </div>
            </div></div></td>
	     </tr>
			<tr>
			  <td align="left" valign=top>Moderator Email:</td>
			  <td align="left"><div style="width:265px; height:25px"><input name="moderator_email" type="text" id="moderator_email" style="width:220px" value="<?php echo $this->moderator_email; ?>"  size="12" maxlength="50" /><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">This will be use for moderation alerts 
              </div>
              </div>
            </div></div></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Join Us facebook link</td>
			  <td align="left"><input name="join_us" type="text" id="join_us" style="width:220px" value="<?php echo $this->join_us; ?>"  size="12" maxlength="50" /></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Follow Us Twitter Link</td>
			  <td align="left"><input name="follow_us" type="text" id="follow_us" style="width:220px" value="<?php echo $this->follow_us; ?>"  size="12" maxlength="50" /></td>
	  </tr>
			<tr>
			  <td colspan="2" valign=top>&nbsp;</td>
	     </tr>
		 <tr>
			  <td colspan="2" valign=top><div style="width:155px; height:25px"><strong  class="gsubheading">Image Details:</strong><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Setting for all images on Artex. In the site, there are four size of images. Small for thumbnail, Medium for profile page. Big for header scrolling banner and large for artwok details scrolling gallery.
              </div>
              </div>
            </div></div></td>
	     </tr>
		 <tr>
			  <td align="left" valign=top>Small Image</td>
			  <td align="left">Height&nbsp;	       
		      <input name="image_small_height" type="text" id="image_small_height"  value="<?php echo $this->image_small_height; ?>"  size="12" maxlength="50" class="stextbox"/> px&nbsp;&nbsp;&nbsp;Width&nbsp;	       
		      <input name="image_small_width" type="text" id="image_small_width"  value="<?php echo $this->image_small_width; ?>"  size="12" maxlength="50" class="stextbox"/> px</td>
	     </tr>
		 <tr>
			  <td align="left" valign=top>Medium Image</td>
			  <td align="left">Height&nbsp;	       
		      <input name="image_mid_height" type="text" id="image_mid_height"  value="<?php echo $this->image_mid_height; ?>"  size="12" maxlength="50" class="stextbox"/> px&nbsp;&nbsp;&nbsp;Width&nbsp;	       
		      <input name="image_mid_width" type="text" id="image_mid_width"  value="<?php echo $this->image_mid_width; ?>"  size="12" maxlength="50" class="stextbox"/> px</td>
	     </tr>
		 <tr>
		   <td align="left" valign=top>Big Image</td>
		   <td align="left">Height&nbsp;
             <input name="image_big_height" type="text" id="image_big_height"  value="<?php echo $this->image_big_height; ?>"  size="12" maxlength="50" class="stextbox"/>
px&nbsp;&nbsp;&nbsp;Width&nbsp;
<input name="image_big_width" type="text" id="image_big_width"  value="<?php echo $this->image_big_width; ?>"  size="12" maxlength="50" class="stextbox"/>
px</td>
      </tr>
		 <tr>
			  <td align="left" valign=top>Large Image</td>
			  <td align="left">Height&nbsp;	       
		      <input name="image_large_height" type="text" id="image_large_height"  value="<?php echo $this->image_large_height; ?>"  size="12" maxlength="50" class="stextbox"/> px&nbsp;&nbsp;&nbsp;Width&nbsp;	       
		      <input name="image_large_width" type="text" id="image_large_width"  value="<?php echo $this->image_large_width; ?>"  size="12" maxlength="50" class="stextbox"/> px</td>
	     </tr>
		 <tr>
		   <td align="left" valign=top>Artwork Image Size </td>
		   <td align="left"><label>
		     <input name="artwork_size" type="text" id="artwork_size" value="<?php echo $this->artwork_size; ?>"  size="12" maxlength="50" />
		   KB</label></td>
      </tr>
		 <tr>
		   <td align="left" valign=top>Profile Image Size </td>
		   <td align="left"><input name="profile_size" type="text" id="profile_size" value="<?php echo $this->profile_size; ?>"  size="12" maxlength="50" /> 
		     KB </td>
      </tr>
		 <tr>
		   <td align="left" valign=top>Image Type </td>
		   <td align="left"><input name="image_type" type="text" id="image_type" value="<?php echo $this->image_type; ?>"  size="12" maxlength="50" /> 
		     (Note: Add more with comma saprate) </td>
      </tr>
		 <tr>
		   <td colspan="2" align="left" valign=top>&nbsp;</td>
      </tr>
		 <tr>
		   <td colspan="2" align="left" valign=top><strong  class="gsubheading">Facebook Login  Details:</strong></td>
      </tr>
		 <tr>
		   <td align="left" valign=top>AppId</td>
		   <td align="left"><input name="app_id" type="text" id="app_id" style="width:220px" value="<?php echo $this->app_id; ?>"  size="12" maxlength="50" /></td>
      </tr>
		 <tr>
		   <td align="left" valign=top>Secret Key</td>
		   <td align="left"><input name="secret" type="text" id="secret" style="width:220px" value="<?php echo $this->secret; ?>"  size="12" maxlength="50" /></td>
      </tr>
		 <tr>
		   <td align="left" valign=top>Domain</td>
		   <td align="left"><input name="domain" type="text" id="domain" style="width:220px" value="<?php echo $this->domain; ?>"  size="12" maxlength="50" /></td>
      </tr>
			<tr>
			  <td colspan="2" valign=top><strong  class="gsubheading">Auction Details:</strong></td>
	     </tr>
			<tr>
			  <td colspan="2" valign=top><table width="100%" border="0" cellpadding="5" cellspacing="5">
                <tr>
                  <td width="31%" align="left">Auction Duration:</td>
                  <td width="69%" align="left"><div style="width:185px; height:25px"><input name="auction_duration" type="text" class="stextbox" id="auction_duration" value="<?php echo $this->auction_duration; ?>" size="12"  maxlength="50" /> Days<div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Sets the amount of time for the bidding process from  the moment the first bid is made on a listed artwork to the conclusion of the  auction process.</div>
              </div>
            </div></div>
                 </td>
                </tr>
				<tr>
                  <td width="31%" align="left">Advertising Duration:</td>
                  <td width="69%" align="left"><div style="width:185px; height:25px"><input name="advertising_auction_duration" type="text" class="stextbox" id="advertising_auction_duration" value="<?php echo $this->advertising_auction_duration; ?>" size="12"  maxlength="50" />
                  Days<div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">
                <p>Sets the  amount of time for which a listed artwork is promoted on the homepage carousel.</p>
              </div>
              </div>
            </div></div></td>
                </tr>
				<tr>
				  <td align="left">Listing Duration:</td>
				  <td align="left"><div style="width:185px; height:25px">
				    <input name="max_auction_duration" type="text" class="stextbox" id="max_auction_duration" value="<?php echo $this->max_auction_duration; ?>" size="12"  maxlength="50" />
				    Days
				    <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
				      <div class="msgBox" >
				        <div class="topArrow"></div>
				        <div class="midCont">Sets the maximum amount of time for which a listed  artwork remains visible on the website without receiving a bid (this includes  the advertising duration). After this time, the user must pay to relist the  artwork or it will be automatically deleted from the site.</div>
			          </div>
			        </div>
				    </div></td>
			    </tr>
                <tr>
                  <td align="left">Listing fee:</td>
                  <td align="left"><div style="width:185px; height:25px"><input name="auction_percent" type="text"  class="stextbox" id="auction_percent"  value="<?php echo $this->auction_percent; ?>" size="12"  maxlength="50"/><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Sets the fee for listing an artwork on the site. 
              </div>
              </div>
            </div></div></td>
                </tr>
                <tr>
                  <td align="left">Fee for setting artwork reserve</td>
                  <td align="left"><div style="width:185px; height:25px"><input name="auction_reserve_price" type="text"  class="stextbox" id="auction_reserve_price"  value="<?php echo $this->auction_reserve_price; ?>" size="12"  maxlength="50"/><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Sets the fee for placing a reserve price on an artwork. 
              </div>
              </div>
            </div></div></td>
                </tr>
                <tr>
                  <td align="left">Artex Sellers commission:</td>
                  <td align="left"><div style="width:185px; height:25px"><input name="auction_sold" type="text"  class="stextbox" id="auction_sold"  value="<?php echo $this->auction_sold; ?>" size="12" maxlength="50"/>
                  %<div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Commission paid to Artex as percentage of final sale price.
              </div>
              </div>
            </div></div></td>
                </tr>
                <tr>
                  <td align="left">Artex Buyers premium:</td>
                  <td align="left"><div style="width:185px; height:25px">
                    <input name="buyers_premium" type="text"  class="stextbox" id="buyers_premium"  value="<?php echo $this->buyers_premium; ?>" size="12" maxlength="50"/>
                    %
                    <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
                      <div class="msgBox" >
                        <div class="topArrow"></div>
                        <div class="midCont">This will be set for ArtEx buyers premium in % after sold an artwork. (Given by Buyer) </div>
                      </div>
                    </div>
                  </div></td>
                </tr>
                <tr>
                  <td align="left">Scout Percentage:</td>
                  <td align="left"><div style="width:185px; height:25px"><input name="scout_percent" type="text" id="scout_percent" value="<?php echo $this->scout_percent; ?>"  size="12" maxlength="50"  class="stextbox"/>
                  %<div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Percentage of final sale price commission received by Artex which is transferred to Scout 
              </div>
              </div>
            </div></div></td>
                </tr>
				<tr>
                  <td align="left" valign="top"><div style="width:95px; height:25px">  Bid Interval:<div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">This will be set for Bid Increament according to artwork price. And artwork price divide in four slots. 
              </div>
              </div>
            </div></div></td>
                  <td align="left">&nbsp;               </td>
                </tr>
				<?php $bid_interval = $this->bid_interval;?>
				<tr>
                  <td align="left" valign="top">Slot 1 &pound;10-  &pound;100:</td>
                  <td align="left">  <input name="bid_interval[]" type="text" id="slot1" value="<?php echo $bid_interval[0]; ?>"  size="12" maxlength="50"  class="stextbox"/>                 </td>
                </tr>
				<tr>
                  <td align="left" valign="top">Slot 2  &pound;101-  &pound;500:</td>
				  <td align="left"><input name="bid_interval[]" type="text" id="slot2" value="<?php echo $bid_interval[1]; ?>"  size="12" maxlength="50"  class="stextbox"/>                 </td>
                </tr>
				<tr>
                  <td align="left" valign="top">Slot 3 &pound;501 - &pound;1000:</td>
				 <td align="left"> <input name="bid_interval[]" type="text" id="slot3" value="<?php echo $bid_interval[2]; ?>"  size="12" maxlength="50"  class="stextbox"/>                 </td>
                </tr>
				<tr>
                  <td align="left" valign="top">Slot 4  above &pound;1001:</td>
				 <td align="left"> <input name="bid_interval[]" type="text" id="slot4" value="<?php echo $bid_interval[3]; ?>"  size="12" maxlength="50"  class="stextbox"/>                 </td>
                </tr>
				<tr>
				  <td align="left" valign="top">Ending Soon </td>
				  <td align="left"><div style="width:185px; height:25px"> <input name="ending_soon" type="text" id="ending_soon" value="<?php echo $this->ending_soon; ?>"  size="12" maxlength="50"  class="stextbox"/>				    
			      Days  <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a><div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">Max amount of days remaining for artworks in 'Ending soonest' category.
              </div>
              </div>
            </div></div></td>
			    </tr>
			    <tr>
                  <td align="left">Reminder Days:</td>
                  <td align="left"><div style="width:185px; height:25px"> <input name="reminder" type="text" id="reminder" value="<?php echo $this->reminder ?>"  size="12" maxlength="50" class="stextbox"/>
                  Days <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a><div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">No. of days from auction ending before payment reminder sent to buyer. 
              </div>
              </div>
            </div></div></td>
                </tr>
			    <tr>
			      <td align="left">Claim Days:</td>
			      <td align="left"><input name="claim" type="text" id="claim" value="<?php echo $this->claim ?>"  size="12" maxlength="50" class="stextbox"/>		          
		          Days </td>
		        </tr>
              </table></td>
	     </tr>
			<tr>
			  <td colspan="2" valign=top>&nbsp;</td>
	     </tr>
			<tr>
			  <td colspan="2" valign=top><div style="width:170px; height:25px"><strong  class="gsubheading">Payment Details:</strong><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a><div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">This will be set for admin payment details for receiving payment. 
              </div>
              </div>
            </div></div></td>
	     </tr>
			<tr>
			  <td colspan="2" valign=top><table width="100%" border="0" cellpadding="5" cellspacing="5">
                <tr>
                  <td width="31%" align="left">User Name:</td>
                  <td width="69%" align="left"><input name="username" type="text" id="username" style="width:220px" value="<?php echo $this->username ?>"  size="12" maxlength="50" /></td>
                </tr>
                <tr>
                  <td align="left">Password:</td>
                  <td align="left"><input name="password" type="password" id="password" style="width:220px" value="<?php echo $this->password ?>"  size="12" maxlength="50" /></td>
                </tr>
                
                <tr>
                  <td align="left">Signature:</td>
                  <td align="left"><input name="signature" type="text" id="signature" style="width:220px" value="<?php echo $this->signature ?>"  size="12" maxlength="100" /></td>
                </tr>
                <tr>
                  <td align="left"><strong style="color:#FF0000">OR</strong></td>
                  <td align="left">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" nowrap="nowrap">Merchant Email: </td>
                  <td align="left"><input name="merchant_email" type="text" id="merchant_email" style="width:220px" value="<?php echo $this->merchant_email ?>"  size="12" maxlength="50" /></td>
                </tr>
                <tr>
                  <td colspan="2" valign="top"><div style="width:198px; height:25px"><strong  class="gsubheading">Credit Card  Details:</strong>
                      <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
                      <div class="msgBox" >
                        <div class="topArrow"></div>
                        <div class="midCont">This will be set for admin Credit Card details for  payment. </div>
                      </div>
                    </div>
                  </div></td>
                </tr>
                <tr>
                  <td valign="top">Credit Card Type:</td>
                  <td valign="top"><select class="signup_input" style="width:240px;" id="creditcardtype" name="creditcardtype">
    <option  label="Visa" value="Visa" <?php echo $this->creditcardtype=='Visa'?'selected':'' ?>>Visa</option>
    <option label="MasterCard" value="MasterCard" <?php echo $this->creditcardtype=='MasterCard'?'selected':'' ?>>MasterCard</option>
    <option label="Discover" value="Discover" <?php echo $this->creditcardtype=='Discover'?'selected':'' ?>>Discover</option>
    <option label="Amex" value="Amex" <?php echo $this->creditcardtype=='Amex'?'selected':'' ?>>Amex</option>
</select></td>
                </tr>
                <tr>
                  <td valign="top">Credit Card Number:</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->creditcardnumber ?>" id="creditcardnumber" name="creditcardnumber"></td>
                </tr>
                <tr>
                  <td valign="top">Expiration Month:</td>
                  <td valign="top"><select class="signup_input" style="width:240px;" id="exp_date_month" name="exp_date_month">
                  <?php for($i=1;$i<=12;$i++)
				  { ?>
    <option label="<?php echo $i?>" value="<?php echo $i?>" <?php echo $this->exp_date_month==$i?'selected':'' ?>><?php echo $i?></option>
    			<?php } ?>
   </select></td>
                </tr>
                <tr>
                  <td valign="top">Expiration Year:</td>
                  <td valign="top"><select class="signup_input" style="width:240px;" id="exp_date_year" name="exp_date_year">
                  <?php for($y=date('Y');$y<=date('Y')+10;$y++)
				  { ?>
    <option label="<?php echo $y?>" value="<?php echo $y?>" <?php echo $this->exp_date_year==$y?'selected':'' ?>><?php echo $y?></option>
    			<?php } ?>
    
</select></td>
                </tr>
                <tr>
                  <td valign="top">CVV2 Number:</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->cvv_number ?>" id="cvv_number" name="cvv_number"></td>
                </tr>
                <tr>
                  <td valign="top">Card Holder First Name</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->C_first_name ?>" id="C_first_name" name="C_first_name" /></td>
                </tr>
                <tr>
                  <td valign="top">Card Holder Last Name</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->C_last_name ?>" id="C_last_name" name="C_last_name" /></td>
                </tr>
                <tr>
                  <td valign="top">Address- Street</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->street ?>" id="street" name="street" /></td>
                </tr>
                <tr>
                  <td valign="top">Address- City</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->city ?>" id="city" name="city" /></td>
                </tr>
                <tr>
                  <td valign="top">Address- State</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->state ?>" id="state" name="state" /></td>
                </tr>
                <tr>
                  <td valign="top">Address- Zip</td>
                  <td valign="top"><input type="text" class="signup_input" style="width:240px;" size="35" value="<?php echo $this->zip ?>" id="zip" name="zip" /></td>
                </tr>
                <tr>
                  <td valign="top">Address- Country Code</td>
                  <td valign="top"><select  name=country  id="country">
						 <?php
						  $allgroup	=	new Application_Model_DbTable_ArtCountry();
							$record		=	$allgroup->getcountryName();
							for ($c=0;$c<count($record);$c++) { 
							?>
							<option value="<?php echo $record[$c]['code']?>"><?php echo $record[$c]['country'];?></option>
							
						<?php	}
						 ?></select></td>
                </tr>
              </table></td>
	     </tr>
			<tr>
				<td colspan="2" align="center" style="height: 68px;">
					
					<input type="hidden" name="id" value="<?php echo $this->id; ?>">
					<?php if(empty($this->id))
					{
					?>
						<input type="submit" name="submit" value="Save" />
					<?php
					} else { ?>
						<input type="submit" name="edit" value="Update" />
					<?php } ?>
					<!--<input align="right" type="button" value="Cancel" onClick="history.go(-1);return false;" />-->
<a href="<?php echo BASE_URL; ?>/admin/home"><input align="right" type="button" value="Cancel" onclick=" "/></a>
	</table>

				
</form>			
</div>
			