<?php $namespace 	= new Zend_Session_Namespace(); ?> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/css/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/login/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#del_chk_msg').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$('#move').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to move')
			return false;
		}
		if(!confirm('Are you sure to move message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>
<div id="main">
	<!-- ** Begin left hand nav ** -->


       	 <?php echo $this->render('profile/left_menu.phtml');?>

	<!-- ** End left hand nav ** -->
	<form name="email_delete" id="email_delete" action="#" >	
	    <div id="messagesInboxArea">
	    	<div class="mailControlArea">
	        	<div class="floatL marginT7 marginL10"><h3>INBOX</h3></div>
	            <div class="floatR marginT5 marginR10"><input name="move" id="move" type="submit" value=" " class="move"></div>
	            <div style="border-left:1px dashed #666666;" class="floatR marginT5 marginR10 paddingL10">
	            	<select class="select" name='folder_name' id='folder_name'>
	                	<?php foreach($this->viewfolders as $event ) 
						{ ?>
                	<option value='<?php echo $event['id']?>'><?php echo $event['folder_name']?></option>
					<?php }
					?>
	               	</select>
	            </div>
	            <div class="floatR marginT5 marginR10"><input type="submit" value=" " name="del_chk_msg" id="del_chk_msg" class="delete"></div>
	        </div>
	       <?php  $j=1; 
			if(count($this->paginator)>0)
			{
				foreach($this->paginator as $key =>$val ) 
				{ if($j%2!=0){$class = 'mailAreaLight';}else{$class = 'mailAreaDark';}?>
	      	<!-- rows start -->
	        <div class="<?php echo $class;?>">
	        	<div class="floatL paddingT3"><input type="checkbox" name="chk_del[]" value="<?php echo $val['msg_id']?>" style="margin: 3px 3px 3px 4px;"></div>
	            <div class="floatL paddingT6 marginL10 wd500 cursorPointer">
                <?php  if($val['sender_id']=='0') { echo "Administartor"; } else {
					?>
                 
	            	<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$val['sender_id']));?>"><?php echo ucfirst($val['first_name']).' '.$val['last_name'];?></a>
                    <?php } ?>
	            	<a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'read','id'=>$val['msg_id'],'ind'=>'3'),'default',true) ; ?> ">
						Next step: Read <?php echo ucfirst($val['first_name'])?>'s message 
					</a>
	            </div>
	            <div class="floatL paddingT6 marginL10">
				<?php if($val['read_status']==1){ ?>
					<img src="<?php echo $this->baseUrl()?>/images/read.png" style="width:16px;height:16px" >
				<?php } else{?>
					<img src="<?php echo $this->baseUrl();?>/images/unread.png" style="width:16px;height:16px" >
				<?php }?>
				</div>
				
	            <div class="floatR paddingT6 marginR10"><?php echo date('M d, Y',strtotime($val['receive_date'])); ?></div>
	            <div class="floatR paddingT6 marginR10 lightCol">
					 
					<?php 
					$day = round((strtotime(date('Y-m-d'))- strtotime($val['receive_date']))/86400); 
					if($day<1){ echo 'Sent today';}
					else { echo $day.' days ago.'; }
					?> 
				</div>
	        </div>
	        <?php $j++;} 
			}else
			{
				echo "<div style='padding: 50px 40px; color: #555; font-size: 18px; float:left'>You currently have no emails</div>";
			}?>
	        <!-- rows end -->
	        
	       
	        <!-- pagination start here -->
	        <div class="wd800" id="fullpaginationArea">
	           	<div class="leftpagi"></div>
	            <div class="midpagi wd770">
	            	<div class="marginT3 marginR10"> 
	            		<?php  echo $this->paginationControl($this->paginator,'Sliding','message/pagination.phtml'); ?>
	            	</div>
	            </div>
	           <div class="rightpagi"></div>
	        </div>
	      <!-- pagination end here -->
		</div>
	</form>	
    <p class="clearer">&nbsp;</p> 
</div>