<?php $namespace 	= new Zend_Session_Namespace(); ?> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/css/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/login/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#email_delete').submit(function()
	{
		var arr	=	$(this).serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>
<div id="main">
	<!-- ** Begin left hand nav ** -->
      <?php echo $this->render('profile/left_menu.phtml');?>
	<!-- ** End left hand nav ** -->
	<form name="create_folder" id="create_folder" action="#" >	
	    <div id="messagesInboxArea">
	    	<div class="mailControlArea">
	        	<div class="floatL marginT7 marginL10"><h3>Create Folder</h3></div>
	        </div>
	       
			 
	      	<!-- rows start -->
	        <div class="mailAreaLight">
	        	<input type="text" name="folder" id="folder" />
			<input name="create" id="create" type="submit" value="Create" >
	        </div>
	         
	        <!-- rows end -->
	        
	       
	         
	      <!-- pagination end here -->
		</div>
	</form>	
    <p class="clearer">&nbsp;</p> 
</div>