<?php   //echo $this->msg;  


?>



<div class="inner-right-content"> 

<h2 class="page-title">Manage Message </h2>


		
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?></h3>
	
	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	
	<div class="searchconmain">
			<div class="searchconleft">
				
					&nbsp;
				
			</div>
			<div class="filterconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'message','action'=>'messagelist')) ?>" method="get">
    	       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
      <!--  <input type="text"  id="squestion" name="searchelement" class="search_box" 
		  value="<?php echo $this->psquestion ?>" /> -->	
		  <select name='sender_id' id='sender_id' class="search_box_small"  style='margin-left: 5px;'>
			  	<option value=''> Select Sender</option>
                <option value='0' <?php echo $this->sender_id=='0'?'selected':'' ?>>Administrator</option>
			  <?php
			  		$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->getUsers();
					foreach($userVal as $user){ 
					?>
					<option value='<?php echo $user['id']?>' <?php echo $this->sender_id==$user['id']?'selected':'' ?>><?php echo $user['first_name']?> <?php echo $user['last_name']?></option>
					<?php } ?>
					</select>
        <select name='receiver_id' id='receiver_id' class="search_box_small">
			  	<option value=''> Select Receiver</option>
			  <?php
			  $userstuff		= new Application_Model_Artuser();
					$ruserVal	= $userstuff->getUsers();
					foreach($ruserVal as $ruser){ 
					?>
					<option value='<?php echo $ruser['id']?>' <?php echo $this->receiver_id==$ruser['id']?'selected':'' ?>><?php echo $ruser['first_name']?> <?php echo $ruser['last_name']?></option>
					<?php } ?>
					</select>
</form>

			</div>
			<div class="searchconright"></div>
		</div>
  
	</div>
<div class="white-box">
<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="13%"><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th><center>
				<?php if($this->sortBy=='subject asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'message','action'=>'messagelist','sortBy'=>'subject desc','squestion'=>$this->psquestion,'sender_id'=>$this->sender_id,'receiver_id'=>$this->receiver_id)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'message','action'=>'messagelist','sortBy'=>'subject asc','squestion'=>$this->psquestion,'sender_id'=>$this->sender_id,'receiver_id'=>$this->receiver_id)) ?>" id='linkhead'>
				<?php } ?>
				Subject</a></center></th>
				<th width="15%">Receiver</th>
				<th width="15%">Sender</th>
				<th width="15%"><center>
				<?php if($this->sortBy=='receive_date asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'message','action'=>'messagelist','sortBy'=>'receive_date desc','squestion'=>$this->psquestion,'sender_id'=>$this->sender_id,'receiver_id'=>$this->receiver_id)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'message','action'=>'messagelist','sortBy'=>'receive_date asc','squestion'=>$this->psquestion,'sender_id'=>$this->sender_id,'receiver_id'=>$this->receiver_id)) ?>" id='linkhead'>
				<?php } ?>
				Receive Date</a></center></th>

                
                <th width="21%"><center>Action</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					
					<td width="21%" align="center"  valign="middle"><?php echo ucwords($event['subject']);?></td>
					<?php $userVal_rec	= $userstuff->selestuser($event['receiver_id']);  ?>
					<td align="left" valign="top" ><?php echo ucfirst($userVal_rec[0]['first_name']).' '.$userVal_rec[0]['last_name'];?></td>
					<?php if($event['sender_id']=='0'){ 
					?>
					<td align="left" valign="top" >Administrator</td>
                    <?php } else { $userVal	= $userstuff->selestuser($event['sender_id']); ?>
					<td align="left" valign="top" ><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
					<?php } ?>
				
					<td align="center" id="containerID"><?php echo date('M d, Y',strtotime($event['receive_date'])); ?></td>
					
					<td width="21%" align="center">
							<a href="<?php echo $this->url(array('controller'=>'message', 
					'action'=>'viewmessagelist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'deletemessage', 'id'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>							</td>
					</tr>
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='7'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					<tr>
					
				    
					     <td colspan='5'> 
						  <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'message', 'action'=>'deletemessage' ),'default',true)  ?>"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>


			  </tr>


					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        