<?php 
	$namespace 	= new Zend_Session_Namespace();
	$messages	= new Application_Model_ArtInbox();
	$msg_cont	= $messages->myIndmessage($this->msgId);
	$userstuff		= new Application_Model_Artuser();
	$userVal	= $userstuff->selestuser($msg_cont[0]['sender_id']); 
?>
<script type="text/javascript">
$(document).ready(function(){
	$('#del_chk_msg').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	$('#reply').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
			
	});
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>
<div id="main">
	<!-- ** Begin left hand nav ** -->
     <?php echo $this->render('profile/left_menu.phtml');?>
	<!-- ** End left hand nav ** -->
	<form name="email_delete" id="email_delete" action="#" method='post' >	
	    <div id="messagesInboxRead">
           <div class="mailControlArea">
             <div class="floatL marginT7 marginL10"><h3>Inbox</h3></div>
              <div class="floatR marginT7 marginR10">
              	<?php
				if(empty($this->Ctype))
				{ ?>
					<a class="lightCol" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index','ind'=>'3'),'default',true) ; ?> " class="active">
						<< Back to Inbox
					</a>
				<?php } 
				else { ?>
					<a class="lightCol" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent','ind'=>'3'),'default',true) ; ?> " class="active">
						<< Back to Sent
					</a>
				<?php } ?>
              </div>
        </div>
             <div class="clear marginB10"></div>
     <!-- mail compose -->
     <div class="floatL paddingL10 paddingR10 wd780">
           <div class="wd100 floatL">From :</div>
           <div class="floatL darklTXT">
           <?php  if($msg_cont[0]['sender_id']=='0') { echo "Administartor"; } else {
					?>
           <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$msg_cont[0]['sender_id']));?>"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></a> <?php }?></div>
           <div class="clear marginB5"></div>
           <div class="wd100 floatL">Sent :</div>
           <div class="floatL darklTXT"><?php echo date('l ,M d, Y h:i:s A',strtotime($msg_cont[0]['receive_date'])); ?></div>
           <div class="clear marginB5"></div>
        <div class="wd100 floatL">Subject :</div>
           <div class="floatL darklTXT"><?php echo stripslashes($msg_cont[0]['subject']); ?></div>
           <div class="clear marginB10"></div>
           <hr class="BLKBorder"/>
           <div class="floatL darklTXT marginT10"><?php echo stripslashes($msg_cont[0]['message']); ?></div>
        <div class="clear marginT15 marginB10"></div>
           <div class="floatR"><input type='hidden' value='<?php echo $msg_cont[0]['id']?>' name='del_id' id='del_id' /> <input type="submit" value=" " class="delete" name="del_chk_msg" id="del_chk_msg"/></div>
            <div class="floatR marginR10"><?php  if($msg_cont[0]['sender_id']=='0') {} else {
					?><input type="submit" value=" " class="reply" name="reply" id="reply"/><?php } ?></div>
          </div>
        <!-- mail compose end -->
          
       
       
      </div>
	</form>	
    <p class="clearer">&nbsp;</p> 
</div>