<?php 
$namespace 	= new Zend_Session_Namespace();
?>
<div style="display:none" >
	<form id="login_frm" action="" method="post" >
    	<p id="login_error">Please, Login or Register to do this action</p><p id="ac_error" style="display: none; color: #FF0000;">Login ID or password not matched!</p>
    	<table>
    		<tr>
    			<td><label for="login_name">Login: </label></td><td><input type="text" class="signup_input" style="width:168px;" size="25" id="logemail" name="logemail" /></td>
    		</tr>
    	
			<tr>
    			<td><label for="login_pass">Password: </label></td><td><input type="password" class="signup_input" style="width:168px;" size="25" value="" id="pass" name="pass" /></td>
    		</tr>
			 
			 <tr>
    			<td colspan="2"><input type="submit" class="sign_up_submit" style="width: 58px;" value="login" id="login" name="login"></td>
    		</tr>
			<tr>
    			<td colspan="2">New User <a href='<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>'>Register here</a></td>
    		</tr>	
	 	</table>
	</form>
</div>
<div id="main"> <div  class="midd_column">
	<div class="clear"></div>
  <div class="main-body-box" style="float:left; background:none; height:auto;">
	 <div class="text-box" style="float:left;">
     <div id="main_blog_frame_top"></div>
	 <div class="ulbox" style="background:url(<?php echo BASE_URL;?>/images/outer_blog_framebox_mid.png) repeat; height:100%; float:left; width:104%;">
	 <ul>	
		<div class="clear"></div>
			<div id="outer_blog_group_area">
				<div class="outer_blog_box_left">
				<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$this->blogMeview['creator']));?>">
			<?php if(($this->blogMeview['image'])!=''){  ?>
<img src="<?php echo BASE_URL.'images/blog_images/'.$this->blogMeview['image']; ?>"   height='50' width='50'/>
<?php }else  { ?>
			<img style="float:left;" src="<?php echo BASE_URL?>/images/NoProfileImg_50x50.jpg" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>" height='50' width='50'/>									
<?php } ?></a>
		</div>
			  <div class="outer_blog_box_mid">
		<ul style="margin-right:30px; text-align:justify;">
        <li><span style="font-size:20px; color:#CC0000;"><?php echo $this->getviewablog['title']; ?></span></li>
		<?php
		if($this->getviewablog['creator']==0)
		{?>
        <li><span style="font-size:18px; color:#006699;">Administrator</span></li>
		<?php }
		else
		{
		$userstuff		= new Application_Model_Artuser();
		$userVal	= $userstuff->selestuser($this->getviewablog['creator']); 
		?>
        <li><span style="font-size:18px; color:#006699;"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$this->getviewablog['creator']));?>"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'] ;?></a></span></li>
		<?php } ?>
        <li><span style="font-size:12px; color:#666666;"><?php echo nl2br($this->Escape($this->getviewablog['description']));?></span></li>
        <li style="text-align:right; border-top:1px dashed #CCCCCC;">
		<div style="font-size:11px; float:left; color:#0066FF;"> <?php if ($namespace->email==''){?>
		  <a class="tip8" title="Login" href="#login_frm"> <img src="<?php echo BASE_URL?>images/comment_btn.jpg"  /></a>
			<?php } else {?>
        <a  href="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'viewablog','blog_id'=>$this->getviewablog['id'],'bloguser_id'=>$namespace->userid),'default',true);?>"  /><img src="<?php echo BASE_URL?>images/comment_btn.jpg"  /></a>
		<?php } ?></div>
        <div style="font-size:11px; float:right; color:#000;">Date: <?php echo date('Y-m-d',strtotime($this->getviewablog['create_date']))?></div></li>
        </ul>
		 </div>
					        </div>
				  
					</ul>
					<?php if(!empty($this->commentto)){ ?>
                    <div style="width:90%; padding-top:50px;margin:auto;">
        <div class="ad_title" style="padding-bottom:15px;"><img src="<?php echo BASE_URL?>images/comment_icon2.jpg"  />User's <span style="font-size:24px; color:#333333;">Comment</span><hr style="border:1px dashed #CCCCCC;" /></div>
      
		<?php foreach($this->commentto as $comm){ ?>
        	<!-- member comment start from here -->
            <div id="outer_comments_area">
			   <div class="comment_mem_img">
						<?php if(($comm['img_name'])!=''){  ?>
			<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$comm['user_id']));?>" 
				   class="tooltip" title="View Profile of <?php echo ucfirst($comm['first_name']).' '.$comm['last_name'];?>">
			  <img src="<?php echo BASE_URL ?>timthumb.php?src=<?php echo BASE_URL.'uploads/'.$comm['img_name']; ?>&h=80&w=80&zc=1" alt="'.ucfirst($comm['firstname']).''.$comm['lastname'].'"/>
			</a>
			  <?php }else  { ?>
			   <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$comm['user_id']));?>" 
				   class="tooltip" title="View Profile of <?php echo ucfirst($comm['firstname']).' '.$comm['lastname'];?>">
			<img style="float:left;" src="<?php echo BASE_URL?>/images/NoProfileImg_50x50.jpg" alt="<?php echo ucfirst($comm['first_name']).' '.$comm['last_name'];?>" height='50' width='50'/>									
			</a>
			  <?php } ?>
					</div>
				
				<div class="outer_comment_box_mid">
				<ul style="list-style:none; line-height:20px; padding-left:10px; margin-left:10px;">
       				 <li><strong style="font-size:11px;"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$comm['user_id']));?>"><?php echo ucfirst($comm['first_name']).' '.ucfirst($comm['last_name']);?></a></strong></li>
				<li><span style="font-size:11px; color:#0099CC;"><?php echo date('Y-m-d',strtotime($comm['create_date']));?></span></li>
			  
				
				<li>
				<div style=" class="comment_text"><img src="<?php echo BASE_URL?>images/comment_icon.jpg" /><?php echo $comm['comment'];?></div>
				</li>
				<?php if($comm['user_id']==$this->currentuseid){ ?>
				<li><a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'deletebcomment','id'=>$comm['id']));?>" ><strong style="color:#CC0000;">Delete</strong></a></li>
				<?php } ?>
				</ul>
			</div>
			</div>
			
			<br/><br/><br/>
        <!-- member comment end here -->
        <?php } ?>
		</div><?php } ?><div class="clear"></div>
		
 </div><div id="main_blog_frame_bottom"></div>
        </div>
   </div></div></div>


	
	