<?php $images	=	BASE_URL.'/images'; ?>
<div class="content-wrapper">
   <!--<div class="right-section">-->
   <div class="main-body-box" style="float:left; background:none; height:auto;">
	 <div class="text-box" style="float:left;">
	 <div id="main_blog_frame_top"></div>
		   <div class="ulbox" style="background:url(<?php echo BASE_URL?>/images/outer_blog_framebox_mid.png) repeat; height:100%; float:left; width:104%;">
		   <?php 
		        foreach ($this->paginator as $blogMe)
			    { ?>
					<ul style="margin-right:30px;">	
			  <?php		      
		      $nameu = ucfirst($blogMe['first_name'])." ".ucfirst($blogMe['last_name']);
			  //echo'<pre>';print_r($blogMe);
			  if($blogMe['publish']=='1'){  ?>
			<div class="clear"></div>
			<div id="outer_blog_group_area">
				<div class="outer_blog_box_left">
					<?php if(($blogMe['blog_image'])!=''){  ?>
					 <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>" 
					   class="tooltip" title="View Profile of <b><?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?></b>">
		
			<img style="float:left;" src="<?php echo BASE_URL ?>timthumb.php?src=<?php echo BASE_URL.'blog_images/'.$blogMe['blog_image']; ?>&h=100&w=80&zc=1" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>"  height='50' width='50'/>									
					</a>
					<?php }else  { ?>
					<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>" 
					   class="tooltip" title="View Profile of <b><?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?></b>">
			<img style="float:left;" src="<?php echo BASE_URL?>/images/NoProfileImg_50x50.jpg" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>" height='50' width='50'/>									
					</a>
					<?php } ?>
				</div>
		
				<div class="outer_blog_box_mid">
					<ul style="text-align:justify;">
					<li><span style="font-size:20px; color:#CC0000;"><a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'viewablogdetail','blog_id'=>$blogMe['id']));?>" ><?php echo ucfirst($blogMe['blog_title']);?></a> </span></li>
					<li><span style="font-size:18px; color:#006699;">
					<?php if($blogMe['creator']=='0')
					{
					?>
					Administrator
					<?php } else {?>
					<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>"><?php echo ucfirst($blogMe['first_name']).' '.ucfirst($blogMe['last_name']);?></a>
					<?php } ?>
					</span></li>
					<li><span style="font-size:12px; color:#666666;"><?php echo nl2br($this->Escape(ucfirst($blogMe['description'])));?></span></li>
					<li style="text-align:right; border-top:1px dashed #CCCCCC;">
					<div style="font-size:11px; float:left; color:#0066FF;">
						<a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'viewablogdetail','blog_id'=>$blogMe['bid']));?>" ><img src="<?php echo BASE_URL ?>images/comment_btn.jpg"  /></a>
					</div>
					<div style="font-size:11px; float:right; color:#000;">Date: <?php echo date('Y-m-d',strtotime($blogMe['c_date']));?></div></li>
					</ul>
				</div>
				<?php  if($blogMe['creator']==$this->currentuseid){ ?>
				<div class="blog_box_right">
					 <a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'addblog','blog_id'=>$blogMe['bid'],'bloguser_id'=>$blogMe['bloguser_id']));?>" >
					<img src="<?php echo BASE_URL;?>images/edit_blog.jpg" width="20" height="20"  /></a>&nbsp;&nbsp;
					<a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'deleteablogall','blog_id'=>$blogMe['bid']));?>" >
					   <img src="<?php echo BASE_URL;?>images/cancel_icon.jpg" onclick="return deleteblog()"  height="18" alt="Delete Blog" title="Click Here To Delete blog" />
					</a> 
				</div>
				<?php } ?>
	        </div><br/><br/><br/><br/>
			<?php		
			}?>	  
			</ul>

			    <?php
				}
			?>
		    <ul>
                    <div class="outer_blog_group_area">
                    <div align="center" style="padding-right:25px;  margin-top:20px; ">
           
           <?php echo $this->paginationControl($this->paginator,'Sliding','/admin/pagination.phtml');?>
           </div>
                    </div>
                    </ul>
       </div>
            
		        <div id="main_blog_frame_bottom"></div>
	 </div> 
     
  </div>
  
 </div><!-- /wrapper -->
<div class="clear"></div>
<script type="text/javascript" language="javascript" >
	function deleteblog() {
		if(confirm("Are you sure you want to delete this blog? You will not be able to undo this section ")){
			document.form.submit();
		}else{
			return false;
		}
	}
</script>