<!-- This script used for chack unoque email Id of new register user -->
<script>
function checkEmail(email){ 
	var email = email.trim();
	var url = '<?php echo $this->url(array('controller'=>'Registration','action'=>'checkuniqueemail','page'=>$this->page),'default',true);?>/ckemail/'+ email;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#unique").html(data);
				$("#email").val('');
			}else{
				$("#unique").html('');
			}
		  }
	});
	
}
function checkUserId(userid){ 
	var userid = userid.trim();
	var url = '<?php echo $this->url(array('controller'=>'Registration','action'=>'checkuniqueuserid','page'=>$this->page),'default',true);?>/ckuid/'+ userid;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#uniqueid").html(data);
				$("#userid").val('');
			}else{
				$("#uniqueid").html('');
			}
		  }
	});
	
}
//////////////////   Number validation /////////////
function isNumberKey(evt)
{
         var charCode = (evt.which) ? evt.which : event.keyCode
         
         if (charCode > 31 && charCode > 46 && (charCode < 48 || charCode > 57))
            return false;

         return true;
}
</script><script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId   : '344900998860937',
      session : <?php //echo json_encode($this->fb->getSession()); ?>, // don't refetch the session when PHP already has it
      status  : true, // check login status
      cookie  : false, // enable cookies to allow the server to access the session
      xfbml   : true // parse XFBML
    });

    	// whenever the user logs in, we refresh the page
	FB.Event.subscribe('auth.login', function() {
	  window.location.reload();

	});

};
(function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_ES/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());


 </script>
  <style>
#passwordStrength1{height:10px;display:block;float:left;border:1px #666 solid;min-width:200px;background:#F4F4F4;margin-left: 5px;margin-top:5px;}
#passwordStrength{height:10px;display:block;float:left;}
</style>
<div id="main" class="heightAuto">
    	<!-- register starts -->
		<!-- Signup form start here -->
		 <form name="myform" action="<?php echo $this->url(array('controller'=>'Registration','action'=>'groupregistration','page'=>$this->page),'default',true)  ?>" method="post" onsubmit="return checkUser();">
    	<div class="register">
        	<div class="paddingH40">
                <h2 class="txtCenter">REGISTER WITH ARTEX<input type="text" id="focu" readonly="readonly" style="border:#FFF 1px hidden;width:1px" /></h2>
                <p class="colorBlack font17">
                    Create an account to browse and buy artworks or to upload your own artworks to ArtEx
                </p>
                <p class="floatR">Already Registerd?  <span class='basic-modal'> <a class="basic" title="Login" href="#">Sign In</a></span></p>
             </div>
            <div class="clear"></div>
            
            <div class="blackBorder"></div>
            <div class="paddingV40 paddingV20">
                <p class="txtCenter">
                	<a onclick="logface()" href="#"><img src="<?php echo $this->baseUrl();?>/images/facebook.gif" alt="Facebook" border='0' /></a> &nbsp; <a href="<?php echo $this->googleAuthUrl ?>"><img src="<?php echo $this->baseUrl();?>/images/google.gif" alt="Google" /></a><iframe id="myIFrame" src="https://www.google.com/accounts/Logout" style='display:none;' > </iframe><br /><br />
                    <b>Quick, Easy and Secure</b>
                </p>
            </div>
            <div class="clear"></div>
            
            <div class="blackBorder"></div>
            <div class="paddingH40 paddingV20">
				<?php echo $_SESSION['msg'];$_SESSION['msg'] = '';?><br />
<div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
                <p class="floatL font17 colorBlack">ABOUT YOU -</p><p class="floatL margin2">all fields below are required</p>
                <div class="clear"></div>
                <p class="colorBlack">
                    Your pivacy is important to us, ArtEx will not share your information with any third parties without your permission. All fields below are required for buying and selling artworks on ArtEx. Please check our <a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>3,'cat'=>13,'page'=>18),'default',true);?>" target="_blank">Privacy Policy</a> for further information.
                </p>
                
                <div class="block">
	                <label>First Name</label>
	                <?php echo $this->form->firstname;?>
                 </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Last Name</label>
	                <?php echo $this->form->lastname;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 
                 <div class="block">
	                <label>House Name/no</label>
	                <?php echo $this->form->house_no;?>
                 </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Street</label>
	               <?php echo $this->form->street;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 
                 <div class="block">
	                <label>Town / City</label>
	                <?php echo $this->form->city;?>
                 </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Post / ZIP code</label>
	               <?php echo $this->form->zip;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 
                 <div class="block">
	                <label>Email address</label>
	                <?php echo $this->form->email;?><br><span id="unique" style="color: #BF4444;"></span>
                 </div><!-- block ends -->
                 
                 <div class="block">
	             	<label>Re-enter email address</label>
	                <?php echo $this->form->reemail;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 <p class="floatL font17 colorBlack">YOUR ID AND PASSWORD</p>
                 <div class="clear"></div>
                 
                  <div class="block">
	             	<label>Create your ArtEx userID</label>
	                <?php echo $this->form->userid;?><span id="uniqueid" style="color: #BF4444;"></span>
                 </div> 
                 <div class="clear"></div> 
                 <div class="block">
	             	<label>Create your password</label>
	               <?php echo $this->form->password;?><div id="passwordStrength1"><div id="passwordStrength" class="strength0"  style="float:left"></div></div><div id="passwordDescription"  style="float:left;margin-left: 5px;"></div>
                 </div><!-- block ends -->
                 <div class="clear"></div>
                 
                 <div class="block">
	             	<label>Re-enter your password</label>
	                <?php echo $this->form->repassword;?>
                 </div><!-- block ends -->
                 <div class="clear"></div>
                 
                 <p>By clicking Register below you confirm that you accept our <a href="javascript:void(0)">User Agreement</a> and <a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>3,'cat'=>13,'page'=>18),'default',true);?>" target="_blank">Privacy Policy</a></p>
                 <input type="image" src="<?php echo $this->baseUrl();?>/images/register.png" alt="Register" /><br />
                 <div class="block paddingV20">
                 <label><input type="checkbox" checked="checked" name="newsletter" value="yes"  class="floatL"/><span class="margin2 floatL">Sign up to the ArtEx Newsletter</span></label>
                 </div>

                 
             	</div>
              <div class="clear"></div>
              
        </div><!-- register ends -->
 </form> <!-- signup form end here -->
    </div>

<!-- ** End secondary area ** -->
