<script>
function changesub()
{ 
var base_path = "<?php echo $this->url(array('controller'=>'banner', 'action'=>'ajax'))?>";

var segId=document.getElementById('page_id').value;

      $.ajax({
                 url:  base_path,
                data: "segId="+segId,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) { 
			 document.getElementById('td_sub').innerHTML=resp;
			 },
               //error: function(e){  alert('Error: '+e);  }  
            });
}

</script>
<div class="inner-right-content"> 

	<h2 class="page-title"><?php echo $this->bodyCopy ;?></h2>
<div style="padding-left:10px;"><h3></h3></div>
<table width="98%" border="0" cellpadding="0" cellspadding="0">
	 <tr>
    <td align ="left">
		<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	</td></tr>

 <tr>
    <td align ="right"><a href="<?php echo $this->url(array('controller'=>'banner', 'action'=>'bannerlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
	</tr>
  <tr>
    <td align ="left"><form method="post" action=""  enctype= "multipart/form-data" onsubmit="return checkbanner()"><table width="100%" cellspacing="8" cellpadding="3">
<tbody><tr valign="top"><td id="id-label">&nbsp;</td>
<td style="width:85%;" class="element">
<input type="hidden" id="id" value="0" name="id"></td></tr>
<tr valign="top"><td id="cat_name-label"><label class="required" for="cat_name">Page Name :</label></td>
<td style="width:85%;" class="element">
<?php echo $this->form->page_id;?></td></tr>
<tr>
  <td align="left" class="element">Location :</td>
  <td class="element" id="td_sub"><?php echo $this->id!=''?$this->form->location:$this->form->location1;?></td>
</tr>
<!--<tr>
  <td align="left" class="element">Banner Type :</td>
  <td class="element"><?php echo $this->form->banner_type;?></td>
</tr>style="display:<?php echo $this->record[banner_type]!='HTML'?'':'none'?>"-->
<tr id="b_image" >
  <td align="left" class="element" >Upload Banner :</td>
  <td class="element"><?php echo $this->form->image1;?><input type='hidden' name='img1' id='img1' value='<?php echo $this->record[banner_path];?>'><br />Note: Bottom image 728 X 90 pixel and Right image 124 X 604 pixel</td>
</tr>
<tr id="b_link" style="display:<?php echo $this->record[banner_type]=='HTML'?'':'none'?>">
  <td align="left" class="element">Banner Link </td>
  <td class="element"><?php echo $this->form->banner_path;?><</td>
</tr>
<tr>
  <td align="left" class="element">&nbsp;</td>
  <td class="element">&nbsp;</td>
</tr>
<tr><td style="text-align:right;" class="element"><input type='hidden' name='banner_type' id='banner_type' value='Image'>
<input type="submit" value="Submit" id="submitbutton" name="submit"></td>
<td class="element">
<button onclick="history.go(-1)" type="button" id="submitbutton" name="cancel">Cancel</button></td></tr></tbody></table>
    </form></td>
	</tr>
	<tr>
    <td align ="left">&nbsp;</td>
	</tr>
</table>
</div>

