  <?php 
$namespace 	= new Zend_Session_Namespace();

?>
<script>	</script>
            <h2>Transactions</h2>
                        <div class="floatL wd180">
                          <div class="floatL marginT10"><img src="<?php echo $this->baseUrl();?>/images/handshakeIcon.jpg" /></div>
                          <div class="floatL marginL10 marginT10 font17 redTXT"><?php echo $this->total_bought ?></div>
                        </div>
                        <div class="floatL wd180 marginL20">
                            <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/moneyIcon.png" /></div>
                            <div class="floatL marginL10 marginT10 font17 redTXT"><?php echo $this->total_sold ?></div>
                        </div>

@#@

    <script language="javascript">
       $(document).ready(function(){
	     $(".broughtBTN").click(function(){  
			if($(".onTAB").hasClass("tabActive")){   
			   $(".onTAB").addClass("tabActive");
			   $(".onTAB").removeClass("tabInactive");
			   $(".offTAB").addClass("tabInactive");
		      // $(".offTAB").removeClass("tabInctive");
			}
		 })
		 $(".soldBTN").click(function(){
		    
			if($(".offTAB").hasClass("tabInactive")){   
			   $(".offTAB").addClass("tabActive");
			   $(".offTAB").removeClass("tabInactive");
			   $(".onTAB").addClass("tabInactive");
		      // $(".offTAB").removeClass("tabInctive");
			}
	   })
	   
    })
	function sendsold(surl)
{ 
	var dataString = ''; 
	$.ajax({
      		type: "POST",
      		url: surl,
      		data: dataString,
			beforeSend: function(){ //alert(surl);
   				},
      		success: function(data) {  //alert(data);
			$("#sstatus").html(data);	
      		}
     	});return false;
}
    </script>
    <div class="onTAB broughtBTN history <?php echo $this->bought=='bought'?'tabActive':'tabInactive'?>" onclick="show_boughtnsold(1,document.getElementById('viewrans').value)" >Brought Artworks</div>
    <div class="offTAB soldBTN history <?php echo $this->bought=='sold'?'tabActive':'tabInactive'?>" onclick="show_boughtnsold(2,document.getElementById('viewrans').value)">Sold Artworks</div>
    <div class="paginationArea">
                          
                            <div class="floatL marginT5 marginL20">
                            <a href="javascript:viod(0)" onclick="show_boughtnsold(document.getElementById('activetrans').value,1)" class="history"><img src="<?php echo $this->baseUrl();?>/images/browse_search/grid_view_icon.jpg" width="25" height="25" border="0" /></a>&nbsp;&nbsp; <a href="javascript:viod(0)" onclick="show_boughtnsold(document.getElementById('activetrans').value,2)" class="history"><img src="<?php echo $this->baseUrl();?>/images/browse_search/list_view_icon.jpg" width="25" height="25" border="0" /></a> <input type="hidden" name="activetrans" id="activetrans" value='<?php echo $this->bought=='bought'?'1':'2';?>' /><input type="hidden" name="viewrans" id="viewrans" value='<?php echo $this->grid=='grid'?'1':'2';?>' /><input type="hidden" name="per_page" id="per_page" value="10"/><div id="viewtab" style="display: none;"><?php echo $this->bought;?></div>
                         <div id="current_view" style="display: none;"><?php echo $this->grid;?></div><div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'boughtnsold','id'=>$this->userid),'default',true);?></div></div>
                          
                          
        </div>
    <div id="imgThumbArea">
                             
                                <!-- list Thumbs start here -->
                                  <div id="bought_id" style="display:<?php echo $this->bought=='bought'?'':'none'?>">
                                  <div id="bought_listViewBox" style="display:<?php echo $this->grid=='list'?'':'none'?>">
                                       <?php $i=0;	foreach($this->paginator as $event){?>
	  		<div class="listViewBox" >
              	<div class="listViewBox_Img">
					<a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"  height='78' width='78'/></a>
				</div>
                <div class="listViewBox_Big">
                	<h5 class="marginT15 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                    <div class="small"><span class="lightCol">by:</span> <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['id']));?>"><?php echo ucwords($event['first_name']).' '.ucwords($event['last_name']) ;?> </a></div> <?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
                    <div class="marginT7 floatL"><strong class="redTXT"><?php echo $catarr[0]['cat_name']?></strong>
                    </div>
                    
                </div>
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Amount:</span></div>
                    <div class="small marginT5"><span class="lightCol"></span>&pound; <?php echo $event['amount'];?></div>
                </div>
                 
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Date of purchase:</span></div>
                    <div class="small marginT5" style="width: 108px;"><strong class="redTXT"><?php echo date('d M Y ',strtotime($event['transaction_date']));?></strong></div>
                </div>
                
<div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Bids:</span></div>
                    <div class="small marginT5" style="width: 108px;"><strong class="redTXT"> <?php 
						$bidder = new Application_Model_DbTable_Profile();
						echo $bidder->bidCount($event['wid']);
						?></strong></div>
                </div>
            </div>
            <!-- list thumbs end here -->
             <?php	$i++; } if($i==0){?>
			<div class="listViewBox" ><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
			 <?php }?> 
             </div>
                <div id="bought_GridViewBox"  style="display:<?php echo $this->grid=='grid'?'':'none'?>">
                <?php $i=0;	foreach($this->paginator as $event){?>
                                  <div class="imgThumbBox">
                                   <div class="imgThumb"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"   width="150" height="150"/></a></div>
                                   
                                   <!-- larger view -->
                                   
                                   
                                   <!-- end larger view -->
                                   
                                   <div class="imgThumbDetail">
                                      <h5 class="marginT5 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                                      <div class="imgThumbDetail_left" style="width:150px">
                                          <div class="hilefilter"  style="width:150px"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['id']));?>"><?php echo ucwords($event['first_name']).' '.ucwords($event['last_name']) ;?> </a><br />
                                         <span class="redTXT">Amount: &pound; <?php echo $event['amount'];?></span>
                                         </div>   
                                         <div class="hilefilter" style="width:150px">Date of Purchase:
                                         <span class="redTXT"><?php echo date('d M Y ',strtotime($event['transaction_date']));?></span>
                                         </div>   
                                      </div>
                                                                            
                                   
                                   </div>
                               
                               </div>
                               <?php $i++; if(i==6) break;}?> 
                               </div>   
                                                               <!-- list thumbs end here -->
                         
     <!-- bottom pagination start here -->
		<div class="paginationArea marginT20">
			<div class="goTop cursorPointer">
				<!--<span class="floatL marginL10 marginT15"><img src="userartworkuploadlist_files/top_arrow.png"></span>-->
				
			</div>
			<div class="marginT3 marginR10" id="paging"><?php echo $this->paginationControl($this->paginator,'Elastic','/profile/pagination.phtml'); ?>
			</div>
		</div>
  	<!-- bottom pagination end here -->              
 						</div><!--bought_id end here->
                                
                                <!-- list thumbs end here -->
                                
                                 <!-- list Thumbs start here -->
                                  <div  id="sold_id"  style="display:<?php echo $this->bought=='bought'?'none':''?>">
                                  <div  id="sold_listViewBox"  style="display:<?php echo $this->grid=='list'?'':'none'?>">
                                  <?php $i=0;	foreach($this->paginator1 as $event){?>
	  		<div class="listViewBox">
              	<div class="listViewBox_Img">
					<a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"  height='78' width='78'/></a>
				</div>
                <div class="listViewBox_Big">
                	<h5 class="marginT15 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                    <div class="small"><span class="lightCol">by:</span> <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['id']));?>"><?php echo ucwords($event['first_name']).' '.ucwords($event['last_name']) ;?> </a></div> <?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
                    <div class="marginT7 floatL"><strong class="redTXT"><?php echo $catarr[0]['cat_name']?></strong>
                    </div>
                    
                </div>
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Amount:</span></div>
                    <?php
			///////////////////Find category name///////////////////////////////////////
			$bidder = new Application_Model_DbTable_Profile();
					////////////////////////////////////////////////////////////////
			?>
                    <div class="small marginT5"><span class="lightCol"></span>&pound; <?php echo $bidder->maxBid($event['wid'])?></div>
                </div>
                 
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Date of sold:</span></div>
                    <div class="small marginT5" style="width: 108px;"><strong class="redTXT"><?php echo date('d M Y ',strtotime($event['transaction_date']));?></strong></div>
                </div>
                 

            <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Bids:</span></div>
                    <div class="small marginT5" style="width: 108px;"><strong class="redTXT"> 
					<?php 	
						echo $bidder->bidCount($event['wid']);?>
						</strong><span id="sstatus"><?php if($event['send_status']==0) { ?><br /><span onclick="sendsold('<?php echo $this->url(array('controller'=>'Profile','action'=>'sendsold','id'=>$event['wid']))  ?>')" style="cursor:pointer"  title="Click to set status">Send</span><?php } else if($event['seller_payment_status']==0) { ?><br /><a href="<?php echo $this->url(array('controller'=>'Profile','action'=>'paysold','id'=>$event['wid']))  ?>" style="cursor:pointer"  title="Click to artex comm. payment">Pay</a><?php } ?></span></div>
                </div>
            </div>

            <!-- list thumbs end here -->
             <?php	$i++; } if($i==0){?>
			<div class="listViewBox"  ><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
			 <?php }?> 
             </div>
                <div id="sold_GridViewBox" style="display:<?php echo $this->grid=='grid'?'':'none'?>">
                <?php $i=0;	foreach($this->paginator1 as $event){?>
                                  <div class="imgThumbBox">
                                   <div class="imgThumb"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"   width="150" height="150"/></a></div>
                                   
                                   <!-- larger view -->
                                   
                                   
                                   <!-- end larger view -->
                                   
                                   <div class="imgThumbDetail">
                                      <h5 class="marginT5 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                                      <div class="imgThumbDetail_left" style="width:150px">
                                          <div class="hilefilter"  style="width:150px"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['id']));?>"><?php echo ucwords($event['first_name']).' '.ucwords($event['last_name']) ;?> </a><br />
                                         <span class="redTXT">Amount: &pound; <?php echo $event['amount'];?></span>
                                         </div>   
                                         <div class="hilefilter" style="width:150px">Date of sold:
                                         <span class="redTXT"><?php echo date('d M Y ',strtotime($event['transaction_date']));?></span>
                                         </div>   
                                      </div>
                                                                            
                                   
                                   </div>
                               
                               </div>
                               <?php $i++; if(i==6) break;}?> 
                               </div>   
                    <!-- list thumbs end here -->
                         
     <!-- bottom pagination start here -->
		<div class="paginationArea marginT20">
			<div class="goTop cursorPointer">
				<!--<span class="floatL marginL10 marginT15"><img src="userartworkuploadlist_files/top_arrow.png"></span>-->
				
			</div>
			<div class="marginT3 marginR10" id="paging">
				 <?php echo $this->paginationControl($this->paginator1,'Elastic','/profile/pagination.phtml'); ?>
			</div>
		</div>
  	<!-- bottom pagination end here -->             
                 </div>   <!--sold_id end here->           
                  </div>

    
    
    
