<?php $msg = isset($this->user_details['countInbox'][0]['msg']) ? $this->user_details['countInbox'][0]['msg'] : '0';
?>
<div id="welcomeArea">
	<div id="welcomeArea_left">
    	<h2 class="marginL10 marginT10 NoLetterSpace"><?php echo $this->authcode==''?'Welcome back <span class="redTXT">'.$this->user_details['userInfo'][0]['first_name'].'</span>':'Welcome your account is now active'?> </h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT"> ( <?php echo $msg;?> ) new messages</span></div>
          <div class="floatL marginL20 marginT5"><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT"><?php echo $this->user_details['bidding'][0]['bidding'];?> items</span> <?php if ($this->user_details['bidding'][1]!=0){?><span class="redTXT">(<?php echo $this->user_details['bidding'][1];?> ending soon)</span><?php }?> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->user_details['liveart'][0]['liveart'];?> live artworks</span> <?php if ($this->user_details['liveart'][1]!=0){?><span class="redTXT">(<?php echo $this->user_details['liveart'][1];?> ending soon)</span><?php }?> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT"><?php echo $this->user_details['watchlist'][0]['watchling'];?> items</span> <?php if ($this->user_details['watchlist'][1]['watchling']!=0){?><span class="redTXT">(<?php echo $this->user_details['watchlist'][1]['watchling'];?> ending soon)</span><?php }?> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->user_details['feedback'][0]['newfeedback'];?> items of new feedback</span> </div>
        </div>
    </div>
    <div id="welcomeArea_Right"> </div>
</div>