<?php $namespace = new Zend_Session_Namespace();
if ($this->details[0]['profile_image']=='') {
	$profile_img = 'NoProfileImg_50x50.jpg'; 
}else{
	$filename = 'images/profile_image/small/'.$this->details[0]['profile_image'];
	if (file_exists($filename)) {
	    $profile_img = $this->details[0]['profile_image'];
	} else {
	    $profile_img = 'NoProfileImg_50x50.jpg';
	}
}
$images			= $this->baseUrl().'/images';
$my_Proimages	= $this->baseUrl().'/images/profile_image/small/';
$my_Proimages_crop	= $this->baseUrl().'/images/profile_image/';

$msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';


?>
<script src="<?php echo BASE_URL;?>/js/validation.js" type="text/javascript"></script>
<link href="<?php echo $this->baseUrl();?>/css/fileuploader.css" rel="stylesheet" type="text/css"/>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>-->
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>
  function delimage(i)
{ //alert(i);
var base_path = "<?php echo $this->url(array('controller'=>'profile', 'action'=>'delimage'))?>";


      $.ajax({
                 url:  base_path,
                data: "index="+i,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) {  //alert(resp);
			 document.getElementById('Image_Primary_Content').innerHTML=resp;
			 },
               error: function(e){  alert('Error: '+e);  }  
            });

}
  </script>
  <style>
#passwordStrength1{height:10px;display:block;float:left;border:1px #666 solid;min-width:200px;background:#F4F4F4;margin-left: 5px;}
#passwordStrength{height:10px;display:block;float:left;}
</style>
    <script>
	$(function() {
		$( "#dob" ).datepicker({
			dateFormat: 'yy-mm-dd',
			changeYear: true,
			yearRange: '1940:-'
		});
	});
   </script>

<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">Welcome back <span class="redTXT"><?php echo $this->userInfo[0]['first_name'];?></span></h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT"> ( <?php echo $msg;?> ) new messages</span><!-- <span class="redTXT">(2 urgent)</span> --> </div>
          <div class="floatL marginL20 marginT5"><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT"><?php echo $this->bidding[0]['bidding'];?> items</span> <span class="redTXT">(<?php echo $this->bidding[1];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->liveart[0]['liveart'];?> live artworks</span> <span class="redTXT">(<?php echo $this->liveart[1];?> ending soon)</span> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT"><?php echo $this->watchlist[0]['watchling'];?> items</span> <span class="redTXT">(<?php echo $this->watchlist[1]['watchling'];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->feedback[0]['newfeedback'];?> items of new feedback</span> </div>
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <!-- user Intro Area -->
    <div id="profileUpdateArea">
        <h2>Update Your Profile</h2>
        <hr class="LGHTBorder">
        <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
            <form method="post" name="profile" enctype="multipart/form-data" action="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'index'),'default',true)?>" onsubmit="return checkProfile()">
           <table width="700" border="0">
  <tbody>
   <tr>
    <td colspan="3"><div align="center" style="color: #FFOOOO;"><?php if(isset($this->msg)){echo $this->msg;}?> </div></td>
  </tr>
  <tr>
    <td align="left" colspan="3"><div class="floatL marginR5"><img src="<?php echo $this->baseUrl();?>/images/1331549406_personal-information.png"></div><div align="left"><h3><span class="redTXT">Personal</span> Information</h3></div></td>
  </tr>
  <tr>
    <td width="150"><div align="left">User Type:</div></td>
    <td>&nbsp;</td>
    <td>
    	<div align="left">
      		<select name="userType">
				<?php for ($i=0;$i<count($this->getusertype);$i++){?>
			<option value="<?php echo $this->getusertype[$i]['group_id'];?>" <?php if ($this->getusertype[$i]['group_id']==$this->details[0]['group_id']){?>selected="selected"<?php }?>><?php echo $this->getusertype[$i]['group_type'];?></option>
			<?php }?>
		</select>   
    	</div>    </td>
  </tr>
  <tr>
    <td><div align="left">First Name:</div></td>
    <td>&nbsp;</td>
    <td>
    	<div align="left">
      		 <input type="text" name="fname" id="fname" value="<?php echo stripcslashes($this->details[0]['first_name']);?>" />
    	</div>    </td>
  </tr>
  <tr>
    <td><div align="left">Last Name:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="lname" value="<?php echo stripcslashes($this->details[0]['last_name']);?>" />
    </div></td>
  </tr>
  <tr>
    <td><div align="left">House Name/no:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="house_no" id="house_no" value="<?php echo stripcslashes($this->details[0]['house_no']);?>" />
    </div></td>
  </tr>
  <tr> 
    <td><div align="left">Country:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
		<select name="country">
				<?php for ($i=0;$i<count($this->country);$i++){?>
			<option value="<?php echo $this->country[$i]['id'];?>" <?php if ($this->country[$i]['id']==$this->details[0]['country']){?>selected="selected"<?php }?>><?php echo $this->country[$i]['country'];?></option>
			<?php }?>
		</select>  
    </div></td>
  </tr>
  <tr>
    <td><div align="left">Street:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="street"  id="street"value="<?php echo stripcslashes($this->details[0]['street']);?>" />
    </div></td>
  </tr>
  <tr>
    <td><div align="left">Town / City:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="city" id="city" value="<?php echo stripcslashes($this->details[0]['city']);?>" />
    </div></td>
  </tr>
  <tr>
    <td><div align="left">Post / ZIP code:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="zip" maxlength="6" id="zip"  onkeypress="return isNumberKey(event)"  value="<?php echo stripcslashes($this->details[0]['zip']);?>" />
    </div></td>
  </tr>
  <tr>
    <td><div align="left">Email address:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="email" id="email" value="<?php echo stripcslashes($this->details[0]['email']);?>" readonly="readonly" />
    </div></td>
  </tr>
  <tr>
    <td><div align="left">UserID:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="userid" id="userid" value="<?php echo stripcslashes($this->details[0]['userid']);?>" readonly="readonly" />
    </div></td>
  </tr>
  <?php if($this->details[0]['password']!='')
  {?>
  <tr>
    <td>Password:</td>
    <td>&nbsp;</td>
    <td><div align="left" style="float:left"><input type="password" name="password" value="" id="password"  onkeyup="passwordStrength(this.value)"/></div><div id="passwordStrength1"><div id="passwordStrength" class="strength0"  style="float:left"></div></div><div id="passwordDescription"  style="float:left;margin-left: 5px;">Password not entered</div></td>
  </tr>
  <tr>
    <td>Confirm Password:</td>
    <td>&nbsp;</td>
    <td><div align="left"><input type="password" name="repassword" value="" id="repassword" /></div></td>
  </tr>
  <tr>
  <?php
  } ?>
    <td><div align="left">DOB:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="text" name="dob" id="dob" value="<?php echo stripcslashes($this->details[0]['dob']);?>" />
    </div></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Biography:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <textarea rows="8" cols="20" name="biography" id="biography"><?php echo stripcslashes($this->details[0]['biography']);?></textarea>
    </div></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Profile Image:</div></td>
    <td>&nbsp;</td>
    <td>
    <?php 
	if($namespace->filename[0]=='')
	{	
		$namespace->filename[0]= $profile_img;
	}
	else 
	{
		if(file_exists($this->baseUrl().'/images/profile_image/small/'.$namespace->filename[0]))
		{
			
		}
		else
		{
			$namespace->filename[0]= $profile_img;
		}
	}
	?>
    <!--  <input type="file" name="profile_image" id="profile_image" value="<?php echo $profile_img;?>" />--><div id="file-uploader-demo1"></div>
   
     <div align="left" id="Image_Primary_Content" >
     <?php 
	if($namespace->filename[0]!='' )
	{
		
	?> 
     <img alt="Profile Picture" src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $namespace->filename[0]?>"><?php if($namespace->filename[0]!='NoProfileImg_50x50.jpg') { ?><a href="javascript:void(0)" onclick="delimage('0')">Delete</a><script type="text/javascript">
// Popup window code
function newPopup(url) { 
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
				 <div class="edit_pic">
<a href="JavaScript:newPopup('<?php echo $this->baseUrl();?>/Profile/crop/crop.php?p=<?php echo $my_Proimages_crop;?>/&q=<?php echo $namespace->filename[0]?>');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Edit Photo
								 </a></div><?php }?>
    <?php 
	
		}
	?>
    </div>
    </td>
  </tr> 
  <tr>
    <td><div align="left">News Letter:</div></td>
    <td>&nbsp;</td>
    <td><div align="left">
      <input type="checkbox" name="newsletter" <?php if($this->details[0]['newsletter'] == 'yes'){?>checked="checked"<?php }?> id="newsletter" value="yes" />
    </div></td>
  </tr>
  <tr>
     <td></td>
     <td></td>
    <td><div align="left">
      <input type="submit" name="submit" value=" ">
      <input type="hidden" name="user_id" value="<?php echo $this->details[0]['id'];?>">
    </div></td>
  </tr>
</tbody></table>    
        </form>    
        </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
     <?php echo $this->render('profile/left_menu.phtml');?>
     
    <p class="clearer">&nbsp;<input type="hidden" name="BASE_URL" id="BASE_URL" value="<?php echo BASE_URL;?>"></p>
    <script src="<?php echo $this->baseUrl();?>/js/profileuploader.js" type="text/javascript"></script>
 <script>        
        function createUploader(){            
            var baseUrl	= '<?php echo BASE_URL;?>';	
						url	= baseUrl+'/index.php/Profile/uploadimage/';
					
						var uploader = new qq.FileUploader({
							element: document.getElementById('file-uploader-demo1'),
							//alert(file-uploader-demo1); //return false;  
							action: url,
							debug: true
							
						});          
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>  
  </div>
  
