<?php
$namespace = new Zend_Session_Namespace(); 
 ///////////////////////GET FOLDER NAME//////////////////////////
	$folders	= new Application_Model_ArtFolder();
	$viewfolders	= $folders->myFolder($namespace->userid);
	$this->view->viewfolders=$viewfolders;
	//////////////////////////////////////////////////////////////////////
$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);

$ind=$this->ind;

?>

<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/ddaccordion.js'></script>
<script type="text/javascript">


ddaccordion.init({ //top level headers initialization
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [<?php echo $ind?>], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: false, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})

ddaccordion.init({ //2nd level headers initialization
	headerclass: "subexpandable", //Shared CSS class name of sub headers group that are expandable
	contentclass: "subcategoryitems", //Shared CSS class name of sub contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["opensubheader", "closedsubheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>



<div class="col_small">
<div class="titlebar">
<div class="arrowlistmenu">

<h3 class="menuheader expandable">BUY</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'bids','ind'=>'0'),'default',true);?>">Bids</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'watchlist','ind'=>'0'),'default',true);?>">Watching</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'bought','ind'=>'0'),'default',true);?>">Bought</a></li>
<li><a  href="javascript:void(0);" class="subexpandable">About Buying</a><!--href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'aboutbuy','ind'=>'0'),'default',true);?>"-->
<ul class="subcategoryitems" style="margin-left: 15px">
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>6,'page'=>21,'ind'=>'0'),'default',true);?>">Tips for buyer </a></li>
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>6,'page'=>22,'ind'=>'0'),'default',true);?>">Buying for dealers </a></li>
	<li><a href="javascript:void(0);">3rd party link</a></li>
	</ul></li>
</ul>

<h3 class="menuheader expandable">SELL</h3>
<ul class="categoryitems">
<li><a href="javascript:void(0);" class="subexpandable">Live Artworks</a>
	<ul class="subcategoryitems" style="margin-left: 15px">
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'listed','ind'=>'1'),'default',true);?>">Listed </a></li>
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'livebids','ind'=>'1'),'default',true);?>">Live Bid </a></li>
	<li><a href="javascript:void(0);">Gallery</a></li>
	</ul>
</li>
<li class='basic-modal' style="display:none"><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'moderated','ind'=>'1'),'default',true);?>" class="MessagePrompt basic">Moderated</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'moderated','ind'=>'1'),'default',true);?>">Moderated</a></li>
<!--   <li><a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'userartworkuploadlist','ind'=>'1'),'default',true);?>">New Uploads</a></li>-->
<li><a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'index','ind'=>'1','back'=>'1'),'default',true);?>">New Upload</a></li>
<li><a href="javascript:void(0);" class="subexpandable">About Selling</a>
	<ul class="subcategoryitems" style="margin-left: 15px">
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>7,'page'=>23,'ind'=>'1'),'default',true);?>">Uploading images </a></li>
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>7,'page'=>24,'ind'=>'1'),'default',true);?>">Quantitive info </a></li>
	<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>7,'page'=>25,'ind'=>'1'),'default',true);?>">Qualitative info</a></li>
    <li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>7,'page'=>26,'ind'=>'1'),'default',true);?>">Writing biography</a></li>
    <li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'cms','sec'=>7,'page'=>27,'ind'=>'1'),'default',true);?>">Setting guidelines</a></li>
	</ul>
</li><!-- href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'aboutsell','ind'=>'1'),'default',true);?>"-->
</ul>
<h3 class="menuheader expandable">PROFILE</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome','ind'=>'2'),'default',true);?>" >Info</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'index','ind'=>'2'),'default',true);?>">Picture</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome','ind'=>'2'),'default',true);?>">Feedback & ratings</a></li>
<li><a href="javascript:void(0);">Video</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'myblog'),'default',true);?>">Blog</a></li>
<li><a href="javascript:void(0);">Wall/ Comments</a></li>
<li><a href="javascript:void(0);">Newsletters</a></li>
</ul>

<h3 class="menuheader expandable">MESSAGES</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Message','action'=>'compose','ind'=>'3'),'default',true);?>">Compose</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index','ind'=>'3'),'default',true) ; ?>">Inbox</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'trash','ind'=>'3'),'default',true) ; ?>">Trash</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent','ind'=>'3'),'default',true) ; ?>">Sent Messages</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'mailfolder'),'default',true); ?>" class="subexpandable">Folder</a>
    <ul class="subcategoryitems" style="margin-left: 15px">
		<?php foreach($viewfolders as $event ){?>
        	<li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'folder','fid'=>$event['id'],'ind'=>'3'),'default',true) ; ?>"><?php echo $event['folder_name']?></a></li>
        <?php }?> 
       <li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'mailfolder','ind'=>'3'),'default',true) ; ?>" >Create new </a></li>
    </ul>
</li>
</ul>
<!--<h3 class="menuheader" style="cursor: default">ACCOUNT</h3>-->
<h3 class="menuheader expandable">ACCOUNT</h3>
<ul class="categoryitems">
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'index', 'login_id'=>$this->user_id,'ind'=>'4'),'default',true)?>" >User details</a></li>
<li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'account', 'login_id'=>$this->user_id,'ind'=>'4'),'default',true);?>">PayPal account</a></li>
</ul>
<div>

</div>
</div> </div> </div>
    
