<?php 
$namespace 	= new Zend_Session_Namespace();
$msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';
//echo '<pre>';print_r($this->paginator);  die;
?>
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<div id="main">
    <!-- welcome area -->
    <?php include 'headpart.phtml';?>
    <!-- ** Begin left hand nav ** -->
    <?php include 'left_menu.phtml';?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="home_thumbs">
     <?php 
	  if($this->msg!='') {
	  ?>
	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px;">
	  <?php echo $this->msg;?>

	  </div>
	  <?php 
	  } ?>
   		<div class="paginationArea marginT5">
        	<div class="floatL marginT7 ">
            	<div class="perpageOpen cursorPointer">
                	<div class="floatL marginT5 marginL5">Per Page</div>
                    <div class="floatL marginL10">
                    	<div class="perpageWrapper">
                        	<select name="per_page" id="per_page" onchange="filter('<?php echo $this->url(array('controller'=>'Profile', 'action'=>'listed', 'ind'=>'1', 'page'=>$this->page),'default',true)?>')">
	                        	<option <?php if( $this->per_page == 10 ){?>selected="selected"<?php }?> value="10">10</option>
                                <option <?php if( $this->per_page == 20 ){?>selected="selected"<?php }?> value="20">20</option>
                                <option <?php if( $this->per_page == 30 ){?>selected="selected"<?php }?> value="30">30</option>
                                <option <?php if( $this->per_page == 40 ){?>selected="selected"<?php }?> value="40">40</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paging_top" class="floatR marginT10 marginR10">
			<?php echo $this->paginationControl($this->paginator,'Elastic','/artworkupload/pagination_top.phtml'); ?>
            	<span class="marginL75">
				  <!--Previous page link
					<img src="userartworkuploadlist_files/back_arrow.png">&nbsp;&nbsp;  --> 
				  <!--Next page link
				 	<img src="userartworkuploadlist_files/next_arrow.png">  -->
				</span>   
	        </div>
        </div>
        <!-- thumbs Images Area -->
        <div id="imgThumbArea">
		<?php $i=0;	foreach($this->paginator as $event){//$event['ending']?>
	  		<div class="listViewBox">
              	<div class="listViewBox_Img">
					<a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"  height='78' width='78'/></a>
				</div>
                <div class="listViewBox_Big">
                	<h5 class="marginT15 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                    <?php
											///////////////////Find subject name///////////////////////////////////////
											$subject   = new Application_Model_DbTable_ArtCatsubject();
											$subject_res = $subject->getcatsubjectlistName($event['subject'],'');	
											$subjectarr=$this->view->subject_res = $subject_res;
											///////////////////////////////////////////////////////////////
											?>
                    <div class="small" style="width: 136px;">Subject:</span> <?php echo $subjectarr[0]['subject']?></div>
                    <?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
                    <div class="marginT7 floatL">
                    	<strong class="redTXT"><?php echo $catarr[0]['cat_name']?></strong>
                    </div>
                </div>
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Completed date:</span></div>
                    <div class="small marginT5"><strong class="redTXT"><?php echo  $event['date_completed'];?></strong></div>
                </div>
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Price:</span></div>
                    <div class="small marginT5"><span class="lightCol"></span>&pound; <?php echo $event['price']=='0.00'?$event['buy_it_now']:$event['price'];?></div>
                </div>
                <div class="listViewBox_Small_s">
                	<div class="small"><span class="lightCol">Create Date:</span></div>
                    <div class="small marginT5" style="width: 108px;"><strong class="redTXT"><?php echo date('d M\' Y h:i:s',strtotime($event['create_date']));?></strong></div>
                </div>
                
				<div style="display:none" id='basic-modal'></div>
            </div>
            <!-- list thumbs end here -->
             <?php	$i++; } if($i==0){?>
			<div class="listViewBox"><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
			 <?php }?>            
        </div>
	  <!-- bottom pagination start here -->
		<div class="paginationArea marginT20">
			<div onclick="gotop();" class="goTop cursorPointer">
				<span class="floatL marginL10 marginT15"><img src="<?php echo $this->baseUrl();?>/images/browse_search/top_arrow.png"></span>
				<span class="floatL marginL10 marginT13">Back to the top</span>
			</div>
			<div class="marginT3 marginR10" id="paging">
				 <?php echo $this->paginationControl($this->paginator,'Elastic','/artworkupload/pagination1.phtml'); ?>
			</div>
		</div>
  	<!-- bottom pagination end here -->
	</div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
</div>
