<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/css/basic.css" type="text/css" />
<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/popup/jquery.simplemodal.js'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/popup/basic.js'></script>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){

	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);


$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});


});


});
	$(document).ready(function(){
		//To switch directions up/down and left/right just place a "-" in front of the top/left attribute
		
		//Vertical Sliding
		$('.slidedown').hover(function(){
			$(".cover", this).stop().animate({top:'-148px'},{queue:false,duration:300});
		}, function() {
			$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
		});
			
			$(".fgtPass").click(function()	{
				$(".SignInBlock").hide();
				$(".forgotPassBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"110px"});
			});
			$(".Bidnow").click(function()	{ 
				$(".SignInBlock").hide();
				$(".BidBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
				$(".simplemodal-container").animate({"width":"350px"});
			});
			$(".recommend").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();
				$(".RecommendBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".Message").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();
				$(".MessageBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
	});
</script>
<?php $namespace 	= new Zend_Session_Namespace(); $i=1; 
					//foreach($this->arraymerg as $eventfeed){  ?>
					

 <div id="showCommentArea">
         <?php  $j=1;//echo '<pre>'; print_r($this->comments);die;
					foreach($this->arraymerg as $eventf){  
						if ($eventf['profile_image']=='') {
							$profile_imgComment = 'NoProfileImg_50x50.jpg';
						}else{
							$filenameC = 'images/profile_image/small/'.$eventf['profile_image'];
							if (file_exists($filenameC)) {
							    $profile_imgComment = $eventf['profile_image']; 
							} else { //
							    $profile_imgComment = 'NoProfileImg_50x50.jpg';
							}
						}  
					?>	
          	<div id="showCommentBox" class="wd780">
            	<div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $profile_imgComment;?>"></div>
            	<div class="showComment_title">
              		<h2 class="font13 noMargin"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventf['user']));?>"><?php echo $eventf['first_name'];?></a></h2>
              		<span class="small font11"><?php echo date('d/M/Y h:i:s',strtotime($eventf['feedtime']));?> </span>
              	</div>
              	<div class="showComment_comment wd500">
              		<h2 class="font13"><?php echo nl2br($this->Escape(stripslashes($eventf['feedback'])));?></h2>
              	<?php foreach($this->feedbackscomments as $eventfc){ 
              		 
              		if($eventfc['fcid']>0 && $eventfc['feedback_id']==$eventf['id']) {?>
               
              		<div class="showComment_commentInside">
                		<div class="showComment_icon marginT10 marginL10"> <span class="floatL">0</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
                		<span class="floatL marginL5 marginT5"><img src="<?php echo $this->baseUrl();?>/images/browse_search/curve_arrow.png"></span>
                		<h2 class="floatL font13 marginT10 marginBN">
                			<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventfc['userID']));?>"><?php echo $eventfc['first_name'];?></a> 
                			<span class="small">(<?php echo date('d/M/Y h:i:s',strtotime($eventfc['cdate']));?>)</span>
                		</h2>
                		
                		<div class="clear"></div>
                		<h2 class="floatL font13 marginL25 marginT-25"><?php echo nl2br($this->Escape(stripslashes($eventfc['comment'])));?></h2>
              		</div>
              		<?php }}?>
		            <div class="clear"></div>
		           	<span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>  
<!------------------------------ write comment box here ------------------------------>
		<div id="writeCommentBoxArea">  
			<form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'feedcomment','page'=>$this->page))  ?>" method="post" >
		    	<div class="writeCommentBox">
		        	<div class="cancel">
		        		<a href="javascript:void(0);"><img src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png" border="0" /></a>
		        	</div>
		            <div><textarea id='subcomment' name='subcomment'></textarea></div>
		            <div><input type='hidden' name='feedid' value="<?php echo $eventf['id'];?>">
		            <input type="hidden" name="id" value="<?php echo $this->userID;?>">
		            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
				  	<?php if ($namespace->email==''){?>
						<span class='basic-modal'><a class="basic" title="Login" href="#"> 
						<input type="button" value="   " name='submit' id='submit' /> </a>
					<?php } else {?>
				  		<input type="submit" value=" " /></span>
				  	<?php } ?>
				  	</div>
		        </div>
		    </form>
		</div>           
<!--------------------------- END write comment box here ------------------------------> 
	            </div>
	            

	           	<div class="showComment_icon" style="width: 70px;">
		           	<span class="floatL">20</span>
		           	<span class="floatL marginL10">
		           		<img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg">
		           		<?php if(($eventf['user']==$namespace->userdetails[0]['id']) || $namespace->userdetails[0]['group_id'] == 1 || ($eventf['to_user_id'] == $namespace->userdetails[0]['id'])){?>
		           		
		           		<a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'deletecomment', 'comment_id'=>$eventf['id'], 'action_name'=> $this->action_name, 'id'=> $this->userID),'default',true);?>">
		           			<img src="<?php echo $this->baseUrl();?>/images/browse_search/delete.png">
		           		</a>
		           		<?php }?>
		           	</span>
	         	</div>
	         </div>
	         <?php $j++;}?>
	     </div>
	     <?php if($j>1) { ?> 
	     <div id="more<?php echo $eventf['limit'];?>" class="loadMoreBox"> <a class="red_pointer" href="#" id="<?php echo $eventf['limit'];?>">Load more</a> </div>
	     <?php } ?>
      </div>
<?php //} ?>