<div id="main">
    <!-- welcome area -->
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">Welcome back <span class="redTXT">Jamie</span></h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT">3 new messages</span> <span class="redTXT">(2 urgent)</span> </div>
          <div class="floatL marginL20 marginT5"><a href="#" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT">2 items</span> <span class="redTXT">(1 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">3 live artworks</span> <span class="redTXT">(2 ending soon)</span> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT">15 items</span> <span class="redTXT">(8 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">9 items of new feedback</span> </div>
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <!-- user Intro Area -->
    <div id="userIntroArea">
      <div id="userIntroArea_left" class="paddingL10">
        <div><img src="<?php echo $this->baseUrl();?>/images/userHP/userProfilePic.jpg" /></div>
        <div class="floatL wd_150 marginT10">
          <div class="floatL">Type:</div>
          <div class="floatL marginL5 marginB5 darklTXT">Artist</div>
          <div class="clear"></div>
          <div class="floatL">Joined:</div>
          <div class="floatL marginL5 marginB5 darklTXT">Jan' 2012</div>
          <div class="clear"></div>
          <div class="floatL">Location:</div>
          <div class="floatL marginL5 marginB5 darklTXT">London</div>
          <div class="clear"></div>
          <div class="floatL">Age:</div>
          <div class="floatL marginL10 marginB5 darklTXT">30</div>
          <div class="clear"></div>
          <div class="floatL">Following:</div>
          <div class="floatL marginL10 marginB5 darklTXT">12</div>
          <div class="clear"></div>
          <div class="floatL">Reviews made:</div>
          <div class="floatL marginL10 marginB5 darklTXT">4</div>
        </div>
      </div>
      <div id="userIntroArea_mid">
        <div class="floatL wd_200 lineHT40">
          <h1>jamie winder</h1>
        </div>
        <div class="floatR">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/twitter_btn.jpg" /></div>
          <div class="floatL marginL10">
            <div class="twt_fb_countBox">
              <div class="User_twt_fb_countBoxL"></div>
              <div class="User_twt_fb_countBoxM">693</div>
              <div class="User_twt_fb_countBoxR"></div>
            </div>
          </div>
          <div class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/fb_like.jpg" /></div>
          <div class="floatL marginL10">
            <div class="twt_fb_countBox">
              <div class="User_twt_fb_countBoxL"></div>
              <div class="User_twt_fb_countBoxM">434</div>
              <div class="User_twt_fb_countBoxR"></div>
            </div>
          </div>
        </div>
        <!-- greyBox -->
        <div class="greyrectBox floatL">
          <div class="ftrsBox">
            <div class="floatL"> <img src="<?php echo $this->baseUrl();?>/images/userHP/topArtist_icon.jpg"  /></div>
            <div class="floatR"> Top Artist</div>
          </div>
          <div class="ftrsBox">Seller <img src="<?php echo $this->baseUrl();?>/images/userHP/start_png.png" /> <span class="redTXT">38</span></div>
          <div class="ftrsBox">Sales: <span class="darklTXT">5</span></div>
          <div class="ftrsBox">Followers: <span class="darklTXT">38</span></div>
          <div class="ftrsBox BorderNone">Review: <span class="darklTXT">4</span></div>
        </div>
        <!-- greyBox end -->
        <p class="floatL marginT10"> Jamie Winder continues to deal in his artworks with issues of current affairs as well as with philosophical questions of a higher-level. He includes ironic and unusual break-ups in his treatment of image motives  this becomes a central feature of his work. Social, political, historical and cultural issues a and attitudes attitudes play an important role in his artwork. 
          The complex and sometimes absurd compositional relationships are achieved by fusing the past and present to create the dynamism of the central placed motifs and this has become a stylistic theme of his artworks. </p>
      </div>
      <div id="userIntroArea_right">
        <h3 class="marginT10">recent activity</h3>
        <!-- activity show here -->
        <div class="marginB5 darklTXT borderBottom"> Jamie Winder commented on Elisabeth Bond's profile<br />
          <div class="lightCol font11 paddingB10">8 minutes ago</div>
        </div>
        <!-- activity end here -->
        <!-- activity show here -->
        <div class="marginB5 darklTXT borderBottom"> Jamie Winder commented on Elisabeth Bond's profile<br />
          <div class="lightCol font11 paddingB10">8 minutes ago</div>
        </div>
        <!-- activity end here -->
        <!-- activity show here -->
        <div class="marginB5 darklTXT borderBottom"> Jamie Winder commented on Elisabeth Bond's profile<br />
          <div class="lightCol font11 paddingB10">8 minutes ago</div>
        </div>
        <!-- activity end here -->
      </div>
    </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <div class="col_small">
      <div class="titlebar">
        <div class="leftColpsMain">
          <h3><a href="javascript:void(0);" class="red_pointer">BUY</a></h3>
          <div class="colpsMenu" style="display:none;">
            <ul class="lhn marginL20">
              <li><a class="red_pointer" href="#">Bids</a></li>
              <li><a class="red_pointer" href="#">Watching</a></li>
              <li><a class="red_pointer" href="#">Bought</a></li>
              <li><a class="red_pointer" href="#">About buying</a></li>
            </ul>
          </div>
        </div>
        <div class="leftColpsMain">
          <h3><a href="javascript:void(0);" class="red_pointer">Sell</a></h3>
          <div class="colpsMenu" style="display:none;">
            <ul class="lhn marginL20">
              <li><a class="red_pointer" href="#">Ending soonest</a></li>
              <li><a class="red_pointer" href="#">Newly listed</a></li>
              <li><a class="red_pointer" href="#">Buy it now</a></li>
            </ul>
          </div>
        </div>
        <div class="leftColpsMain">
          <h3><a href="javascript:void(0);" class="red_pointer">Profile</a></h3>
          <div class="colpsMenu" style="display:none;">
            <ul class="lhn marginL20">
              <li><a class="red_pointer" href="#">Ending soonest</a></li>
              <li><a class="red_pointer" href="#">Newly listed</a></li>
              <li><a class="red_pointer" href="#">Buy it now</a></li>
            </ul>
          </div>
        </div>
         <div class="leftColpsMain">
          <h3><a href="javascript:void(0);" class="red_pointer">Messages</a></h3>
          <div class="colpsMenu" style="display:none;">
            <ul class="lhn marginL20">
              <li><a class="red_pointer" href="#">Ending soonest</a></li>
              <li><a class="red_pointer" href="#">Newly listed</a></li>
              <li><a class="red_pointer" href="#">Buy it now</a></li>
            </ul>
          </div>
        </div>
         <div class="leftColpsMain">
          <h3><a href="javascript:void(0);" class="red_pointer">Accounts</a></h3>
          <div class="colpsMenu" style="display:none;">
            <ul class="lhn marginL20">
              <li><a class="red_pointer" href="#">Ending soonest</a></li>
              <li><a class="red_pointer" href="#">Newly listed</a></li>
              <li><a class="red_pointer" href="#">Buy it now</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery"> <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img1.jpg"/>
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img2.jpg" />
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img3.jpg" />
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img4.jpg" />
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img5.jpg" /> <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img1.jpg" />
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img2.jpg" />
      <div class="clearVer2"></div>
      <img src="<?php echo $this->baseUrl();?>/images/browse_search/thumbsImg/img3.jpg" />
      <div class="clearVer2"></div>
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
    <!-- comment part start -->
    <div id="bottomProDetail_Part" class="paddingB50">
      <div id="bottomProDetail_Part_left" class="wd800">
        <!-- add comment -->
        <div id="addCommentArea" class="wd780">
          <div class="floatL marginL10 marginT10">
            <textarea class="wd610"></textarea>
          </div>
          <div class="floatL marginL10 marginT20">
            <input type="submit" value=" ">
          </div>
        </div>
        <!-- add comment end -->
        <!-- show comment -->
        <div id="showCommentArea">
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <div class="showComment_commentInside">
                <div class="showComment_icon marginT10 marginL10"> <span class="floatL">0</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
                <span class="floatL marginL5 marginT5"><img src="<?php echo $this->baseUrl();?>/images/browse_search/curve_arrow.png"></span>
                <h2 class="floatL font13 marginT10 marginBN">Justin Fink <span class="small">(17.02.2012)</span></h2>
                <span class="floatL small font11 marginL25 ">6 hours ago</span>
                <div class="clear"></div>
                <h2 class="floatL font13 marginL25 marginT-25">Yeah, Yeah, Yeah</h2>
              </div>
              <div class="clear"></div>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
          <div id="showCommentBox" class="wd780">
            <div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/commentprofile_img.jpg"></div>
            <div class="showComment_title">
              <h2 class="font13 noMargin">Justin Fink</h2>
              <span class="small font11">6 hours ago</span> </div>
            <div class="showComment_comment wd500">
              <h2 class="font13">Thanks for the vote jammie. Its really valuable for me.</h2>
              <span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>
              <!-- write comment box here -->
              <div id="writeCommentBoxArea">
                <form>
                  <div class="writeCommentBox">
                    <div class="cancel"><a href="javascript:void(0);"><img border="0" src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png"></a></div>
                    <div>
                      <textarea></textarea>
                    </div>
                    <div>
                      <input type="submit" value=" ">
                    </div>
                  </div>
                </form>
              </div>
              <!-- write comment box end here -->
            </div>
            <div class="showComment_icon"> <span class="floatL">20</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
          </div>
        </div>
        <!-- show comment end -->
      </div>
      <div id="bottomProDetail_Part_right" class="wd_150">
        <h3 class="font17 marginT10 lightCol txtCenter">sponsored advert</h3>
        <div class="bottomPart_rightImg txtCenter "><img src="<?php echo $this->baseUrl();?>/images/userHP/sponsored_ad.jpg" /></div>
      </div>
      <!-- load more -->
      <div id="loadMore"> <a href="#" class="red_pointer">Load more</a> </div>
      <!-- end load more -->
    </div>
    <!-- comment part end -->
  </div>