<?php
	$request = Zend_Controller_Front::getInstance()->getRequest();
	$searchelement = $request->getParam('searchelement');
	$extraParams = $searchelement != '' ? ",'searchelement' => $searchelement" : '';
?>
<script src="<?php echo $this->baseUrl();?>/js/jquery.history.js" type="text/javascript"></script>
<?php if ($this->pageCount){ ?>

 
 <!-- Last page link -->
	<?php if (isset($this->next)){ ?>
	  <span class="floatR marginL5 marginT8"><a href="<?php echo $this->last; ?>">  <img src="<?php echo $this->baseUrl();?>/images/browse_search/last_page_arrow.jpg" /></a></span>
	<?php }else{ ?>
	  <span class="floatR marginL5 marginT8"><img src="<?php echo $this->baseUrl();?>/images/browse_search/diciable_last_arrow.jpg" /></span>
	<?php } ?>
 <!--Next page link -->
 <?php if (isset($this->next)){ ?>
	  <span class="floatR marginL5 marginT8"><a href="<?php echo $this->next; ?>">  <img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.jpg" /> </a></span> 
	<?php }else{ ?>
	  <span class="floatR marginL5 marginT8"><img src="<?php echo $this->baseUrl();?>/images/browse_search/prvs_arrow_discible.jpg" /></span> 
	<?php } ?>
	<span class="floatR marginL5 marginT7">next</span>
	<span class="floatR marginL5 marginT7">
 <?php foreach ($this->pagesInRange as $page){ ?>
  <?php if ($page != $this->current){ ?>
    <a href="<?php echo  $page; ?>" class="history">
        <?php  echo $page; ?>
    </a> /
  <?php }else{ ?>
    <?php echo $page; ?> /
  <?php } ?>
<?php } ?>
 </span>
  
  <!--Previous page link -->
  	<span class="floatR marginL5 marginT7">previous</span>
	<?php if (isset($this->previous)){ ?>
	  <span class="floatR marginL10 marginT10"><a href="<?php echo $this->previous; ?>"> <img src="<?php echo $this->baseUrl();?>/images/browse_search/previous_arrow.jpg" /> </a></span> 
	<?php }else{ ?>
	  <span class="floatR marginL10 marginT10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/prvs_arrow.jpg" /></span> 
	<?php } ?>
 <!--First page link -->
	<?php if (isset($this->previous)){ ?>
	  <span class="floatR marginL10 marginT10"><a href="<?php echo $this->first; ?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/very_first.jpg" /></a></span> 
	<?php }else{ ?>
	  <span class="floatR marginL10 marginT10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/very_first_arrow.jpg" /></span> 
	<?php } ?>	
 
<?php } ?>