<div id="imgThumbArea">
		<?php $i=0;	foreach($this->paginator as $event){
		
		?>
	  		<div class="listViewBox">
              	<div class="listViewBox_Img">
					<a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"  height='78' width='78'/></a>
				</div>
                <div class="listViewBox_Big" >
                	<h5 class="marginT15 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                    <div class="hilefilter"><span class="lightCol">by:</span> <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$event['id']));?>"><?php echo ucwords($event['first_name']).' '.ucwords($event['last_name']) ;?> </a></div>       <?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
                    <div class="marginT7 floatL">
                    	<strong class="redTXT"><?php echo $catarr[0]['cat_name']?></strong>
                    </div>
                    
                </div>
                
               
                <div class="listViewBox_Small_s">
                	<div class="hilefilter"><span class="lightCol">Max Bid:</span> <strong class="redTXT">&pound;
                    <?php 
                    $bidder = new Application_Model_DbTable_Profile();
					echo $bidder->maxBid($event['au_id']);         
                    ?></strong></div><br />
                    <div class="hilefilter"><span class="lightCol">Bid Status:</span>                 <?php 
		 if($event['bid_start_date']!="")
		 {
		  $atime=explode(':',$event['ending']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'d ';
					$actime .=$hr.'h ';
					if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'m ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
			
		  ?>
          <?php echo $h<=0?'Bid Close':$actime;?>
		  <?php } else {?>
		  --
		  <?php }?></div><br />
                    <div class="hilefilter"><span class="lightCol">No. of Bider:</span><strong class="redTXT">
						<?php 
						$bidder = new Application_Model_DbTable_Profile();
						echo $bidder->bidderCount($event['au_id']);
						?>
					</strong></div>
                </div>
               
                <div class="listViewBox_Small_s" >
                	<div class="hilefilter"><span class="lightCol">Create Date:</span></div>
                    <div class="hilefilter marginT5"><strong class="redTXT"><?php echo date('d M\' Y h:i:s',strtotime($event['create_date']));?></strong></div>
                </div>
                <div class="listViewBox_Small_s" >
                	
                    <div class="hilefilter"><span class="lightCol">Delete:</span>
                    	<a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'deletewatchtist', 'id'=>$event['watch_id']),'default',true);?>">
                    		<img src="<?php echo $this->baseUrl();?>/images/admin/delete.png">
                    	</a>
                    </div>
                </div>
              
				<div style="display:none" id='basic-modal'></div>
            </div>
            <!-- list thumbs end here -->
             <?php	$i++; } if($i==0){?>
			<div class="listViewBox"><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
			 <?php }?>            
        </div>