<br /><a href="<?php echo $this->url(array('controller'=>'Profile','action'=>'paysold','id'=>$event['wid']))  ?>" style="cursor:pointer"  title="Click to artex comm. payment">Pay</a><p class="redTXT">status set successfully!</p>
