<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/jquery.history.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/profile.js" type="text/javascript"></script>


<?php 
$namespace 	= new Zend_Session_Namespace();
 $recentactivity = $this->Artuseractivity(); 
 $google = $this->google();
########################## Check profile image file exist in db and folder ##################################
if ($this->userInfom[0]['profile_image']=='') {
	$profile_img = 'NoProfileImg_148x148.jpg'; 
}else{
	$filename = 'images/profile_image/large/'.$this->userInfom[0]['profile_image'];
	if (file_exists($filename)) {
	    $profile_img = $this->userInfom[0]['profile_image'];
	} else {
	    $profile_img = 'NoProfileImg_148x148.jpg';
	}
}
########################## END Check profile image file exist in db and folder ##################################
?>
 <?php //echo $this->action_name.$this->userInfo[0]['id'];print_r($this->userInfo[0]);die;?>
 <script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){

	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);

$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});


});


});

</script>

<script type="text/javascript">
$(function()
{ 
userID='<?php echo $this->userInfom[0]['user_id'];?>';
$('.red_pointer').live("hover",function()
{	 
var ID = $(this).attr("id");
 
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'loadmore', 'action_name'=> $this->action_name, 'id'=> $this->userInfom[0]['user_id']),'default',true)?>",
data: "lastmsg="+ ID+ "&userID="+userID,
cache: false,
success: function(html){ //alert(html);
$("#ajaxComent").append(html);
 
$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});


</script>


 <div id="basic-modal-content">
	<div class="SignInBlock">
		<form id="loginform" action="" method="post" >
		
    	<p id="ac_error" style="color: #FFFFFF;"></p>
			<h3>Sign In</h3>
			<input type="radio" class="signup_input" id="ltype" name="ltype" value='id'  onclick='show_login_val(1)' checked />Username&nbsp;&nbsp;<input type="radio" class="signup_input" id="ltype" name="ltype" value='email'  onclick='show_login_val(2)' />Email<div class="clear"></div>
            <label id='s_l_val'>Username</label><div class="clear"></div>

            <input type="text" class="signup_input" style="width:168px;" size="25" id="loginemail" name="loginemail" />
            
            <label>Password</label><div class="clear"></div>
            <input type="password" class="signup_input" style="width:168px;" size="25" value="" id="pwd" name="pwd" />
			<label><input type="checkbox" class="signup_input" id="remember" name="remember" value='1'  /> Stay signed in</label>
            <input type="submit" value="Login" class="button floatL" /><span id='basic-modal1'><a href="#" class="floatL block marginL5 marginT13 fgtPass">Forgot Password?</a></span>
            <div class="clear"></div>
            <div class="marginT10">
            <script>function logface()
{ 
	var url = "<?php echo $this->loginUrl; ?>";
	newwindow = window.open(url,'','width=700,height=400,left=200,top=200',false);
}</script>
            	<span class="floatL marginT5 block">Sign In using :</span> &nbsp; <a onclick="logface()" href="#"><img src="<?php echo $this->baseUrl();?>/images/facebook.png" alt="Login with Facebook" /></a><a href="<?php echo $this->googleAuthUrl ?>"><img src="<?php echo $this->baseUrl();?>/images/google.png" alt="Login with Google" class="marginL5" /></a>
             </div>
             
             <div class="border-top marginT10">
             	 <a href='<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>'>New user click here to register</a>
             </div>
			 </form>
		</div><!-- SignInBlock-->
		<div class="forgotPassBlock">
	<form id="forget_frm" action="" method="post" >
    	<h3>Forgot Password?</h3>
    	<p id="forge_error" style="color: #FF0000;"></p>
		 <label>Enter Email Address</label><div class="clear"></div>
		 <input type="text" class="signup_input" style="width:168px;" size="25" id="forgetemail" name="forgetemail" />
		 <input type="submit" class="sign_up_submit" style="width: 58px;" value="Submit" id="login" name="login">
		 </form>
</div><!-- forgotPassBlock-->
		
<div class="RecommendBlock">
	<form id="recommed_form" action="<?php echo $this->url(array('controller'=>'profile', 'action'=>'profilerecommend'));?>" method="post" onsubmit='return check_recommend()' >		
    	<p id="error_msg" style='color:#ffffff'></p>
			<h3>Recommend to a friend</h3>
			
            <label>To</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25" id="to" name="to" /><input type="hidden" name="profile_user" value="<?php echo $this->userInfom[0]['first_name'];?> <?php echo $this->userInfom[0]['last_name'];?>">
            
            <label>Subject</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25"  id="subject" name="subject" />
			<label>Message</label><div class="clear"></div>
             <textarea name="message" id="message" style="width: 168px;"></textarea>
           <input type="hidden" name="checkprofile" value="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userInfom[0]['user_id']))  ?>" />
			  	<input type='hidden' value="<?php echo $this->userInfom[0]['user_id'];?>" name="user_id">
			  	<input type='hidden' name='artworkpath' value='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userInfom[0]['user_id']));?>'><input type="submit" value="Recommend" class="button floatL" name='send' id='send' />
            <div class="clear"></div>
      
            
			 </form>
		</div><!-- end RecommendBlock-->
		
<div class="MessageBlock">
	<form id="send_message_form" action="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'inbox'))  ?>" method="post" onsubmit='return check_send()' >
		
    	<p id="error_msg1" style='color:#ffffff'></p>
			<h3>Send Message</h3>
			
            <label>
            
            <label>Subject</label><div class="clear"></div>
           <input type="text" class="signup_input" style="width:168px;" size="25" value="" id="msubject" name="msubject" />
			<label>Message</label><div class="clear"></div>
             <textarea name="mmessage" id="mmessage" style="width: 168px;"></textarea>
            <input type='hidden' name='receiver_email' value='<?php echo $this->userInfom[0]['email'];?>'>
				  <input type='hidden' name='receiver_id' value='<?php echo $this->userInfom[0]['user_id'];?>'>
				  <input type='hidden' name='sender_id' value='<?php echo $this->loginmember_id; ?>'><input type="submit" value="send" class="button floatL" name='send' id='send' />
            <div class="clear"></div>
          
             
            
			 </form>
		</div><!-- end MessageBlock-->
</div><!-- end basic-modal-content-->
<div id="fb-root"></div>
<div id="main"><div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'boughtnsold','id'=>$this->userid),'default',true);?></div>
<div id="default_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'biography','id'=>$this->userid));?></div>
<div id="feed_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'feedbackrating','id'=>$this->userid));?></div>
    <!-- welcome area -->
    <!-- welcome area end -->
    <!-- user Intro Area -->
	<div id="userIntroArea" class="wd975">
      	<div id="userIntroArea_left" class="paddingL10">
        	<div><img height="137" width="137" src="<?php echo $this->baseUrl();?>/images/profile_image/large/<?php echo $profile_img;?>" /></div>
        	<div class="floatL wd_150 marginT10">
	          	<div class="floatL">Type:</div>
	          	<div class="floatL marginL5 marginB5 darklTXT"><?php echo $this->userInfom[0]['group_type'];?></div>
	          	<div class="clear"></div>
	          	<div class="floatL">Joined:</div>
	          	<div class="floatL marginL5 marginB5 darklTXT"><?php echo isset($this->userInfom[0]['create_date']) ? date('M\' Y',strtotime($this->userInfom[0]['create_date'])) : ''; ?></div>
	          	<div class="clear"></div>
	          	<div class="floatL">Location:</div>
	          	<div class="floatL marginL5 marginB5 darklTXT"><?php  if($this->userInfom[0]['city']){echo $this->userInfom[0]['city'];}else{echo $this->userInfom[0]['country'];}?></div>
	          	<div class="clear"></div>
	          	<div class="floatL">Age:</div>
	          	<div class="floatL marginL10 marginB5 darklTXT"><?php echo floor(abs(strtotime(date('Y-m-d')) - strtotime($this->userInfom[0]['dob'])) / (365*60*60*24));?></div>
	          	<div class="clear"></div>
	          	<div class="floatL">Following:</div>
	          	<div class="floatL marginL10 marginB5 darklTXT"><?php echo $this->following[0]['following'];?></div>
	          	<div class="clear"></div>
	          	<div class="floatL">Reviews made:</div>
	          	<div class="floatL marginL10 marginB5 darklTXT">4</div>
        	</div>
		</div>
      	<div id="userIntroArea_mid">
       		<div class="floatL wd250 lineHT40">
          		<h1><?php echo $this->userInfom[0]['first_name'].' '.$this->userInfom[0]['last_name'];?></h1>
        	</div>
        	<div class="floatR">
          		<div class="floatL">
          			<a href="https://twitter.com/share" class="twitter-share-button" data-url="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/profile/userprofile/id/<?php echo $this->userInfom[0]['user_id'];?>" data-lang="en">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          		</div>
          
          		<div style="width: 38px;" class="floatL marginL10 fb-like" data-href="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/profile/userprofile/id/<?php echo $this->userInfom[0]['user_id'];?>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
            </div>
        <!-- greyBox -->
        	<div class="greyrectBox floatL">
          		<div class="ftrsBox">
                <?php 
				if($this->total_trans_money>=0 && $this->total_trans_money<=50)
				{  $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconWT.png';}
				 if($this->total_trans_money>50 && $this->total_trans_money<=100)
				{  $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconYellow.png';}
				 if($this->total_trans_money>100 && $this->total_trans_money<=200)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconGreen.png';}
				 if($this->total_trans_money>200 && $this->total_trans_money<=500)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconOrange.png';}
				 if($this->total_trans_money>500 && $this->total_trans_money<=1000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconCyan.png';}
				 if($this->total_trans_money>1000 && $this->total_trans_money<=2000)
				{; $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconBlue.png';}
				 if($this->total_trans_money>2000 && $this->total_trans_money<=5000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconRed.png';}
				 if($this->total_trans_money>5000 && $this->total_trans_money<=10000)
				{$rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconSilver.png';}
				 if($this->total_trans_money>10000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconGold.png';}
				?>
            		<div class="floatL"> <img src="<?php echo $rosette;?>"  /></div>
            		<div class=" floatL history"><span class="redTXT" onclick="boughtnsold('<?php echo $this->url(array('controller'=>'Profile','action'=>'boughtnsold','review'=>'1','id'=>$this->userid))  ?>')" style="cursor:pointer"  title="Click to view transactions"><?php echo $this->total_tans?></span></div>
          		</div>
          		<div class="ftrsBox  floatL">Feedback  <span class="redTXT"  onclick="feedrate('<?php echo $this->url(array('controller'=>'Profile','action'=>'feedbackrating','review'=>'1','id'=>$this->userid))  ?>')" style="cursor:pointer"  title="Click to view feedback rating"><?php echo $this->feedbackper?> %</span></div>
          		<div class="ftrsBox  floatL">Sales: <span class="darklTXT">5</span></div>
          		<div class="ftrsBox  floatL">Followers: <span class="darklTXT"><?php echo $this->follower[0]['follower'];?></span></div>
          		<div class="ftrsBox BorderNone">Review: <span class="darklTXT">0</span></div>
        	</div>
        <!-- greyBox end -->
        <div class="marginL10 floatL marginT20" id="show_trans">
        	
          </div>
      	</div>
      	<div id="userIntroArea_firstright">
        	<div>
        	<?php if ($namespace->email==''){?>
			 <span  id='basic-modal'> <a class="basic" title="Login" href="#">
		   	<?php } else {?>
			  <a href="javascript:void(0)" onclick="return follow('<?php echo $this->userInfom[0]['user_id'];?>','<?php echo $this->url(array('controller'=>'profile', 'action'=>'follow'),'default',true)?>')">
		   <?php } ?><img src="<?php echo $this->baseUrl();?>/images/userHP/followBTN.jpg" border="0" /></a></span>
        	</div>
	        <div class="marginT5">
	        	<?php if ($namespace->email==''){?>
				<span  class='basic-modal'>  <a class="basic" title="Login" href="#">
					<?php } else {?>
				 <span  class='basic-modal'>  <a class="Message basic" title="Message" href="#">
				<?php } ?><img src="<?php echo $this->baseUrl();?>/images/userHP/msgBTN.jpg" border="0" /></a></span>
	        </div>
			
	        <div class="marginT5">
	        	<?php if ($namespace->email==''){?>
				<span  class='basic-modal'><a class="basic" title="Login" href="#">
				<?php } else {?>
				<span  class='basic-modal'><a class="recommend basic" title="recommend" href="#">
				<?php }  ?><img src="<?php echo $this->baseUrl();?>/images/userHP/recomendedBTN.jpg" border="0" /></a></span>
	        </div>
	      </div>
	      <div id="userIntroArea_right">
	        <h3 class="marginT10">recent activity</h3>
			 <?php for ($i=0;$i<count($recentactivity);$i++){?>
				<?php $atime=explode(':',$recentactivity[$i]['act_time']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.' Day(s)';
					}
				else
				{
					if($atime[0]!='00') { $actime=$atime[0].' hours '; }
					else if($atime[1]!='00') { $actime =$atime[1].' minutes ';}
					else if($atime[2]!='00') { $actime =$atime[2].' seconds ';}
				
				}
				?>
				
				<!-- activity show here -->
	        <div class="marginB5 darklTXT borderBottom"> <?php echo stripslashes($recentactivity[$i]['activity_msg'])?><br />
	          <div class="lightCol font11 paddingB10"><?php echo $actime?> ago</div>
	        </div>
	        <!-- activity end here -->
                <?php }?>  
	    
	      </div>
            <div class="clear"></div>
       <!-- user art gallery -->
    <div id="userArtgallery" class="marginR20">
    
      </div>
    <!-- user art gallery  end -->
    </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery" class="wd975"> 
     
    	<?php $cou = 1;for ($i = 0; $i < count($this->userArt); $i++) {?>
    	<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userArt[$i]['id']));?>">
    		<img height="148"  width="148" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $this->userArt[$i]['image'];?>">
    	</a>
      	 
      	<?php if ($cou==6){echo '';$cou = 0;}else{ echo '<div class="clearVer"></div>';} if ($i==11) break;$cou++;}?>
      	
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
    <!-- comment part start -->
    <div id="bottomProDetail_Part" class="paddingB50">
      <div id="bottomProDetail_Part_left" class="wd800">
      	<!-- add comment -->
        <form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'comment','page'=>$this->page))  ?>" method="post" onsubmit="return checkcomment();">
	        <div id="addCommentArea" class="wd780  HT125">
	          <div class="floatL marginL5 marginT10">
	            <textarea class="wd610" name="maincomment" id="maincomment"></textarea><br><span id="reqcomment" style="color: #FF0000;"></span>
	            <input type="hidden" name="id" value="<?php echo $this->userInfom[0]['user_id'];?>">
	            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
	          </div>
	          <div class="floatL marginL5 marginT20" id="comm_id">
	            <?php if ($namespace->email==''){?>
			<span id='basic-modal'><a class="basic" title="Login" href="#"> 
			<input type="button" value="   " name='submit' id='submit' /> </a></span>
			<?php } else {?>
			<input type="submit" value="   " name='submit' id='submit' />
			<?php } ?>
	          </div>
	        </div>
	    </form>
        <!-- add comment end -->
        <!-- show comment -->
        <span id="ajaxComent">
        <div id="showCommentArea">
         <?php  $j=1;//echo '<pre>'; print_r($this->comments);die;
					foreach($this->comments as $eventf){  
						if ($eventf['profile_image']=='') {
							$profile_imgComment = 'NoProfileImg_50x50.jpg';
						}else{
							$filenameC = 'images/profile_image/small/'.$eventf['profile_image'];
							if (file_exists($filenameC)) {
							    $profile_imgComment = $eventf['profile_image']; 
							} else { //
							    $profile_imgComment = 'NoProfileImg_50x50.jpg';
							}
						} if ($j>1){ break;} 
					?>	
          	<div id="showCommentBox" class="wd780">
            	<div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $profile_imgComment;?>"></div>
            	<div class="showComment_title">
              		<h2 class="font13 noMargin"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventf['user']));?>"><?php echo $eventf['first_name'];?></a></h2>
              		<span class="small font11"><?php echo isset($eventf['feedtime']) ? date('d/M/Y h:i:s',strtotime($eventf['feedtime'])) : '';?> </span>
              	</div>
              	<div class="showComment_comment wd500">
              		<h2 class="font13"><?php echo nl2br($this->Escape(stripslashes($eventf['feedback'])));?></h2>
              	<?php foreach($this->feedbackscomments as $eventfc){ 
              		 
              		if($eventfc['fcid']>0 && $eventfc['feedback_id']==$eventf['id']) {?>
               
            	
              		<div class="showComment_commentInside">
                		<div class="showComment_icon marginT10 marginL10"> <span class="floatL">0</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
                		<span class="floatL marginL5 marginT5"><img src="<?php echo $this->baseUrl();?>/images/browse_search/curve_arrow.png"></span>
                		<h2 class="floatL font13 marginT10 marginBN"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventfc['userID']));?>"><?php echo $eventfc['first_name'];?></a> <span class="small">(<?php echo $eventfc['cdate'];?>)</span></h2>
                		<span class="floatL small font11 marginL25 "><?php echo isset($eventfc['feedtime']) ? date('d/M/Y h:i:s',strtotime($eventfc['feedtime'])) : '';?></span>
                		<div class="clear"></div>
                		<h2 class="floatL font13 marginL25 marginT-25"><?php echo nl2br($this->Escape(stripslashes($eventfc['comment'])));?></h2>
              		</div>
              		<?php }}?>
		            <div class="clear"></div>
		           	<span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>  
<!------------------------------ write comment box here ------------------------------>
		<div id="writeCommentBoxArea">  
			<form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'feedcomment','page'=>$this->page))  ?>" method="post" >
		    	<div class="writeCommentBox">
		        	<div class="cancel">
		        		<a href="javascript:void(0);"><img src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png" border="0" /></a>
		        	</div>
		            <div><textarea id='subcomment' name='subcomment'></textarea></div>
		            <div><input type='hidden' name='feedid' value="<?php echo $eventf['id'];?>">
		            <input type="hidden" name="id" value="<?php echo $this->userInfom[0]['user_id'];?>">
		            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
				  	<?php if ($namespace->email==''){?>
							<span id='basic-modal'><a class="basic" title="Login" href="#"> 
						<input type="button" value="   " name='submit' id='submit' /> </a></span>
					<?php } else {?>
				  		<input type="submit" value=" " />
				  	<?php } ?>
				  	</div>
		        </div>
		    </form>
		</div>           
<!--------------------------- END write comment box here ------------------------------> 
	            </div>
	            

	           	<div class="showComment_icon" style="width: 70px;">
		           	<span class="floatL">20</span>
		           	<span class="floatL marginL10">
		           		<img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg">
		           		<?php if(($eventf['user']==$namespace->userdetails[0]['id']) || $namespace->userdetails[0]['group_id'] == 1 || ($eventf['to_user_id'] == $namespace->userdetails[0]['id'])){?>
		           		
		           		<a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'deletecomment', 'comment_id'=>$eventf['id'], 'action_name'=> $this->action_name, 'id'=> $this->userInfom[0]['user_id']),'default',true);?>">
		           			<img src="<?php echo $this->baseUrl();?>/images/browse_search/delete.png">
		           		</a>
		           		<?php }?>
		           	</span>
	         	</div>
	         </div>
	         <?php $j++;}?>
	     </div>
	     </span>
	     <?php if($j>1) { ?> 
	     <div id="more1" class="loadMoreBox"> <a class="red_pointer" href="#" id="1">Load more</a> </div>
	     <?php } ?>
      </div>
      <div id="bottomProDetail_Part_right" class="wd_150">
	        <h3 class="font17 marginT10 lightCol txtCenter">sponsored advert</h3>
	        <div class="bottomPart_rightImg txtCenter ">
            <?php if($this->getbannerlist['location']=='Right') { ?>
            <img src="<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->getbannerlist['banner_path']?>" />
            <?php }?></div>
      </div>
	      <!-- load more-->
      
</div> 
      <!-- end load more -->
    </div>
    <!-- comment part end -->
  </div>
 

<div id="alert_msgs" style="position: absolute; top: 263px; left: 520.5px; display:none"><a class="close_btn" href="#" onclick="document.getElementById('alert_msgs').style.display='none';">x</a><div  id="alert_messgs">&nbsp;</div></div>
<?php if($this->msg!='') { ?>
<div id="alert_msgs1" style="position: absolute; top: 263px; left: 520.5px;"><a class="close_btn" href="#" onclick="document.getElementById('alert_msgs1').style.display='none';">x</a><?php echo $this->msg;?></div>
<?php $this->msg=null;
} ?>    



<!--END SOURCE CODE FOR EXAMPLE =============================== -->
