<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/jquery.history.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/js/profile.js" type="text/javascript"></script>
<?php 
$namespace 	= new Zend_Session_Namespace(); 
 $recentactivity = $this->Artuseractivity(); 
########################## Check profile image file exist in db and folder ##################################
if ($this->user_details['userInfo'][0]['profile_image']=='') {
	$profile_img = 'NoProfileImg_148x148.jpg'; 
}else{
	$filename = 'images/profile_image/large/'.$this->user_details['userInfo'][0]['profile_image'];
	if (file_exists($filename)) {
	    $profile_img = $this->user_details['userInfo'][0]['profile_image'];
	} else {
	    $profile_img = 'NoProfileImg_148x148.jpg';
	}
}
########################## END Check profile image file exist in db and folder ##################################

$msg = isset($this->user_details['countInbox'][0]['msg']) ? $this->user_details['countInbox'][0]['msg'] : '0';
?>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331707456879431";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">

$(document).ready(function(){
$(".addComment, .writeCommentBox").click(function(event) { event.stopPropagation(); }); 
$(".addComment").click(function(){

	$(this).parents().siblings("#writeCommentBoxArea").fadeIn(1000);

$(".cancel a").click(function(){
$(this).parents("#writeCommentBoxArea").fadeOut(500);
});


});


});

</script>
<script type="text/javascript">
$(function()
{ 
userID='<?php echo $this->user_details['userInfo'][0]['user_id'];?>';
$('.red_pointer').live("hover",function()
{	 
var ID = $(this).attr("id");
 
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'loadmore', 'action_name'=> $this->action_name, 'id'=> $this->user_details['userInfo'][0]['user_id']),'default',true)?>",
data: "lastmsg="+ ID+ "&userID="+userID,
cache: false,
success: function(html){  
$("#ajaxComent").append(html);

$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});
</script>
<div id="fb-root"></div>
<div id="main"><div id="zend_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'boughtnsold','id'=>$this->user_details['userInfo'][0]['user_id']),'default',true);?></div>
<div id="default_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'biography','id'=>$this->user_details['userInfo'][0]['user_id']));?></div>
<div id="feed_url" style="display: none;"><?php echo $this->url(array('controller'=>'Profile', 'action'=>'feedbackrating','id'=>$this->user_details['userInfo'][0]['user_id']));?></div>
<div id="main">
    <!-- welcome area -->
    <?php include 'headpart.phtml';?>
    <div id="userIntroArea">
      <div id="userIntroArea_left" class="paddingL10">
        <div><img height="137" width="137" src="<?php echo $this->baseUrl();?>/images/profile_image/large/<?php echo $profile_img;?>" /></div>
        <div class="floatL wd_150 marginT10">
          <div class="floatL">Type:</div>
          <div class="floatL marginL5 marginB5 darklTXT"><?php echo $this->user_details['userInfo'][0]['group_type'];?></div>
          <div class="clear"></div>
          <div class="floatL">Joined:</div> 
          <div class="floatL marginL5 marginB5 darklTXT"><?php echo isset($this->user_details['userInfo'][0]['create_date']) ? date('M\' Y',strtotime($this->user_details['userInfo'][0]['create_date'])) : ''; ?></div>
          <div class="clear"></div>
          <div class="floatL">Location:</div>
          <div class="floatL marginL5 marginB5 darklTXT"><?php if($this->user_details['userInfo'][0]['city']){echo $this->user_details['userInfo'][0]['city'];}else{echo $this->user_details['userInfo'][0]['country'];}?></div>
          <div class="clear"></div>
          <div class="floatL">Age:</div>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo ($this->user_details['userInfo'][0]['dob']!='0000-00-00') ? floor(abs(strtotime(date('Y-m-d')) - strtotime($this->user_details['userInfo'][0]['dob'])) / (365*60*60*24)) : '';?></div>
          <div class="clear"></div>
          <div class="floatL">Following:</div>
          <div class="floatL marginL10 marginB5 darklTXT"><?php echo $this->user_details['userInfo'][0]['following'];?></div>
          <div class="clear"></div>
          <div class="floatL">Reviews made:</div>
          <div class="floatL marginL10 marginB5 darklTXT">4</div>
		  <div class="clear"></div>
		    <div class="floatL" style="position:absolute;">
          	<div class="floatL">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/profile/userprofile/id/<?php echo $this->user_details['userInfo'][0]['user_id'];?>" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		  	</div>
           
          <div style="width: 38px;" class="floatL marginL10 fb-like" data-href="<?php echo $_SERVER['HTTP_HOST']?><?php echo $this->baseUrl();?>/profile/userprofile/id/<?php echo $this->user_details['userInfo'][0]['user_id'];?>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial">
          </div>
        </div>
        </div>
      </div>
      <div id="userIntroArea_mid">
        <div class="floatL wd250 lineHT40">
          <h1><?php echo $this->user_details['userInfo'][0]['first_name'].' '.$this->user_details['userInfo'][0]['last_name'];?></h1>
        </div>
      
        <!-- greyBox -->
        <div class="greyrectBox floatL">
          <div class="ftrsBox">
              <?php 
				if($this->total_trans_money>=0 && $this->total_trans_money<=50)
				{  $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconWT.png';}
				 if($this->total_trans_money>50 && $this->total_trans_money<=100)
				{  $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconYellow.png';}
				 if($this->total_trans_money>100 && $this->total_trans_money<=200)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconGreen.png';}
				 if($this->total_trans_money>200 && $this->total_trans_money<=500)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconOrange.png';}
				 if($this->total_trans_money>500 && $this->total_trans_money<=1000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconCyan.png';}
				 if($this->total_trans_money>1000 && $this->total_trans_money<=2000)
				{; $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconBlue.png';}
				 if($this->total_trans_money>2000 && $this->total_trans_money<=5000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconRed.png';}
				 if($this->total_trans_money>5000 && $this->total_trans_money<=10000)
				{$rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconSilver.png';}
				 if($this->total_trans_money>10000)
				{ $rosette=$this->baseUrl().'/images/TopArtistIconIMages/topArtist_iconGold.png';}
				?>
            <div class="floatL"> <img src="<?php echo $rosette;?>"  /></div>
            <div class="history redTXT floatL" onclick="boughtnsold('<?php echo $this->url(array('controller'=>'Profile','action'=>'boughtnsold','review'=>'1','id'=>$this->user_details['userInfo'][0]['user_id']))  ?>')"  style="cursor:pointer" title="Click to view transactions"><?php echo $this->total_tans?></div>
          </div>
          <div class="ftrsBox  floatL">Feedback  <span class="redTXT"  onclick="feedrate('<?php echo $this->url(array('controller'=>'Profile','action'=>'feedbackrating','review'=>'1','id'=>$this->userid))  ?>')" style="cursor:pointer"  title="Click to view feedback rating"><?php echo $this->feedbackper?> %</span></div>
          <div class="ftrsBox floatL">Sales: <span class="darklTXT"><?php echo $this->total_sold?></span></div>
          <div class="ftrsBox floatL">Followers: <span class="darklTXT"><?php echo $this->user_details['userInfo'][0]['follower'];?></span></div>
          <div class="ftrsBox BorderNone floatL">Review: <span class="darklTXT">0</span></div>
        </div>
        <!-- greyBox end -->
         <div class="marginL10 floatL marginT20"  id="show_trans">
        
        </div>
      </div>
      <div id="userIntroArea_right">
        <h3 class="marginT10">recent activity</h3>
		 <?php for ($i=0;$i<count($recentactivity);$i++){?>
				<?php $atime=explode(':',$recentactivity[$i]['act_time']);
				if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.' Day(s)';
					}
				else
				{
					if($atime[0]!='00') { $actime=$atime[0].' hours '; }
					else if($atime[1]!='00') { $actime =$atime[1].' minutes ';}
					else if($atime[2]!='00') { $actime =$atime[2].' seconds ';}
				
				}
				?>
				
				<!-- activity show here -->
	        <div class="marginB5 darklTXT borderBottom"> <?php echo stripslashes($recentactivity[$i]['activity_msg'])?><br />
	          <div class="lightCol font11 paddingB10"><?php echo $actime?> ago</div>
	        </div>
	        <!-- activity end here -->
                <?php }?>  
       
      </div>
    </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
     <?php echo $this->render('profile/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery"> 
    <?php $cou = 1;for ($i = 0; $i < count($this->userArt); $i++) {?>
    	<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userArt[$i]['id']));?>">
    		<img height="148"  width="148" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $this->userArt[$i]['image'];?>">
    	</a>
      	 
      	<?php if ($cou==5){echo '';$cou = 0;}else{ echo '<div class="clearVer2"></div>';}$cou++;}?>
      	
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
    <!-- comment part start -->
    <div id="bottomProDetail_Part" class="paddingB50">
      <div id="bottomProDetail_Part_left" class="wd800">
        <!-- add comment -->
        <form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'comment','page'=>$this->page))  ?>" method="post" onsubmit="return checkcomment();">
	        <div id="addCommentArea" class="wd780  HT125">
	          <div class="floatL marginL10 marginT5">
	            <textarea class="wd610" name="maincomment" id="maincomment"></textarea><br><span id="reqcomment" style="color: #FF0000;"></span>
	            <input type="hidden" name="id" value="<?php echo $this->user_details['userInfo'][0]['user_id'];?>">
	            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
	          </div>
	          <div class="floatL marginL5 marginT20"  id="comm_id">
	            <?php if ($namespace->email==''){?>
			<a class="tip8" title="Login" href="#login_frm"> 
			<input type="button" value="   " name='submit' id='submit' /> </a>
			<?php } else {?>
			<input type="submit" value="   " name='submit' id='submit' />
			<?php } ?>
	          </div>
	        </div>
	    </form>
        <!-- add comment end -->
        <!-- show comment -->
        <span id="ajaxComent">
        <div id="showCommentArea">
         <?php  $j=1;
					foreach($this->comments as $eventf){ 
						if ($eventf['profile_image']=='') {
							$profile_imgComment = 'NoProfileImg_50x50.jpg';
						}else{
							$filenameC = 'images/profile_image/small/'.$eventf['profile_image'];
							if (file_exists($filenameC)) {
							    $profile_imgComment = $eventf['profile_image']; 
							} else { //
							    $profile_imgComment = 'NoProfileImg_50x50.jpg';
							}
						} if ($j>1){ break;} 
					?>	
          	<div id="showCommentBox" class="wd780">
            	<div class="showComment_imgBox"><img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $profile_imgComment;?>"></div>
            	<div class="showComment_title">
              		<h2 class="font13 noMargin"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventf['user']));?>"><?php echo $eventf['first_name'];?></a></h2>
              		<span class="small font11"><?php echo date('d / M/ Y h:i:s',strtotime($eventf['feedtime']));?> </span>
              	</div>
              	<div class="showComment_comment wd500">
              		<h2 class="font13"><?php echo nl2br($this->Escape(stripslashes($eventf['feedback'])));?></h2>
              	<?php foreach($this->feedbackscomments as $eventfc){ 
              		 
              		if($eventfc['fcid']>0 && $eventfc['feedback_id']==$eventf['id']) {?>
               
            	
              		<div class="showComment_commentInside">
                		<div class="showComment_icon marginT10 marginL10"> <span class="floatL">0</span> <span class="floatL marginL10"><img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg"></span> </div>
                		<span class="floatL marginL5 marginT5"><img src="<?php echo $this->baseUrl();?>/images/browse_search/curve_arrow.png"></span>
                		<h2 class="floatL font13 marginT10 marginBN">
                		<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$eventfc['userID']));?>"><?php echo $eventfc['first_name'];?> </a>
                		<span class="small">(<?php echo date('d/M/Y h:i:s',strtotime($eventfc['cdate']));?>)</span></h2>
                	
                		<div class="clear"></div>
                		<h2 class="floatL font13 marginL25 marginT-25"><?php echo nl2br($this->Escape(stripslashes($eventfc['comment'])));?></h2>
              		</div>
              		<?php }}?>
		            <div class="clear"></div>
		           	<span class="small font11"><a href="javascript:void(0);"><span class="addComment">Add comment</span></a></span>  
<!------------------------------ write comment box here ------------------------------>
		<div id="writeCommentBoxArea">  
			<form name="myform" action="<?php echo $this->url(array('controller'=>'Profile','action'=>'feedcomment','page'=>$this->page))  ?>" method="post" >
		    	<div class="writeCommentBox">
		        	<div class="cancel">
		        		<a href="javascript:void(0);"><img src="<?php echo $this->baseUrl();?>/images/browse_search/cancel_iconsmall.png" border="0" /></a>
		        	</div>
		            <div><textarea id='subcomment' name='subcomment'></textarea></div>
		            <div><input type='hidden' name='feedid' value="<?php echo $eventf['id'];?>">
		            <input type="hidden" name="id" value="<?php echo $this->user_details['userInfo'][0]['user_id'];?>">
		            <input type="hidden" name="action_name" value="<?php echo $this->action_name;?>">
				  	<?php if ($namespace->email==''){?>
						<a class="tip8" title="Login" href="#login_frm"> 
						<input type="button" value="   " name='submit' id='submit' /> </a>
					<?php } else {?>
				  		<input type="submit" value=" " />
				  	<?php } ?>
				  	</div>
		        </div>
		    </form>
		</div>           
<!--------------------------- END write comment box here ------------------------------> 
	            </div>
	            

	           	<div class="showComment_icon" style="width: 70px;"> 
	           		<span class="floatL">20</span> 
           			<span class="floatL marginL10">
           				<img src="<?php echo $this->baseUrl();?>/images/browse_search/thumb_like.jpg">
           					           		
		           		<a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'deletecomment', 'comment_id'=>$eventf['id'], 'action_name'=> $this->action_name, 'id'=> $this->user_details['userInfo'][0]['user_id']),'default',true);?>">
		           			<img src="<?php echo $this->baseUrl();?>/images/browse_search/delete.png">
		           		</a>
		           		 
           			</span>
           		</div>
	         </div>
	         <?php $j++;}?>
	     </div>
	     </span>
	     <?php if($j>1) { ?> 
	     <div id="more1" class="loadMoreBox"> <a class="red_pointer" href="#" id="1">Load more</a> </div>
	     <?php } ?>
        <!-- show comment end -->
      </div>
      <div id="bottomProDetail_Part_right" class="wd_150">
        <h3 class="font17 marginT10 lightCol txtCenter">sponsored advert</h3>
        <div class="bottomPart_rightImg txtCenter "><?php  if($this->getbannerlist['location']=='Right') { ?>
            <img src="<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->getbannerlist['banner_path']?>" />
            <?php }?></div>
      </div>
      <!-- load more 
      <div id="loadMore"> <a href="#" class="red_pointer">Load more</a> </div>-->
     <?php if($j>1) { ?>  <div id="more1" class="morebox">
<a href="#" id="1" class="more">more</a>
</div> <?php } ?>
      <!-- end load more -->
    </div>
    <!-- comment part end -->
  </div>
  
  <div style="display:none" >
	<form id="login_frm" action="" method="post" >
    	<p id="login_error">Please, Login or Register to do this action</p><p id="ac_error" style="display: none; color: #FF0000;">Login ID or password not matched!</p>
    	<table>
    		<tr>
    			<td><label for="login_name">Login: </label></td><td><input type="text" class="signup_input" style="width:168px;" size="25" id="logemail" name="logemail" /></td>
    		</tr>
    	
			<tr>
    			<td><label for="login_pass">Password: </label></td><td><input type="password" class="signup_input" style="width:168px;" size="25" value="" id="pass" name="pass" /></td>
    		</tr>
			 
			 <tr>
    			<td colspan="2"><input type="submit" class="sign_up_submit" style="width: 58px;" value="login" id="login" name="login"></td>
    		</tr>
			<tr>
    			<td colspan="2">New User <a href='<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>'>Register here</a></td>
    		</tr>	
	 	</table>
	</form>
</div>
 </div>
