<div id="secondarycms">
      <p class="clearer">&nbsp;</p>
      <!-- Inner page content start here -->
      
      <div id="inner_content_area">
	  <?php 
					foreach($this->cmslist_model_result as $event){ 
					$sectionname=$event['section_name'];
					$sectiondescription=$event['section_description'];
					$sectionid=$event['id'];
					}
					?>
      <h2><?php  if($sectionid!='') {echo ucwords(stripslashes($sectionname)); } else { echo "Content not published.";}?></h2>
      <div class="inner_content_text">
       <?php echo nl2br(html_entity_decode(htmlentities(stripslashes($sectiondescription)))); ?><br /><br />
                    <div class="inner_content_cat">
                     <ul>
					 <?php 
					  if($sectionid!='')
					foreach($this->categorylist_model_result as $event){ 
					?>
                    <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmscategory','sec'=>$sectionid,'page'=>$event['id']),'default',true);?>"><?php echo ucwords(stripslashes($event['category_name']));?></a></li>
					<?php 
					}
					?>
                    </ul>
                    </div><br />

                   
                 
                    
                    
      </div>
      </div>
      
  <!-- Inner page content end here -->
</div></div>