<div id="secondarycms">
      <p class="clearer">&nbsp;</p>
      <!-- Inner page content start here -->
      
      <div id="inner_content_area">
	   <?php 
					foreach($this->categorylist_model_result as $event){ 
					$categoryname=$event['category_name'];
					$categoryid=$event['id'];
					}
					foreach($this->sectionlist_model_result as $event){ 
					$sectionname=$event['section_name'];
					$sectionid=$event['id'];
					}
					?>
	  <?php 
					foreach($this->subcategorylist_model_result as $event){ 
					$subcategoryname=$event['subcategory_name'];
					$subcategorydescription=$event['subcategory_description'];
					$subcategoryid=$event['id'];
					$categoryid=$event['category_id'];
					}
					?>
      <h2><?php if($subcategoryid!='') {echo ucwords(stripslashes($subcategoryname));} else { echo "Content not published.";}?></h2>
	  	  <h3><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssection','page'=>$sectionid),'default',true)  ?>"><?php echo ucwords($sectionname)?></a> &gt;&gt; <a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmscategory','sec'=>$sectionid,'page'=>$categoryid),'default',true)  ?>"><?php echo ucwords(stripslashes($categoryname))?></a> &gt;&gt; <?php echo ucwords(stripslashes($subcategoryname))?></h3>

      <div class="inner_content_text">
       <?php echo nl2br(html_entity_decode(htmlentities(stripslashes($subcategorydescription))))?><br /><br />
                    <div class="inner_content_cat">
                    
                    </div><br />

                   
                    
                    
      </div>
      </div>
      
  <!-- Inner page content end here -->
</div></div>