<?php  
 echo $this->headScript()->appendFile($this->baseUrl().'/includes/ckeditor/ckeditor.js','text/javascript');
?>
<script src="<?php echo $this->baseUrl();?>/includes/ckeditor/ckeditor.js" type="text/javascript"></script>
<?php  
	$namespace 	= new Zend_Session_Namespace();
	$userstuff	= new Application_Model_Artuser();
	$users		= $userstuff->getUsers();
	if($this->msgId)
	{
	$messages	= new Application_Model_ArtInbox();
	$msg_cont	= $messages->myIndmessage($this->msgId);
	}
?>  
<script language="javascript" type="text/javascript">
	function validate(){ 
		if(document.getElementById("subject").value == ''){
		alert('Please Enter Subject');
		return false;
		}
		if(CKEDITOR.instances.editor.getData() == ''){
		alert('Please Enter Message');
		return false;
		}
	
	return true;
	}
</script>
<div id="main">
	<!-- ** Begin left hand nav ** -->
     <?php echo $this->render('profile/left_menu.phtml');?>
    
    <!-- ** End left hand nav ** -->
    <form  action="<?php echo $this->url(array('controller'=>'message', 'action'=>'savemsg'),'default',true)  ?>" onsubmit="return validate();" method="post" name="myform" enctype="multipart/form-data">
	    <div id="messagesComposeArea" class="paddingB10">
		    <div class="mailControlArea">
		    	<div class="floatL marginT7 marginL10"><h3>COMPOSE</h3></div>
		    </div>
		    <?php if(isset($this->msg)){ ?> <div class="youraccountdeleted"><?php echo $this->msg ;?> </div> <?php }?>
		    <div class="clear marginB10"></div>
		    <!-- mail compose -->
		    <div class="wd100 floatL">To :</div>
		    <div class="floatL">
		    	<select class="select" name="receiver_id" id="receiver_id">
		        	<?php foreach($users as $user){ if($msg_cont[0]['sender_id']==$user['id']) { $sender_name=$user['first_name'].' '.$user['last_name']; }?>
					<option value="<?php echo $user['id']?>" <?php echo $msg_cont[0]['sender_id']==$user['id']?'selected':''?>><?php echo ucfirst($user['first_name'].' '.$user['last_name'])?></option>
					<?php } ?>
		        </select>
		    </div>
		    <div class="clear marginB10"></div>
		    <div class="wd100 floatL">Subject :</div>
		    <div class="floatL"><input type="text" name="subject" id="subject" value="<?php echo $msg_cont[0]['subject']!=''?'Re: '.$msg_cont[0]['subject']:''?>"></div>
		    <div class="clear marginB10"></div>
		    <div class="wd100 floatL marginB5">Message :</div>
		    <div class="floatL">
				<textarea id="editor" name="editor"><?php if(empty($this->editor)){ echo $this->mailcontent['message']; }else { $this->editor; }?></textarea>
				<script type="text/javascript">CKEDITOR.replace( 'editor' );</script>
			</div><input type='hidden' value='<?php echo $msg_cont[0]['message']!=''?'<b><u>On '.$msg_cont[0]['receive_date'].', '.$sender_name.'  wrote:</b></u><br/><br/>'.$msg_cont[0]['message']:''?>' name='old_msg' id='old_msg' />
		    <div class="clear"></div>
		    <div class="marginT20 marginB10"><input type="submit" value=" "></div>
		    <!-- mail compose end -->
		</div>
	</form>
</div>
    <!-- /content wrapper 2 -->
<div class="clear"> </div>
  </div>