<div class="inner-right-content"> 

	<h2 class="page-title">Manage Message </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php 
 $messages	= new Application_Model_ArtInbox();
$msg_cont	= $messages->myIndmessage($this->msgId);
$userstuff		= new Application_Model_Artuser();
$userVal	= $userstuff->selestuser($msg_cont[0]['sender_id']); 
$userVal_rec	= $userstuff->selestuser($msg_cont[0]['receiver_id']); 
 $i=0;
	?>				
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Message</div><a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'messagelist'))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
	 <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Message from:</strong></td>

        <td  style='padding:5px'><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?>
          </td>
      </tr>
	  <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Message to:</strong></td>

        <td  style='padding:5px'><?php echo ucfirst($userVal_rec[0]['first_name']).' '.$userVal_rec[0]['last_name'];?>
          </td>
      </tr>
	   <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Message Date:</strong></td>

        <td  style='padding:5px'><?php echo date('M d, Y',strtotime($msg_cont[0]['receive_date'])); ?>
          </td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Subject:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo stripslashes($msg_cont[0]['subject']); ?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px;'><strong>Message:</strong></td>
        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo stripslashes($msg_cont[0]['message']); ?></div></td>
      </tr>
     

    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>