<!-- ** Begin secondary area ** -->

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/validation.js"> </script>

 </div>
 <script>
 	var log = "";
	if(log != '' )
	{
		window.opener.location.reload(true); 
		window.close();
	}

	
</script><div id="container">
      <p class="clearer">&nbsp;</p>
      <!-- registration form & Artex News area -->
      <div id="registration_artexnews_area">
      <!-- Signup form start here -->
	 	 <form name="myform" action="<?php echo $this->url(array('controller'=>'Registration','action'=>'groupregistration','page'=>$this->page),'default',true)  ?>" method="post" onsubmit="return checkUser();">
     		 <div id="registration_form_area">
      <div class="signup_title">REGISTER WITH ART EX</div>
      <div class="signup_heading">Register today to browse and buy artworks or to upload your own artworks to the site.</div>
<div class="signup_heading2">Already registered or want to make a change to you account? <a href="#">Sign in</a><br /><?php echo $_SESSION['msg'];$_SESSION['msg'] = '';?></div>
<hr />
     <div id="registration_form_left">
     <ul>
     <li><span class="registration_form_title">ABOUT  YOU</span></li>
     <li id="error_msg" style="border:dotted;border-color: #DA3838;width: 238px;display: none;"></li>
     <li>First Name</li>
<li><?php echo $this->form->firstname;?></li>
<li>Surname</li>
<li><?php echo $this->form->lastname;?></li>
<li>Email</li>
<li><?php echo $this->form->email;?></li>
<li>Re-enter email</li>
<li><?php echo $this->form->reemail;?></li>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId   : '344900998860937',
      session : <?php //echo json_encode($this->fb->getSession()); ?>, // don't refetch the session when PHP already has it
      status  : true, // check login status
      cookie  : true, // enable cookies to allow the server to access the session
      xfbml   : true // parse XFBML
    });

    	// whenever the user logs in, we refresh the page
	FB.Event.subscribe('auth.login', function() {
	  window.location.reload();

	});

};
(function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_ES/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

 </script>
<li><div class="registration_form_heading">HAVE A SCOUT CODE?</div>
<div style="line-height:normal">Get 20% discounted fees on your first 2 listings.<br />
  <strong>Invite others</strong> for more of the same!</div></li>
<li><?php echo $this->form->scoutcode;?></li>
     </ul>
     </div>
     <div id="registration_form_right">
     <ul>
     <li><span class="registration_form_title">YOUR ID &amp; PASSWORD</span></li>
     <li>Create your ArtEx user ID</li>
     <li><?php echo $this->form->userid;?></li>
<li>Create Your Password</li>
<li><?php echo $this->form->password;?></li>
<li>Re-enter your password</li>
<li><?php echo $this->form->repassword;?></li>
<li>
<div style="border:1px dashed #999; padding:0 0 25px 10px; width:290px; margin-top:10px;">
<strong>ALTERNATIVELY</strong>...
<br />
<img src="<?php echo $this->baseUrl();?>/images/signupform/gmail_btn.jpg" width="189" height="44" /><br />

<a href="#" onClick="logface()"><img src="<?php echo $this->baseUrl();?>/images/signupform/facebook_btn.jpg" width="199" height="44" /></a></div>
</li>
     </ul>
     
     </div>
     <div id="registration_form_bottom">
      <ul>
     <li><strong>USER AGREEMENT</strong></li>
     <li><textarea class="registration_form_textarea">Photoshop, Fireworks, and Flash are powerful web-development tools for creating and managing graphics and SWF files. You can tightly integrate Dreamweaver with these tools to simplify your web design workflow.


Note: There is also limited integration with some other applications. For example, you can export an InDesign file as XHTML and continue working on it in Dreamweaver. For a tutorial on this workflow, see www.adobe.com/go/vid0202.

You can easily insert images and Flash content (SWF files) in a Dreamweaver document. You can also edit an image or Flash file in its original editor after you insert it in a Dreamweaver document.


Note: To use Dreamweaver in conjunction with these Adobe applications, you must have these applications installed on your computer.
Product integration is achieved through roundtrip editing, in the case of Fireworks and Flash, and Design Notes. Roundtrip editing ensures that code updates are transferred correctly between Dreamweaver and these other applications (for example, to preserve rollover behaviors or links to other files).
Photoshop, Fireworks, and Flash are powerful web-development tools for creating and managing graphics and SWF files. You can tightly integrate Dreamweaver with these tools to simplify your web design workflow.


Note: There is also limited integration with some other applications. For example, you can export an InDesign file as XHTML and continue working on it in Dreamweaver. For a tutorial on this workflow, see www.adobe.com/go/vid0202.

You can easily insert images and Flash content (SWF files) in a Dreamweaver document. You can also edit an image or Flash file in its original editor after you insert it in a Dreamweaver document.


Note: To use Dreamweaver in conjunction with these Adobe applications, you must have these applications installed on your computer.
Product integration is achieved through roundtrip editing, in the case of Fireworks and Flash, and Design Notes. Roundtrip editing ensures that code updates are transferred correctly between Dreamweaver and these other applications (for example, to preserve rollover behaviors or links to other files).
Photoshop, Fireworks, and Flash are powerful web-development tools for creating and managing graphics and SWF files. You can tightly integrate Dreamweaver with these tools to simplify your web design workflow.


Note: There is also limited integration with some other applications. For example, you can export an InDesign file as XHTML and continue working on it in Dreamweaver. For a tutorial on this workflow, see www.adobe.com/go/vid0202.

You can easily insert images and Flash content (SWF files) in a Dreamweaver document. You can also edit an image or Flash file in its original editor after you insert it in a Dreamweaver document.


Note: To use Dreamweaver in conjunction with these Adobe applications, you must have these applications installed on your computer.
Product integration is achieved through roundtrip editing, in the case of Fireworks and Flash, and Design Notes. Roundtrip editing ensures that code updates are transferred correctly between Dreamweaver and these other applications (for example, to preserve rollover behaviors or links to other files).


</textarea></li>
<div style="float:left; width:670px; padding:10px; line-height:normal;"><div style="float:left; width:25px;"><input type="checkbox" checked="checked" name="alert" value="yes"/></div><div style="float:left; width:470px; padding-top:3px; padding-left:7px;"><strong>I would like to receive communications from ArtEx.</strong></div>
</div>
<div style="float:left; width:670px; background-color:#FFFFFF; padding:10px; line-height:normal;"><div style="float:left; width:25px;"><input type="checkbox" name="condition" id="condition"/></div><div style="float:left; width:470px; padding-top:3px; padding-left:7px;">I accept the User Agreement which is the terms and conditions that apply to my use of ArtEx,and have read the Privacy Policy.</div><div style="float:right; padding-right:15px;"><input type="submit" value="" name="continue" style="background-image:url(<?php echo $this->baseUrl();?>/images/signupform/finish.jpg); height: 34px; width: 128px; border:0px;" /></div></div>
<div style="float:left;">
&nbsp;&nbsp;</div></li>
     </ul>
     </div> 
    
      
      </div>
		 </form>
      <!-- signup form end here -->
      <!-- artex news area -->
      <div id="artexnews_area">
      <div id="news" class="col_small col_final titlebar">
            <h3>ARTEX NEWS</h3>
            
            <div class="news_sml event">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml article">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml press">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml report">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150.gif" width="150" height="20" alt="" />
            </div>
            
            <div class="news_sml report">
                <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                <span class="notes">21/09/2011</span></p>
            </div>
            
            
            <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
            </div>
            
        </div>
      </div>
      <!-- end artex news here -->
      </div>
      <!-- end registration form & Artex News area -->
</div>
    <script>
 
	function logface()
  {
	  var url = "<?php echo $this->loginUrl; ?>";

	newwindow = window.open(url,'','width=700,height=400,left=200,top=200',false);

	 //return false;
  }
</script>
<!-- ** End secondary area ** -->