<?php  
	$namespace = new Zend_Session_Namespace();
	$category  = $this->headercontent();
	$news = $this->news();
	$recentactivity = $this->Artuseractivity();
    $showart = $this->getartlist;
   // echo '<pre>';print_r($showart); 
  // echo count($showart[0]);die();
?> 
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>

<script>
setInterval( "endinsoonest('<?php echo $this->url(array('controller'=>'Index', 'action'=>'reindex'),'default',true)?>')", 600000 );
setInterval( "topscroll('<?php echo $this->url(array('controller'=>'Index', 'action'=>'retopscroll'),'default',true)?>')", 600000 );
window.onload = checkauction('<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'checkauction'),'default',true)?>');

</script>

<!-- ** Begin primary area ** -->
<div id="main">
	<!-- ** Begin carousel ** -->
    	<div id="containers" style="position:relative;text-align:left;width:975px;background:#fff;margin-bottom:2em;height: 360px;padding-left:15px;padding-top:15px; overflow:hidden;">
	<div id="content">
		<div id="slider">
			<ul >
            <?php 
				$banner = $this->banner();
				$allgloble = new Application_Model_DbTable_ArtGlobelinfo();	
				$rec =	$allgloble->getglobelinfoAll();
				
				$rate=0;
				for($i=0;$i<count($banner);$i=$i+2){ 
					$artworkuploadrate_model = new Application_Model_DbTable_Artworkrating();
					$artworkuploadrate_model_result = $artworkuploadrate_model->getArtworkrate_user($banner[$i]['id'],$namespace->userid);	 
					$rate=0;
					if(count($artworkuploadrate_model_result)>0)
						$rate=$artworkuploadrate_model_result[0]['rating'];
						
					$artworkuploadbidcount_model = new Application_Model_DbTable_Artworkbid();
					$artworkuploadbidcount_model_result = $artworkuploadbidcount_model->getBidlist_count($banner[$i]['id']);	
					$noofbid=$artworkuploadbidcount_model_result;
				?>				
				<li>
                <div style="width:470px;" class="banner_slide">
                    <img class="banner_img" src="<?php echo $this->baseUrl();?>/upload/big/<?php echo $banner[$i]['image'];?>" height="350" width="478" alt="Demo image">
                    <div class="detailHolder">
                     <h2 class="WTColor"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><?php echo $banner[$i]['title'];?></a></h2>
                     <div class="wd375 floatL marginL80">
                   <div class="wd375 floatL marginL80">
	          					<div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/HRTRed.png" /></div>
	          					<div class="floatL redTXT"><strong><?php echo $banner[$i]['rate_count']==''?'0':$banner[$i]['rate_count'];?></strong></div>
	          					<div class="floatL marginT5 marginL5">
			  					<?php if($rate=='') $rate=0;?> <?php if ($namespace->email!=''){?>
	            					<div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','1','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(1,'<?php echo $banner[$i]['id'];?>')" id='rate1<?php echo $banner[$i]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	         						<div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','2','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(2,'<?php echo $banner[$i]['id'];?>')" id='rate2<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','3','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(3,'<?php echo $banner[$i]['id'];?>')" id='rate3<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	       							<div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','4','<?php echo $banner[$i]['rate_count'];?>')"  onmouseover="show_rate_in(4,'<?php echo $banner[$i]['id'];?>')" id='rate4<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','5','<?php echo $banner[$i]['rate_count'];?>')"  onmouseover="show_rate_in(5,'<?php echo $banner[$i]['id'];?>')" id='rate5<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(5,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div>
								<?php } else { ?>
									<span class='basic-modal'>
										<a class="basic" title="Login" href="#"><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(1,'<?php echo $banner[$i]['id'];?>')" id='rate1<?php echo $banner[$i]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(2,'<?php echo $banner[$i]['id'];?>')" id='rate2<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(3,'<?php echo $banner[$i]['id'];?>')" id='rate3<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(4,'<?php echo $banner[$i]['id'];?>')" id='rate4<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(5,'<?php echo $banner[$i]['id'];?>')" id='rate5<?php echo $banner[$i]['id'];?>' onmouseout="hide_rate(5,<?php echo $rate?>,'<?php echo $banner[$i]['id'];?>')"></div></a>
								    </span>
								<?php } ?>
	          					</div>
	          					<div class="floatL marginL10">rate</div>
	        				</div>
                   </div>
                   <div>Artist: <span class="WTColor"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$banner[$i]['owner_id']));?>"><?php echo $banner[$i]['first_name'].' '.$banner[$i]['last_name'];?></a></span></div>
                   <?php $actime=''; 
			
			if($noofbid['noofbid']!=0) {
			$atime=explode(':',$banner[$i]['ending']);
					if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'days ';
					$actime .=$hr.'hours ';
					if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
	  			}			?>  
                   <div>Ends: <span class="WTColor"><?php echo $h<=0?'Bid Close':$actime;?> </span></div>
			 <?php 
					   if($banner[$i]['price']!='0.00') {
					   ?>  		    
					        <div>Bid: <span class="WTColor"><?php echo $noofbid['noofbid']?></span></div>
					        <div>Current bid: <span class="WTColor"><?php 
								$maxbid	= new Application_Model_DbTable_Artworkbid();
								$maxbidVal = $maxbid->getBidMaxlist($banner[$i]['id']); 
							?>
		                    <a href="#" class="currentbid">&pound; <?php echo count($maxbidVal)<=0?$banner[$i]['price']:$maxbidVal['0']['maxbid']?></a></span>
		                    </div>
                       
                     
                   <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" /></a></div>
                   <?php 
					   } else {
					   ?> 
                       <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" /></a></div> 
                       <?php 
					   }
					   ?> 
                   
                   
                   
                   
                   
                     </div>
                   </div><?php  // Used to block div no any value for second artwork

				   if($banner[$i+1]['id'] > 0) {
				$artworkuploadrate_model = new Application_Model_DbTable_Artworkrating();
			$artworkuploadrate_model_result = $artworkuploadrate_model->getArtworkrate_user($banner[$i+1]['id'],$namespace->userid);	 
			$rate=0;
			if(count($artworkuploadrate_model_result)>0)
				$rate=$artworkuploadrate_model_result[0]['rating'];
			$artworkuploadbidcount_model = new Application_Model_DbTable_Artworkbid();
			$artworkuploadbidcount_model_result = $artworkuploadbidcount_model->getBidlist_count($banner[$i+1]['id']);	
			$noofbid=$artworkuploadbidcount_model_result;
				?><div style="width:470px;" class="banner_slide"> 
                   
                   
                   
                    <img class="banner_img" src="<?php echo $this->baseUrl();?>/upload/big/<?php echo $banner[$i+1]['image'];?>" height="350" width="478" alt="Demo image">
                    <div class="detailHolder">
                   <h2 class="WTColor"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><?php echo $banner[$i+1]['title'];?></a></h2>
                   <div class="wd375 floatL marginL80">
                   <div class="wd375 floatL marginL80">
	          					<div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/HRTRed.png" /></div>
	          					<div class="floatL redTXT"><strong><?php echo $banner[$i+1]['rate_count']==''?'0':$banner[$i+1]['rate_count'];?></strong></div>
	          					<div class="floatL marginT5 marginL5">
			  					<?php if($rate=='') $rate=0;?> <?php if ($namespace->email!=''){?>
	            					<div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','1','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(1,'<?php echo $banner[$i+1]['id'];?>')" id='rate1<?php echo $banner[$i+1]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	         						<div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','2','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(2,'<?php echo $banner[$i+1]['id'];?>')" id='rate2<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','3','<?php echo $banner[$i]['rate_count'];?>')" onmouseover="show_rate_in(3,'<?php echo $banner[$i+1]['id'];?>')" id='rate3<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	       							<div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','4','<?php echo $banner[$i+1]['rate_count'];?>')"  onmouseover="show_rate_in(4,'<?php echo $banner[$i+1]['id'];?>')" id='rate4<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
	        						<div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>" onclick="return rate('<?php echo $banner[$i+1]['id'];?>','<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'rating'),'default',true)?>','5','<?php echo $banner[$i+1]['rate_count'];?>')"  onmouseover="show_rate_in(5,'<?php echo $banner[$i+1]['id'];?>')" id='rate5<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(5,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div>
								<?php } else { ?>
									<span class='basic-modal'>
										<a class="basic" title="Login" href="#"><div class="<?php echo $rate>=1?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(1,'<?php echo $banner[$i+1]['id'];?>')" id='rate1<?php echo $banner[$i+1]['id'];?>'  onmouseout="hide_rate_in(1,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=2?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(2,'<?php echo $banner[$i+1]['id'];?>')" id='rate2<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(2,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=3?'ratingHRThover':'ratingHRT'?>" onmouseover="show_rate_in(3,'<?php echo $banner[$i+1]['id'];?>')" id='rate3<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(3,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=4?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(4,'<?php echo $banner[$i+1]['id'];?>')" id='rate4<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate_in(4,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								        <a class="basic" title="Login" href="#"><div class="<?php echo $rate>=5?'ratingHRThover':'ratingHRT'?>"  onmouseover="show_rate_in(5,'<?php echo $banner[$i+1]['id'];?>')" id='rate5<?php echo $banner[$i+1]['id'];?>' onmouseout="hide_rate(5,<?php echo $rate?>,'<?php echo $banner[$i+1]['id'];?>')"></div></a>
								    </span>
								<?php } ?>
	          					</div>
	          					<div class="floatL marginL10">rate</div>
	        				</div>
                   </div>
                   <div>Artist: <span class="WTColor"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$banner[$i+1]['owner_id']));?>"><?php echo $banner[$i+1]['first_name'].' '.$banner[$i+1]['last_name'];?></a></span></div>
                   <?php $actime='';
			
			if($noofbid['noofbid']!=0) {
			 $atime=explode(':',$banner[$i+1]['ending']);
							if($atime[0]>=24) {
				$da=$atime[0]/24;
					$hr=$atime[0]%24;
					$actime=(Int)$da.'days ';
					$actime .=$hr.'hours ';
					if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
					}
				else
				{
				if($atime[0]!='00')  
				{ 
					 $actime=$atime[0].'h '; 
				}
				if($atime[1]!='00')  {$actime .=$atime[1].'min ';}
				//if($atime[2]!='00')  {$actime .=$atime[2].'s ';}
				}
	 		 $h=0;if(substr($atime[0], 0, 1)=='-') { $h=0;} else { $h=1;}
	  			}			?>
                   <div>Ends: <span class="WTColor"><?php echo $h<=0?'Bid Close':$actime;?> </span></div>
<?php 
					   if($banner[$i+1]['price']!='0.00') {
					   ?>  		  
					        <div>Bid: <span class="WTColor"><?php echo $noofbid['noofbid']?></span></div>
					        <div>Current bid: <span class="WTColor"><?php 
								$maxbid	= new Application_Model_DbTable_Artworkbid();
								$maxbidVal = $maxbid->getBidMaxlist($banner[$i+1]['id']); 
							?>
		        <a href="#" class="currentbid">&pound; <?php echo count($maxbidVal)<=0?$banner[$i+1]['price']:$maxbidVal['0']['maxbid']?></a></span>
		                    </div>
            <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" /></a></div>
                    <?php 
					   } else {
					   ?> 
                       <div class="floatN"><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$banner[$i+1]['id']));?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/buy_it_nowBTN.jpg" /></a></div> 
                       <?php 
					   }
					   ?> 
                   </div></div>
                   <?php } // End blocking condition
				   ?>
                     
                
            </li>
			<?php } ?>
			</ul>
		</div>
	</div>
    </div>
    <!-- ** End carousel ** -->
    <?php if ($namespace->email==''){?>
    <!-- ** Begin 3 steps ** -->
    <div id="three_steps">
    	<div id="sign_reg">
        	<p class='basic-modal'><a  title="Login" href="#" class="button home_green basic" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
            <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
        </div>
           <?php $content= new Application_Model_DbTable_Categorylist(); 
		   $content_head=$content->getCategorylistBysectionid('4'); ?> 
        <div class="step first">
        	<img src="<?php echo $this->baseUrl();?>/images/home/step1.gif" width="50" height="110" alt="1" />
            <div class="step_txt">
            	<h3><?php echo $content_head[0]['category_name'];?></h3>    
                <p><?php echo $content_head[0]['category_description'];?></p>
            </div>
        </div>
        <div class="step">
        	<img src="<?php echo $this->baseUrl();?>/images/home/step2.gif" width="90" height="110" alt="2" />
            <div class="step_txt">
            	<h3><?php echo $content_head[1]['category_name'];?></h3>    
                <p><?php echo $content_head[1]['category_description'];?></p>
            </div>
        </div>
        <div class="step">
        	<img src="<?php echo $this->baseUrl();?>/images/home/step3.gif" width="90" height="110" alt="3" />
            <div class="step_txt">
                	<h3><?php echo $content_head[2]['category_name'];?></h3>    
                    <p><?php echo $content_head[2]['category_description'];?></p>
            </div>
        </div>
        <p class="clearer">&nbsp;</p>  		    
    </div>
        <!-- ** End 3 steps ** -->
     <?php }?>
        
        <!-- ** Begin left hand nav ** -->
        
        <?php echo $this->render('index/left.phtml');?>
		
        <!-- ** End left hand nav ** -->
      
      	<!-- ** Begin thumbnails ** -->
        
    <div id="home_thumbs">
    	<div class="thumb_strip grey" >
        <?php for ($i=0;$i<count($showart[0]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';} ?>
        	<div <?php echo $class;?>>
            	<img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[0][$i]['image']?>" width="148" height="148" alt="" />
                <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[0][$i]['id']));?>"><?php echo $showart[0][$i]['title'];?></a></h3>
                <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[0][$i]['owner_id']));?>"><?php echo $showart[0][$i]['first_name'].' '.$showart[0][$i]['last_name'];?></a></p>
                <?php if($showart[0][$i]['buy_it_now']=='0.00') {?>
                <p>Current bid : 
                <?php $maxbid = new Application_Model_DbTable_Artworkbid();
					$maxbidVal_rec = $maxbid->getBidMaxlist($showart[0][$i]['id']); 
				?>
	            <br /><a href="#" class="currentbid">&pound; <?php echo count($maxbidVal_rec)<=0?$showart[0][$i]['price']:$maxbidVal_rec['0']['maxbid']?></a></p>
            </div>
		 <?php }
		else { ?>
         <p>Buy it now :
        <br /><a href="#" class="currentbid">&pound; <?php echo $showart[0][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
            <div class="strip_info">
                <h2>Ending Soonest</h2>
                <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="" />
                <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending Soonest'),'default',true);?>">See more</a></p>
                <a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="" />
                <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending Soonest'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
            </div>
        </div>
            
        <div class="thumb_strip">
        	<?php for ($i=0;$i<count($showart[1]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
            <div <?php echo $class;?>>
            	<img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[1][$i]['image']?>" width="148" height="148" alt="" />
                <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[1][$i]['id']));?>"><?php echo $showart[1][$i]['title'];?></a></h3>
                <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[1][$i]['owner_id']));?>"><?php echo $showart[1][$i]['first_name'].' '.$showart[1][$i]['last_name'];?></a></p>
                <?php if($showart[1][$i]['buy_it_now']=='0.00') {?>
                <p>Current bid: 
                <?php $maxbid = new Application_Model_DbTable_Artworkbid();
					  $maxbidVal_recent	= $maxbid->getBidMaxlist($showart[1][$i]['id']); 
				?> 
                <br /><a href="#" class="currentbid">&pound; <?php echo count($maxbidVal_recent)<=0?$showart[1][$i]['price']:$maxbidVal_recent['0']['maxbid']?></a></p>
            </div>
            <?php }else { ?>
         <p>Buy it now :
        <br /><a href="#" class="currentbid">&pound; <?php echo $showart[1][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
            <div class="strip_info">
            	<h2>Recently Added</h2>
                <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_white.gif" width="150" height="15" alt="" />
                    <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
                </div>
            </div>
            <div class="thumb_strip grey">
            <?php for ($i=0;$i<count($showart[2]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
            	<div <?php echo $class;?>>
                    <img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[2][$i]['image']?>" width="148" height="148" alt="" />
                    <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[2][$i]['id']));?>"><?php echo $showart[2][$i]['title'];?></a></h3>
                    <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[2][$i]['owner_id']));?>"><?php echo $showart[2][$i]['first_name'].' '.$showart[2][$i]['last_name'];?></a></p>
                    <?php if($showart[2][$i]['buy_it_now']=='0.00') {?>
                    <p>Current bid: 
                    <?php $maxbid		= new Application_Model_DbTable_Artworkbid();
						$maxbidVal_top	= $maxbid->getBidMaxlist($showart[2][$i]['id']); 
					?> 
                    <br /><a href="#" class="currentbid">&pound; <?php echo count($maxbidVal_top)<=0?$showart[2][$i]['price']:$maxbidVal_top['0']['maxbid']?></a></p>
                </div>
            <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[2][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
            <div class="strip_info">
            	<h2>Top Rated</h2>
                <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="" />
                <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
            </div>
        </div>
        <div class="thumb_strip">
        	<?php for ($i=0;$i<count($showart[3]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
            <div <?php echo $class;?>>
            	<img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[3][$i]['image']?>" width="148" height="148" alt="" />
                <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[3][$i]['id']));?>"><?php echo $showart[3][$i]['title'];?></a></h3>
                <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[3][$i]['owner_id']));?>"><?php echo $showart[3][$i]['first_name'].' '.$showart[3][$i]['last_name'];?></a></p>
                <?php if($showart[3][$i]['buy_it_now']=='0.00') {?>
                <p>Current bid: 
                <?php $maxbid		= new Application_Model_DbTable_Artworkbid();
					$maxbidVal_artist	= $maxbid->getBidMaxlist($showart[3][$i]['id']); 
				?> 
                <br /><a href="#" class="currentbid">&pound; <?php echo count($maxbidVal_artist)<=0?$showart[3][$i]['price']:$maxbidVal_artist['0']['maxbid']?></a></p>
            </div>
            <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[3][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
            <div class="strip_info">
          		<h2>Top Artists</h2>
                <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_white.gif" width="150" height="15" alt="" />
                <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists'),'default',true);?>">See more</a></p>
                <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
            </div>
        </div>
    </div>
    <!-- ** End thumbnails ** -->
    <p class="clearer">&nbsp;</p>
</div>
<!-- ** End primary area ** -->
