<?php  
	$namespace 	= new Zend_Session_Namespace();
	$category   = $this->headercontent();
	$banner     = $this->banner();
	$news = $this->news();
    $showart    = $this->getartlist;
    
?> 
<script src="<?php echo $this->baseUrl();?>/js/common.js" type="text/javascript"></script>
  <div class="thumb_strip grey" >
            <?php //echo '<pre>';print_r($showart[0]);
            for ($i=0;$i<count($showart[0]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';} ?>
                <div <?php echo $class;?>>
                    <img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[0][$i]['image']?>" width="148" height="148" alt="" />
                    <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[0][$i]['id']));?>"><?php echo $showart[0][$i]['title'];?></a></h3>
                    <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[0][$i]['owner_id']));?>"><?php echo $showart[0][$i]['first_name'].' '.$showart[0][$i]['last_name'];?></a></p>
                     <?php if($showart[0][$i]['buy_it_now']=='0.00') {?>
                    <p>Current bid : 
                    <?php 
							$maxbid		= new Application_Model_DbTable_Artworkbid();
							$maxbidVal_rec	= $maxbid->getBidMaxlist($showart[0][$i]['id']); 

							?>
                   
                    <br /><a href="#" class="currentbid">&pound; <?php echo $maxbidVal_rec['0']['maxbid']==''?$showart[0][$i]['price']:$maxbidVal_rec['0']['maxbid']?></a></p>
                </div>
            <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[0][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
                

                <div class="strip_info">
                    <h2>Ending Soonest</h2>
                    <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="" />
                    <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending soonest'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending soonest'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
                </div>
            </div>
			
			 <div class="thumb_strip">
                 <?php for ($i=0;$i<count($showart[1]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
                <div <?php echo $class;?>>
                    <img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[1][$i]['image']?>" width="148" height="148" alt="" />
                    <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[1][$i]['id']));?>"><?php echo $showart[1][$i]['title'];?></a></h3>
                    <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[1][$i]['owner_id']));?>"><?php echo $showart[1][$i]['first_name'].' '.$showart[1][$i]['last_name'];?></a></p>
                     <?php if($showart[1][$i]['buy_it_now']=='0.00') {?>
                    <p>Current bid: 
                    <?php 
					$maxbid		= new Application_Model_DbTable_Artworkbid();
							$maxbidVal_recent	= $maxbid->getBidMaxlist($showart[1][$i]['id']); 

					?> 
                    <br /><a href="#" class="currentbid">&pound; <?php echo $maxbidVal_recent['0']['maxbid']==''?$showart[1][$i]['price']:$maxbidVal_recent['0']['maxbid']?></a></p>
                </div>
            <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[1][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
                <div class="strip_info">
                    <h2>Recently Added</h2>
                    <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_white.gif" width="150" height="15" alt="" />
                    <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
                </div>
            </div>
            
            <div class="thumb_strip grey">
                 <?php for ($i=0;$i<count($showart[2]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
                <div <?php echo $class;?>>
                    <img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[2][$i]['image']?>" width="148" height="148" alt="" />
                    <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[2][$i]['id']));?>"><?php echo $showart[2][$i]['title'];?></a></h3>
                    <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[2][$i]['owner_id']));?>"><?php echo $showart[2][$i]['first_name'].' '.$showart[2][$i]['last_name'];?></a></p>
                     <?php if($showart[2][$i]['buy_it_now']=='0.00') {?>
                    <p>Current bid: 
                    <?php 
					$maxbid		= new Application_Model_DbTable_Artworkbid();
							$maxbidVal_top	= $maxbid->getBidMaxlist($showart[2][$i]['id']); 

					?> 
                    <br /><a href="#" class="currentbid">&pound; <?php echo $maxbidVal_top['0']['maxbid']==''?$showart[2][$i]['price']:$maxbidVal_top['0']['maxbid']?></a></p>
                </div>
               <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[2][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
                 
                
                <div class="strip_info">
                    <h2>Top Rated</h2>
                    <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="" />
                    <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
                </div>
            </div>
            
            <div class="thumb_strip">
                 <?php for ($i=0;$i<count($showart[3]);$i++){ if($i==0){$class = 'class="slidedown first"';}else{$class = 'class="slidedown"';}?>
                <div <?php echo $class;?>>
                    <img class="cover" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $showart[3][$i]['image']?>" width="148" height="148" alt="" />
                    <h3><a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$showart[3][$i]['id']));?>"><?php echo $showart[3][$i]['title'];?></a></h3>
                    <p>by <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$showart[3][$i]['owner_id']));?>"><?php echo $showart[3][$i]['first_name'].' '.$showart[3][$i]['last_name'];?></a></p>
                     <?php if($showart[3][$i]['buy_it_now']=='0.00') {?>
                    <p>Current bid: 
                    <?php 
					$maxbid		= new Application_Model_DbTable_Artworkbid();
							$maxbidVal_artist	= $maxbid->getBidMaxlist($showart[3][$i]['id']); 

					?> 
                    <br /><a href="#" class="currentbid">&pound; <?php echo $maxbidVal_artist['0']['maxbid']==''?$showart[3][$i]['price']:$maxbidVal_artist['0']['maxbid']?></a></p>
                </div>
            <?php }else { ?>
         <p>Buy it now :
         <br /><a href="#" class="currentbid">&pound; <?php echo $showart[3][$i]['buy_it_now']?></a></p></div>
        <?php } }?>
                
                <div class="strip_info">
                    <h2>Top Artists</h2>
                    <img src="<?php echo $this->baseUrl();?>/images/home/strip_dots_white.gif" width="150" height="15" alt="" />
                    <p><a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists'),'default',true);?>">See more</a></p>
                    <a href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists'),'default',true);?>"><img src="<?php echo $this->baseUrl();?>/images/home/more.gif" width="45" height="30" alt="More" /></a>
                </div>
            </div>