<!-- ** Begin secondary area ** -->



      <div id="main">
       <?php $content= new Application_Model_DbTable_Sectionlist(); 
		   $content_head=$content->getSectionlist('5'); ?> 
      <p >&nbsp;
      <!-- registration form & Artex News area -->
    <?php echo $content_head['section_description'];?>
      <!-- end registration form & Artex News area -->
	  </p>
</div>
  
<!-- ** End secondary area ** -->