<!-- ** Begin secondary area ** -->


 </div>
<div id="container">
	<p class="clearer">&nbsp;</p>
       
  	<div id="registration_artexnews_area">
    	<div id="thnkyou_area">
	 		<div class="thnkyou_area_heading">THANKS </div> <br />
		  	<div class="thnkyou_area_title">WELCOME IN ARTEX</div><br />
		  	<div class="thankyou_content_text">Congratulations your ArtEx account has been activated. <br /><br /><br />
												We appreciate your interest in ArtEx.
			</div>
		</div>
     
	</div>
      <!-- end registration form & Artex News area -->
</div>
  
<!-- ** End secondary area ** -->