<?php  
 echo $this->headScript()->appendFile($this->baseUrl().'/includes/ckeditor/ckeditor.js','text/javascript');
?>
<script src="<?php echo $this->baseUrl();?>/includes/ckeditor/ckeditor.js" type="text/javascript"></script>
<?php  
	$namespace 	= new Zend_Session_Namespace();
	$userstuff	= new Application_Model_Artuser();
	$users		= $userstuff->getUsers();
?>  
<div id="main">

<div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>MESSAGES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Inbox</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent'),'default',true) ; ?>">Sent Messages</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'trash'),'default',true) ; ?>">Trash</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Create a New Folder</a></li>
					<ul>
					<?php
					foreach($this->viewfolders as $event ) 
						{ ?>
                	<li style="padding-left:20px"><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'folder','fid'=>$event['id']),'default',true) ; ?>"><?php echo $event['folder_name']?></a></li>
					<?php }
					?>
					</ul>
                </ul>
            </div> 
            
            
        </div>
         <div id="home_thumbs">
<script type="text/javascript">
$(document).ready(function(){
	$('#email_delete').submit(function()
	{
		var arr	=	$(this).serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>

<script language="javascript" type="text/javascript">
	function validate(){
		if(document.getElementById("subject").value == ''){
		alert('Please Enter Subject');
		return false;
		}
		if(document.getElementById("editor").value == ''){
		alert('Please Enter message');
		return false;
		}
	
	return true;
	}
</script>

      <div class="midd_column">
		 
        <!--- /paging end -->
        <div class="mail_box">
		
		<form  action="<?php echo $this->url(array('controller'=>'message', 'action'=>'savemsg'),'default',true)  ?>" onsubmit="return validate()" method="post" name="myform" enctype="multipart/form-data">
	<div class="subscription_box">
	<?php if(isset($this->msg)){ ?> <div class="youraccountdeleted"><?php echo $this->msg ;?> </div> <?php }?>
		<div class="subscription_row"> <label>To :</label> 
		<select name="receiver_id" id="receiver_id">
			<?php foreach($users as $user){?>
			<option value="<?php echo $user['id']?>"><?php echo ucfirst($user['first_name'].' '.$user['last_name'])?></option>
			<?php } ?>
		</select>
		</div>
		</div>
		<div class="subscription_row"> <label>Subject :</label> <input type="text" name="subject" id="subject" value=""></div>
		<div class="subscription_row"> <label>Message :</label>
		 <textarea id="editor" name="editor"><?php if(empty($this->editor)){ echo $this->mailcontent['message']; }else { $this->editor; }?></textarea>
							<script type="text/javascript">
                                CKEDITOR.replace( 'editor' );
                            </script>
		
		 </div>
		

		<div class="subscription_row mart marb"> <label>&nbsp;</label>   <input type="submit" value="Submit"></div>
						   
	</div>
</form>
		
		</div>	
        
        <!--- /paging end -->
      </div>
      <!-- middle column end -->
    </div>
    <!-- /content wrapper 2 -->
    <div class="clear"> </div>
  </div>