<?php $namespace 	= new Zend_Session_Namespace(); ?> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/css/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/login/jquery.fancybox-1.3.4.js"></script>
<div id="main">
    
        <!-- ** Begin left hand nav ** -->
        
        <div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>MESSAGES</h3>
                <ul class="lhn">
                	<li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'compose'),'default',true) ; ?>">Compose</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Inbox</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent'),'default',true) ; ?>">Sent Messages</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'trash'),'default',true) ; ?>">Trash</a></li>
                    <li><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'mailfolder'),'default',true) ; ?>">Create a New Folder</a></li>
					<ul>
					<?php
					foreach($this->viewfolders as $event ) 
						{ ?>
                	<li style="padding-left:20px"><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'folder','fid'=>$event['id']),'default',true) ; ?>"><?php echo $event['folder_name']?></a></li>
					<?php }
					?>
					</ul>
                </ul>
            </div> 
            
            
        </div>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">
	  
		<script type="text/javascript">
$(document).ready(function(){
	$('#del_chk_msg').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$('#move').click(function()
	{
		var arr	=	$('#email_delete').serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to move')
			return false;
		}
		if(!confirm('Are you sure to move message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>

      <div class="midd_column">
		 
        <div class="mail_box">
		<form name="email_delete" id="email_delete" action="#" >	
		<?php
			$j=0; 
			if(count($this->paginator)>0)
			{
				foreach($this->paginator as $key =>$val ) 
				{ 
					//$userVal	= $userstuff->userRec($val['msg_by']);
					//if($j%2==0){ $style= " mail_row";}
					//else{ $style= "mail_row grey_bg";}
					
					
					
					?>
					<div class="<?php echo $style ?>">
						<input name="chk_del[]" type="checkbox" value="<?php echo $val['msg_id']?>" /> 
						<a href="#"><span class="name"> 
							<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$val['sender_id']));?>"><?php echo ucfirst($val['first_name']).' '.$val['last_name'];?></a>
							
						</span> </a>
						<span class="message">
							<a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'read','id'=>$val['msg_id']),'default',true) ; ?> ">
								Next step: Read <?php echo ucfirst($val['first_name'])?>'s message 
							</a>
							<?php 
							if($val['read_status']==1)
							{ ?>
								<img src="<?php echo $this->baseUrl()?>/images/read.png" style="width:16px;height:16px" >
							<?php } 
							else
							{?>
								<img src="<?php echo $this->baseUrl();?>/images/unread.png" style="width:16px;height:16px" >
						<?php 	}?>
						</span> 
						<span class="time">
							<b style="font-size: 11px;"><?php echo date('M d, Y',strtotime($val['receive_date'])); ?></b> <br> 
							<?php 
								$day = round((strtotime(date('Y-m-d'))- strtotime($val['receive_date']))/86400); 
								if($day<1){ echo 'Sent today';}
								else { echo $day.' days ago.'; }
							?> 
							
							
						</span> 
					</div>	
					<?php
					$j++;
				} 
			}
			else
			{
				echo "<div style='padding: 50px 40px; color: #555; font-size: 18px; float:left'>You currently have no emails</div>";
				
			} 
			//exit;
			?>
			<div class="clear"> </div>
			<?php if($this->paginator>0){ ?> 
			<br>
			<div class="paging mrg_btm0">
				<input name="del_chk_msg" id="del_chk_msg" type="submit" value="Delete" >
				<select name='folder_name' id='folder_name'> 
				<?php
					foreach($this->viewfolders as $event ) 
						{ ?>
                	<option value='<?php echo $event['id']?>'><?php echo $event['folder_name']?></option>
					<?php }
					?>
					</select>
				<input name="move" id="move" type="submit" value="Move" >
				<div align="center">
	<?php  echo $this->paginationControl($this->paginator,'Sliding','index/pagination.phtml'); ?>
</div>
			</div>
			<?php } ?>
		</form>	
		</div>	
        
        <!--- /paging end -->
      </div>	  
	  
	  </div>
      
        <p class="clearer">&nbsp;</p> 

    </div>
