<script type="text/javascript">
<!--
public function saveMessages($pId,$msg_type)
{
	$db			=	$this->getDbTable3();
	
	if($msg_type=='reply')
	{
		$rep	=	$pId['msg_text'];
		
		$data	= 	array('msg_sec_id'=>$pId['rpl_id'],'msg_to'=>$pId['msg_textPid'],'msg_by'=>$pId['userId'],'msg_body'=>$rep,'msg_date'=>date("Y-m-d H:i:s"));
		
	}
	else
	{
		$data	= 	array('msg_to'=>$pId['msg_textPid'],'msg_by'=>$pId['userId'],'msg_body'=>$pId['msg_text'],'msg_date'=>date("Y-m-d H:i:s"));
	}
	$insRec	=	$db->insert($data); 
	if($insRec)
	{
		$resData	=	'Insert';
	}
	return $resData;
} 
//-->
</script>
<?php $namespace 	= new Zend_Session_Namespace(); ?>  
 <div id="home_thumbs">
      <div class="midd_column">
        <div class="navigation2">
          <ul> 
            <li><a href="javascript:void(0)" class="active" ><span>Message Box</span></a></li>
          </ul>
        </div>
        <!-- /Navigation 2 End  -->
        <div class="mail_box">
			<div class="check_all_box" style=" padding:10px;">
				<?php
					$messages	= new Application_Model_ArtInbox();
					$msg_cont	= $messages->myIndmessage($this->msgId);
					$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->selestuser($msg_cont[0]['sender_id']); 
				?>
				Message from - <b><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$msg_cont[0]['sender_id']));?>"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></a> </b> on 
				<span class="time">
					<b style="font-size: 11px;">
						<?php echo date('M d, Y',strtotime($msg_cont[0]['receive_date'])); ?>
					</b>
				</span>
				<span class=" floatR">
				<?php
				if(empty($this->Ctype))
				{ ?>
					<a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?> " class="active">
						<b style="font-size: 11px;"><< Back to Inbox</b>
					</a>
				<?php } 
				else { ?>
					<a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent'),'default',true) ; ?> " class="active">
						<b style="font-size: 11px;"><< Back to Sent</b>
					</a>
				<?php } ?>	
				</span>
			</div>	
			<br>
			<div class="mail_row" style="border:1px solid #999; ">
				<?php echo stripslashes($msg_cont[0]['message']); ?>
			</div>
			
			<div class="clear"> </div>
			
		</div>	
      </div>
   </div>
    <!-- /content wrapper 2 -->
    <div class="clear"> </div>
 