<?php  
	$namespace 	= new Zend_Session_Namespace();
	$userstuff	= new Application_Model_Artuser();
	$val		= $userstuff->selestuser($namespace->userid);
?>  
<div id="main">

<div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>MESSAGES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Inbox</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent'),'default',true) ; ?>">Sent Messages</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'trash'),'default',true) ; ?>">Trash</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Create a New Folder</a></li>
					<ul>
					<?php
					foreach($this->viewfolders as $event ) 
						{ ?>
                	<li style="padding-left:20px"><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'folder','fid'=>$event['id']),'default',true) ; ?>"><?php echo $event['folder_name']?></a></li>
					<?php }
					?>
					</ul>
                </ul>
            </div> 
            
            
        </div>
         <div id="home_thumbs">
<script type="text/javascript">
$(document).ready(function(){
	$('#email_delete').submit(function()
	{
		var arr	=	$(this).serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>

      <div class="midd_column">
		 
        <!--- /paging end -->
        <div class="mail_box">
		<form name="email_delete" id="email_delete" action="#" >	
		<?php
			$j=0;
			if(count($this->paginator)>0)
			{
				foreach($this->paginator as $key =>$val ) 
				{ 
					$userVal	= $userstuff->selestuser($val['receiver_id']);
					if($j%2==0){ $style= " mail_row";}
					else{ $style= "mail_row grey_bg";}
					
					?>
					<div class="<?php echo $style ?>">
						<input name="chk_del[]" type="checkbox" value="<?php echo $val['msg_id']?>" /> 
							<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$val['receiver_id']));?>"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></a>
						<span class="message">
							<a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'read','id'=>$val['msg_id'],'type'=>'sent'),'default',true) ; ?> ">
								Next step: Read what you send to 	<?php echo ucfirst($userVal[0]['first_name'])?>
							</a>
							
						</span> 
						<span class="time">
							<b style="font-size: 11px;"><?php echo date('M d, Y',strtotime($val['receive_date'])); ?></b> <br> 
							<?php 
								$day = round((strtotime(date('Y-m-d'))- strtotime($val['receive_date']))/86400); 
								if($day<1){ echo 'Sent today';}
								else { echo $day.' days ago.'; }
							?> 
						</span> 
					</div>	
					<?php 
					$j++;
				}
			}
			else
			{
				echo "<div style='padding: 50px 40px; color: #555; font-size: 18px; float:left'>You still not sent any email.</div>";
			} 
			//exit;
			?>
			<div class="clear"> </div>
			<?php if($this->paginator>0){ ?> 
			<br>
			<div class="paging mrg_btm0">
				<input name="del_chk_msg" id="del_chk_msg" type="submit" value="Delete" >
				<?php  echo $this->paginationControl($this->paginator,'Sliding','index/pagination.phtml'); ?>
			</div>
			<?php } ?>
		</form>	
		</div>	
        
        <!--- /paging end -->
      </div>
      <!-- middle column end -->
    </div>
    <!-- /content wrapper 2 -->
    <div class="clear"> </div>
  </div>