<!--/*******************************************************
@@	pagination for Gifts Controller
@@	Added on 21 Dec 2011 By Anil Rawat
********************************************************/	-->
<?php
	$request = Zend_Controller_Front::getInstance()->getRequest();
	$searchelement = $request->getParam('searchelement');
	$extraParams = $searchelement != '' ? ",'searchelement' => $searchelement" : '';
	
?>
<?php if ($this->pageCount): ?>
<div class="paginationControl">
<?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?> of <?php echo $this->totalItemCount; ?>
<!-- First page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->first,'searchelement' => $searchelement)); ?>">First </a> |
<?php else: ?>
  <span class="disabled">First</span> |
<?php endif; ?>
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->previous,'searchelement' => $searchelement)); ?>"> &lt; Previous  </a> |
<?php else: ?>
  <span class="disabled">&lt; Previous</span> |
<?php endif; ?>
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->next,'searchelement' => $searchelement)); ?>">  Next &gt; </a> |
<?php else: ?>
  <span class="disabled">Next &gt;</span> |
<?php endif; ?>
<!-- Last page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->last,'searchelement' => $searchelement)); ?>">  Last  </a>
<?php else: ?>
  <span class="disabled">Last</span>
<?php endif; ?>
</div>
<?php endif; ?>
<br />

     
   