<?php
	$request = Zend_Controller_Front::getInstance()->getRequest();
	$searchelement = $request->getParam('searchelement');
	$extraParams = $searchelement != '' ? ",'searchelement' => $searchelement" : '';
	 
?>Showing <?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?> of <?php echo $this->totalItemCount; ?>/ page 1 of <?php echo count($this->pagesInRange);?>
<span class="marginL75">
<?php if ($this->pageCount){ ?>


  <!--Previous page link --> 
	 <?php if (isset($this->previous)){ ?>
	  <a href="<?php echo $this->previous; ?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/back_arrow.png" /> </a> 
	 <?php }else{ ?>
	  <img src="<?php echo $this->baseUrl();?>/images/browse_search/back_arrow.png" /> 
	<?php } ?>
	&nbsp;&nbsp; 
  <!--Next page link -->
 	 <?php if (isset($this->next)){ ?>
	  <a href="<?php echo $this->next; ?>"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> </a>
	 <?php }else{?>
	  <img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> 
	<?php } ?>
<?php }?>
</span>