<?php
$namespace = new Zend_Session_Namespace(); 

?>

<script type='text/javascript' src='<?php echo $this->baseUrl();?>/js/ddaccordion.js'></script>
<script type="text/javascript">


ddaccordion.init({ //top level headers initialization
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: false, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})

ddaccordion.init({ //2nd level headers initialization
	headerclass: "subexpandable", //Shared CSS class name of sub headers group that are expandable
	contentclass: "subcategoryitems", //Shared CSS class name of sub contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["opensubheader", "closedsubheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>


  <!-- ** Begin left hand nav ** -->
    <div class="col_small marginR8">
      <div class="titlebar">
        <div class="arrowlistmenu">
          <h3 class="menuheader expandable">SELLING TIPS</h3>

            <ul  class="categoryitems">
              <li><a class="red_pointer" href=<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2, 'cat'=>7,'page'=>11),'default',true);?>">Descriptions</a></li>
              <li><a class="red_pointer" href="<?php echo urldecode($this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2, 'cat'=>7,'page'=>11,'tab'=>'#photo'),'default',true));?>">Photographs</a></li>
              <li><a class="red_pointer" href="<?php echo urldecode($this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2, 'cat'=>7,'page'=>11,'tab'=>'#work'),'default',true));?>">Valuing work</a></li>
              <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2, 'cat'=>7,'page'=>11),'default',true);?>">Galleries</a></li>
            </ul>

        </div>
        
        
         
         
      </div>
    </div>
    <!-- ** End left hand nav ** -->
