<?php   //echo $this->msg;  


?>



<div class="inner-right-content"> 


	<div class="white-box-cont">


	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>

       
	</div>
	 <table  width="100%">
    	       <tr><td><h2 class="page-title">Manage Bid </h2></td></tr>
		      <tr>
    <td align ="right">

      <a href="<?php echo $this->url(array('controller'=>'adminmanagebid', 'action'=>'artworkbidlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a></td></tr>		   
		</table>
<div class="white-box">
<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="6%"><center>S.R.No</center></th>	
				<th width="13%"><center>Bidder</center></th>
				<th width="19%"><?php if($this->sortBy=='current_bid asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'current_bid desc')) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'current_bid asc')) ?>" id='linkhead'>
				<?php } ?>Current Bid</a></th>
				<th width="19%"><?php if($this->sortBy=='maximum_bid asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'maximum_bid desc')) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'maximum_bid asc')) ?>" id='linkhead'>
				<?php } ?>Maximum Bid</a></th>
				<th width="17%"><center><?php if($this->sortBy=='bid_date asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'bid_date desc')) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'bidlist','sortBy'=>'bid_date asc')) ?>" id='linkhead'>
				<?php } ?>Bid Date</a></center></th>
	
               
			    </tr>

					<?php $i=1;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><?php echo $i?></td>
					<?php
					$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->selestuser($event['bidder_id']);
					?>
					<td width="9%" align="center"  valign="middle"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
					<td align="left" valign="top" >&pound; <?php echo $event['current_bid'];?></td>
					<td align="left" valign="top" >&pound; <?php echo $event['maximum_bid'];?></td>
					<td align="center" id="containerID"><?php echo $event['bid_date'];?></td>

					
					
					</tr>
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='7'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					


					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        