<?php
$serchurl = BASE_URL."admin/autoselect";
/*echo '<pre>';
print_r($this->paginator);
die;*/
?>
<script LANGUAGE="JavaScript">
<!--
function cmsdel() {
var msg;
 
msg= "Are you sure you want to delete ? " ;
var agree=confirm(msg);
if (agree)
return true ;
else
return false ;
}
// -->
</script>

<div class="inner-right-content"> 
<h2 class="page-title">Manage User</h2>

<div class="white-box-cont">
<div class="message"  id="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg; echo $this->err_msg; ?></div>
<div style="text-align:center; margin-top:5px;margin-bottom:5px;" class="message"><?php if ($_SESSION['add_gr']){?><?php  echo $_SESSION['add_gr'];$_SESSION['add_gr']=''?><?php } if ($_SESSION['msg']){?><?php  echo $_SESSION['msg']; $_SESSION['msg']='';}?></div>
<div class="searchconmain">
			<div class="searchconleft">
				
					<!--<div id="ad_sec_btn">
							
								<a style="text-decoration: none;" href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'addmember'),'default',true)  ?>">Add Member</a> 
					</div>-->
				
			</div>
			<div class="searchconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'adminmember', 'action'=>'member'),'default',true) ?>" method="post">
			 
			
			<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
			<input type="text"  id="squestion" name="searchelement" class="search_box" 
			  value="<?php echo $this->psquestion ?>" /> 
		</form>

			</div>
			<div class="searchconright"></div>
		</div>
	</div>
<div class="white-box">

        <form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				 
				<tr>
				  <th width="5%"><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></th>
				  
					<th width="14%" >
					<?php if($this->sortBy=='first_name asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'first_name desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'first_name asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>First Name</a></th>
					<th width="14%">
					<?php if($this->sortBy=='last_name asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'last_name desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'last_name asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>Last Name</a></th>
					<th width="18%">
					<?php if($this->sortBy=='email asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'email desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'email asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>		
				<?php } ?>
					Email</a></th>
					<th width="11%">
					<?php if($this->sortBy=='login_time asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'login_time desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'login_time asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>Last Login</a></th>
					<th width="12%">
					<?php if($this->sortBy=='active asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'active desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member','sortBy'=>'active asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
					
					Status</a></th>
					<th width="10%">Action</th>
				</tr>
				<?php //echo '<pre>';print_r($this->users);?> 
				 <?php foreach($this->paginator as $event){?>
				<tr> 
					 <td><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					 <td><?php echo $event['first_name'];  ?></td>
					 <td><?php echo $event['last_name'];  ?></td>
					 <td><?php echo $event['email'];  ?></td>
					 <td><?php echo $event['login_time'];  ?></td>
					 <?php if($event['active']=='1') {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'0', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'' ,'status'=>'1', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>
					<?php }?>
					 
					 
					 
					 
					 <td width="16%">
					 		<!--<a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20" alt="Edit" title="Click Here To Edit" /></a>-->&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'deletemember', 'id'=>$event['id']),'default',true)  ?>" onclick="return cmsdel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>					 </td>
        		</tr>
        		<?php }?>
			 <tr>
					
					    
					     <td colspan='7'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'active'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'inactive'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'deletemember'),'default',true)  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>
			        
			  </tr>
        </table></form>

    

</div><!-- page-cont ends -->

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div>
</div><!-- white-box ends-->

</div><!-- inner-right-content -->

        