<?php

$serchurl = BASE_URL."admin/autoselect";
/*echo '<pre>';
print_r($this->editusers);
die;*/
?>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/validation.js"> </script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
	$(function() {
		$( "#dob" ).datepicker({
			dateFormat: 'yy-mm-dd',
			changeYear: true
		});
	});
	</script><script>
function checkEmail(email,id){alert(email);
	var email = email.trim();
	var url = '<?php echo $this->url(array('controller'=>'Adminmember','action'=>'checkuniqueemailedit','page'=>$this->page),'default',true);?>/ckemail/'+ email+'/id/'+ id;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#unique").html(data);
				$("#email").val('');
			}else{
				$("#unique").html('');
			}
		  }
	});
	
}
function checkUserId(userid,id){ 
	var userid = userid.trim();
	var url = '<?php echo $this->url(array('controller'=>'Adminmember','action'=>'checkuniqueuseridedit','page'=>$this->page),'default',true);?>/ckuid/'+ userid+'/id/'+ id;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#uniqueid").html(data);
				$("#userid").val('');
			}else{
				$("#uniqueid").html('');
			}
		  }
	});
	
}
</script>
   </script>
<div class="inner-right-content"> 
<h2 class="page-title">Update Member</h2>
<div class="white-box">
<div class="white-box-cont">

<div class="page-cont">
<div style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px; display: none;" id="error_msg"></div>
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        	<form method="post" action="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member'),'default',true)?>" enctype="multipart/form-data" onsubmit="return check();">
				<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
					
					<tr> 
						 <td colspan="2"><b>Personal Information</b></td>
					</tr>
				 	<tr> 
						 <td>First Name<span class="mandatory">*</span>:</td> 
						 <td><input type="text" name="first_name" value="<?php echo $this->editusers[0]['first_name']?>" id="firstname"></td>
					</tr>
					<tr> 
						 <td>Last Name:</td> 
						 <td><input type="text" name="last_name" value="<?php echo $this->editusers[0]['last_name']?>" id="lastname"></td>
					</tr>
					<tr> 
						 <td>Scout Code:</td> 
						 <td><input type="text" name="scoutcode" value="<?php echo $this->editusers[0]['scoutcode']?>" id="scoutcode"></td>
					</tr>
					<tr> 
						 <td>Email<span class="mandatory">*</span>:</td> 
						 <td><input type="text" name="email"  id="email" onblur="checkEmail(this.value,'<?php echo $this->editusers[0]['id']?>');" value="<?php echo $this->editusers[0]['email']?>"><br><span id="unique" style="color: #BF4444;"></span></td>
					</tr>
					<tr> 
						 <td>UserID<span class="mandatory">*</span>:</td> 
						 <td><input type="text" name="userid"  id="userid" onblur="checkUserId(this.value,'<?php echo $this->editusers[0]['id']?>');"  value="<?php echo $this->editusers[0]['user_id']?>"><br><span id="uniqueid" style="color: #BF4444;"></span></td>
					</tr>
					<tr> 
						 <td>House Name/no:</td> 
						 <td><input type="text" name="house_no" value="<?php echo $this->editusers[0]['house_no']?>" id="house_no"></td>
					</tr>
					
					<tr> 
						 <td>Country:</td> 
						 <td>
						 <select  name=country  id="country">
						 <?php
						  $allgroup	=	new Application_Model_DbTable_ArtCountry();
							$record		=	$allgroup->getcountryName();
							for ($c=0;$c<count($record);$c++) { 
							?>
							<option value="<?php echo $record[$c]['id']?>" <?php echo $this->editusers[0]['country']==$record[$c]['id']?'selected':''?>><?php echo $record[$c]['country'];?></option>
							
						<?php	}
						 ?></select>
						</td>
					</tr>
					<tr> 
						 <td>Street:</td> 
						 <td><input type="text" name="street" value="<?php echo $this->editusers[0]['street']?>" id="street"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> 
						 <td><input type="text" name="city" value="<?php echo $this->editusers[0]['city']?>" id="city"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> 
						 <td><input type="text" name="zip" value="<?php echo $this->editusers[0]['zip']?>" id="zip"></td>
					</tr>
					<tr> 
						 <td>DOB:</td> 
						 <td><input type="text" name="dob" value="<?php echo $this->editusers[0]['dob']?>" id="dob"></td>
					</tr>
					<tr> 
						 <td>Biography:</td> 
						 <td><textarea name="biography" rows="8" cols="15"><?php echo $this->editusers[0]['biography']?></textarea></td>
					</tr>
					<tr> 
						 <td>Profile Image:</td> 
						 <td>
						 	<input type="hidden" name="prev_img" value="<?php echo $this->editusers[0]['profile_image']?>">
						 	<input type="file" name="profile_image" value="<?php echo $this->editusers[0]['profile_image'];?>" />
						 	<img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $this->editusers[0]['profile_image']?>"> (Upload Max File Size <?php echo $this->profilesize;?> KB)
						 </td>
					</tr>
					<tr> 
						 <td>Password:</td> 
						 <td><input type="password" name="password" value="" id="password" ></td>
					</tr>
					<tr> 
						 <td>Status:</td> 
						 <td><select name="active"><option value="1" <?php if ($this->editusers[0]['active']=='1'){echo 'selected="selected"';}?>>Active</option><option value="0" <?php if ($this->editusers[0]['active']=='NULL'){echo 'selected="selected"';}?>>Inactive</option></select></td>
					</tr>
					
					<tr> 
						 <td colspan="2"><b>Billing Information</b></td>
					</tr>
					<tr> 
						 <td>Address:</td> 
						 <td><input type="text" name="baddress" value="<?php echo $this->editusers[0]['billing_address']?>" id="baddress"></td>
					</tr>
					<tr> 
						 <td>Country:</td> 
						 <td><input type="text" name="bcountry" value="<?php echo $this->editusers[0]['billing_country']?>" id="bcountry"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> 
						 <td><input type="text" name="bcity" value="<?php echo $this->editusers[0]['billing_city']?>" id="bcity"></td>
					</tr>
					<tr> 
						 <td>State:</td> 
						 <td><input type="text" name="bstate" value="<?php echo $this->editusers[0]['billing_state']?>" id="bstate"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> 
						 <td><input type="text" name="bzip" value="<?php echo $this->editusers[0]['billing_zip']?>" id="bzip"></td>
					</tr>
					<tr> 
						 <td>Phone Number :</td> 
						 <td><input type="text" name="bphone" value="<?php echo $this->editusers[0]['billing_contact_number']?>" id="bphone"></td>
					</tr>
					 
					<tr> 
						 <td colspan="2"><b>Shipping Information</b></td>
					</tr>
					<tr> 
						 <td>Address:</td> 
						 <td><input type="text" name="saddress" value="<?php echo $this->editusers[0]['shipping_address']?>" id="saddress"></td>
					</tr>
					<tr> 
						 <td>Country:</td> 
						 <td><input type="text" name="scountry" value="<?php echo $this->editusers[0]['shipping_country']?>" id="scountry"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> 
						 <td><input type="text" name="scity" value="<?php echo $this->editusers[0]['shipping_city']?>" id="scity"></td>
					</tr>
					<tr> 
						 <td>State:</td> 
						 <td><input type="text" name="sstate" value="<?php echo $this->editusers[0]['shipping_state']?>" id="sstate"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> 
						 <td><input type="text" name="szip" value="<?php echo $this->editusers[0]['shipping_zip']?>" id="szip"></td>
					</tr>
					<tr> 
						 <td>Phone Number :</td> 
						 <td><input type="text" name="sphone" value="<?php echo $this->editusers[0]['shipping_contact_number']?>" id="sphone"></td>
					</tr>
					<tr> 
						 <td colspan="2"><b>Paypal Information</b></td>
					</tr>
					
					<tr> 
						 <td>Paypal Email :</td> 
						 <td><input type="text" name="pemail" value="<?php echo $this->editusers[0]['paypal_email']?>" id="pemail"></td>
					</tr>
	        		<tr>
	        			 <td colspan="2" align="center"><input type="hidden" name="user_id" value="<?php echo $this->editusers[0]['id']?>" > <input type="submit" name="submit" value="Submit"> <a href="javascript: history.go(-1)" style="text-decoration: none;"><input type="button" value="Cancel" /></a></td>
	        		</tr>
           		</table>
        	</form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	
  
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        