<?php   //echo $this->msg;  


?>



<div class="inner-right-content"> 


	<h2 class="page-title">Manage Bid </h2>
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?></h3>

	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	<div class="searchconmain">
			<div class="searchconleft">
				
					&nbsp;
				
			</div>
			<div class="filterconmiddle" >
		<form action="<?php echo $this->url(array('controller'=>'adminmanagebid', 'action'=>'artworkbidlist'),'default',true) ?>" method="post">
			 
			
			<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
	
			  <select name='bidder_id' id='bidder_id' class="search_box_small" style='margin-left: 5px;'>
			  	<option value=''> Select User</option>
			  <?php
			  		$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->getUsers();
					foreach($userVal as $user){ 
					?>
					<option value='<?php echo $user['id']?>' <?php echo $this->bidder_id==$user['id']?'selected':'' ?>><?php echo $user['first_name']?> <?php echo $user['last_name']?></option>
					<?php } ?>
					</select>
					 <select name='au_id' id='au_id' class="search_box_small">
			  	<option value=''>Select Artwork</option>
			  <?php
			  		$artstuff		= new Application_Model_DbTable_Artworkupload();
					$artVal	= $artstuff->getArtwork();
					foreach($artVal as $artwork){ 
					?>
					<option value='<?php echo $artwork['id']?>' <?php echo $this->au_id==$artwork['id']?'selected':'' ?>><?php echo $artwork['title']?></option>
					<?php } ?>
					</select>
		</form>

			</div>
			<div class="searchconright"></div>
		</div>
 
	</div>
<div class="white-box">
<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="6%"><center>S.R.No</center></th>	
				<th width="13%"><center>Artwork Title</center></th>
				<th width="13%"><center>Bidder</center></th>
				<th width="19%">
				<?php if($this->sortBy=='current_bid asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'current_bid desc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'current_bid asc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } ?>
				Current Bid</a></th>
				<th width="19%">
				<?php if($this->sortBy=='maximum_bid asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'maximum_bid desc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'maximum_bid asc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } ?>
				Maximum Bid</a></th>
				<th width="17%"><center>
				<?php if($this->sortBy=='bid_date asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'bid_date desc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'adminmanagebid','action'=>'artworkbidlist','sortBy'=>'bid_date asc','au_id'=>$this->au_id,'bidder_id'=>$this->bidder_id)) ?>" id='linkhead'>
				<?php } ?>
				Bid Date</a></center></th>
				<th width="10%"><center>Total Bid</center></th>
               
			    </tr>

					<?php $i=1;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><?php echo $i?></td>
					<?php
					$bidstuff		= new Application_Model_DbTable_Artworkbid();
					$bidVal	= $bidstuff->getBidCurlist($event['au_id']);
					$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->selestuser($bidVal[0]['bidder_id']);
					$Artwork_title		= new Application_Model_DbTable_Artworkupload();
					$ArtworkTitle	= $Artwork_title->getArtworkTitlelist($event['au_id']);
					?>
					<td align="left" valign="top" ><?php echo $ArtworkTitle[0]['title']?></td>
					<td width="9%" align="center"  valign="middle"><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
					<td align="left" valign="top" >&pound; <?php echo $bidVal[0]['current_bid'];?></td>
					<td align="left" valign="top" >&pound; <?php echo $bidVal[0]['maximum_bid'];?></td>
					<td align="center" id="containerid"><?php echo $bidVal[0]['bid_date'];?></td>
					<td align="left" valign="top" ><center><a href="<?php echo $this->url(array('controller'=>'adminmanagebid', 'action'=>'bidlist','auid'=>$event['au_id']),'default',true)  ?>"><?php echo $event['countbid'];?></a></center></td>
					
					
					</tr>
					<?php  $i++;} if($i==1)
					{
					?>
					<tr>
				<td colspan='8'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					


					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        