
<div class="inner-right-content"> 
<h2 class="page-title"><?php echo $this->bodyCopy ;?></h2>
<table width="98%" border="0" cellpadding="0" cellspadding="0">
 <tr>
    <td align ="left">
		<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>
	</td></tr>
  <tr>
    <td align ="right"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'sectionlist', 'msg'=>''),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
	</tr>
	
    <td align ="left">
	
	<?php echo $this->form ;?>
	<?php
    $this->ckeditor = 'ckeditor'; //To tell the layout ckeditor must be loaded .
?>
<!-- Description is the id of the textarea -->
<?php echo $this->setupEditor( 'section_description' ); ?>
  </td>
	</tr>
</table>

</div>
