
<div class="inner-right-content"> 
<?php foreach($this->sectionlist_model_result as $sevent){ $section_name=$sevent['section_name'];}?>
<?php foreach($this->categorylist_model_result as $cevent){ $category_name=$cevent['category_name'];}?>
	<h2 class="page-title">Manage Sub-Category </h2>
<div style="padding-left:8px;"><h3><?php echo ucwords($section_name)?> &gt;&gt; <?php echo ucwords($category_name)?></h3></div>
<table width="98%" border="0" cellpadding="0" cellspadding="0">
	 <tr>
  <td align ="left">
		<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	</td></tr>

<tr>
    <td align ="right"><div style="float:left" class="subheading"><?php echo $this->bodyCopy ;?></div><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'subcategorylist', 'id'=>'', 'msg'=>''))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
	</tr>

  <tr>
    <td align ="left">
	<?php //echo $this->bodyCopy ;?>
	<?php echo $this->form ;?>
	<?php
    $this->ckeditor = 'ckeditor'; //To tell the layout ckeditor must be loaded .
?>
<!-- Description is the id of the textarea -->
<?php echo $this->setupEditor( 'subcategory_description' ); ?>
  </td>
	</tr>
</table>
</div>

