<?php   //echo $this->msg;  ?>
<script LANGUAGE="JavaScript" src="<?php echo BASE_URL?>js/script_ajax.js"></script>
<script LANGUAGE="JavaScript">
<!--
function sectiondel() {
var msg;
 
msg= "Are you sure you want to delete ? " ;
var agree=confirm(msg);
if (agree)
return true ;
else
return false ;
}
// -->
</script>

<div class="inner-right-content"> 
<div class="message" style="text-align:center"><?php echo $this->msg;  ?></div>
	<h2 class="page-title">Manage CMS </h2>
	<div class="white-box-cont">
	<td align="right" ><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'addsectionlist'),'default',true)  ?>">Add Section </a></td>   
	</div>
<div class="white-box">
<div class="white-box-cont">

<div>

	    <ul>
			
			<table cellpadding="0" cellspacing="0" width="100%" align="center" class="members-list">
				<tr>
				<th width="9%"><center>S.R.No</center></th>	
				<th><center>
				  Section Name
				</center></th>
				<th width="35%"><center>
				  Description
				</center></th>
                <th width="12%">Status</th>
                <th width="23%"><center>
				  Action
				</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->sectionlist_model_result as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr bgcolor="<?php echo $row;?> " class="content_row">
					<td align="left" valign="top"><?php echo $i+1;?></td>
					
					<td width="21%" align="left" valign="top"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'categorylist', 'sec'=>$event['id']));?>"><?php echo ucwords($event['section_name']);?></a></td>
					<td align="left" valign="top"><?php echo nl2br(html_entity_decode(substr(stripslashes($event['section_description']),0,100)."..."));?></td>
					<?php if($event['status']=='1') {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'id'=>$event['id'], 'status'=>'0'),'default',true)  ?>" ><img src="<?php echo BASE_URL?>images/admin/tick.png" height="18" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'id'=>$event['id'], 'status'=>'1'),'default',true)  ?>" ><img src="<?php echo BASE_URL?>images/admin/unpublish.png" height="18" alt="enable" title="Click Here To Change Status" /></a></td>
					<?php }?>
					<!--<td align="left" valign="top"><?php echo nl2br(htmlspecialchars(substr(stripslashes($event['section_description']),0,100)));?></td>-->
					<td align="center">
							<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'addsectionlist', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit_icon.gif" height="18" alt="Delete CMS" title="Click Here To Edit" /></a><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deletesectionlist', 'id'=>$event['id']),'default',true)  ?>" onclick="return sectiondel();"><img src="<?php echo BASE_URL?>images/admin/delete.png" height="18" alt="Delete" title="Click Here To Delete" /></a><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'viewsectionlist', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/partner_search_icon.jpg" height="18" alt="View CMS" title="Click Here To View" /></a>							</td>
					</tr>
					<?php  $i++;} ?>
					


					</tr>
			</table>
	   </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->
<div align="center">
	<?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?>
</div>
<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        