<?php 
$namespace 	= new Zend_Session_Namespace();

?><?php   //echo $this->msg;  ?>
<script LANGUAGE="JavaScript" src="<?php echo BASE_URL?>js/script_ajax.js"></script>
<script LANGUAGE="JavaScript">

</script>

<div class="inner-right-content"> 

<h2 class="page-title">Manage CMS</h2>
	
	<div class="white-box-cont">
	
	<div class="message" style="text-align:center; margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	<div class="searchconmain">
			<div class="searchconleft">
				
						<div id="ad_sec_btn"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'addsectionlist'),'default',true)  ?>">Add Section </a></div>   

				
			</div>
			<div class="searchconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'sectionlist')) ?>" method="get">
    	
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
        <input type="text"  id="squestion" name="searchelement" class="search_box" 
		  value="<?php echo $this->psquestion ?>" /> 	
        
</form>

			</div>
			<div class="searchconright"></div>
		</div>
	</div>
<div class="white-box">



			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%"class="members-list">
				<tr>
				<th width="7%" ><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th><center>
				<?php if($this->sortBy=='section_name asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'sectionlist','sortBy'=>'section_name desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'sectionlist','sortBy'=>'section_name asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				Section Name</a></center></th>
				<th width="43%"><center>Description</center></th>
                <th width="10%"><center>
				<?php if($this->sortBy=='status asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'sectionlist','sortBy'=>'status desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'sectionlist','sortBy'=>'status asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				
				<?php } ?>
				Status</a></center></th>
                <th width="15%"><center>Action</center></th>
			    </tr>
					<?php $i=0; 
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  class="content_row" style="background-color:<?php echo $row;?>">
					<td align="center" valign="middle"><strong><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></strong></td>
					<td width="21%" align="center" valign="middle"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'categorylist', 'msg'=>'', 'sec'=>$event['id'],'sortBy'=>'','squestion'=>''));?>"><?php echo ucwords($event['section_name']);?></a></td>
					<td align="left" valign="middle"><?php echo $event['section_description']==''?'Description not found.':nl2br(substr(stripslashes(strip_tags($event['section_description'])),0,150))."...";?></td>
					<?php if($event['status']=='1') {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'msg'=>'', 'status'=>'0', 'id'=>$event['id']),'default',true)  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'msg'=>'', 'status'=>'1', 'id'=>$event['id']),'default',true)  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>
					<?php }?>
					<td align="center">
							<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'viewsectionlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;
							<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'addsectionlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20" alt="Delete CMS" title="Click Here To Edit" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deletesectionlist', 'msg'=>'', 'id'=>$event['id']),'default',true)  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a></td>
					</tr>
					<?php  $i++;} 
					if($i==0)
					{
					?>
					<tr>
				<td width="7%" colspan='5'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					<tr>
					
					    
					     <td colspan='5'> 
						 <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSectionliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deleteSectionlist', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>
			        
			  </tr>
					</tr>
			</table></form>
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>	
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>

</div><!-- white-box ends-->

</div>
</div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        