<div class="inner-right-content"> 
<?php foreach($this->sectionlist_model_result as $sevent){ $section_name=$sevent['section_name'];}?>
<?php foreach($this->Categorylist_model_result as $cevent){ $category_name=$cevent['category_name'];}?>
	<h2 class="page-title">Manage Sub-Category </h2>
<div style="padding-left:13px;"><h3><?php echo ucwords($section_name)?> &gt;&gt; <?php echo ucwords($category_name)?></h3></div>

<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $i=0;
					foreach($this->subcategorylist_model_result as $event){ 
					?>
  <tr>
  </tr>        <td align ="right"><div style="float:left" class="subheading">View Sub-category</div><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'subcategorylist', 'id'=>''))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
  </td>

	 <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" nowrap="nowrap" style='padding:5px'><strong>Sub-Category Name:</strong></td>
        <td width="344" style='padding:5px'><strong><?php echo ucwords(stripslashes($event['subcategory_name']));?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Description:</strong></td>
        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo $event['subcategory_description']==''?'Description not found.':nl2br(html_entity_decode(htmlentities(stripslashes($event['subcategory_description']))));?>
          </div></td>
      </tr>
<?php }?>
    </table></div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>