<div class="inner-right-content"> 
<h2 class="page-title">Manage CMS </h2>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $i=0;
					foreach($this->sectionlist_model_result as $event){ 
					?>
  <tr>
    <td align ="right"><div style="float:left" class="subheading">View Section</div><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'sectionlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>  </td>
  </tr>
	 <tr>
    <td align ="left">

	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7" height='30'>
        <td width="118" align="left" style='padding:5px'><strong>Section Name:</strong></td>
        <td width="344" style='padding:5px'><strong><?php echo ucwords($event['section_name']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Description:</strong></td>
        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo $event['section_description']==''?'Description not found.':nl2br(html_entity_decode(htmlentities(stripslashes($event['section_description']))));?>
          </div></td>
      </tr>
<?php }?>
    </table>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  </table>
</div>

