/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right:0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding:0 40px;
}
@font-face {  
    font-family: 'AllerRegular';
    src: url('../../fonts/aller_rg-webfont.eot');
	src: local( 'AllerRegular' ),
    src: url('../../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_rg-webfont.woff') format('woff'),
		 url('../../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
   /* src: local("AllerRegular"), url("../fonts/font.TTF") format("truetype"); non-IE*/  
   font-weight: normal;
    font-style: normal;
}
