<div class="inner-right-content"> 

	<h2 class="page-title">Manage Blog </h2>
<div style="padding-left:10px;"><h3></h3></div>
<table width="98%" border="0" cellpadding="0" cellspadding="0">
	 <tr>
    <td align ="left">
		<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	</td></tr>

 <tr>
    <td align ="right"><div style="float:left" class="subheading"><?php echo $this->bodyCopy ;?></div><a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'bloglist','msg'=>''),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
	</tr>
  <tr>
    <td align ="left">
	<form  action="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'addblog','page'=>$this->page),'default',true)  ?>" method="post" name="myform" onsubmit="return valid_blog()">
   
	   <table cellpadding="5" cellspacing="5" border="0" style="margin-top: 5px;"> 
	   
	   <tr>
				<td valign=top colspan='2'> <div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div></td>
			</tr>
	        <tr >
			<td valign=top  >Owner:</td>
			<td >
			<?php
			//echo '<pre>';print_r($this->allowner);
			
			   if(empty($this->blog_id))
					{
						echo "<select style=width:220px name=\"bloguser_id\">"; 
						echo "<option size =30 selected>Select</option>";
						echo "<option size =30 value='0'>Admin</option>";  
							foreach($this->allowner as $key1)
							{   
								echo "<option value=".$key1['id'].">".$key1['first_name']."</option>"; 
							} 
						echo "</select>";
			        }
			    else
                   {
                      echo "<select style=width:220px name=\"bloguser_id\">"; 
						echo "<option size =30 selected>Select</option>";
						  ?>
						  <option size =30 value='0' <?php if($this->bloguser_id==0){ echo "selected='selected'"; } ?>>Admin</option>
						  <?php  
							foreach($this->allowner as $key1)
							{   ?>
<option value= "<?php echo $key1['id'] ?>" <?php if($key1['id'] == $this->bloguser_id){ echo "selected='selected'"; } ?> > <?php echo $key1['first_name']; ?> </option> 
						<?php	} 
						echo "</select>";
                   }				   
			?>
		 </td>
		</tr>
			<tr>
				<td valign=top>Title:</td>
				<td><input style=width:217px type="text"  size="12" maxlength="50" name="title" id="title" value="<?php echo $this->title ?>"></td>
			</tr>
			<tr>
			<td valign=top>Description:</td><td><textarea  rows="10" cols="80"  wrap="physical" name="description"  id="description"><?php echo $this->description ?></textarea></td>
			</tr>
			<tr>
				<td valign=top><strong>Status:</strong></td>
				<td valign=top>
				<input type="radio"  name="status" value="1" <?php if(!empty($this->id)){ if($this->publish == 1){ echo "checked='checked'"; }}else{echo "checked='checked'";} ?> >online
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
				<input type="radio" name="status" value="0" <?php if(!empty($this->id)){ if($this->publish == 0){ echo "checked='checked'"; }} ?> >offline
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					
					<input type="hidden" name="blog_id" value="<?php echo $this->blog_id ?>">
					<?php if(empty($this->blog_id))
					{
					?>
						<input type="submit" name="submit" value="Save" class="update_btn"/>
					<?php
					} else { ?>
						<input type="submit" name="edit" value="Update" class="update_btn"/>
					<?php } ?>
					<!--<input align="right" type="button" value="Cancel" onClick="history.go(-1);return false;" />-->
<input align="right" type="button" value="Cancle" class="cancle_btn"  onclick="history.go(-1)"/>
			
			</table>

				</td>
			</tr>
</form>			
  </td>
	</tr>
</table>
</div>

