<?php  
	$userstuff	= new Application_Model_Artuser();
	//******** Javascript Functions 
	$images		= BASE_URL.'images';	
	$Proimages	= BASE_URL.'uploads';
	$js_fc_rel	= BASE_URL.'js/faceboxrel.js'; 
	$tooltip	= BASE_URL.'js/tooltip.js';
?>  
<script type="text/javascript" src="<?php echo $js_search?>"> </script>
<script type="text/javascript" src="<?php echo $js_fc_rel?>">   </script>
<script type="text/javascript" src="<?php echo $tooltip?>"> </script>

<?php 
$bloguser = new Application_Model_ArtUser();
 ?>
<div class="inner-right-content"> 
<h2 class="page-title">Manage Blog </h2>
<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
<div class="searchconmain">
			<div class="searchconleft">
				
					<div id="ad_sec_btn" style="float:left;"><a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 
					'action'=>'addblog'));?>">Add Blog </a></div>
				
			</div>
			<div class="filterconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist'),'default',true) ?>" method="get">
    	
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
		<select name='creator' id='creator' class="search_box_small" style='margin-left: 5px;'>
			  	<option value=''> Select User</option>
					<option size =30 value='0' <?php if($this->creator==0){ echo "selected='selected'"; } ?>>Admin</option>
			  <?php
			  		$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->getUsers();
					foreach($userVal as $user){ 
					?>
					<option value='<?php echo $user['id']?>' <?php echo $this->creator==$user['id']?'selected':'' ?>><?php echo $user['first_name']?> </option>
					<?php } ?>
					</select>
        <input type="text"  id="squestion" name="searchelement" class="search_box_small" 
		  value="<?php echo $this->psquestion ?>" /> 	
        
		
</form>

			</div>
			
		</div>
	<div class="white-box-cont paddingLeft">

	<!--<table>
	<tr>
		<td><div align="left">
	<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'addblog','page'=>$this->page),'default',true);?>">Add Blog</a>
	</div>
		</td>
	</tr>
	<tr></tr><tr></tr>
	</table>-->   
	</div>
<div class="white-box">
<div class="white-box-cont">
<div class="message"><?php echo $this->messages[0]; ?></div>

<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th><center>
				  <input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()">
				</center></th>	
				<th align="center"><center>
				<?php if($this->sortBy=='title asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'title desc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'title asc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } ?>
				Title</a></center></th>
				<th align="center"><center>Owner</center></th>
				<th align="center"><center>Description</center></th>
				<th align="center"><center>No. Of Comments</center></th>
				<th align="center"><center>
					<?php if($this->sortBy=='publish asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'publish desc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'publish asc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } ?>
				Status</a></center></th>
				<th align="center"><center>
					<?php if($this->sortBy=='create_date asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'create_date desc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'bloglist','sortBy'=>'create_date asc','squestion'=>$this->psquestion,'creator'=>$this->creator)) ?>" id='linkhead'>
				<?php } ?>
				Adddate</a></center></th>
				<th align="center"><center>Action</center></th>
    
				
			    </tr>

	<?php $i=0; 
	
	foreach($this->paginator as $event)
	{
		//echo'<pre>';print_r($event);die; 
		$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
		?>
		<tr style="background-color:<?php echo $row;?>" class="content_row">
			<td width="8%" align="center" valign="top"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['blogId'];?>" ></td>
			<td align="left" valign="top"><?php echo $event['title']; ?></td>
			<td align="left" valign="top">
			<?php if($event['creator']=='0') { echo 'Admin'; } else { $blogowner =$bloguser->userRec($event['creator']); echo $blogowner[0]['first_name']; }?>
			</td>
			<td width="20%" align="left" valign="top">
			<?php echo nl2br(htmlspecialchars(substr(stripslashes($event['description']),0,20))); ?>
			</td>
			<td width="12%" align="center" valign="top">
			<?php if($event['totalcommment']!=0) {?>
			<div class="floatL" >
			<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 
			'action'=>'commentlist','blog_id'=>$event['blog_id'],'bloguser_id'=>$event['creator'],'page'=>$this->page),'default',true);?>" rel='facebox'><?php echo $event['totalcommment'];?></a>
			</div>
			 <?php } else {?>
			 <a ><?php echo $event['totalcommment'];?></a> <?php } ?>
			</td>
			<?php if($event['publish']=='1') {?>
					<td align="center" valign="middle" id="containerID"><a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'updateBlogliststatus', 'msg'=>'', 'status'=>'0', 'id'=>$event['blogId']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'updateBlogliststatus', 'msg'=>'' ,'status'=>'1', 'id'=>$event['blogId']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>

					<?php }?>
			
			<td align="left" valign="top"><?php echo date('Y-m-d',strtotime($event['create_date'])); ?></td>
			<td>
			<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 
					'action'=>'viewbloglist', 'msg'=>'', 'id'=>$event['blogId']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View banner" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 
			'action'=>'addblog','blog_id'=>$event['blogId'],'bloguser_id'=>$event['creator'],'page'=>$this->page),'default',true);?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20"alt="Delete banner" title="Click Here To Edit" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'deleteblog','blog_id'=>$event['blogId'],'blog_title'=>$event['title'],'page'=>$this->page),'default',true)  ?>" ><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>
			</td>
			
		</tr>
		<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='8'><center><b>Record not found.</b></center></td>	
		      </tr>
					
					<?php
					}
					?>
					<tr>
					
					    
					     <td colspan='8'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'updateBlogliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'updateBlogliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'deleteblog', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>


					</tr>
		  </table></form>
	   </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->
<div align="center">
	<?php echo $this->paginationControl($this->paginator,'Sliding','/admin/pagination.phtml');?>
</div>


<!--<script type="text/javascript" language="javascript" >
		function deleteblog(val) {
	alert ("Delete blog?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>-->
<script language="javascript">
function deleteblog() 
{
    if(!confirm("Delete blog?you will not be able to undo this section.")){
        return false;
		}
	return true;
}
</script>
        