
<div class="inner-right-content"> 
<form > 
        <table  width="100%">
    	       <tr><td><h2 class="page-title">Manage Blog </h2></td></tr>
		      <tr>
    <td align ="right">
			  
			  <div style="float:left" class="subheading"><?php print_r($this->sqlResult[0]['title']); ?> blog </div>
      <a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'bloglist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a></td></tr>		   
		</table>
</form>
	
<div class="white-box">
<div class="white-box-cont">
		<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>

<div>

	    <ul>
			
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th><center>S.R.No</center></th>	
				<th><center>Comment</center></th>
				<th><center>Comment By</center></th>
				<th><center>Add Date</center></th>
				<th><center>Publish</center></th>
                <th ><center>Action</center></th>
			    </tr>
				
	<?php $i=0; 
	
	foreach($this->sqlResult as $event)
	{
		//echo'<pre>';print_r($event); 
		$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
		?>
		<tr style="background-color:<?php echo $row;?>" class="content_row">
			<td width="8%" align="left" valign="top"><?php echo $i+1;?></td>
			<td align="left" valign="top"><?php echo $event['comment']; ?></td>
			<td align="left" valign="top">
			<?php $bloguser = new Application_Model_Artuser();
			      $blogowner =$bloguser->userRec($event['id']);
				  echo $blogowner[0]['first_name'];?>
			</td>
			<td width="20%" align="left" valign="top">
			<?php echo date('Y-m-d',strtotime(($event['create_date']))); ?>
			</td>
			<td " align="center"><?php if($event['publish']=='1'){ ?> 
			<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'blockcomment', 'id'=>$event['idblog'],'value'=>$event['publish'],'blog_id'=>$event['blog_id'],'bloguser_id'=>$event['creator'],'page'=>$this->page),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border="0" /></a>  <?php }  if($event['publish']=="0"){ ?> 
			<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'blockcomment', 'id'=>$event['idblog'],'value'=>$event['publish'],'blog_id'=>$event['blog_id'],'bloguser_id'=>$event['creator'],'page'=>$this->page),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" border="0" /></a> <?php };?></td>
			</td>
			<td width="15%" align="center">
			<a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 
					'action'=>'viewblogcommentlist', 'msg'=>'', 'id'=>$event['idblog']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View comment" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'adminmanageblog','action'=>'deletecomment','id'=>$event['idblog'],'value'=>$event['status'],'blog_id'=>$event['blog_id'],'bloguser_id'=>$event['bloguser_id'],'blogcat_id'=>$event['blogcat_id'],'page'=>$this->page),'default',true)  ?>" ><img src="<?php echo BASE_URL;?>images/admin/delete_1.png" onclick="return deletecomment()"  height="18" alt="Delete comment" title="Click Here To Delete comment" /></a>
			</td>
		</tr>
		<?php  $i++;
		
	} ?>
					</tr>
                 <!--<tr><input align="right" type="button" value="&lt;&lt;Back" onClick="history.go(-1);return false;" /></tr>-->
          
			</table>
	   </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->
<div align="center">
	<?php // echo $this->paginationControl($this->paginator,'Sliding','/admin/pagination.phtml');?>
</div>


<script language="javascript">
function deletecomment() 
{
    if(!confirm("Delete blog comment?you will not be able to undo this section.")){
        return false;
		}
	return true;
}
</script>
        