<?php $bloguser = new Application_Model_Artuser();?>
<div class="inner-right-content"> 

	<h2 class="page-title">Manage Blog </h2>
    <div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $this->bannerlist_model_result;

					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Blog </div>
      <a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'bloglist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:0 5px 5px 5px'><strong>Title:</strong></td>

        <td width="344"  style='padding:0 5px 5px 5px'><strong><?php echo ucwords($this->bannerlist_model_result['title']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:0 5px 5px 5px'><strong>Description:</strong></td>
        <td style='padding:0 5px 5px 5px'><?php echo $this->bannerlist_model_result['description'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:0 5px 5px 5px'><strong>Owner:</strong></td>

        <td style='padding:0 5px 5px 5px'><div align="justify" ><?php $blogowner =$bloguser->userRec($this->bannerlist_model_result['creator']); echo $blogowner[0]['first_name'];?>
          </div></td>
      </tr>
	 
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:0 5px 5px 5px'><strong>Create Date :</strong></td>
        <td style='padding:0 5px 5px 5px'><?php echo date('Y-m-d',strtotime($this->bannerlist_model_result['create_date'])); ?></td>
      </tr>
	 <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:0 5px 5px 5px'><strong>Modify Date :</strong></td>
        <td style='padding:0 5px 5px 5px'><?php echo $this->bannerlist_model_result['modify_date']!=''?date('Y-m-d',strtotime($this->bannerlist_model_result['modify_date'])):'-'; ?></td>
      </tr>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>