<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId   : '344900998860937',
      session : <?php //echo json_encode($this->fb->getSession()); ?>, // don't refetch the session when PHP already has it
      status  : true, // check login status
      cookie  : false, // enable cookies to allow the server to access the session
      xfbml   : true // parse XFBML
    });

    	// whenever the user logs in, we refresh the page
	FB.logout(function(response) {
    window.location.href = ""<?php echo $this->url(array('controller'=>'Login', 'action'=>'logout'),'default',true)  ?>"; 
   });

};
(function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_ES/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

 </script>
