<div id="secondarycms">
      <p class="clearer">&nbsp;</p>
      <!-- Inner page content start here -->
      
      <div id="inner_content_area">
	    <?php 
					foreach($this->sectionlist_model_result as $event){ 
					$sectionname=$event['section_name'];
					$sectionid=$event['id'];
					}
					?>
	  <?php 
					foreach($this->categorylist_model_result as $event){ 
					$categoryname=$event['category_name'];
					$categorydescription=$event['category_description'];
					$categoryid=$event['id'];
					}
					?>
      <h2><?php if($categoryid!='') { echo ucwords(stripslashes($categoryname));} else { echo "Content not published.";}?></h2>
	  <h3><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssection','page'=>$sectionid),'default',true)  ?>"><?php echo ucwords(stripslashes($sectionname))?></a> &gt;&gt; <?php echo ucwords(stripslashes($categoryname))?></h3>
      <div class="inner_content_text">
       <?php echo nl2br(html_entity_decode(htmlentities(stripslashes($categorydescription))))?><br /><br />
                    <div class="inner_content_cat">
                     <ul>
					 <?php 
					 if($categoryid!='')
					foreach($this->subcategorylist_model_result as $event){ 
					?>
                    <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>$sectionid,'cat'=>$categoryid,'page'=>$event['id']),'default',true);?>"><?php echo ucwords(stripslashes($event['subcategory_name']));?></a></li>
					<?php 
					}
					?>
                    </ul>
                    </div><br />

                   
     
                    
                    
      </div>
      </div>
      
  <!-- Inner page content end here -->
</div></div>