<?php
	$namespace 	= new Zend_Session_Namespace();
	if($namespace->email!='')
	{ 
		$profiledetails = $this->profiledetails();
		
	} 
	$google = $this->google();
	//$catlist = $this->headercontent();
	//$category = $catlist['header'];
	$category = $this->headercontent();
	$seo = $this->seocontent(); //print_r($seo);die();
	//echo '<pre>';
if ($_COOKIE['loginemail']!='') {
		$user   	 = new Application_Model_ArtGroup();
		if($_COOKIE['ltype']=='Email')
		$row=$user->getMemberID($namespace->luserid);
		else
		$row=$user->getMemberdetailsByID($namespace->luserid); 
		$user_id=$row[0]['id'];
		$namespace->userid= $row[0]['id'];
		$namespace->email= $row[0]['email'];
		$namespace->userID= $row[0]['user_id'];
		
		}
	//////////////////////////////////////////////////////////////////////
$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);


?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Art Ex: The go to place for art online</title>
<meta name="description" content="Art Ex: The go to place for art online." />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL;?>/css/ddsmoothmenu.css" />
<link rel="stylesheet" href="<?php echo BASE_URL;?>/css/core.css" type="text/css" />
<link rel="stylesheet" href="<?php echo BASE_URL;?>/css/home.css" type="text/css" />
<link rel="stylesheet" href="<?php echo BASE_URL;?>/css/basic.css" type="text/css" />
<link rel="stylesheet" href="<?php echo BASE_URL;?>/css/smoothDivScroll.css" type="text/css" />


<!--[if lte IE 6]>
<link rel="stylesheet" href="styles/ie.css" type="text/css" />
<script src="/scripts/png_transparency.js" type="text/javascript"></script>
<![endif]-->

<script type="text/javascript" src="<?php echo BASE_URL;?>/js/js_TopGallery/jquery-1.2.6.min.js"></script>
<script src="<?php echo BASE_URL;?>/js/png_transparency.js" type="text/javascript"></script>
<script src="<?php echo BASE_URL;?>/js/jquery-latest.js" type="text/javascript"></script>


<script src="<?php echo BASE_URL;?>/js/jquery-widget.js" type="text/javascript"></script>
<script src="<?php echo BASE_URL;?>/js/jquery.smoothDivScroll-1.1.js" type="text/javascript"></script>
<script src="<?php echo BASE_URL;?>/js/common.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL;?>/css/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript" src="<?php echo BASE_URL;?>/js/login/jquery.fancybox-1.3.4.js"></script>
<!-- top Gallery -->
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL;?>/css/styleTopGallery.css" />
<script type="text/javascript" src="<?php echo BASE_URL;?>/js/js_TopGallery/jquery-easing-1.3.pack.js"></script>
<script type="text/javascript" src="<?php echo BASE_URL;?>/js/js_TopGallery/jquery-easing-compatibility.1.2.pack.js"></script>
<script type="text/javascript" src="<?php echo BASE_URL;?>/js/js_TopGallery/coda-slider.1.1.1.pack.js"></script>
<script type='text/javascript' src='<?php echo BASE_URL;?>/js/popup/jquery.simplemodal.js'></script>
<script type='text/javascript' src='<?php echo BASE_URL;?>/js/popup/basic.js'></script>

<script type="text/javascript" src="<?php echo BASE_URL;?>/js/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})


</script><script type="text/javascript">	
	var theInt = null;
	var $crosslink, $navthumb;
	var curclicked = 0;
	
	theInterval = function(cur){
		clearInterval(theInt);
		
		if( typeof cur != 'undefined' )
			curclicked = cur;
		
		$crosslink.removeClass("active-thumb");
		$navthumb.eq(curclicked).parent().addClass("active-thumb");
			$(".stripNav ul li a").eq(curclicked).trigger('click');
		
		theInt = setInterval(function(){
			$crosslink.removeClass("active-thumb");
			$navthumb.eq(curclicked).parent().addClass("active-thumb");
			$(".stripNav ul li a").eq(curclicked).trigger('click');
			curclicked++;
			if( 6 == curclicked )
				curclicked = 0;
			
		}, 3000);
	};
		
	$(function(){
		
		$("#main-photo-slider").codaSlider();
		
		$navthumb = $(".nav-thumb");
		$crosslink = $(".cross-link");
		
		$navthumb
		.click(function() {
			var $this = $(this);
			theInterval($this.parent().attr('href').slice(1) - 1);
			return false;
		});
		
		theInterval();
	});
	
	
		$(document).ready(function(){
		//To switch directions up/down and left/right just place a "-" in front of the top/left attribute
				
		//Vertical Sliding
		$('.slidedown').hover(function(){
			
		
			$(".cover", this).stop().animate({top:'-148px'},{queue:false,duration:300});
		}, function() {
			$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:300});
		});
			
			$(".fgtPass").click(function()	{
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".forgotPassBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"150px"});
			});
			
			$(".Bidnow").click(function()	{ alert('hi');
				$(".SignInBlock").hide();$(".ReportabuseBlock").hide();
				$(".BidBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
				$(".simplemodal-container").animate({"width":"400px"});
			});
			$(".Reportabuse").click(function()	{
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();
				$(".ReportabuseBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"250px"});
			});
			$(".Message").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();
			$(".ReportabuseBlock").hide();
				$(".MessageBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".recommend").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".MessageBlock").hide();
			$(".ReportabuseBlock").hide();
				$(".RecommendBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"280px"});
			});
			$(".Pay").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();$(".MessageBlock").hide();
			$(".ReportabuseBlock").hide();
				$(".PayBlock").fadeIn();
				$(".simplemodal-container").animate({"height":"110px"});
			});
			$(".MessagePrompt").click(function()	{ 
			$(".SignInBlock").hide();
			$(".ReportabuseBlock").hide();$(".MessagePromptBlock").fadeIn();
			$(".simplemodal-container").animate({"width":"300px"});
			$(".simplemodal-container").animate({"height":"150px"});
			
			});
			$(".Payform").click(function()	{ 
			$(".SignInBlock").hide();$(".BidBlock").hide();$(".RecommendBlock").hide();$(".MessageBlock").hide();
			$(".Reportabuse").hide();
				$(".PayformBlock").fadeIn();
				$(".simplemodal-container").animate({"width":"300px"});
				$(".simplemodal-container").animate({"height":"360px"});
			});
			
			var str=window.location; 
			var patt1=/moderated/g; var patt2=/userartworkuploadlist/g;
			if(patt1.test(str)==true || patt2.test(str)==true)
			{
			<?php if($getInfo[0]['credit_card_number']=='') {?>
			$(".basic-modal .basic").trigger("click");
			$(".MessagePrompt").trigger("click");
			<?php } ?> 
			}
			
			
	});

function logOutGoogle(){ 
	document.getElementById('myIFrame').src='https://www.google.com/accounts/Logout';
	timeOut('5000'); 
}  
	</script>
<!--	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>-->
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId   : '344900998860937',
      session : <?php //echo json_encode($this->fb->getSession()); ?>, // don't refetch the session when PHP already has it
      status  : true, // check login status
      cookie  : false, // enable cookies to allow the server to access the session
      xfbml   : true // parse XFBML
    });

    	// whenever the user logs in, we refresh the page
	FB.Event.subscribe('auth.login', function() {
	  window.location.reload();

	});

};



</script>

</head>
<body>
<!-- ** Begin top navigation ** -->
<div id="topnav">
	<div id="centre">
   <div id="smoothmenu1" class="ddsmoothmenu" >
<ul>
<li class="current"><a href="javascript:void(0)">BUY</a></li>
<li><a href="javascript:void(0)">SELL</a></li>
<li ><a href="javascript:void(0)">COMMUNITY</a>
    <ul>
        <li><a href="javascript:void(0)">Community</a></li>
        <li><a href="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'viewallblog'),'default',true);?>">Blog</a></li>
        <li><a href="javascript:void(0)">Recent activity</a></li>
    </ul>
</li>
<li><a href="javascript:void(0)">NEWS</a>
    <ul>
        <li><a href="javascript:void(0)">Outside Artex</a></li>
        <li><a href="javascript:void(0)">Featured exhibitions</a></li>
        <li><a href="javascript:void(0)">Featured artisits</a></li>
        <li><a href="javascript:void(0)">Newsletter</a></li>
    </ul>
</li>
<li><a href="javascript:void(0)">HELP</a>
<ul>
     <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmscategory','sec'=>2,'page'=>7),'default',true);?>">How Artex works</a>
      <ul>
      <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2,'cat'=>7,'page'=>10),'default',true);?>">How to buy</a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2,'cat'=>7,'page'=>11),'default',true);?>">How to sell</a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2,'cat'=>7,'page'=>13),'default',true);?>">How to deal</a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Cms', 'action'=>'cmssubcategory','sec'=>2,'cat'=>7,'page'=>14),'default',true);?>">Rating system</a></li>
     </ul>
    </li>

    <li><a href="javascript:void(0)">Help forum</a></li>
    <li><a href="javascript:void(0)">Resolving issues</a></li>
    <li><a href="javascript:void(0)">Security</a></li>
</ul>
</li>
</ul>
<br style="clear: left" />
</div>
	<?php
	
	$count=0;
	if(substr_count($_SERVER['REQUEST_URI'],'artworkdetails')==1) {
	$count=1;
	}
	else if(substr_count($_SERVER['REQUEST_URI'],'userprofile')==1) {
	$count=1;
	}

	if($count==0) { 
	?>
    <div id="basic-modal-content">
	<div class="SignInBlock">
		<form id="loginform" action="" method="post" >
		
    	<p id="ac_error" style="color: #FFFFFF;"></p>
			<h3>Sign In</h3>
			<input type="radio" class="signup_input" id="ltype" name="ltype" value='id'  onclick='show_login_val(1)' checked />Username&nbsp;&nbsp;<input type="radio" class="signup_input" id="ltype" name="ltype" value='email'  onclick='show_login_val(2)' />Email<div class="clear"></div>
            <label id='s_l_val'>Username</label><div class="clear"></div>
            <input type="text" class="signup_input" style="width:168px;" size="25" id="loginemail" name="loginemail" />
            
            <label>Password</label><div class="clear"></div>
            <input type="password" class="signup_input" style="width:168px;" size="25" value="" id="pwd" name="pwd" />
			 <label><input type="checkbox" class="signup_input" id="remember" name="remember" value='1'  /> Stay signed in</label>
            <input type="submit" value="Login" class="button floatL" /><span id='basic-modal1'><a href="#" class="floatL block marginL5 marginT13 fgtPass">Forgot Password?</a></span>
            <div class="clear"></div>
            <script>function logface()
{ 
	var url = "<?php echo $this->loginUrl; ?>";
	newwindow = window.open(url,'','width=700,height=400,left=200,top=200',false);
}</script>
            <div class="marginT10">
            	<span class="floatL marginT5 block">Sign In using :</span> &nbsp; <a onclick="logface()" href="#"><img src="<?php echo BASE_URL;?>/images/facebook.png" alt="Login with Facebook" /></a><a href="<?php echo $this->googleAuthUrl ?>"><img src="<?php echo BASE_URL;?>/images/google.png" alt="Login with Google" class="marginL5" /></a>
             </div>
             
             <div class="border-top marginT10">
             	 <a href='<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>'>New user click here to register</a>
             </div>
			 </form>
		</div><!-- SignInBlock-->
		<div class="forgotPassBlock">
	<form id="forget_frm" action="" method="post" >
    	<h3>Forgot Password?</h3>
    	<p id="forge_error" style="color: #FFF;"></p>
		 <label>Enter Email Address</label><div class="clear"></div>
		 <input type="text" class="signup_input" style="width:168px;" size="25" id="forgetemail" name="forgetemail" />
		 <input type="submit" class="sign_up_submit" style="width: 58px;" value="Submit" id="login" name="login">
		 </form>
</div><!-- forgotPassBlock-->
<div class="MessagePromptBlock" style="display:none">
	<form id="forget_frm" action="" method="post" >
    	<h3>Bank Account Details Alert</h3>
    	<p style="color: #FFF;">Hi, <?php echo substr($namespace->fname,0,10);?><br /><br />
        This prompt for enter your bank account details. To complete your profile and payment process. <br /><br /><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'account', 'login_id'=>$getInfo[0]['id']),'default',true);?>"><strong>click here</strong></a></p>
		
		 </form>
</div><!-- MessagePromptBlock-->

</div><!-- end basic-modal-content-->
<?php } ?>
    <div id="login_reg">
     <div id="loggedin">
	<?php if ($namespace->email==''){?>
        <ul class="paddingT10">
            <li class='basic-modal'><a title="Login" href="#" class='basic'>SIGN IN</a></li>
            <li class="navdivider">/</li>
            <li><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>">REGISTER</a></li>          
        </ul>
        <?php }else { ?>
       
            <div id="summary">
                <ul class="studio artist paddingT10"><?php //echo $this->url(array('controller'=>'user', 'action'=>'dashboard'),'default',true)  ?>
                    <li><a title="<?php echo $namespace->fname.' '.$namespace->lname;?>" class="header_pointer" href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome'),'default',true);?>"><?php echo substr($namespace->userID,0,10);?></a></li>
                    <li class="navdivider">|</li>
                    <li><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>"><img src="<?php echo BASE_URL;?>/images/flag_header.png" width="15" height="12" alt="messages" /><?php echo $profiledetails['countInbox'][0]['msg'];?></a></li>
                    <li class="navdivider">|</li>
                    <li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome'),'default',true);?>"><img src="<?php echo BASE_URL;?>/images/gavel_header.png" width="18" height="12" alt="bidding" /><?php  echo $profiledetails['bidding'][0]['bidding']+$profiledetails['liveart'][0]['liveart'];?></a></li>
                    <li class="navdivider">|</li>
                    <li><a href="<?php echo $this->url(array('controller'=>'Profile', 'action'=>'welcome'),'default',true);?>"><img src="<?php echo BASE_URL;?>/images/eye_header.png" width="17" height="12" alt="watching" /><?php  echo $profiledetails['watchlist'][0]['watchling']+$profiledetails['feedback'][0]['newfeedback']+$profiledetails['follower'][0]['follower']+$profiledetails['following'][0]['following'];?></a></li>
                </ul>
            </div>
            <ul class="paddingT10"><?php //Change it when upload on server                         echo $this->url(array('controller'=>'Login', 'action'=>'flogout'),'default',true)  ?>
                <li><a id="" title="Login" onclick="logOutGoogle()" href="<?php echo $this->url(array('controller'=>'Login', 'action'=>'flogout'),'default',true)  ?>" >SIGN OUT</a></li>        
            </ul>
      
		<?php }?>  
          </div>
  <iframe id="myIFrame" src="https://www.google.com/accounts/Logout" style='display:none;' > </iframe>
   </div>
  </div>
</div>
<!-- ** End top navigation ** -->
<div id="container">
    <!-- ** Begin TEMPORARY rollovers ** -->
	<div id="panel_browse" style="display: none; opacity:0" >
    	<div id="options_browse">
            <div class="panel allart">
            	<a href="javascript:void(0)"><img src="<?php echo BASE_URL;?>/images/browse_search/browse_all.gif" width="125" height="110" /></a>
            </div>
            
            <div class="panel ending">
            	<h3>RATINGS</h3>
                <ul class="one_col">
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Artists', 'sortBy'=>'Top Artists'),'default',true);?>">Top rated artworks</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Top Rated', 'sortBy'=>'Top Rated'),'default',true);?>">Top rated artists</a></li>
                </ul>
            </div>
            
            <div class="panel range">
            	<h3>AUCTION</h3>
                <ul class="one_col">
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Ending soonest', 'sortBy'=>'Ending soonest'),'default',true);?>">Ending soonest</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Newly listed', 'sortBy'=>'Recently Added'),'default',true);?>">Newly listed</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search', 'heading'=>'Buy it now', 'sortBy'=>'Ending soonest'),'default',true);?>">Buy it now</a></li>
                </ul>
            </div>
            
            <div class="panel cats">
            	<h3>CATEGORIES</h3>
            	<?php for ($i=0;$i<count($category);$i++){if ($i==0){$css = 'class="col_tiny" style="width:87px;"';}else{$css = 'class="col_tiny divider" style="width:100px;"';}?>
                <div <?php echo $css;?>>
                    <ul>
                        <li><a class="red_pointer" title="<?php echo $category[$i]['cat_name'];?>" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$category[$i]['id']),'default',true);?>"><?php echo substr($category[$i]['cat_name'],0,14);$i= $i+1;?></a></li>
                        <li><a class="red_pointer" title="<?php echo $category[$i]['cat_name'];?>" href="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search','cat_id'=>$category[$i]['id']),'default',true);?>"><?php echo substr($category[$i]['cat_name'],0,14);?></a></li>
                    </ul>
                </div> 
                <?php if ($i>6){break;}/*This condidtion for show record only three in column*/}?>
            </div>
        </div>
    </div>
 
    <div id="panel_search" style="display: none; opacity:0">
    	<p id="all"><input type="checkbox" name="All" class="multiple" value="All"/>  All artwork</p>
        	<?php for ($i=0;$i<count($category);$i++){if ($i==0){$css = 'class="col_search" style="padding-left:25px;"';}else{$css = 'class="col_search"';}?>
        <div <?php echo $css;?> >
        	<?php if(isset($category[$i]['cat_name'])){?>
        	<p title="<?php echo $category[$i]['cat_name'];?>">
        		<input type="checkbox" class="multiple" value="<?php echo $category[$i]['cat_name'];?>" name="<?php echo $category[$i]['cat_name'];?>" />
        		<?php echo substr($category[$i]['cat_name'],0,12);$i= $i+1;?>
        	</p>
        	<?php }if (isset($category[$i]['cat_name'])){?>
            <p title="<?php echo $category[$i]['cat_name'];?>">
            	<input type="checkbox" class="multiple" value="<?php echo $category[$i]['cat_name'];?>" name="<?php echo $category[$i]['cat_name'];?>" />
            	<?php echo substr($category[$i]['cat_name'],0,12);?>
            </p>
            <?php }?>
        </div>
        <?php }?>
    </div>
    
    <!-- ** End TEMPORARY rollovers ** -->

    <!-- ** Begin header ** -->
    
    <div id="header">
    	<a href="<?php echo $this->url(array('controller'=>'Index', 'action'=>'index'),'default',true);?>"><img id="logo" src="<?php echo BASE_URL;?>/images/logo.gif" width="205" height="90" alt="Art Ex: The go to place for art online" /></a>
	<form method="post" action="<?php echo $this->url(array('controller'=>'Search', 'action'=>'search'),'default',true);?>" onsubmit="return checkSearch();" >	
	<div id="search">
	    <div class="topsearchArea">
	      <div class="floatL"><input type="text" class="searchTxtType" id="searchbox" name="searchbox" value="<?php echo $this->catPreview;?>"/></div>
	      <div class="floatL cursorPointer"><a href="javascript:void(0);" onclick="toggle_search('panel_search');" class="optionSearch" /></div>
	   <div class="floatL"><input type="submit"  class="SubmitSearch" value=" "/>
	   </div>  
	    </div>
	</div>
        </form>
        <div id="browse">
        	<a href="javascript:void(0)" onclick="toggle_browse('panel_browse');" class="button brws"><img src="<?php echo BASE_URL;?>/images//pointer_browse.png" width="28" height="10" alt="" />BROWSE ART</a>
        </div>
    </div>
	
<!--Get selected checkbox value in search box By Abhishek on (15 Feb 2012) -->

<script>
    $("#panel_search").click(function () {
    	var str = Array();
	  	var i=0;
	  	$("input[class=multiple]:checked").each(function () {
                str[i++] = $(this).val();
          });
          $("#searchbox").val(str.join(","));
        });
        
</script>
    <!-- ** End top navigation ** -->	   