 <?php  
	$namespace = new Zend_Session_Namespace();
	$category  = $this->headercontent();
	$news = $this->news();
	$recentactivity = $this->Artuseractivity();
    $showart = $this->getartlist;
   // echo '<pre>';print_r($showart); 
  // echo count($showart[0]);die();
  $msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';
?> 
 <!-- ** Begin primary area ** -->
  <div id="main">
	 <!-- welcome area -->
	 <?php if ($namespace->email==''){?>
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">&nbsp;</h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/greenFlag.jpg" /></div>
          <!--<div class="floatL marginL10"> You have <span class="darklTXT">3 new messages</span> <span class="redTXT">(2 urgent)</span> </div>
          <div class="floatL marginL20 marginT5"><a href="#" class="red_pointer">View messages</a></div>-->
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/biddingIcon.jpg" /></div>
          <!--<div class="floatL marginL10"> You are bidding on <span class="darklTXT">2 items</span> <span class="redTXT">(1 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">3 live artworks</span> <span class="redTXT">(2 ending soon)</span> </div>-->
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/greeneye.jpg" /></div>
          <!--<div class="floatL marginL10"> You are watching <span class="darklTXT">15 items</span> <span class="redTXT">(8 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">9 items of new feedback</span> </div>-->
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <?php } else {?>
    <!-- welcome area -->
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">Welcome back <span class="redTXT"><?php echo $this->userInfo[0]['first_name'];?></span></h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT"> ( <?php echo $msg;?> ) new messages</span><!-- <span class="redTXT">(2 urgent)</span> --> </div>
          <div class="floatL marginL20 marginT5"><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT"><?php echo $this->bidding[0]['bidding'];?> items</span> <span class="redTXT">(<?php echo $this->bidding[1];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->liveart[0]['liveart'];?> live artworks</span> <span class="redTXT">(<?php echo $this->liveart[1];?> ending soon)</span> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT"><?php echo $this->watchlist[0]['watchling'];?> items</span> <span class="redTXT">(<?php echo $this->watchlist[1]['watchling'];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->feedback[0]['newfeedback'];?> items of new feedback</span> </div>
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <?php } ?>
    <!-- user Intro Area -->
    <div id="userIntroArea" class="wd817">
      <h2 class="marginL20">ArtEx buy</h2>
      
      <p class="font14 marginL20">Buy unique artworks online - bid at live auction or buy for a fixed price direct from the artist</p>
      
    </div>
    
    <!-- user Intro area end -->

     <!-- ** Begin left hand nav ** -->
     <?php echo $this->render('buy/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
      
    <!-- user art gallery -->
    
    <!-- user art gallery  end -->
    
    <div id="home_thumbs" class="floatR">
    	<div class="thumb_strip grey">
                	<div class="slideLarge">
		         	<img src="<?php echo $this->baseUrl();?>/images/art.png" alt="art" />
		         	</div>
		             <div class="strip_info">
                <h2>Painting to inspire</h2>
                <img src="<?php echo $this->baseUrl();?>/images/strip_dots_grey.gif" width="150" height="15" alt="">
                <p><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest">See more</a></p>
                <a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="">
                </a><p><a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt=""></a><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest"><img src="<?php echo $this->baseUrl();?>/images/more.gif" width="45" height="30" alt="More"></a>
            </p>
		             </div>
        </div>
            <div class="clear"></div>
        <div class="thumb_strip">
                	<div class="slideLarge">
		         	<img src="<?php echo $this->baseUrl();?>/images/sculp.png" alt="art" />
		         	</div>
		             <div class="strip_info">
                <h2>Sculpture to admire</h2>
                <img src="<?php echo $this->baseUrl();?>/images/strip_dots_white.gif" width="150" height="15" alt="">
                <p><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest">See more</a></p>
                <a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="">
                </a><p><a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt=""></a><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest"><img src="<?php echo $this->baseUrl();?>/images/more.gif" width="45" height="30" alt="More"></a>
            </p>
		             </div>
        </div>
         <div class="clear"></div>
         <div class="thumb_strip grey">
                	<div class="slideLarge">
		         	<img src="<?php echo $this->baseUrl();?>/images/ceramic.png" alt="ceramic" />
		         	</div>
		             <div class="strip_info">
                <h2>Ceramics to treasure</h2>
                <img src="<?php echo $this->baseUrl();?>/images/strip_dots_grey.gif" width="150" height="15" alt="">
                <p><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest">See more</a></p>
                <a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt="">
                </a><p><a href="<?php echo $this->baseUrl();?>/images/home/strip_dots_grey.gif" width="150" height="15" alt=""></a><a href="/public/index.php/Search/search/heading/Ending+soonest/sortBy/Ending+Soonest"><img src="<?php echo $this->baseUrl();?>/images/more.gif" width="45" height="30" alt="More"></a>
            </p>
		             </div>
        </div>
        <div class="clear"></div>   
        
    </div>
    <!-- comment part start -->
    <!-- comment part end -->
  </div>
  <!-- ** End primary area ** -->
