<div class="inner-right-content"> 

	<h2 class="page-title">Manage Artwork Comment </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php //echo "<pre>";
//print_r($this->commentlist_model_result[0]);die();

					?>
	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Artwork Comment</div><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'artworkcommentlist','id'=>$this->commentlist_model_result[0]['artwork_id']),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
	  <?php
					$Artwork_title		= new Application_Model_DbTable_Artworkupload();
					$ArtworkTitle	= $Artwork_title->getArtworkTitlelist($this->commentlist_model_result[0]['artwork_id']);
					$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->selestuser($this->commentlist_model_result[0]['user_id']);
					?>
        <td width="118" align="left" style='padding:5px'><strong>Artwork title:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo ucwords($ArtworkTitle[0]['title']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Comment:</strong></td>
        <td><?php echo nl2br(html_entity_decode(htmlentities(stripslashes($this->commentlist_model_result[0]['feedback']))));?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Owner:</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?>
          </div></td>
      </tr>
	 <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Comment Date:</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo date('y-m-d',strtotime($this->commentlist_model_result[0]['create_date']));?>
          </div></td>
      </tr>
	 <tr bgcolor="#F7F7F7">
	   <td colspan="2" align="left" valign="top" style='padding:5px'>&nbsp;</td>
	   </tr>
	 <tr bgcolor="#F7F7F7">
	   <td colspan="2" align="left" valign="top" style='padding:5px'><table width="100%" border="0" cellpadding="0" cellspacing="0"  bgcolor="#555555">
         <tr  bgcolor="#F7F7F7">
           <th  width="15%">Owner</th>
           <th  width="55%">Sub Comment </th>
           <th  width="15%">Comment Date </thd>
           <th  width="15%">Action</th>
         </tr>
		 <?php
		 $Artworkcom_title		= new Application_Model_DbTable_Artworkfeedbacks();
		$ArtworkcomTitle	= $Artworkcom_title->getArtworkfeedbackssubcomment($this->commentlist_model_result[0]['id']);
		
		for($i=0;$i<count($ArtworkcomTitle);$i++)
		{
		 ?>
         <tr bgcolor="#F7F7F7">
           <td   style='padding:5px;' valign="top"><?php echo $ArtworkcomTitle[$i]['first_name']?> <?php echo $ArtworkcomTitle[0]['last_name']?></td>
           <td  style='padding:5px;' align="justify"  valign="top"><?php echo nl2br(html_entity_decode(htmlentities(stripslashes($ArtworkcomTitle[$i]['comment']))))?></td>
           <td style='padding:5px;' valign="top"><?php echo $ArtworkcomTitle[$i]['cdate']?></td>
           <td  style='padding:5px;' valign="top"><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'deletesubcommentlist', 'did'=>$ArtworkcomTitle[$i]['fcid']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a></td>
         </tr>
		 <?php
		 }
		 ?>
       </table></td>
	   </tr>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>