*{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
body{background-image:url(../images/wrapper-bg.png);  background-position:50% 0; background-repeat:repeat-x;}
img{ border:0px;}
.clearfix{ clear:both; display:block; height:0px; line-height:0px; overflow:hidden; background-color:#FFFFFF;}
a{color:#006699;}
.height15{height:15px; display:block; overflow:hidden; clear:both;}
.height8{height:8px; display:block; overflow:hidden; clear:both;}
.left{float:left}
.right{float:right}
a.blue-link{ font-size:10px; font-weight:bold; color:#006699; text-decoration:none;display:block; zoom:1; }
.wrapper{width:100%; overflow:hidden; }

.header-wrapper{ background-position:50% 0; background-repeat:repeat-x; width:100%; overflow:hidden;}
.header{height:80px; width:1000px; margin:0px auto; overflow:hidden; position:relative; padding:10px 0px;}
.header .logo{ margin-top:5px; position:absolute;}

.top-links li{ list-style-type:none; font-size:14px; margin:0px 7px; display:inline; float:right; color:#3B3A46; }
.top-links li a{ color:#3B3A46; text-decoration:none; font-size:14px;}
.top-links li a img{ vertical-align:bottom; margin-right:5px;}
.top-links li .search-box{ background-image:url(../images/search-bg.png); background-repeat:no-repeat; height:21px; display:block;}
.top-links li .input{ border:0px; margin-top:2px; margin-left:5px; margin-right:5px; font-size:12px; color:#999999; float:left; width:145px; padding-top:2px;} 
.top-links li .go{ float:right; margin-left:10px;}

#main-nav{ background-image:url(../images/main-nav-bg.png); background-repeat:no-repeat; width:1000px; height:500px; margin:0px auto;}
.ie6 #main-nav{ background-image:url(../images/main-nav-bg.gif); background-repeat:no-repeat; width:1000px; height:500px; margin:0px auto;}

#main-nav ul{padding-top:20px; margin-left:5px;}
#main-nav ul li{ list-style-type:none; float:left; color:#CCCCCC; font-size:14px; text-transform:uppercase; font-weight:bold; background-image:url(../images/separator.gif); background-position:right; background-repeat:repeat-y;  padding-left:11px; padding-right:13px; text-align:center; padding-top:10px;}
#main-nav ul li.active-section{background-image:url(../images/menu-over-bg.gif) !important; background-position:left top; background-repeat:repeat-x;}

#main-nav ul li a{ color:#CCCCCC; text-decoration:none; display:block;} 
#main-nav ul li a:hover{ color:#FFD800;}
#main-nav ul li.last, #main-nav ul li ul li{background:none;}

#main-nav ul li.active-section ul li{ background:none !important;}
#main-nav ul li ul{ margin:20px 0px 0px 0px; padding:0px; width:90px; height:380px;}
#main-nav ul li ul li{ display:list-block; !important; float:none; font-size:12px; text-transform:none; padding:0px; margin:0px; font-weight:normal; padding-bottom:8px; padding-top:8px; text-align:left;}
#main-nav ul li ul li a{ height:auto; } 


.slides-wrapper{width:1000px; height:259px; margin:0px auto; background-image:url(../images/header.jpg);}
#slide-show{}


.left-content{ width:237px; float:left; overflow:hidden;}
.right-content{ width:237px; float:right; overflow:hidden;}
.center-content{ width:495px; float:left; margin:0px 15px; overflow:hidden; display:inline;}


.black-box{width:100%;}
.black-box .tl{ background-image:url(../images/black-box-tl.gif); background-repeat:no-repeat; width:9px; height:10px; display:block; float:left; font-size:1px;}
.black-box .tr{ background-image:url(../images/black-box-tr.gif); background-repeat:no-repeat; background-position:right; height:10px; width:228px; float:left; font-size:1px;}
.black-box .bl{ background-image:url(../images/black-box-bl.gif); background-repeat:no-repeat; width:9px; height:10px; display:block; float:left; font-size:1px;}
.black-box .br{ background-image:url(../images/black-box-br.gif); background-repeat:no-repeat; background-position:right; height:10px; width:228px; float:left; font-size:1px;}

.black-box-cont{ background-image:url(../images/black-box-bg.gif); background-repeat:repeat-x; background-color:#5E5E5E; clear:both; padding:0px 8px;}
.black-box-cont h2{ font-size:15px; font-weight:bold; color:#ffffff; border-bottom:1px solid #ffffff; padding-bottom:6px;}
.black-box-cont h2 img{ vertical-align:middle; margin-right:5px;}



.black-box2{width:100%;}
.black-box2 .tl{ background-image:url(../images/black-box2-tl.gif); background-repeat:no-repeat;background-color:#4B474D; width:9px; height:10px; display:block; float:left; font-size:1px;}
.black-box2 .tr{ background-image:url(../images/black-box2-tr.gif); background-repeat:no-repeat;background-color:#4B474D; background-position:right; height:10px; float:left; font-size:1px;}
.black-box2 .bl{ background-image:url(../images/black-box2-bl.gif); background-repeat:no-repeat; width:9px; height:10px;background-color:#4B474D; display:block; float:left; font-size:1px;}
.black-box2 .br{ background-image:url(../images/black-box2-br.gif); background-repeat:no-repeat;background-color:#4B474D; background-position:right; height:10px; float:left; font-size:1px;}

.black-box2-cont{background-color:#4B474D; clear:both; padding:0px 8px;}
.black-box2-cont h2{ font-size:24px; font-weight:normal; color:#ffffff; }
.black-box2-cont h3{ font-size:15px; font-weight:bold; color:#ffffff; padding-bottom:6px;}



.white-box{width:100%; overflow:hidden;float:left;}
.white-box .tl{ background-image:url(../images/white-box-tl.gif); background-repeat:no-repeat; width:9px; height:10px; display:block; float:left; font-size:1px;}
.white-box .tr{ background-image:url(../images/white-box-tr.gif); background-repeat:no-repeat; background-position:right; height:10px; width:486px; float:left; font-size:1px;}
.white-box .bl{ background-image:url(../images/white-box-bl.gif); background-repeat:no-repeat; width:9px; height:10px; display:block; float:left; font-size:1px;}
.white-box .br{ background-image:url(../images/white-box-br.gif); background-repeat:no-repeat; background-position:right; height:10px; width:486px; float:left; font-size:1px;}
.white-box-cont{ border:1px solid #EEEEEE; border-width:0px 1px; padding:0px 11px 0px 10px;}
.white-box-cont{ border:1px solid #EEEEEE; border-width:0px 1px; padding:0px 11px 0px 10px;}
.white-box a{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; color:#555555; text-decoration:none; font-weight:700;}
.white-box a:hover{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; color:#555555; text-decoration:underline;}
#linkhead{border-collapse: collapse;
    color: #FFFFFF;
    font-weight: bold; text-decoration:none;}
.content-wrapper{ width:1000px; margin:10px auto; border:1px solid #e3e3e3; background-color:#f7f7f7; font-size:13px; -moz-border-radius:10px;min-height:800px}

.announcement ul{ margin-top:5px;}
.announcement ul li{ list-style-type:none; background-image:url(../images/star.png); background-repeat:no-repeat; background-position:left 6px; color:#E0E0E0; font-size:12px; padding:0px 0px 0px 25px; border-bottom:1px dotted #E0E0E0; display:block;}

.ie6 .announcement ul li{ background:none;list-style-type:none; background-image:url(../images/star.gif); background-repeat:no-repeat; background-position:left 6px;} 

.announcement ul li a{ color:#E0E0E0; text-decoration:none; padding:10px 0px; display:block;}
.announcement ul li a:hover{ color:#FFCC00;}


#ticker {height:127px; overflow:auto; }

.from-the-desk { height:161px;}

.from-the-desk p{ color:#ffffff; font-size:12px; margin-top:5px;}
.from-the-desk p img{ margin:0px 5px;}
.from-the-desk p i{ font-weight:bold; margin-top:5px; display:block;}

.video{ margin-top:5px;}

.photo-gallery{ margin:0px auto; width:226px;}


.subscribe{background-image:url(../images/subscribe-bg.gif); background-repeat:repeat-x; background-color:#5E5E5E; height:86px;}
.subscribe ul{ margin-top:5px;}
.subscribe ul li{ list-style-type:none; color:#E0E0E0; font-size:12px; padding:5px 0px 5px 5px; padding-bottom:7px;}
.subscribe ul li img{ vertical-align:bottom; margin-right:5px;}
.subscribe ul li a{ color:#E0E0E0; text-decoration:none; font-weight:bold;}


.university-corner{ background-image:url(../images/grey-box-bg.png); background-position:bottom; width:238px; padding-bottom:20px;}
.university-corner-top{ background-image:url(../images/grey-box-bg.png); background-position:top; height:36px;} 

.university-corner-top h2{ font-size:15px; font-weight:bold; color:#ffffff; margin-left:10px; padding-top:10px;}
.university-corner-top img{ vertical-align:middle; margin-right:5px;}

.university-corner ul{margin:5px 15px 0px 15px;}
.university-corner ul li{ list-style-type:none; background-image:url(../images/black-dot.gif); background-position:bottom; background-repeat:repeat-x; color:#E0E0E0; font-size:13px; margin-bottom:5px; clear:both; display:block; padding-bottom:5px;}
.university-corner ul li a{ color:#333333; text-decoration:none; padding-top:8px; display:block; float:left;height: 1%}
.university-corner ul li span.icon{ width:50px; display:block; float:left; } 


.about-us { border-bottom:1px solid #eeeeee; padding-bottom:10px;}
.about-us h2{ border-bottom:5px solid #4D474B; font-size:15px; color:#4D474B; }
.about-us p{ margin-top:5px; font-size:12px; color:#4D474B; line-height:16px;}
.about-us p img{ margin:0px 5px 0px 0px;} 


.scroller-wrapper{width:472px; overflow:hidden;}
.scroller{width:233px; float:left; height:339px; background-image:url(../images/scroller-bg.png); background-repeat:no-repeat; overflow:hidden;}
#ticker2 {height:273px; overflow:auto; }
#ticker3 {height:273px; overflow:auto; }


.scroller-title{ background-image:url(../images/scroller-bg.png); height:29px; overflow:hidden;}
.scroller-bottom{background-image:url(../images/scroller-bg.png); background-position:left bottom; height:19px; padding:8px 5px 0px 8px;}
.scroller-title h2{ font-size:15px; color:#4D474B; padding-top:5px; margin-left:5px; }
.scroller-title h2 img{ vertical-align:bottom; margin-right:5px;} 

.scroller ul { margin:5px 0px;}
.scroller ul li{ list-style-type:none; border-bottom:1px solid #DDDDDD;}
.scroller ul li div{ padding-bottom:4px;}
.scroller ul li span.pic{ list-style-type:none; float:left; padding:5px;}
.scroller ul li span.desc{ font-size:11px; color:#4D474B; line-height:14px; display:block; float:left; width:155px; margin-top:5px;}
.scroller ul li span.date{ font-size:10px; color:#999999; font-weight:bold; font-style:italic; display:block;}


.events-spotlight{}
.latest-news{ margin-left:6px;}

.footer-wrapper{clear:both; width:100%;background-color:#EDEDED; border-top:1px solid #DDDDDD; margin-top:20px; overflow:hidden;}

.footer{ width:1000px; margin:0px auto;}

.footer-links {}
.footer-links li{ background-image:url(../images/separator2.gif); background-position:right; background-repeat:repeat-y; font-size:14px; font-weight:bold; color:#4D474B; display:inline; float:left;  list-style-type:none; margin:10px 5px; padding-right:4px; padding-left:4px; line-height:30px;}
.footer-links li.last{ background:none;}

.footer-links .sublink{ width:105px; height:140px;}
.footer-links .sublink li{ background-image:url(../images/bullet.gif); background-repeat:no-repeat; background-position:left 5px; padding-left:15px; font-size:12px; color:#4D474B; font-weight:normal; line-height:20px; float:none; margin:5px 0px; display:block;} 

.footer-links a{ text-decoration:none;color:#4D474B; }
.footer-links a:hover{ color:#006699;}

.footer-wrapper .copyright{ height:30px; text-align:center; color:#777; font-size:11px; padding-top:12px; background-image:url(../images/bottom-bg.gif); }



/*------------------- Inner Page CSS --------------------------*/

.navbar{ width:1000px; margin:0px auto; background-color:#EDEDED; height:25px;}
.navbar ul{ margin:0px 5px;}
.navbar ul li{ display:inline; float:left; font-size:11px; color:#4D474B; border-right:1px solid #4D474B; margin:5px; padding-right:5px; }
.navbar ul li.active{ border:0px; }
.navbar ul li a{ color:#4D474B; text-decoration:none; }
.navbar ul li a:hover{ text-decoration:underline;} 


.inner-left-content{ float:left; width:190px; margin-left:10px;}
.inner-right-content{ float:left; width:785px; margin-left:15px;}

.page-title{ font-size:24px; font-weight:normal; color:#333; border-bottom:3px solid #333; margin:10px;}
.page-title .search_box{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #ccc; height:22px; line-height:22px; float:right; width:200px; padding:0px 5px; color:#999;} 
.page-title .search_button{ float:right; margin-left:10px;}

.full-post{width:1000px;}
.width950{width:975px !important;}
.width991{ width:991px !important;}

.width191{ width:191px !important;}
.width776{ width:776px !important;}

.width239{ width:239px !important;}
.width721{ width:721px !important;}

.left-menu{ background-color:#EDEDED; width:184px}
.left-menu ul li{ list-style-type:none; font-size:14px; font-weight:bold; text-transform:uppercase; color:#4D474B; border-bottom:1px solid #cccccc; }
 
.left-menu ul li a{ color:#4D474B; text-decoration:none; display:block; height:1%; padding:5px 8px;} 
.left-menu ul li a:hover{background-color:#333333; color:#eeeeee;} 


.page-img{ margin-top:5px;position:relative;}
.page-img img{}
.page-img div.rc{ z-index:1; position:absolute; background-image:url(../images/page-img-round-corner.png); background-repeat:repeat; width:785px; height:164px; }
.page-cont{width:763px; overflow:hidden;}
.page-cont h3{color:#4B474D;font-size:14px; font-weight:bold;border-bottom:5px solid #4B474D; margin-bottom:8px; padding-bottom:8px;}
.page-cont p{font-size:12px; margin:8px 0px; color:#4B474D; line-height:15px;}
.page-cont .page-img { display:block; float:left; margin-top:0px; }
.page-cont .page-img  img{padding:5px; border:1px solid #eeeeee; margin:5px;}
.page-cont .post-date{ font-size:13px; color:#EC5210; display:block; font-style:italic; font-weight:bold; margin-top:15px;}



.page-cont .event-img { display:block; float:left; position:relative;}
.page-cont .event-date{font-size:13px; color:#EC5210; display:block; font-style:italic; font-weight:bold; margin-top:15px;}
.page-cont .event-img-title { background-color:#fff; padding:5px; margin:0px 11px; display:block; float:left; color:#ffffff; position:absolute; bottom:11px; opacity:.80; filter:alpha(opacity:80)}
.page-cont .event-img img{padding:5px; border:1px solid #eeeeee; margin:5px;}


.event-block-wrapper{ width:763px; overflow:hidden;} 
.event-block{ border-bottom:1px solid #DFDFDF; width:750px; float:left; margin:5px; padding-bottom:10px; }
.event-block img{padding-right:10px; float:left}
.event-block .left{ width:665px;} 
.event-block span.title{font-size:12px; font-weight:bold; margin-bottom:5px; display:block;}
.event-block span.title a{ color:#000000; text-decoration:none;}
.event-block span.title a:hover{text-decoration:underline;}
.event-block span.desc{ font-size:11px; color:#4D474B; line-height:14px; margin-top:5px; display:block;}
.event-block span.date{ font-size:10px; color:#999999; font-weight:bold; display:block; margin:5px 0px; display:block;}
.event-block a{ display:inline;}
.event-block a.blue-link:hover{ text-decoration:underline;} 
.paging{clear:both; text-align:center; margin-top:10px; background-color:#4B474D; padding:10px; height:15px;}
.paging a{ text-decoration:none; font-size:11px; padding:2px 5px; color:#ffffff;}
.paging a:hover{ background-color:#EC5210;}
.paging span.active{ font-size:11px; color:#4D474B; font-weight:bold; padding:2px 5px; background-color:#cccccc;}


.gallery-left-content{ width:184px;}
.gallery-right-content{ width:764px; padding:19px 0px; margin-top:10px; }
.gallery-right-content ul li{ list-style-type:none; float:left; margin:5px 26px;} 
.gallery-right-content ul li img{ padding:5px; border:1px solid #DFDFDF;} 

#mycustomscroll {
	/* Typical fixed height and fixed width example */
	width: 184px;
	height: 756px;
	overflow: auto;
	/* IE overflow fix, position must be relative or absolute*/
	position: relative;
	; background-color:#ededed;
	text-align:center;
	margin:0px auto;
}

#mycustomscroll h3{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4B474D; font-weight:normal;}
#mycustomscroll a img{ width:120px; padding:5px; border:1px solid #DFDFDF; background-color:#FFFFFF;}

.clearfloat {
clear:both; height:0px;
line-height:0px; visibility: hidden;
}


.admin-menu{width:184px; margin-top:10px;}
.admin-menu ul li{ list-style-type:none; font-size:14px; font-weight:bold; color:#4D474B;}
.admin-menu ul li ul {display:none; background-color:#FFFFFF; padding-left:10px;}
.admin-menu ul li ul li{text-transform:none; list-style-type:square !important; margin-left:10px;}
.admin-menu ul li ul li a{ background-color:#FFFFFF;}
.admin-menu ul li ul li a:hover{ background-color:#FFFFFF; color:#bb0000;}
.admin-menu ul li a{background-color:#EDEDED; color:#4D474B; text-decoration:none; display:block; height:1%; padding:5px 8px; border:1px solid #cccccc; margin-bottom:5px; -moz-border-radius:5px; } 
.admin-menu ul li a:hover, .admin-menu ul li a.active{background-color:#555; color:#eeeeee;} 

 
.user-login{ width:237px; margin:0px auto; margin-top:100px; margin-bottom:100px;}
.user-login .input{ background-color:transparent; background-image:url(../images/input-bg.png); width:169px; height:21px; border:0px; font-size:11px; color:#999999; line-height:21px; padding-left:10px; padding-right:10px; margin-top:10px;}
.user-login a{ color:#ffffff;}

.members-list{ border:1px solid #ccc; border-collapse:collapse;width: 776px;}
.members-list th{ border:1px solid #ccc; border-collapse:collapse; padding:5px; font-weight:bold; text-align:left; background-color:#555; color:#fff;}
.members-list td{ border:1px solid #ccc; border-collapse:collapse; padding:5px; color:#777;}



.blue_small_link{ font-size:10px; color:#0EB6CE; text-decoration:none;}
.add_desc{width:auto !important;  cursor:pointer; z-index:999; float:none !important;}  
.enter_text_box{ background-color:#F4F4F4; padding:5px; border:1px solid #E4E4E4; position:absolute; top:0px; right:0px; width:300px; display:none; z-index:999999;}
.enter_text_box_close{ position:absolute; top:3px; right:3px; width:auto; font-weight:bold; text-decoration:none; background-color:#CD0603; padding:2px 4px; font-size:10px; color:#fff;}

.enter_text_box textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#777; border:1px solid #ccc; width:95%;}

.positionRel{ position:relative;}

#edit_info_link { display:none; width:auto !important; float:none !important; margin-left:5px;}

.profile_img_boxdel{ width:209px; float:left; border:1px #CCCCCC solid; padding:7px; -webkit-border-radius:10px; -moz-border-radius:10px; text-align:center; margin:0 0px 7px 0; }

/*---- ashutosh 23.01.2012 --*/
#ad_sec_btn{
width:120px;
height:25px;
float:left;
background:url(../images/admin/ad_sec_bg.jpg) repeat-x;
padding:7px 5px 0 5px;
text-align:center;
}
#ad_sec_btn a{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:11px;
font-weight:700;
}
.pagi_text{
font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
}
.pagi_text select{
border:1px solid #CCCCCC;
width:40px;
font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
}

/* end ashutosh 23.01.2012 --*/
#view_data{border:#CCCCCC solid 1px;}
.subheading{border-bottom: 3px solid #333333;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px 10px 4px;}
.gsubheading{border-bottom: 3px solid #333333;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px 10px 0px;}
#stextbox{
	width:20px;
	}
.message{ width:auto;font-size:14px; font-family:Arial, Helvetica, sans-serif;font-weight:bold; margin-right:10px; display:block; color:#555555; background-color:#FFFFC6;
margin:5px 5px 0px 10px;}
h3 a{color:#555555; text-decoration:none}

.mandatory {
    color: #CC0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;}
	
input[type="button"]
{
height: 25px;
padding: 0px 5px 3px 4px;
text-align: center;
background:url("../images/admin/ad_sec_bg.jpg") repeat-x scroll 0 0 transparent;
 font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight:bold;
  color:#FFFFFF;
}

input[type="submit"]
{
height: 25px;
padding: 0px 5px 3px 4px;
text-align: center;
background:url("../images/admin/ad_sec_bg.jpg") repeat-x scroll 0 0 transparent;
 font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight:bold;
  color:#FFFFFF;
}

button[type="button"]
{
height: 25px;
padding: 0px 5px 3px 4px;
text-align: center;
background:url("../images/admin/ad_sec_bg.jpg") repeat-x scroll 0 0 transparent;
 font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight:bold;
  color:#FFFFFF;
}

.searchconmain{width:99%;float:left;}
.searchconleft{width:18%;float:left;}
.searchconright{float:right;}
.searchconmiddle{float:left;width:41%;margin-left:10px;}
.searchconmain .search_box{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #ccc; height:22px; line-height:22px; float:right; width:200px; padding:0px 5px; color:#999;} 
.searchconmain .search_box_small{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #ccc; height:22px; line-height:22px; float:right; width:130px; padding:0px 5px; color:#999;} 
.searchconmain .search_button{ float:right; margin-left:5px;}
.filterconmiddle{float:left;width:80%;margin-left:10px;}
.signup_input{font-family:Arial, sans serif;font-size:12px; line-height:1.2;}
/*-------------------hame page css------------------------------------*/
#mainBoxArea{width:760px; height:auto; margin:auto;}
.mainBox{width:235px; height:auto; margin:auto; float:left; margin:5px;}
.mainBox h2{font-size:16px; padding:5px; padding-top:10px; height:25px; padding-bottom:0px; margin-bottom:0px; font-family:Arial, Helvetica, sans-serif; color:#fff;font-style:oblique; background:url(../images/admin/dashboardTop.png) no-repeat;}
.mainBox ul{ padding:0px; margin:0px; list-style:none; margin-top:0px; padding-top:10px; border:1px solid #CCCCCC;height:300px;}
.mainBox ul li{width:220px; height:23px; padding:3px;border-bottom:1px dashed #CCCCCC; padding-left:10px;}
.mainBox ul li a{ font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:12px; text-decoration:none; font-weight:bold; }
.mainBox ul li a:hover{ text-decoration:underline; color:#006699;}
.noBorder{border:none !important;}
.marginT0{margin-top:0px !important;}

.showMsg{ position:relative; height:25px; width:25px;float:right}
.msgBox{ display:none; margin-top:-2px;}
.msgBox .topArrow{width:16px; height:7px; float:left; margin-left:18px; background:url(../images/tooltipArrow.png) no-repeat;}
.msgBox .midCont{width:180px; height:auto; float:left; background:url(../images/tooltipBG.png) repeat; font-size:11px; color:#FFFFFF; padding:5px; line-height:14px;margin-left: 16px;}