/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none; text-align:left;}
#basic-modal1-content {display:none; text-align:left;}
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:315px; width:215px; color:#bbb; background-color:#403F47; border:4px solid #666; padding:12px; }
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#fff;}

#basic-modal-content input[type=text]{ border:1px solid #666666; width:178px;}
#basic-modal-content label{ margin:10px 0px 3px 0px; display:block;}
#basic-modal-content .button{ background-color:#ededed; border:1px solid #d0d0d0; color:#666; font-family:"AllerRegular", Arial, Helvetica, sans-serif; margin-top:10px;}


#basic-modal1-content input[type=text]{ border:1px solid #666666; width:178px;}
#basic-modal1-content label{ margin:10px 0px 3px 0px; display:block;}
#basic-modal1-content .button{ background-color:#ededed; border:1px solid #d0d0d0; color:#666; font-family:"AllerRegular", Arial, Helvetica, sans-serif; margin-top:10px;}
.border-top{ border-top:1px dashed #999999; padding-top:10px;}

.forgotPassBlock{ display:none;}
.BidBlock{ display:none;}
.RecommendBlock{ display:none;}
.MessageBlock{ display:none;}
.PayBlock{ display:none;}
.ReportabuseBlock{ display:none;}
