			  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
*/
#page-wrap 									{ width: 770px; margin: 25px auto; position: relative; min-height: 500px;
											  background: url(images/bg.png) top center; }


/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
/*a, a:visited								{ color: #729dff; text-decoration: none; }*/
/*a:hover, a:active							{ color: white; }*/
/*blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}*/

/*
	SLIDER
*/
.slider-wrap								{ width: 770px; position: absolute; top: 87px; left: 40px; }			
.stripViewer .panelContainer              
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 770px; height: auto !important; float:left;}
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 770px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ /*border: 1px solid black;*/  }
#movers-row									{ margin: 0 0 0 -20px;}
#movers-row div								{ /*width: 70px; height:65px; /*float: left;*/  }
#movers-row div a.cross-link 				{ /*float: right; */display:inline;}
.photo-meta-data							{ background: url(images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 70px; margin-top: -15px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(images/icon-uparrowsmallwhite.png) top center no-repeat; }






