
<?php

$namespace 	= new Zend_Session_Namespace();

?>

<?php   echo $this->msg;  ?>
<script language="javascript" src="<?php echo $this->baseUrl()?>/js/validation.js" type="text/javascript"></script>
<div class="inner-right-content"> 
<h2 class="page-title">Change Password</h2>
<div class="white-box">
<div class="message" style="text-align:center;" id="db_message"><?php echo $namespace->msg1;  ?></div>
<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>
<div class="white-box-cont">

<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red"><?php echo $this->bodyCopy ;?>
        	<form action="<?php echo $this->url(array('controller'=>'admin','action'=>'changepassword'),'default',true)?>" onsubmit="return valid_pass()" method='post' >
				<table cellpadding="2" cellspacing="2" width="100%" class="members-list">
				 	<tr> 
						 <td width="25%">Old Password :</td> 
						 <td width="75%"><input type="password" name="old_pass" id="old_pass"></td>
					</tr>
				 	<tr>
				 	  <td>New Password </td>
				 	  <td><input type="password" name="new_pass" id="new_pass"></td>
			 	  </tr>
				 	<tr>
				 	  <td>Confirm Password </td>
				 	  <td><input type="password" name="com_pass" id="com_pass"></td>
			 	  </tr>
	        		<tr>
	        			 <td colspan="2" align="left"><input type="submit" name="submit" id="submit12" value="Submit"></td>
	        		</tr>
           		</table>
        	</form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	
  
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        