<?php

$serchurl = BASE_URL."admin/autoselect";

?>
<script language="javascript">
  var $j = jQuery.noConflict();
<?php
  $pluginConf = "";
  if(isset($_GET) && count($_GET) > 0){
	   extract($_GET);
  if($limit == "")	$limit = "10";
  if($width == "")	$width = "auto";
$pluginConf = '
$j(function() {
  $j("#name").autoSuggest({
	ajaxFilePath	 : "'.$serchurl.'", 
	ajaxParams       : "dummydata=dummyData",
	autoFill	 : "'.$autofill.'",
	iwidth		 : "'.$width.'",
	opacity		 : "0.9",
	ilimit		 : "'.$limit.'",
	idHolder	 : "id-holder",
	match		 : "'.$match.'"
  });
});';	
   } else {
 $pluginConf = '
  $j(function() {
	$j("#name").autoSuggest({
		ajaxFilePath	 : "'.$serchurl.'", 
		ajaxParams	 : "dummydata=dummyData", 
		autoFill	 : false, 
		iwidth		 : "auto",
		opacity		 : "0.9",
		ilimit		 : "10",
		idHolder	 : "id-holder",
		match		 : "contains"
	});
  }); ';
 } 
echo $pluginConf; 
?>
</script>
<script language="javascript">
function deleteuser() 
{
    if(!confirm("Delete User? You will not be able to undo this action.")){
        return false;
		}
	return true;
}
</script>

<?php   echo $this->msg;  ?>
<div class="inner-right-content"> 
	<form action="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true) ?>" method="post">
    	<h2 class="page-title">Members 
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
        <input type="text"  id="name" name="searchelement" class="search_box" value="<?php echo $this->seruser ?>" /> 	
        </h2>
    </form>
	

<div class="white-box">
<div class="white-box-cont">

<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
					<th>Member Name</th>
					<th>Email</th>
					<th>Photos</th>
					<th>Sex</th>
					<th>Joining Date</th>
					<th>Status</th>
					<th>Block User</th>
					<th>Delete User</th>
				</tr>
				<?php foreach($this->paginator as $event){ ?>
				<tr>
					 <td><?php echo $this->url(array('controller'=>'group', 'action'=>'getUsers'),'default',true)  ?></td>
        	</tr>
			<?php } ?> 
        </table>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	<?php echo $this->paginationControl($this->paginator,'Sliding','/admin/pagination.phtml'); ?>
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        