<?php

$serchurl = BASE_URL."admin/autoselect";
$content = $this->homecontent;
 
?>
<script language="javascript">
  var $j = jQuery.noConflict();
<?php
  $pluginConf = "";
  if(isset($_GET) && count($_GET) > 0){
	   extract($_GET);
  if($limit == "")	$limit = "10";
  if($width == "")	$width = "auto";
$pluginConf = '
$j(function() {
  $j("#name").autoSuggest({
	ajaxFilePath	 : "'.$serchurl.'", 
	ajaxParams       : "dummydata=dummyData",
	autoFill	 : "'.$autofill.'",
	iwidth		 : "'.$width.'",
	opacity		 : "0.9",
	ilimit		 : "'.$limit.'",
	idHolder	 : "id-holder",
	match		 : "'.$match.'"
  });
});';	
   } else {
 $pluginConf = '
  $j(function() {
	$j("#name").autoSuggest({
		ajaxFilePath	 : "'.$serchurl.'", 
		ajaxParams	 : "dummydata=dummyData", 
		autoFill	 : false, 
		iwidth		 : "auto",
		opacity		 : "0.9",
		ilimit		 : "10",
		idHolder	 : "id-holder",
		match		 : "contains"
	});
  }); ';
 } 
echo $pluginConf; 
?>
</script>
  <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/jquery.js"></script>
 <script>
setInterval( "homerefresh('<?php echo $this->url(array('controller'=>'admin', 'action'=>'rehome'),'default',true)?>')", 600000 );

function homerefresh(surl){
	
	var dataString = ''; 
	$.ajax({
      		type: "POST",
      		url: surl,
      		data: dataString,
			beforeSend: function(){
   				},
      		success: function(data) { //alert(data);
				
				$("#rehome_id").html(data);
				
      		}
     	});return false;
}
</script>

<?php   echo $this->msg;  ?>
<div class="inner-right-content"> 
	 
	

<div class="white-box">
<div class="white-box-cont">

<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red" id="rehome_id">
        
			<table cellpadding="0" cellspacing="0" style="width: 762px;border: 1px solid #CCCCCC;border-collapse: collapse;width: 776px;">
	 
			   <tr><td colspan="3" align="center" style="height: 40px;font-size: 30px;padding:5px; color:#777; border:1px solid #ccc;">Welcome to Admin Panel</td></tr>
			  <tr>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
					
                    <div class="mainBox">
                     <h2>Top Artwork</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_art']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['top_art'][$i]['id']));?>"><?php echo $content['top_art'][$i]['title']?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
				 
                         <div class="mainBox">
                     <h2>Latest Artwork in live auction</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_art_live']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['latest_art_live'][$i]['id']));?>"><?php echo $content['latest_art_live'][$i]['title']?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
				
                     <div class="mainBox">
                     <h2>Latest Artwork</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_art']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['latest_art'][$i]['id']));?>"><?php echo $content['latest_art'][$i]['title'];?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			  </tr>
			  <tr><td colspan="3">&nbsp;</td></tr>
			  <tr>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
					
                     <div class="mainBox">
                     <h2>Top Seller</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_seller']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['top_seller'][$i]['id']));?>"><?php echo $content['top_seller'][$i]['first_name']. ' ' .$content['top_seller'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
                     <div class="mainBox">
                     <h2>Top Buyer</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_buyer']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['top_buyer'][$i]['bidder_id']));?>"><?php echo $content['top_buyer'][$i]['first_name']. ' ' .$content['top_buyer'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
                     <div class="mainBox">
                     <h2>Top Registered</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_user']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['latest_user'][$i]['id']));?>"><?php echo $content['latest_user'][$i]['first_name']. ' ' .$content['latest_art'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			  </tr>
			</table>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
 
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        