<style>
.login-wrapper .title{ font-size:22px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding-left:10px;}
.login-wrapper{ width:300px; background-color:#F7F6F0; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin:10px auto 40px auto; border:4px solid #ccc; padding:20px; font-size:13px;}
.login-wrapper table tbody tr td form dl label{ font-size:15px !important; font-weight:bold; display:block; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif;}
.login-wrapper .input{ width:290px !important; padding:5px !important; margin-bottom:10px !important; -moz-border-radius:8px !important; webkit-border-radius:10px !important; border-radius:10px !important;} 
.login-wrapper input[type=button]{ width:100px;-moz-border-radius:8px; webkit-border-radius:10px; border-radius:10px; margin:0px auto; padding:5px; display:block; background-color:#555; color:#fff; font-weight:bold; border:2px solid #ccc; cursor:pointer; margin-top:10px;}
.login-wrapper ul li{ font-size:13px; list-style-type:none; color:#ff0000; margin-bottom:5px;}
</style>
<div class="login-wrapper">
<table bolder="0" cellpadding="0" cellspadding="0" style="width:400px; margin:0px auto;">
	<tr>
		<td width="48px"><img src="<?php echo BASE_URL?>images/admin.png" alt="admin" align="middle" /></td>
		<td class="title">Administrator</td>
	</tr>
	
	<tr>
		<td align="left" colspan="2">
			<?php echo $this->form; ?>
		</td>
	</tr>
</table>
</div>