<?php

$serchurl = BASE_URL."admin/autoselect";
$content = $this->homecontent;
 
?>
        
			<table cellpadding="0" cellspacing="0" style="width: 762px;border: 1px solid #CCCCCC;border-collapse: collapse;width: 776px;">
	 
			   <tr><td colspan="3" align="center" style="height: 40px;font-size: 30px;padding:5px; color:#777; border:1px solid #ccc;">Welcome to Admin Panel</td></tr>
			  <tr>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
					
                    <div class="mainBox">
                     <h2>Top Artwork</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_art']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['top_art'][$i]['id']));?>"><?php echo $content['top_art'][$i]['title']?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
				 
                         <div class="mainBox">
                     <h2>Latest Artwork in live auction</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_art_live']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['latest_art_live'][$i]['id']));?>"><?php echo $content['latest_art_live'][$i]['title']?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
				
                     <div class="mainBox">
                     <h2>Latest Artwork</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_art']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'id'=>$content['latest_art'][$i]['id']));?>"><?php echo $content['latest_art'][$i]['title'];?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			  </tr>
			  <tr><td colspan="3">&nbsp;</td></tr>
			  <tr>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
					
                     <div class="mainBox">
                     <h2>Top Seller</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_seller']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['top_seller'][$i]['id']));?>"><?php echo $content['top_seller'][$i]['first_name']. ' ' .$content['top_seller'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
                     <div class="mainBox">
                     <h2>Top Buyer</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['top_buyer']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['top_buyer'][$i]['bidder_id']));?>"><?php echo $content['top_buyer'][$i]['first_name']. ' ' .$content['top_buyer'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			    <td width="240" align="left" valign="top" style="padding:5px; color:#777;">
                     <div class="mainBox">
                     <h2>Top Registered</h2>
                     <ul>
                     <?php for ($i = 0; $i < count($content['latest_user']); $i++) {
						 if($i==0) $class='class="marginT0"';
						 else if($i==9) $class='class="noBorder"';
						 else $class='';
						 ?>
						
					<li <?php echo $class?>><a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$content['latest_user'][$i]['id']));?>"><?php echo $content['latest_user'][$i]['first_name']. ' ' .$content['latest_art'][$i]['last_name'] ;?></a></li>
						
						<?php }?>
                     </ul>
                    </div>
				</td>
			  </tr>
			</table>
