<?php   echo $this->msg;  ?>
<script LANGUAGE="JavaScript">
<!--
function cmsdel() {
var msg;
 
msg= "Are you sure you want to delete ? " ;
var agree=confirm(msg);
if (agree)
return true ;
else
return false ;
}
// -->
</script>
<div class="inner-right-content"> 
	<h2 class="page-title">Manage CMS Management</h2>
	<div class="white-box-cont">
	<td align="right" ><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'addcmslist'),'default',true)  ?>">Add Cms</a></td>   
	</div>
<div class="white-box">
<div class="white-box-cont">
<div class="message"><?php echo $this->messages[0]; ?></div>
<div>

	    <ul>
			
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th><center>S.R.No</center></th>	
				<th><center>Page Name</center></th>
				<th><center>Cms Heading</center></th>
				<th><center>Cms Description</center></th>
                <th><center>Action</center></th>
				<th><center>Delete</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->cmslist_model_result as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr bgcolor="<?php echo $row;?> " class="content_row">
					<td align="left" valign="top"><?php echo $i+1;?></td>
					
					<td width="22%" align="left" valign="top"><?php echo nl2br(htmlspecialchars(stripslashes($event['cms_page_name'])));?></td>
					<td align="left" valign="top"><?php echo nl2br(htmlspecialchars(stripslashes($event['cms_heading'])));?></td>
					<td align="left" valign="top"><?php echo nl2br(htmlspecialchars(substr(stripslashes($event['cms_description']),0,100)."..."));?></td>
					<!--<td align="left" valign="top"><?php echo nl2br(htmlspecialchars(substr(stripslashes($event['cms_script_name']),0,100)));?></td>-->
					<td>
					<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'addcmslist', 'id'=>$event['id']));?>">Edit</a>
					</td>
					<td align="center">
								<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deletecmslist', 'id'=>$event['id']),'default',true)  ?>" onclick="return cmsdel();"><img src="<?php echo BASE_URL?>images/admin/delete.png" height="18" alt="Delete CMS" title="Click Here To Delete Cms" /></a>
							</td>
					</tr>
					<?php  $i++;} ?>
					


					</tr>
			</table>
	   </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->
<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        