<?php   //echo $this->msg;  ?>



<div class="inner-right-content"> 

<?php foreach($this->sectionlist_model_result as $sevent){ $section_name=$sevent['section_name'];}?>
<?php foreach($this->Categorylist_model_result as $cevent){ $category_name=$cevent['category_name'];}?>
	<h2 class="page-title">Manage Sub-Category</h2>	
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?> &gt;&gt; <?php echo ucwords($category_name)?></h3>
	<td align="right" >
	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	<div class="searchconmain">
			<div class="searchconleft">
				
					<div id="ad_sec_btn" style="float:left;">	
	<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'addsubcategorylist'));?>">Add Sub-Category </a></div>
				
			</div>
			<div class="searchconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'subcategorylist')) ?>" method="get">
    	
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
        <input type="text"  id="squestion" name="searchelement" class="search_box" 
		  value="<?php echo $this->psquestion ?>" /> 	
        
</form>

			</div>
			<div class="searchconright"><div style="float:right;"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'categorylist', 'msg'=>'','sortBy'=>'','squestion'=>''))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a></div>  </div>
		</div>
	
	
					
					 
	</div>
<div class="white-box">

<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="7%"><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th><center>
				<?php if($this->sortBy=='subcategory_name asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'subcategorylist','sortBy'=>'subcategory_name desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>Sub Category Name</a>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'subcategorylist','sortBy'=>'subcategory_name asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>Sub Category Name</a>
				<?php } ?>
				
				</center></th>
				<th width="43%"><center>Description</center></th>
                <th width="10%"><center>
				<?php if($this->sortBy=='status asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'subcategorylist','sortBy'=>'status desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>Status</a>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement','action'=>'subcategorylist','sortBy'=>'status asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>Status</a>
				<?php } ?>
				</center></th>
                <th width="15%"><center>Action</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					
					<td width="21%" align="center"  valign="middle"><b style='color:#555555'><?php echo ucwords(stripslashes($event['subcategory_name']));?></b></td>
					
					<td align="left"  valign="middle"><?php echo $event['subcategory_description']==''?'Description not found.':nl2br(substr(html_entity_decode(htmlentities(stripslashes(strip_tags($event['subcategory_description'])))),0,100)."...");?></td>
					<?php if($event['status']=='1') {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSubcategoryliststatus', 'status'=>'0', 'msg'=>'', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSubcategoryliststatus', 'status'=>'1', 'msg'=>'', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>
					<?php }?>
					<!--<td align="left" valign="top"><?php echo nl2br(htmlspecialchars(substr(stripslashes($event['subcategory_description']),0,100)));?></td>-->
					<td align="center">
							<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'viewsubcategorylist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 
					'action'=>'addsubcategorylist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20" alt="Edit CMS" title="Click Here To Edit" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deletesubcategorylist', 'msg'=>'', 'id'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20"" alt="Delete" title="Click Here To Delete" /></a>						</td>
					</tr>
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td width="7%" colspan='5'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
<tr>
					     <td colspan='5'>  
						 <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSubcategoryliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'updateSubcategoryliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'deletesubcategorylist', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>
			        
			  </tr>

					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />

<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div>
</div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        