<!-- ** Begin secondary area ** -->

<?php $namespace = new Zend_Session_Namespace(); ?>
 </div>
  <div id="container">
      <p class="clearer">&nbsp;</p>
      <!-- registration form & Artex News area -->
      <div id="registration_artexnews_area">
      <!-- Signup form start here -->
	 	  <div id="thnkyou_area">
	 	  <!-- <div class="thnkyou_area_heading">THANKS!</div> --> <br />
		  <div class="thnkyou_area_title">WELCOME <?php echo $namespace->fname;?> <?php echo $namespace->lname;?></div><br />
		  
<div class="thankyou_content_text">Congratulations on login your ArtEx account. With ArtEx you can buy art,sell art build a reputaion as an artist or even try your hand at art dealing.<br /><br />
<br />
We appreciate your interest in ArtEx.</div>
<div style="float:left; width:808px; background-color:#f1f3f2; padding:10px; margin-top:100px; line-height:normal;">
  <div style="float:right;"><a class="" onclick="toggle_browse('panel_browse');" href="#"><input type="image" src="<?php echo $this->baseUrl();?>/images/signupform/browse_art.jpg"  /></a></div></div></div>
      <!-- signup form end here -->
      <!-- artex news area -->
       
      <!-- end artex news here -->
      </div>
      <!-- end registration form & Artex News area -->
</div>
  
<!-- ** End secondary area ** -->