<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Header: ArtEx</title>
</head>

<body>
<div style="width:500px; height:auto; min-height:250px; background:#f1f3f2; border:1px solid #ccc; padding:10px;">
<div style="background:#333; height:5px; width:100%; margin:auto"></div>
<div style="width:200px; height:75px; margin:auto; float:left;"><img src="<?php echo BASE_URL?>images/logoe.gif" /></div>
<div style="margin:auto; clear:both; width:100%;"></div>
<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; padding:5px 0 5px 0; border-top:1px dashed #ccc;  border-bottom:1px dashed #ccc;">
 <p><?php echo nl2br(html_entity_decode(htmlentities(stripslashes($this->message))))?>
 </p>
</div>

<div style="width:auto; margin:auto; float:left; color:#333333; margin-top:15px; font-size:12px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 &copy; 2012. All Rights Reserved.
</div><div style="margin:auto; clear:both; width:100%;"></div>
</div>
</body>
</html>
