<div class="inner-right-content"> 

	<h2 class="page-title">Manage News </h2>
<div style="padding-left:13px;"><h3></h3></div>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $i=0;
					foreach($this->newslist_model_result as $event){ 
					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View News</div><a href="<?php echo $this->url(array('controller'=>'news', 'action'=>'newslist'))  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Title:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo ucwords($event['title']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Description:</strong></td>
        <td align="left" valign="top" ><div align="justify" style='padding:0 5px 5px 5px'><?php echo $event['description']==''?'Description not found.':nl2br(html_entity_decode(htmlentities(stripslashes($event['description']))));?></div></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Display Start Date:</strong></td>

        <td align="left" valign="top" style='padding:5px'><?php echo $event['display_start_date'];?>
          </td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Display End Date:</strong></td>
        <td  style='padding:5px'><?php echo $event['display_end_date'];?></td>
      </tr>
<?php }?>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>