 <?php  
	$namespace = new Zend_Session_Namespace();
	$category  = $this->headercontent();
	$news = $this->news();
	$recentactivity = $this->Artuseractivity();
    $showart = $this->getartlist;
   // echo '<pre>';print_r($showart); 
  // echo count($showart[0]);die();
  $msg = isset($this->countInbox[0]['msg']) ? $this->countInbox[0]['msg'] : '0';
?> 
 <!-- ** Begin primary area ** -->
  <div id="main">
	 <!-- welcome area -->
	 <?php if ($namespace->email==''){?>
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">&nbsp;</h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/greenFlag.jpg" /></div>
          <!--<div class="floatL marginL10"> You have <span class="darklTXT">3 new messages</span> <span class="redTXT">(2 urgent)</span> </div>
          <div class="floatL marginL20 marginT5"><a href="#" class="red_pointer">View messages</a></div>-->
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/biddingIcon.jpg" /></div>
          <!--<div class="floatL marginL10"> You are bidding on <span class="darklTXT">2 items</span> <span class="redTXT">(1 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">3 live artworks</span> <span class="redTXT">(2 ending soon)</span> </div>-->
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images//userHP/greeneye.jpg" /></div>
          <!--<div class="floatL marginL10"> You are watching <span class="darklTXT">15 items</span> <span class="redTXT">(8 ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT">9 items of new feedback</span> </div>-->
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <?php } else {?>
    <!-- welcome area -->
    <div id="welcomeArea">
      <div id="welcomeArea_left">
        <h2 class="marginL10 marginT10 NoLetterSpace">Welcome back <span class="redTXT"><?php echo $this->userInfo[0]['first_name'];?></span></h2>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greenFlag.jpg" /></div>
          <div class="floatL marginL10"> You have <span class="darklTXT"> ( <?php echo $msg;?> ) new messages</span><!-- <span class="redTXT">(2 urgent)</span> --> </div>
          <div class="floatL marginL20 marginT5"><a href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true);?>" class="red_pointer">View messages</a></div>
        </div>
        <div class="welcomeTopicarea">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/biddingIcon.jpg" /></div>
          <div class="floatL marginL10"> You are bidding on <span class="darklTXT"><?php echo $this->bidding[0]['bidding'];?> items</span> <span class="redTXT">(<?php echo $this->bidding[1];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->liveart[0]['liveart'];?> live artworks</span> <span class="redTXT">(<?php echo $this->liveart[1];?> ending soon)</span> </div>
        </div>
        <div class="welcomeTopicarea BorderNone">
          <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/userHP/greeneye.jpg" /></div>
          <div class="floatL marginL10"> You are watching <span class="darklTXT"><?php echo $this->watchlist[0]['watchling'];?> items</span> <span class="redTXT">(<?php echo $this->watchlist[1]['watchling'];?> ending soon)</span> </div>
          <div class="floatL marginL10 marginT5"> You have<span class="darklTXT"> <?php echo $this->feedback[0]['newfeedback'];?> items of new feedback</span> </div>
        </div>
      </div>
      <div id="welcomeArea_Right"> </div>
    </div>
    <!-- welcome area end -->
    <?php } ?>
   <!-- user Intro Area -->
    <div id="userIntroArea" class="wd817">
    
      <h2 class="marginL20">ArtEx sell</h2>
      <div class="padding20">
      <p class="font14">ArtEx shows your art to a worldwide audience so you can upload a masterpiece and see what it's worth. Are you ready to be discovered? We think so.</p>
      <p class="font14 bold">Why sell on Artex? </p>
      <ul class="font14 listType">
      <li>Spread your work: ArtEx shows your artwork to a worldwide audience and the more you sell, the more recognition you get</li>
      <li>Get commercial: our auction engine gives you the best chance of selling your work and gauging what it is worth in the marketplace</li>
      <li>In control: Create your profile and upload photos/description of your work with the help of our <a href="#">Guidelines</a> </li>
      </ul>
      <p class="font14 bold">What can you sell? </p>
      <ul class="font14 listType">
      <li>Unique artworks: Artex brings authentic work from authentic artists to buyers, dealers and browsers. If it's original, high quality and made by you, you can sell it</li>
      <li>Types of saleable artwork include:
      	<ul class="marginL50 marginT10"> 
        <li>Sculpture</li>
        <li>Photography</li>
        <li>Drawing</li>
        <li>Painting</li>
        <li>Illustration</li>
        <li>Original Print</li>
        <li>Ceramics & Pottery</li>
        </ul>
      </li>
      <li>Any artwork sold by the artist direct can be resold on ArtEx</li>
      <li>And the buyers who sells from their ArtEx collection becomes dealers themselves</li>
      </ul>
      <p class="font14 bold">No footfall, no big fees</p>
      <ul class="font14 listType">
      <li>You don't have to pay to join ArtEx</li>
      <li>It costs &pound;1 to list your work for 5 months or until it goes to auction or is sold fixed price</li>
      <li>When you sell your item, we take 15% of the sale price </li>
      <li>So it's just a bit cheaper than a gallery show or auction!</li>
      </ul>
      <p class="font14 bold">Vibrant community</p>
      <ul class="font14 listType">
      <li>Keep in the loop with other artists in the ArtEx community</li>
      <li>Hear what bloggers, buyers and collectors have got to say about art on ArtEx and beyond</li>
      <li>Blog, rate and review your fellow artists</li>
   
      </ul>
      </div>
    </div>
    
    <!-- user Intro area end -->

     <!-- ** Begin left hand nav ** -->
     <?php echo $this->render('sell/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
      
    <!-- user art gallery -->
    
    <!-- user art gallery  end -->
  
  </div>
  <!-- ** End primary area ** -->
