  <?php
	$namespace 	= new Zend_Session_Namespace();
foreach($this->rec  as $value){   // global auction duration
		$image_type=$value['image_type'];
		 
		}	
?> <script language="javascript" src="<?php echo $this->baseUrl()?>/js/validation.js" type="text/javascript"></script>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
	$(function() {
		$( "#bid_start_date" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
   </script>
        

<div class="inner-right-content">
<h2 class="page-title">Add Artwork </h2>		 
<form name="myform" action="<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'addartworkupload','page'=>$this->page))  ?>" method="post"  enctype= 'multipart/form-data'><!--onsubmit="return checkUpload();"-->
<div class="message" style="text-align:center;" id="db_message"><?php echo $this->msg;  ?></div>
<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	   <table width="90%" border="0" cellpadding="6" cellspacing="6">
			<tr>
			  <td colspan="2" valign="top" ><strong class="gsubheading"></strong></td>
	     </tr>
		 <tr>
				<td width="30%" align="left" valign=top nowrap="nowrap"><span class="block">
				  <label>Owner</label>
				</span>:</td>
			  <td width="70%">
			   <?php  
			 if($this->bodyCopy=='Edit Artwork') {?>
			  <?php echo $this->form->owner_idd;?><input type='hidden' name='owner_id' id='owner_id' value='<?php echo $this->owner;?>'> <?php } else  {?><?php echo $this->form->owner_id;?><?php } ?></td>
			</tr>
			<tr>
				<td width="30%" align="left" valign=top nowrap="nowrap"><span class="block">
				  <label>Category</label>
				</span>:</td>
			  <td width="70%"><?php echo $this->form->category;?></td>
			</tr>
			<tr>
			<td align="left" valign=top nowrap="nowrap">Title:</td>
			<td> <?php echo $this->form->title;?></td>
			</tr>
			<tr>
				<td align="left" valign=top>Price:</td>
				<td valign=top>
				 <?php echo $this->form->price;?>			</td>
			</tr>
			<tr>
			  <td align="left" valign=top>Dimensions: </td>
			  <td> <?php echo $this->form->size;?></td>
	     </tr>
			<tr>
				<td align="left" valign=top>Edition:</td>
				<td align="left">  <?php echo $this->form->edition;?></td>
			</tr>
			<tr>
			  <td align="left" valign=top>Medium:</td>
			  <td align="left"> <?php echo $this->form->medium;?></td>
	     </tr>
			<tr>
			  <td align="left" valign=top>Frame:</td>
			  <td align="left"><?php echo $this->form->frame;?></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Bid Start Date:</td>
			  <td align="left"><?php echo $this->form->bid_start_date;?></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Keywords:</td>
			  <td align="left"> <?php echo $this->form->keywords;?></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Shipping Type:</td>
			  <td align="left"> <?php echo $this->form->shipping_type;?></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Frame details:</td>
			  <td align="left"><?php echo $this->form->frame_details;?></td>
	  </tr>
			<tr>
			  <td align="left" valign=top>Description:</td>
			  <td align="left"><?php echo $this->form->descrption;?></td>
	  </tr>
			<tr>
			  <td colspan="2" valign=top>&nbsp;</td>
	     </tr>
		 <tr>
			  <td colspan="2" valign=top><strong  class="gsubheading"><span class="floatL font17 colorBlack">Atrwork Images </span>:</strong>(Upload Max File Size <?php echo $this->artworksize;?> KB)<input type='hidden' name='image_type' id='image_type' value='<?php echo $image_type?>'></td>
	     </tr>
		  <?php  $i=1;
			 if($this->artworkuploadimageslist_model_result)
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					if($i==1) {$image1=$eventi['image']; $imgid1=$eventi['id']; }
					if($i==2) {$image2=$eventi['image']; $imgid2=$eventi['id']; }
					if($i==3) {$image3=$eventi['image']; $imgid3=$eventi['id']; }
					if($i==4) {$image4=$eventi['image']; $imgid4=$eventi['id']; }
					if($i==5) {$image5=$eventi['image']; $imgid5=$eventi['id']; }
				$i++;	}
					 ?>  
		 <tr>
			  <td align="left" valign=top>Image 1:<span style="text-align:left>"><?php if($image1) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image1;?>" width="32" height="32"/>
					
					<?php }?><input type='hidden' name='img1' id='img1' value='<?php echo $image1;?>'/><input type='hidden' name='imgid1' id='imgid1' value='<?php echo $imgid1;?>'/></span></td>
			  <td align="left"> <?php echo $this->form->image1;?></td>
         </tr>
		 <tr>
			  <td align="left" valign=top>Image 2: <span style="text-align:left>"><?php if($image2) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image2;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img2' value='<?php echo $image2;?>'/><input type='hidden' name='imgid2' id='imgid2' value='<?php echo $imgid2;?>'/></span></td>
			  <td align="left"> <?php echo $this->form->image2;?></td>
         </tr>
		 <tr>
			  <td align="left" valign=top>Image 3: <span style="text-align:left>"><?php if($image3) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image3;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img3' value='<?php echo $image3;?>'/><input type='hidden' name='imgid3' id='imgid3' value='<?php echo $imgid3;?>'/></span></td>
			  <td align="left"> <?php echo $this->form->image3;?></td>
         </tr>
		 <tr>
		   <td align="left" valign=top>Image 4: <span style="text-align:left>"><?php if($image4) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image4;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img4' value='<?php echo $image4;?>'/><input type='hidden' name='imgid4' id='imgid4' value='<?php echo $imgid4;?>'/></span></td>
		   <td align="left"> <?php echo $this->form->image4;?></td>
      </tr>
		 <tr>
		   <td align="left" valign=top>Image 5: <span style="text-align:left>"><?php if($image5) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image5;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img5' value='<?php echo $image5;?>'/><input type='hidden' name='imgid5' id='imgid5' value='<?php echo $imgid5;?>'/></span></td>
		   <td align="left"> <?php echo $this->form->image5;?></td>
      </tr>
			<tr>
			  <td colspan="2" valign=top>&nbsp;</td>
	     </tr>
			<tr>
				<td colspan="2" align="center" style="height: 68px;">
					
			
					
						<input type="submit" name="submit" value="Save" />
					
					<!--<input align="right" type="button" value="Cancel" onClick="history.go(-1);return false;" />-->
<input align="right" type="button" value="Cancel" onclick= 'history.go(-1)' style='cursor:pointer'/>
	</table>

				</td>
			</tr>
</form>			
</div>
			