<p class="font17">Subject matter</p>
		 <?php echo $this->form->subject;?>
		
@|@		
<p class="font17">Medium</p>
		 <?php echo $this->form->medium;?>
		
		
@|@		
<p class="font17">Style</p>
		 <?php echo $this->form->style;?>			