<div class="inner-right-content">
<h2 class="page-title">Artwork Upload Help </h2>		 
<form name="myform" action="<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'artworkuploadhelp','page'=>$this->page))  ?>" method="post"  enctype= 'multipart/form-data'><!--onsubmit="return checkUpload();"-->
<div class="message" style="text-align:center;" id="db_message"><?php echo $this->msg;  ?></div>
<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	   <table width="90%" border="0" cellpadding="6" cellspacing="6">
			<tr>
			  <td colspan="2" valign="top" ><strong class="gsubheading"></strong></td>
	     </tr>
			<tr>
				<td width="30%" align="left" valign=top nowrap="nowrap">keywords to tag to artwork:</td>
			  <td width="70%"><?php echo $this->form->artwork_tag;?></td>
			</tr>
			<tr>
			<td align="left" valign=top nowrap="nowrap">Size:</td>
			<td> <?php echo $this->form->size;?></td>
			</tr>
			<tr>
				<td align="left" valign=top>Convert to:</td>
				<td valign=top>
				 <?php echo $this->form->converter;?>			</td>
			</tr>
            <tr>
				<td align="left" valign=top>Date completed:</td>
				<td valign=top>
				 <?php echo $this->form->date_completed;?>			</td>
			</tr>
			<tr>
			  <td align="left" valign=top>Describe artwork: </td>
			  <td> <?php echo $this->form->describe_artwork;?></td>
	     </tr>
			<tr>
				<td align="left" valign=top>Presentation:</td>
				<td align="left">  <?php echo $this->form->presentation;?></td>
			</tr>
			<tr>
			  <td align="left" valign=top>Upload Photo:</td>
			  <td align="left"> <?php echo $this->form->upload_photo;?></td>
	     </tr>
			<tr>
			  <td align="left" valign=top>Reserve Price:</td>
			  <td align="left"><?php echo $this->form->reserve_price;?></td>
	  </tr>
      <tr>
				<td align="center" style="height: 68px;">
					
			
					
						</td>
	            <td align="left" style="height: 68px;">                
 <input type="submit" name="submit" value="Save" />
					
					<!--<input align="right" type="button" value="Cancel" onClick="history.go(-1);return false;" />-->
<input align="right" type="button" value="Cancel" onclick= 'history.go(-1)' style='cursor:pointer'/>
			</td>
			</tr>
	</table>		
</form>			
</div>