  <?php
	$namespace 	= new Zend_Session_Namespace();
	$images			= $this->baseUrl().'/images';
	$my_Proimages	= $this->baseUrl().'/uploads';
foreach($this->rec  as $value){   // global auction duration
		$image_type=$value['image_type'];
		 
		}	
?> 

 <link href="<?php echo $this->baseUrl();?>/css/fileuploader.css" rel="stylesheet" type="text/css"/>
<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
	$(function() {
		$( "#bid_start_date" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
   </script>
<div id="main">
    
    
        <!-- ** Begin left hand nav ** -->
        
        <div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>CATEGORIES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Painting</a></li>
                    <li><a class="red_pointer" href="#">Sculpture</a></li>
                    <li><a class="red_pointer" href="#">Photography</a></li>
                    <li><a class="red_pointer" href="#">Drawing</a></li>
                    <li><a class="red_pointer" href="#">Illustration</a></li>
                    <li><a class="red_pointer" href="#">Original Print</a></li>
                    <li><a class="red_pointer" href="#">Ceramics &amp; Pottery</a></li>
                    <li><a class="red_pointer" href="#">Other Media</a></li>
                </ul>
                
                <h3>AUCTION</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Ending soonest</a></li>
                    <li><a class="red_pointer" href="#">Newly listed</a></li>
                    <li><a class="red_pointer" href="#">Buy it now</a></li>
                </ul>
                
                <h3>SEARCHES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Locations</a></li>
                    <li><a class="red_pointer" href="#">Size</a></li>
                    <li><a class="red_pointer" href="#">Colours</a></li>
                    <li><a class="red_pointer" href="#">Medium</a></li>
                </ul>
                
                <h3>RATINGS</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Top Rated Artworks</a></li>
                    <li><a class="red_pointer" href="#">Top Rated Artists</a></li>
                </ul>
            </div> 
            
            <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
            </div>
            
            
             <div id="news" class="titlebar">
            	<h3>ARTEX NEWS</h3>
            
                <div class="news_sml event">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <div class="news_sml article">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>   
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />         
            </div>
            
        </div>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">

	  		 <form name="myform" action="<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'artworkupload','page'=>$this->page))  ?>" method="post" onsubmit="return checkUpload();" enctype= 'multipart/form-data'>
			 
	  <div class="register">
	  <div style='padding-left:40px;'> <h2><?php echo $this->bodyCopy ;?></h2></div>
	  	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
		


	  <div class="paddingH40 paddingV20">
                <p class="floatL font17 colorBlack">&nbsp;</p>
                <div class="clear"></div>
                <div class="block">
	                <label>Category</label>
	                <?php echo $this->form->category;?>
        </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Title</label>
	                 <?php echo $this->form->title;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 
                 <div class="block">
	                <label>Price</label>
	                 <?php echo $this->form->price;?>
                 </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Dimensions</label>
	                 <?php echo $this->form->size;?>
                 </div><!-- block ends -->
                 
                
                  <div class="block">
	                <label>Edition</label>
	                 <?php echo $this->form->edition;?>
                 </div><!-- block ends -->
				 
              
                 <div class="block">
	             	<label>Medium</label>
	                 <?php echo $this->form->medium;?>
                 </div><!-- block ends -->
                 
				  <div class="block">
	             	<label>Frame</label>
	                 <?php echo $this->form->frame;?>
                 </div><!-- block ends -->
				 
				  <div class="block">
	             	<label>Bid Start Date</label>
	                 <?php echo $this->form->bid_start_date;?>
                 </div><!-- block ends -->
				 
				  <div class="block">
	                <label>Keywords</label>
	                 <?php echo $this->form->keywords;?>
                 </div><!-- block ends -->
				 
				 <div class="block">
	                <label>Shipping Type</label>
	                 <?php echo $this->form->shipping_type;?>
                 </div><!-- block ends -->
				 
				 <div class="clear"></div>
                 
                 <div class="block">
	                <label>Frame details</label>
	                <?php echo $this->form->frame_details;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
				 
				  <div class="clear"></div>
                 
                 <div class="block">
	                <label>Description</label>
	                <?php echo $this->form->descrption;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
				 
                 <div class="clear"></div>
                 <p class="floatL font17 colorBlack">Atrwork Images (Upload Max File Size <?php echo $this->artworksize;?> KB)<input type='hidden' name='image_type' id='image_type' value='<?php echo $image_type?>'></p>
                 <div class="clear"></div>
             <?php  $i=1;
			 if($this->artworkuploadimageslist_model_result)
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					if($i==1) {$image1=$eventi['image']; $imgid1=$eventi['id']; }
					if($i==2) {$image2=$eventi['image']; $imgid2=$eventi['id']; }
					if($i==3) {$image3=$eventi['image']; $imgid3=$eventi['id']; }
					if($i==4) {$image4=$eventi['image']; $imgid4=$eventi['id']; }
					if($i==5) {$image5=$eventi['image']; $imgid5=$eventi['id']; }
				$i++;	}
					 ?>  
                 <div class="block"><div id="file-uploader-demo1"></div>
				 <script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
				 <div class="edit_pic">
<a href="JavaScript:newPopup('crop/crop.php?p=<?php echo $my_Proimages.'/';?>&q=sri_ganesh_wallpaper.jpg');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Edit Photo
								 </a></div>
	             	<!--<label>Image 1<?php if($image1) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image1;?>"  width="32" height="32"/>
					
					<?php }?><input type='hidden' name='img1' id='img1' value='<?php echo $image1;?>'/><input type='hidden' name='imgid1' id='imgid1' value='<?php echo $imgid1;?>'/></label>
	                 <?php echo $this->form->image1;?>-->
					
                 </div><!-- block ends -->

                 <div class="block">
	             	<label>Image  2<?php if($image2) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image2;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img2' value='<?php echo $image2;?>'/><input type='hidden' name='imgid2' id='imgid2' value='<?php echo $imgid2;?>'/></label>
	                 <?php echo $this->form->image2;?>
                 </div><!-- block ends -->

                 
                 <div class="block">
	             	<label>Image 3<?php if($image3) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image3;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img3' value='<?php echo $image3;?>'/><input type='hidden' name='imgid3' id='imgid3' value='<?php echo $imgid3;?>'/></label>
	                 <?php echo $this->form->image3;?>
                 </div><!-- block ends -->
				 
				 <div class="block">
	             	<label>Image 4<?php if($image4) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image4;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img4' value='<?php echo $image4;?>'/><input type='hidden' name='imgid4' id='imgid4' value='<?php echo $imgid4;?>'/></label>
	                 <?php echo $this->form->image4;?>
                 </div><!-- block ends -->
				 
				 <div class="block">
	             	<label>Image 5<?php if($image5) {?>
					<image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $image5;?>" width="32" height="32"/>
					<?php }?><input type='hidden' name='img5' value='<?php echo $image5;?>'/><input type='hidden' name='imgid5' id='imgid5' value='<?php echo $imgid5;?>'/></label>
	                 <?php echo $this->form->image5;?>
                 </div><!-- block ends -->
                 <div class="clear"></div>

                 <input type="image" src="<?php echo $this->baseUrl();?>/images/save-btn.png" alt="Register" />&nbsp;
				  <img src="<?php echo $this->baseUrl();?>/images/cancel_btn.png" alt="Register" onclick= 'history.go(-1)' style='cursor:pointer'/><br />
                 <div class="block paddingV20">
                 </div>

                 
       	</div>
	  </div><input type="hidden" name="BASE_URL" id="BASE_URL" value="http://localhost<?php echo $this->baseUrl();?>"></form>
      </div>
        <p class="clearer">&nbsp;</p> 
		<script src="<?php echo $this->baseUrl();?>/js/fileuploader.js" type="text/javascript"></script>
 <script>        
        function createUploader(){            
            var baseUrl	= 'http://localhost<?php echo $this->baseUrl();?>';	
						url	= baseUrl+'/index.php/Artworkupload/uploadimage/';
						//alert(url);
						var uploader = new qq.FileUploader({
							element: document.getElementById('file-uploader-demo1'),
							//alert(file-uploader-demo1); //return false;  
							action: url,
							debug: true,
							
						});          
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>  
    </div>
