<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>

<?php 
$namespace 	= new Zend_Session_Namespace();
$images			=BASE_URL.'/images';
$my_Proimages	= BASE_URL.'/upload/small/';
$my_Proimages_crop	= BASE_URL.'/upload/';

$filear=$namespace->userid;

?>
<link href="<?php echo $this->baseUrl();?>/css/fileuploader.css" rel="stylesheet" type="text/css"/>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>-->
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 

<script type="text/javascript">

$(function() {
		$( "#date_completed" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
$(function() {
		$( "#created_in" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
$(function() {
$(".showMsg a").mouseover(function(){
 $(this).siblings(".msgBox").fadeIn(200);
 
});
$(".showMsg a").mouseout(function(){
$(this).siblings(".msgBox").fadeOut(200);
});
});
/////////////////////////////////////////////////////////////////


function delimage(i)
{ //alert(i);
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'delimage'))?>";


      $.ajax({
                 url:  base_path,
                data: "index="+i,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) {  //alert(resp);
			 document.getElementById('Image_Primary_Content').innerHTML=resp;
			 },
               error: function(e){  alert('Error: '+e);  }  
            });

}
function changesub()
{ 
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'ajax'))?>";

var segId=document.getElementById('category').value;

      $.ajax({
                 url:  base_path,
                data: "segId="+segId,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) { 
			 	var data_ar=resp.split('@|@');
			 document.getElementById('td_sub').innerHTML=data_ar[0];
			 document.getElementById('td_mid').innerHTML=data_ar[1];
			 document.getElementById('td_style').innerHTML=data_ar[2];
			 
			 
			 },
               error: function(e){  alert('Error: '+e);  }  
            });
}
function unitconvert()
{ 
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'uconvert'))?>";

var conId=document.getElementById('convert').value;
var w=document.getElementById('width').value;
var d=document.getElementById('depth').value;
var h=document.getElementById('height').value;
var cu=document.getElementById('cur_unit').value;

      $.ajax({
                 url:  base_path,
                data: "&conId="+conId+"&width="+w+"&depth="+d+"&height="+h+"&cu="+cu,
				beforeSend: function(){

   				},
                type: 'GET',
             success: function (resp) { 

			 document.getElementById('td_u_convert').innerHTML=resp;
			
			 
			 
			 },
               error: function(e){  alert('Error: '+e);  }  
            });
}
function check_form(i)
{
	if(i==1)
	{
		var ch=checkUpload();
		if(ch==true)
		{
	document.myform.action='<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'preview','page'=>$this->page),"default","true")  ?>';
	//alert(document.myform.action); return false;
	document.myform.submit();
		}
		else { return false; }
	}
	if(i==2)
	{
		var ch=checkUpload();
		if(ch==true)
		{
		
	document.myform.action='<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'index','id'=>$this->id, 'value'=>'submit','ser'=>'un'),"default","true")  ?>';
	document.myform.submit();
		}
		else { return false; }
	}
}
</script>

<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
   <?php echo $this->render('profile/headpart.phtml')?>
   
    <div class="UploadArtwork">
        <h2>Upload Artwork<input type="text" id="focu" readonly="readonly" style="border:#FFF 1px hidden;width:1px" /></h2>
        <hr class="LGHTBorder">
		 <form name="myform" action="" method="post" enctype= 'multipart/form-data' onsubmit="return checkUpload();">
		 <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
           <table width="700" border="0">
  <tbody>
  
  <tr>
    <td width="300"><p class="font17">Enter keywords to tag your artwork:</p></td>

    <td>
      		 <div class="floatL"><?php echo $this->form->keywords;?> </div><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> <?php echo $this->ini_array['artwork_tag']?> 
              </div>
              </div>
            </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
    	<p class="font17">Select a category</p>
		 <?php echo $this->form->category;?>
    </td>
  </tr>
  
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2" id='td_sub'>
    	<p class="font17">Subject matter</p>
		<?php echo $this->form->subject;?>
    </td>
  </tr>
  
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2" id='td_mid'>
    	<p class="font17">Medium</p>
		<?php echo $this->form->medium;?>
    </td>
  </tr>
  
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2"  id='td_style'>
    	<p class="font17">Style</p>
		<?php echo $this->form->style;?>		
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2" id='td_u_convert'>
    	<p class="font17 floatL">Size</p>
         <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['size']?>
              </div>
              </div>
            </div>
        <div class="clear"></div>
        <table cellpadding="0" cellspacing="0">
        	<tr>
            	<td class="font17">Width &nbsp; </td>
            	<td><?php echo $this->form->width;?></td>
                <td class="font17">&nbsp;<?php echo $this->convert==""?"mm":$this->convert;?> </td>
                <input type='hidden' name='cur_unit' id='cur_unit' value='<?php echo $this->convert==""?"mm":$this->convert;?>'/>
                <td width="50px"></td>
                <td class="font17">Depth &nbsp; </td>
                <td><?php echo $this->form->depth;?></td>
                <td class="font17">&nbsp;<?php echo $this->convert==""?"mm":$this->convert;?> </td>
                <td width="50px"></td>
                <td class="font17">Height &nbsp; </td>
                <td><?php echo $this->form->height;?></td>
                <td class="font17">&nbsp;<?php echo $this->convert==""?"mm":$this->convert;?> </td>
           </tr>
        </table>
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Convert to:</p>
    	
		
      <div class="floatL"><?php echo $this->form->convert;?> </div><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['converter']?>
              </div>
              </div>
            </div>


    </td>
  </tr>
 <!-- <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Created in:</p>
         <div class="floatL"><?php echo $this->form->created_in;?> </div><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> Your Artwork created date
              </div>
              </div>
            </div>
    </td>
  </tr>-->
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Date completed:</p>
         <div class="floatL"><?php echo $this->form->date_completed;?> </div><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['date_completed']?>
              </div>
              </div>
            </div>
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Artwork Title:</p>
    	<?php echo $this->form->title;?>
    </td>
    
  </tr>
  <tr><td colspan="2">&nbsp;</td><input type="hidden" name='aid' id='aid' value='<?php echo $this->id?>'/></tr>
  <!--dfds-->
  <?php if($this->id!='')
  { ?>
  <!--  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Starting Price:</p>
    	<?php echo $this->form->price;?>
    </td>
    
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Buy It Now:</p>
    	<?php echo $this->form->buy_it_now;?>
    </td>
    
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Reserve Price:</p>
    	<?php echo $this->form->reserve_price;?>
    </td>
    
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>-->
  <?php } ?>
  <!--ghgf-->
  <tr>
  	<td colspan="2" class="font18"><p class="floatL">Describe your artwork:</p>
       <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['describe_artwork']?>
              </div>
              </div>
            </div>
        <div class="clear"></div>
        <?php echo $this->form->descrption;?>
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL marginR10">Presentation:</p>
      
        <div class="floatL"><?php echo $this->form->presentation;?> </div><div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['presentation']?>
              </div>
              </div>
            </div>
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2" class="font18"><p class="floatL"><div id="file-uploader-demo1"></div> </p> 
				 <!-- <script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
				 <div class="edit_pic">
<a href="JavaScript:newPopup('crop/crop.php?p=<?php echo $my_Proimages;?>&q=sri_ganesh_wallpaper.jpg');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Edit Photo
								 </a></div>-->
                <div class="showMsg floatL marginL10 marginT3"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont">  <?php echo $this->ini_array['upload_photo']?> (Upload Max File Size <?php echo $this->artworksize;?> KB)
              </div>
              </div>
            </div>
       <div id="div_error" style="display:none"></div>
    </td>
  </tr>
  <tr><script type="text/javascript">
// Popup window code
function newPopup(url) { 
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
  	<td colspan="2" class="greyBorder" id='Image_Primary_Content'>
    	<table cellpadding="5" cellspacing="5">
        	<tr>
			<?php  $j=1;
			if($this->id!=''){
					if($namespace->filename=='')
					{
					$namespace->filename=null;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					$namespace->filename[$j-1]=array($filear.'fname'=>$eventi['image'],$filear.'crop'=>'1');
					//echo $eventi['image'];
				$j++; }}
				} //print_r($namespace->filename); die;
					 ?>  
			<?php
			if($namespace->filename[0]!=''){
			for($i=0;$i<count($namespace->filename);$i++)
			{
			?>
            	<td><img src="<?php echo $my_Proimages?>/<?php echo $namespace->filename[$i][$filear.'fname']?>" alt="" /><br><input type="hidden" name="crop<?php echo $i?>" id="crop<?php echo $i?>" value="<?php echo $namespace->filename[$i][$filear.'crop']?>" size="5" /><a href="javascript:void(0)" onclick="delimage('<?php echo $i?>')">Delete</a> 
				 <div class="edit_pic">
<a href="JavaScript:newPopup('<?php echo $this->baseUrl();?>/Artworkupload/crop/crop.php?p=<?php echo $my_Proimages_crop;?>/&q=<?php echo $namespace->filename[$i][$filear.'fname']?>');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Choose Thumbnail
								 </a></div></td>
			<?php } }?>
               
            </tr>
        </table>
        <?php if(count($namespace->filename)<10) { ?>
        <p class="floatR marginR5 font13">Your Pic: <?php echo count($namespace->filename)?>  | <?php echo 10-count($namespace->filename)?> more can be added</p>
        <?php }?> <input type="hidden" name="count_img" id="count_img" value="<?php echo count($namespace->filename)?>" />
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
  	<td colspan="2">
<input type="hidden" name="BASE_URL" id="BASE_URL" value="<?php echo $this->baseUrl();?>">
<input type="hidden" id="price" name="price" value="<?php echo $this->record['price']?>" /> 
<input type="hidden" id="buy_it_now" name="buy_it_now" value="<?php echo $this->record['buy_it_now']?>" /> 
<input type="hidden" id="reserve_price" name="reserve_price" value="<?php echo $this->record['reserve_price']?>" /> 
<input type="hidden" id="shipping_type" name="shipping_type" value="<?php echo $this->record['shipping_type']?>" /> 
<input type="hidden" id="shipping_fixed_price" name="shipping_fixed_price" value="<?php echo $this->record['shipping_fixed_price']?>" /> 
    <input type="hidden" id="pg" name="pg" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'index', 'id'=>$this->id,'value'=>'update'),'default',true)  ?>" />
    <input type="hidden" id="pg1" name="pg1" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'index', 'id'=>$this->id,'value'=>'submit'),'default',true)  ?>" />
    
    <input class="floatL" type="image" src="<?php echo $this->baseUrl();?>/images/reviewBTN.jpg" alt="Submit" onclick="check_form(1)" /> 
     <input class="floatR" type="image" src="<?php echo $this->baseUrl();?>/images/moderBTN.jpg" alt="Submit" onclick="check_form(2)" />
	</td>
  </tr>
  
</tbody></table>    
    </form>
        </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <?php echo $this->render('profile/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery"> 
    <?php $cou = 1;for ($i = 0; $i < count($this->userArt); $i++) {?>
    	<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userArt[$i]['id']));?>">
    		<img height="148"  width="148" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $this->userArt[$i]['image'];?>">
    	</a>
      	 
      	<?php if ($cou==5){echo '';$cou = 0;}else{ echo '<div class="clearVer2"></div>';}$cou++;}?>
      	
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;<input type="hidden" name="BASE_URL" id="BASE_URL" value="<?php echo BASE_URL;?>"></p>
<script src="<?php echo $this->baseUrl();?>/js/fileuploader.js" type="text/javascript"></script>
 <script>        
        function createUploader(){            
            var baseUrl	= 'http://<?php echo $_SERVER['HTTP_HOST'] ?><?php echo $this->baseUrl();?>';	
						url	= baseUrl+'/index.php/Artworkupload/uploadimage/';
						//alert(url);
						var uploader = new qq.FileUploader({
							element: document.getElementById('file-uploader-demo1'),
							//alert(file-uploader-demo1); //return false;  
							action: url,
							debug: true
							
						});          
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>  
  </div>
  
<div id="banner_bottom">
	<a href="#"><?php  if($this->getbannerlist['location']=='Bottom') { ?>
            <img src="<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->getbannerlist['banner_path']?>" width="728" height="90"/>
            <?php }?></a>
</div>
