<?php

$serchurl = BASE_URL."admin/autoselect";

?>

<div class="inner-right-content"> 
	<form action="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true) ?>" method="post">
    	<h2 class="page-title">Groups 	 	 </h2>
    	<div class="white-box-cont">
	<div id="ad_sec_btn"><a href="<?php echo $this->url(array('controller'=>'group', 'action'=>'addgroup'),'default',true)  ?>">Add Group</a></div>   
	</div>
    </form>
	
 
	

<div class="white-box">
<div class="white-box-cont">
<div style="text-align:center; margin-top:5px;margin-bottom:5px;" class="message">
	<?php if ($_SESSION['add_gr']){?><?php  echo $_SESSION['add_gr'];$_SESSION['add_gr']=''?><?php } if ($_SESSION['msg']){?><?php  echo $_SESSION['msg']; $_SESSION['msg']='';?><?php }?>
</div>
<div class="page-cont">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				 
				<tr>
					<th>Group Id</th>
					<th>Type</th>
					<th>Set Permission</th>
				</tr>
				 <?php for($i=0;$i<count($this->users);$i++){?>
				<tr> 
					 <td><?php echo $this->users[$i]['group_id'];  ?></td>
					 <td><?php echo $this->users[$i]['group_type'];  ?></td>
					 <td>
					 	<a href="<?php echo $this->url(array('controller'=>'group', 'action'=>'grouppermission', 'gup_id'=>$this->users[$i]['group_id']),'default',true)  ?>">Permission</a>
					 </td>
        		</tr>
        		<?php }?>
			 
        </table>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	
  
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        