<?php $serchurl = BASE_URL."admin/autoselect";?>
 
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/validation.js"> </script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
	$(function() {
		$( "#dob" ).datepicker({
			dateFormat: 'yy-mm-dd',
			changeYear: true
		});
	});
   </script>
<?php   echo $this->msg;  ?>
<script>
function checkEmail(email){
	var email = email.trim();
	var url = '<?php echo $this->url(array('controller'=>'Adminmember','action'=>'checkuniqueemail','page'=>$this->page),'default',true);?>/ckemail/'+ email;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#unique").html(data);
				$("#email").val('');
			}else{
				$("#unique").html('');
			}
		  }
	});
	
}
function checkUserId(userid){ 
	var userid = userid.trim();
	var url = '<?php echo $this->url(array('controller'=>'Registration','action'=>'checkuniqueuserid','page'=>$this->page),'default',true);?>/ckuid/'+ userid;
	$.ajax({
		  url: url ,
		 
		  success: function( data ) {
			
		  	if(data){
				$("#uniqueid").html(data);
				$("#userid").val('');
			}else{
				$("#uniqueid").html('');
			}
		  }
	});
	
}
</script>
<div class="inner-right-content"> 
<h2 class="page-title">Add Member</h2>
<div class="white-box">
<div class="white-box-cont">

<div class="page-cont">
<div style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px; display: none;" id="error_msg"></div>
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        	<form method="post" action="<?php echo $this->url(array('controller'=>'adminmember','action'=>'member'),'default',true)?>" onsubmit="return checkUserAdmin();" enctype="multipart/form-data">
				<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				 	<tr> 
						 <td>First Name<span class="mandatory">*</span>:</td> <td><input type="text" name="first_name" value="" id="firstname"></td>
					</tr>
					<tr> 
						 <td>Last Name:</td> <td><input type="text" name="last_name" value="" id="last_name"></td>
					</tr>
					<tr> 
						 <td>Scout Code:</td> <td><input type="text" name="scoutcode" value="" id="scoutcode"></td>
					</tr>
					<tr> 
						 <td>Email<span class="mandatory">*</span>:</td> 
						 <td><input type="text" name="email" value="" id="email" onblur="checkEmail(this.value);"><br><span id="unique" style="color: #BF4444;"></span></td>
					</tr>
					<tr> 
						 <td>UserID<span class="mandatory">*</span>:</td> 
						 <td><input type="text" name="userid" value="" id="userid" onblur="checkUserId(this.value);"><br><span id="uniqueid" style="color: #BF4444;"></span></td>
					</tr>
					<tr> 
						 <td>Password<span class="mandatory">*</span>:</td> <td><input type="password" name="password" value="" id="password"></td>
					</tr>
					
					<tr> 
						 <td>Conform password<span class="mandatory">*</span>:</td> <td><input type="password" name="repassword" value="" id="repassword"></td>
					</tr>
					
					<tr> 
						 <td>House Name/no:</td> <td><input type="text" name="house_no" value="" id="house_no"></td>
					</tr>
					<tr> 
						 <td>Country:</td> 
						 <td><select  name=country  id="country">
						 <?php
						  $allgroup	=	new Application_Model_DbTable_ArtCountry();
							$record		=	$allgroup->getcountryName();
							for ($c=0;$c<count($record);$c++) { 
							?>
							<option value="<?php echo $record[$c]['id']?>"><?php echo $record[$c]['country'];?></option>
							
						<?php	}
						 ?></select>
						 
						 </td>
					</tr>
					<tr> 
						 <td>Street:</td> <td><input type="text" name="street" value="" id="street"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> <td><input type="text" name="city" value="" id="city"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> <td><input type="text" name="zip" value="" id="zip"></td>
					</tr>
					<tr> 
						 <td>DOB:</td> 
						 <td><input type="text" name="dob" value="" id="dob"></td>
					</tr>
					<tr> 
						 <td>Biography:</td> 
						 <td><textarea name="biography" rows="8" cols="15"></textarea></td>
					</tr>
					<tr> 
						 <td>Profile Image:</td> 
						 <td><input type="file" name="profile_image" value="" /><img src="<?php echo $this->baseUrl();?>/images/profile_image/small/<?php echo $this->editusers[0]['profile_image']?>"> (Upload Max File Size <?php echo $this->profilesize;?> KB)</td>
					</tr>
									
					<tr> 
						 <td>Status:</td> 
						 <td>
						 	<select name="active">
						 		<option value="1">Active</option>
						 		<option value="0">Inactive</option>
						 		<option value="block">Block</option>
						 	</select>
						 </td>
					</tr>
					<tr> 
						 <td colspan="2"><b>Billing Information</b></td>
					</tr>
					<tr> 
						 <td>Address:</td> 
						 <td><input type="text" name="baddress" value="" id="baddress"></td>
					</tr>
					<tr> 
						 <td>Country:</td> 
						 <td><input type="text" name="bcountry" value="" id="bcountry"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> 
						 <td><input type="text" name="bcity" value="" id="bcity"></td>
					</tr>
					<tr> 
						 <td>State:</td> 
						 <td><input type="text" name="bstate" value="" id="bstate"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> 
						 <td><input type="text" name="bzip" value="" id="bzip"></td>
					</tr>
					<tr> 
						 <td>Phone Number :</td> 
						 <td><input type="text" name="bphone" value="" id="bphone"></td>
					</tr>
					 
					<tr> 
						 <td colspan="2"><b>Shipping Information</b></td>
					</tr>
					<tr> 
						 <td>Address:</td> 
						 <td><input type="text" name="saddress" value="" id="saddress"></td>
					</tr>
					<tr> 
						 <td>Country:</td> 
						 <td><input type="text" name="scountry" value="" id="scountry"></td>
					</tr>
					<tr> 
						 <td>Town / City:</td> 
						 <td><input type="text" name="scity" value="" id="scity"></td>
					</tr>
					<tr> 
						 <td>State:</td> 
						 <td><input type="text" name="sstate" value="" id="sstate"></td>
					</tr>
					<tr> 
						 <td>Post / ZIP code:</td> 
						 <td><input type="text" name="szip" value="" id="szip"></td>
					</tr>
					<tr> 
						 <td>Phone Number :</td> 
						 <td><input type="text" name="sphone" value="" id="sphone"></td>
					</tr>
					<tr> 
						 <td colspan="2"><b>Paypal Information</b></td>
					</tr>
					
					<tr> 
						 <td>Paypal Email :</td> 
						 <td><input type="text" name="pemail" value="" id="pemail"></td>
					</tr>
					
	        		<tr>
	        			 <td colspan="2" align="center"><input type="hidden" name="user_id" value="" > <input type="submit" name="submit" value="Submit"><a href="javascript: history.go(-1)" style="text-decoration: none;"><input type="button" value="Cancel" /></a></td>
	        		</tr>
           		</table>
        	</form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center"></div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        