<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="image/x-icon" rel="shortcut icon" href="<?php echo BASE_URL?>/images/favicon11.ico" />
<title>Artex Administrator</title>
<script language="javascript" src="<?php echo $this->baseUrl()?>/js/jquery-latest.js" type="text/javascript"></script>
<script language="javascript" src="<?php echo $this->baseUrl()?>/js/admin_validation.js" type="text/javascript"></script>
<script language="javascript" src="<?php echo $this->baseUrl()?>/js/jquery_validation.js" type="text/javascript"></script>
<?php echo $this->headLink()->appendStylesheet($this->baseUrl().'/css/admin.css'); ?>

<script type="text/javascript">
function Tdate()
{
	var m_names = new Array("January", "February", "March","April", "May", "June", "July", "August", "September","October", "November", "December");
	var d = new Date();
	var curr_date = d.getDate();
	var curr_month = d.getMonth();
	var curr_year = d.getFullYear();
	document.write(curr_date + "-" + m_names[curr_month]+ "-" + curr_year);
}

 
</script>
<script language="javascript" type="text/javascript">

$(document).ready(function(){
		
	$(".admin-menu ul li").click(function(){
	$('.admin-menu ul li a').removeClass("active");
	$('.admin-menu ul li ul').slideUp("fast");
	$('ul',this).slideDown("fast");
	$('a:first', this).addClass("active");
	$('ul li:last',this).css({'border-bottom':'0px'});
	});

 });

</script>
</head>
<body>
	<div class="wrapper">
    	<div class="header-wrapper">
			<div class="header"> 
        		<a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true)  ?>">
            	<img src="<?php echo $this->baseUrl();?>/images/logo.gif" alt="Artex" class="logo" style="height: 65px;" /></a>
            	<ul class="top-links">
           			<li class="last"><a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>'logout'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/logout.png" alt="logout" />Logout</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/home.png" alt="Home" />Home</a></li>
					<li><img src="<?php echo BASE_URL?>images/admin/date.png" alt="Home" style="vertical-align:bottom" /><script type="text/javascript">Tdate()</script></li>
					<li>Welcome Administrator!</li>
            	</ul><!-- top links ends -->
            	<span class="clearfix"></span>
        	</div><!-- header ends -->
        </div><!-- header wrapper ends -->
        <div class="content-wrapper">
	    	<div class="inner-left-content">
            	<div class="admin-menu">
                	<ul>
					
						<li><a href="<?php echo $this->url(array('controller'=>'adminmanageglobalinfo', 'action'=>'addglobalinfo'),'default',true)  ?>">Manage Global Info </a></li>
						
						<li><a href="<?php echo $this->url(array('controller'=>'group', 'action'=>'group'),'default',true)  ?>">Manage Group</a></li>
						<li><a href="<?php echo $this->url(array('controller'=>'managecmsmanagement', 'action'=>'sectionlist'),'default',true)  ?>">Manage CMS</a></li>
						
                		<li><a href="<?php echo $this->url(array('controller'=>'adminmember', 'action'=>'member'),'default',true)  ?>">Manage Users</a></li>          		
     		<li><a href="<?php echo $this->url(array('controller'=>'category', 'action'=>'categorylist'),'default',true)  ?>">Manage Artwork categories</a></li>    
			<li><a href="<?php echo $this->url(array('controller'=>'news', 'action'=>'newslist'),'default',true)  ?>">Manage News</a></li>   
    		<li><a href="<?php echo $this->url(array('controller'=>'news', 'action'=>'newsfeedlist'),'default',true)  ?>">Manage News Feed </a></li> 
			<li><a href="<?php echo $this->url(array('controller'=>'notification', 'action'=>'notificationlist'),'default',true)  ?>">Manage Email Notifications</a></li>    
			<li><a href="<?php echo $this->url(array('controller'=>'feedback', 'action'=>'feedbacklist'),'default',true)  ?>">Manage Site feedbacks</a></li>    
			<li><a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'artworkuploadlist'),'default',true)  ?>">Manage Artwork </a></li> 
            <li><a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'artworkuploadhelp'),'default',true)  ?>">Artwork help</a></li> 
			<li><a href="<?php echo $this->url(array('controller'=>'message', 'action'=>'messagelist'),'default',true)  ?>">Manage Message</a></li>  	
			<li><a href="<?php echo $this->url(array('controller'=>'banner', 'action'=>'bannerlist'),'default',true)  ?>">Manage Banner</a></li>		
			<li><a href="<?php echo $this->url(array('controller'=>'adminmanageblog', 'action'=>'bloglist'),'default',true)  ?>">Manage Blog</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'adminmanagebid', 'action'=>'artworkbidlist'),'default',true)  ?>">Manage Bid</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'admin', 'action'=>'changepassword'),'default',true)  ?>">Change Password</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'adminmanagepayment', 'action'=>'paymentlist'),'default',true)  ?>">Manage Artwork Payment</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'manageemailformats', 'action'=>'emailformat'),'default',true)  ?>">Manage Email Formats</a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'reportabuse', 'action'=>'reportabuselist'),'default',true)  ?>">Manage Report Abuse</a></li>
                    </ul>
                </div><!-- left menu ends -->
            </div><!-- inner-left-content ends-->
	    	<?php
    if ( $this->ckeditor ) {
        echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor/ckeditor.js');
     }
?>