



  <?php echo $this->render('adminheader.phtml') ?>
  <?php echo $this->headLink()->appendStylesheet($this->baseUrl().'/css/reach_style.css'); ?>

  <?php $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8'); ?>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="960" id="AutoNumber1"  align="center">
</table>
<?php echo $this->render('adminlogincontent.phtml')?>
<?php echo $this->render('adminfooter.phtml') ?>
</body>
</html>
