<?php
$serchurl = BASE_URL."admin/autoselect";
/*echo '<pre>';
print_r($this->paginator);
die;*/
?>
<script LANGUAGE="JavaScript">
<!--
function cmsdel() {
var msg;
 
msg= "Are you sure you want to delete ? " ;
var agree=confirm(msg);
if (agree)
return true ;
else
return false ;
}
// -->
</script>

<div class="inner-right-content"> 
	<form action="<?php echo $this->url(array('controller'=>'admin', 'action'=>'home'),'default',true) ?>" method="post">
    	<h2 class="page-title">Manage User </h2>
    	
    </form>
	
 
	

<div class="white-box">
<div class="white-box-cont">
<div class="message"  id="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
<div style="text-align:center; margin-top:5px;margin-bottom:5px;" class="message"><?php if ($_SESSION['add_gr']){?><?php  echo $_SESSION['add_gr'];$_SESSION['add_gr']=''?><?php } if ($_SESSION['msg']){?><?php  echo $_SESSION['msg']; $_SESSION['msg']='';}?></div>
<div id="ad_sec_btn" style=" margin-left: -10px;">
			<a style="text-decoration: none;" href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'addmember'),'default',true)  ?>">Add Member</a> 
</div></div>
<div class="white-box">
<p>
    <div style="border:0px solid black">
        <div style="border:0px solid red">
        <form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				 
				<tr>
					<th><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>User Id</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<?php //echo '<pre>';print_r($this->users);?> 
				 <?php foreach($this->paginator as $event){?>
				<tr> 
					 <td><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					 <td><?php echo $event['first_name'];  ?></td>
					 <td><?php echo $event['last_name'];  ?></td>
					 <td><?php echo $event['email'];  ?></td>
					 <td><?php echo $event['user_id'];  ?></td>
					 <?php if($event['active']=='1') {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'0', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td align="center" id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'' ,'status'=>'1', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>
					<?php }?>
					 
					 
					 
					 
					 <td>
					 		<a href="<?php echo $this->url(array('controller'=>'Adminmember', 
					'action'=>'updatemember', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20" alt="Edit" title="Click Here To Edit" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'deletemember', 'id'=>$event['id']),'default',true)  ?>" onclick="return cmsdel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>
					 </td>
        		</tr>
        		<?php }?>
			 <tr>
					
					    
					     <td colspan='7'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'active'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'updatememberstatus', 'msg'=>'', 'status'=>'inactive'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'Adminmember', 'action'=>'deletemember'),'default',true)  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>
			        
			  </tr>
        </table></form>
        </div>
    </div>
</p>
</div><!-- page-cont ends -->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div>
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
</div><!-- inner-right-content -->

        