<!-- ** Begin secondary area ** -->
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/validation.js"> </script>

 </div>
 <script>
	var log = "";
	if(log != '' )
	{
		window.opener.location.reload(true); 
		window.close();
	}
</script>
<div id="secondary">
	<p class="clearer">&nbsp;</p>
      <!-- Signup form start here -->
    <div id="signup_form_area">
		<div class="signup_title">REGISTER WITH ART EX</div>
		<div class="signup_heading">Register today to browse and buy artworks or to upload your own artworks to the site.</div>
		<div class="signup_heading2">Already registered or want to make a change to you account? <a href="#">Sign in</a></div>
		<hr />
		<div>
			<form action="<?php echo $this->url(array('controller'=>'Registration','action'=>'groupregistration','page'=>$this->page),'default',true)  ?>" method="post" onsubmit="return checkUser();">
				<ul>
					<li><span class="s ignup_title">ABOUT  YOU</span><span class="require"><span class="mandatory">*</span> indicates required field</span></li>
					<li>Tell us about yourself, are you:<br><span style="color: #DA3838;"><?php echo $_SESSION['msg'];$_SESSION['msg'] = '';?></span>
						</li>
						<li id="error_msg" style="border:dotted;border-color: #DA3838;width: 498px;display: none;"></li>
					 
					<li>First Name<span class="mandatory" id="name_req">*</span>:<span class="same_row_signup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create your ArtEx user ID</span><span class="mandatory" id="userid_req">*</span></li>
					<li style="height: 45px;"><?php echo $this->form->firstname;?>&nbsp;&nbsp;&nbsp;<?php echo $this->form->userid;?></li>
					 
					<li>Surname:<span class="same_row_signup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create your password</span><span class="mandatory" id="password_req">*</span></li>
					<li style="height: 45px;"><?php echo $this->form->lastname;?>&nbsp;&nbsp;&nbsp;<?php echo $this->form->password;?></li>
					<li>E-mail  <span class="mandatory" id="email_req">*</span>:<span class="same_row_signup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Re-enter your password</span><span class="mandatory" id="repassword_req">*</span></li>
					<li style="height: 45px;"><?php echo $this->form->email;?>&nbsp;&nbsp;&nbsp;<?php echo $this->form->repassword;?></li>
					<li>
						<ul>
							<li>Re-enter email<span class="mandatory" id="reemail_req">*</span>:	</li>
							<li style="height: 45px;"><?php echo $this->form->reemail;?></li>
						</ul>
						<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
											<script>
window.fbAsyncInit = function() {
    FB.init({
      appId   : '344900998860937',
      session : <?php //echo json_encode($this->fb->getSession()); ?>, // don't refetch the session when PHP already has it
      status  : true, // check login status
      cookie  : true, // enable cookies to allow the server to access the session
      xfbml   : true // parse XFBML
    });

    	// whenever the user logs in, we refresh the page
	FB.Event.subscribe('auth.login', function() {
	  window.location.reload();

	});

};




(function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_ES/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());



								
							  </script>
						<ul style="padding-right: 400px; padding-bottom: 8px; margin-top: -32px;">
							<li>
								  <div style="float: right; border-width: medium 3px medium medium; border-style: dashed; border-color: -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; margin-left: 0px; padding-left: 0px; margin-right: -188px; margin-top: -40px;"> &nbsp; &nbsp;ALTERNATIVELY<br>
									<a href="#" onClick="logface()"><img src="<?php echo $this->baseUrl();?>/images/signupform/facebook_btn.jpg" /></a><br />
									<img src="<?php echo $this->baseUrl();?>/images/signupform/gmail_btn.jpg" />
								</div>
							</li>
						</ul>
					</li>
				
					<li>&nbsp;</li>
					<li><div class="signup_heading">HAVE A SCOUT CODE ?</div></li>
					<li>Get 20% discounted fee on your first 2 listings.<br>
					<b>Invites other</b> for more of the same!
					</li>
					<li style="height: 45px;"><?php echo $this->form->scoutcode;?></li>
					<li><div class="signup_heading">USER AGGREMENT</div></li>
					<li><textarea rows="15" cols="80">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea></li>
					<li style="height: 45px;"><input type="checkbox" checked="checked" name="alert" value="yes"/>I would like to receive communication from AreEx.</li>
					<li id="condition_req" style="color: #CC0000"></li>
					<li id="condi_li" style="background-color: #F1F3F2;height: 80px;width: 664px;"><input type="checkbox" name="condition" id="condition"/>I accept the User Agreement which is the terms and conditions that apply<br> to my use of ARTEX, and have read the Privacy Policy.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" name="continue" value="FINISH" class="sign_up_submit"/></li>
				</ul>
			</form>
		</div>
	</div>
	<!-- signup form end here -->
</div>
    <script>
 
	function logface()
  {
	  var url = "<?php echo $this->loginUrl; ?>";

	newwindow = window.open(url,'','width=700,height=400,left=200,top=200',false);

	 //return false;
  }
</script>
<!-- ** End secondary area ** -->