<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<?php if(isset($this->blog_id  )){ ?>
<div class="ad_title" style="color:#333333;"><strong>Edit <span style="color:#CC0000;">Blog</span></strong><hr style="border:1px dashed #000;" /></div>
<?php } ?>
<?php if(!isset($this->blog_id  )){ ?>
<div class="ad_title" style="color:#333333;"><strong>Add <span style="color:#CC0000;">Blog</span></strong><hr style="border:1px dashed #000;" /></div>
<?php } ?>
<!--<img src="<?php echo BASE_URL ?>images/subscriptionform.png" />-->
<form  action="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'addblog'),'default',true)  ?>" method="post" name="myform" enctype="multipart/form-data" onsubmit="return valid_blog()">
	  	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>

	<div class="subscription_box">
		<div class="subscription_row mart"> <label style='padding-right:40px'>Title:        </label>
		 <td>
		 <input style=width:338px type="text"  size="12" maxlength="50" name="title" id="title" 
		 value="<?php echo $this->title;?>">
		 </td></div>
		<div class="subscription_row"> <label>Description:</label>
		<td>
		<textarea  rows="10" cols="40"  wrap="physical" name="description"  
		 id="description"><?php echo $this->description;?></textarea>
		</td></div>
		<div class="subscription_row"> <label>Blog Image:</label><input type="file" name="bannerimage" id="bannerimage" value="<?php echo $this->image ?>" style=width:220px ></div>
		<!--<div class="subscription_row"> <label>Status:</label>
		  <td valign=top>
				<input type="radio"  name="status" value="1" <?php if($this->publish == 1){ echo "checked='checked'"; } ?> >Publish
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
				<input type="radio" name="status" value="0" <?php if($this->publish == 0){ echo "checked='checked'"; } ?> >Unpublish
		  </td></div>-->
		<?php if(empty($this->blog_id)){?>	
		<input type="hidden" name="bloguser_id" value="<?php echo $this->bloguser_id ?>">
        <div class="subscription_row mart marb"> <label>&nbsp;</label>  <input name="submit" value="submit" type="image"  src="<?php echo BASE_URL ;?>images/save-btn.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <?php } else { ?>
        <input type="hidden" name="blog_id" value="<?php echo $this->blog_id ?>">		
		<input type="hidden" name="bloguser_id" value="<?php echo $this->bloguser_id ?>">
		<input type="hidden" name="oldfile" value="<?php echo $this->image ?>">
		<div class="subscription_row mart marb"> <label>&nbsp;</label>  <input name="edit" value="submit" type="image"  src="<?php echo BASE_URL ?>images/save-btn.png" />&nbsp;&nbsp;&nbsp;&nbsp;
		<?php } ?>
		<img src="<?php echo BASE_URL ?>images/cancle.png" onclick="history.go(-1)"/></div>
						   
	</div>
</form>