<?php  
	$userstuff	= new Application_Model_ArtGroup();
	$country    = new Application_Model_ArtCountry();
	//******** Javascript Functions 
	$images		= BASE_URL.'images';	
	$Proimages	= BASE_URL.'uploads';
	$js_fc_rel	= BASE_URL.'js/faceboxrel.js'; 
	$tooltip	= BASE_URL.'js/tooltip.js';
?>
<script type="text/javascript" src="<?php echo $js_search?>"> </script>
<script type="text/javascript" src="<?php echo $js_fc_rel?>">   </script>
<script type="text/javascript" src="<?php echo $tooltip?>"> </script>
<div  class="midd_column">
        <div class="navigation2">
          <ul> 
            <li><a href="javascript:void(0)" class="active" style="cursor:no-drop"><span>My Blogs</span></a> &nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'Blog', 'action'=>'addblog'),'default',true);?>" class="active" style="cursor:pointer"><span>Add Blog</span></a></li>
          </ul>
        </div>
		 <div class="paging">
		<?php
		$paginationDisplay	= '';
		echo $this->totRecords;
        if($this->totRecords>0)
		{ 
			$beginCount	= '';
			$lastCount	= '';
			$beginCount	= $beginCount+$this->pn;
			$lastCount	= $this->limitRecords+($this->pn-1);			
			$Display 	= '<span class="paging_hd_txt">Page <strong>' . $this->pn . '</strong> of ' . $this->lastPage. '&nbsp;  &nbsp;  &nbsp; Total Records - ' . $this->totRecords . '</span> ';
			echo $Display;		
		}
		?>
		<div align="right">
	      <?php  echo $this->paginationControl($this->viewblogMe,'Sliding','/admin/pagination1.phtml'); ?>
        </div>	
		</div> <!--- /paging end -->
		<div class="clear"></div>
		<?php 
		
		if($this->totRecords>0)	{ ?>
		   <?php foreach($this->viewblogMe as $blogMe){ 
		      $nameu = ucfirst($blogMe['first_name']).' '.ucfirst($blogMe['last_name']);
			 // echo'<pre>';print_r($blogMe);
			  if($blogMe['publish']=='1'){  ?>
			<div class="clear"></div>
			<div class="blog_group_area">
				<div class="blog_box_left">
					<?php if(($blogMe['image'])!=''){  ?>
					 <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>" 
					   class="tooltip" title="View Profile of <b><?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?></b>">
		
			<img style="float:left;" src="<?php echo BASE_URL.'images/blog_images/'.$blogMe['image']; ?>" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>" height='50' width='50'/>									
					</a>
					<?php }else  { ?>
					<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>" 
					   class="tooltip" title="View Profile of <b><?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?></b>">
			<img style="float:left;" src="<?php echo BASE_URL?>/images/NoProfileImg_50x50.jpg" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>" height='50' width='50'/>									
					</a>
					<?php } ?>
				</div>
				<div class="blog_box_mid">
				<ul style="list-style:none; line-height:20px; text-align:justify;">
				<li><span style="font-size:20px; color:#CC0000;"><a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'viewablog','blog_id'=>$blogMe['bid'],'bloguser_id'=>$blogMe['creator']));?>" ><?php echo ucfirst($blogMe['blog_title']);?></a> </span></li>
				<li><span style="font-size:18px; color:#006699;"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$blogMe['creator']));?>"><?php echo ucfirst($blogMe['first_name']).' '.ucfirst($blogMe['last_name']);?></a></span></li>
				<li><span style="font-size:12px; color:#666666;"><?php echo ucfirst($blogMe['description']);?></span></li>
				<li style="text-align:right; border-top:1px dashed #CCCCCC;">
				<div style="font-size:11px; float:left; color:#0066FF;">
					<a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'viewablog','blog_id'=>$blogMe['bid'],'bloguser_id'=>$blogMe['creator']));?>" ><img src="<?php echo BASE_URL ?>images/comment_btn.jpg"  /></a>
				</div>
				<div style="font-size:11px; float:right; color:#000;">Date: <?php echo date('Y-m-d',strtotime($blogMe['c_date']));?></div></li>
				</ul>
				</div>
				<?php  if($blogMe['creator']==$this->currentuseid){ ?>
				<div class="blog_box_right">
					 <a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'addblog','blog_id'=>$blogMe['bid'],'bloguser_id'=>$blogMe['creator']));?>" >
					<img src="<?php echo BASE_URL;?>images/edit_blog.jpg" width="20" height="20"  /></a>&nbsp;&nbsp;
					<a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'deleteablog','blog_id'=>$blogMe['bid']));?>" >
					   <img src="<?php echo BASE_URL;?>images/cancel_icon.jpg" onclick="return deleteblog()"  height="18" alt="Delete Blog" title="Click Here To Delete blog" />
					</a> 
				</div>
				<?php } ?>
	        </div>
			<?php		
			}} 
		}
		else
		{
			echo "<div style='padding: 50px 40px; color: #555; font-size: 18px; float:left'>No matches found for this Section.
You are not Viewed by any users.</div>";
			
		}
		?> 
		<div class="clear"></div>
        <div class="paging mrg_btm0">
          <div align="right">
	      <?php  echo $this->paginationControl($this->viewblogMe,'Sliding','/admin/pagination1.phtml'); ?>
          </div>	
        </div>
        <!--- /paging end -->
      </div>
      <!-- middle column end -->
      
      <!-- right column end -->
    <!-- /content wrapper 2 -->
  <!-- /wrapper  -->
<script type="text/javascript" language="javascript" >
	function deleteblog() {
		if(confirm("Are you sure you want to delete this blog? You will not be able to undo this section ")){
			document.form.submit();
		}else{
			return false;
		}
	}
</script>
