<div id="main"> <div  class="midd_column">
        <div class="navigation2">
          <ul> 
            <li><a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'myblog'));?>" style="cursor:pointer"><span>My Blogs</span></a></li>
            <li><a href="javascript:void(0)" class="active" style="cursor:no-drop"><span>Blog Comments</span></a></li>
          </ul>
        </div>
		<div class="clear"></div>
        
		<div class="blog_group_area">
        <div class="blog_box_left">
		
			<?php if(($this->blogMeview['image'])!=''){  ?>
<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$this->blogMeview['creator']));?>"><img src="<?php echo BASE_URL.'images/blog_images/'.$this->blogMeview['image']; ?>"  height='50' width='50'/></a>
<?php }else  { ?>
<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$this->blogMeview['creator']));?>"><img  src="<?php echo BASE_URL ?>timthumb.php?src=<?php echo BASE_URL.'blog_images/'.'defaultblogimage.jpeg'; ?>&h=100&w=80&zc=1" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>"/></a>
<?php } ?>
		</div>
        <div class="blog_box_mid"  >
        <ul style="list-style:none; line-height:20px;" >
        <li><span style="font-size:20px; color:#CC0000;"><?php echo $this->getviewablog['blog_title']; ?></span></li>
        <li><span style="font-size:18px; color:#006699;"><a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$this->blogMeview['creator']));?>"><?php echo ucfirst($this->blogMeto[0]['first_name']).' '.$this->blogMeto[0]['last_name'] ;?></a></span></li>
        <li><span style="font-size:12px; color:#666666;" ><?php echo nl2br($this->Escape($this->getviewablog['description']));?></span></li>
        <li style="text-align:right; border-top:1px dashed #CCCCCC;">
        <div style="font-size:11px; float:left; color:#0066FF;"><img src="<?php echo BASE_URL?>images/comment_btn.jpg"  /></div>
        <div style="font-size:11px; float:right; color:#000;">Date: <?php echo date('Y-m-d',strtotime($this->getviewablog['create_date']));?></div></li>
        </ul>
        </div>
     
		
			<!--<div class="blog_box_right"><img src="<?php echo BASE_URL?>images/cancel_icon.jpg"  /></div>-->
			 <!-- member comment start from here -->
			 <?php if(!empty($this->commentto)){ ?>
        	<div id="user_comment_start" style="width:100%; padding-top:25px;  float:left; margin:auto;">
        <div class="ad_title" style="padding-bottom:15px;"><img src="<?php echo BASE_URL?>images/comment_icon2.jpg"  />User's <span style="font-size:24px; color:#333333;">Comment</span><hr style="border:1px dashed #CCCCCC;" /></div>
     
	  <!-- for user comment enternal-->
	  <?php foreach($this->commentto as $comm){ ?>
		<div class="comment_mem_img"><?php if(($comm['img_name'])!=''){  ?>
		<a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$comm['user_id']));?>" 
			   class="tooltip" title="View Profile of <?php echo ucfirst($comm['firstname']).' '.$comm['lastname'];?>">
		  <img src="<?php echo BASE_URL ?>timthumb.php?src=<?php echo BASE_URL.'uploads/'.$comm['img_name']; ?>&h=80&w=80&zc=1" alt="<?php echo ucfirst($comm['first_name']).' '.$comm['last_name']?>"/>
		</a>
		<?php }else{  ?>
		  <a href="<?php echo $this->url(array('controller'=>'profile', 'action'=>'userprofile', 'id'=>$comm['user_id']));?>" 
			   class="tooltip" title="View Profile of <?php echo ucfirst($comm['first_name']).' '.$comm['last_name'];?>">
			<img style="float:left;" src="<?php echo BASE_URL?>/images/NoProfileImg_50x50.jpg" alt="<?php echo ucfirst($blogMe['first_name']).' '.$blogMe['last_name'];?>" height='50' width='50'/>									
		</a>
		 <?php } ?>
		</div>
    <div class="comment_box_mid">
        <ul style="list-style:none; line-height:20px;">
        <li><strong style="font-size:11px;"><?php echo ucfirst($comm['firstname']).' '.ucfirst($comm['lastname']);?></strong></li>
        <li><span style="font-size:11px; color:#0099CC;"><?php echo $comm['add_date'];?></span></li>
        <li>
		 <div style=" class="comment_text"><img src="<?php echo BASE_URL?>images/comment_icon.jpg" />
		   <?php echo $comm['comment'];?></div>
				</li>
        <!--<li><a href="#"><strong style="color:#CC0000;">Delete</strong></a></li>-->
		<?php if($comm['user_id']==$this->currentuseid){ ?>
				<li><a href="<?php echo $this->url(array('controller'=>'Blog','action'=>'deletebcomment','id'=>$comm['id']));?>" ><strong style="color:#CC0000;">Delete</strong></a></li>
				<?php }else{ ?>
				<li>&nbsp;</li>
				<?php } ?>
		
        </ul>
        </div>
		<?php } } ?>
		<!-- end here user comment -->
	    <div class="ad_title" style="padding-top:25px; float:left;">write your <span style="color:#333333;">Comment</span><hr style="border:1px dashed #CCCCCC;" /></div>
		<div style="text-align:center;">
		<form  action="<?php echo $this->url(array('controller'=>'Blog','action'=>'commentblog'),'default',true)  ?>" method="post" name="myform" >
				<textarea  rows="5" cols="62"  wrap="physical" name="comment"  value=""></textarea>
				<input type="hidden" name="bloguser_id" value="<?php echo $this->blogMeview['creator']; ?>">
				<input type="hidden" name="blog_id"     value="<?php echo $this->blogMeview['id']; ?>">
			<div class="subscription_row mart marb"> <label>&nbsp;</label>  <input name="submit" value="submit" type="image" src="<?php echo BASE_URL ?>images/submit.png" />&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
	</form>
		</div>
  
 
</div></div>
    <!-- member comment end here -->
        </div> </div>
<script type="text/javascript" language="javascript" >
	function deleteblog() {
		if(confirm("Are you sure you want to delete this blog? You will not be able to undo this section ")){
			document.form.submit();
		}else{
			return false;
		}
	}
</script>