 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
$(function() {
		var dates = $( "#display_start_date, #display_end_date" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			dateFormat: 'yy-mm-dd',
			onSelect: function( selectedDate ) {
				var option = this.id == "display_start_date" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );	
				dates.not( this ).datepicker( "option", option, date );
			}
		});

	});
	
	/*
	var max=$("#display_end_date").val();
		var min=$("#display_start_date").val();
		dates.( this ).datepicker( "option", "maxDate",  new Date(max) );
		$( "#display_start_date").datepicker({ "maxDate":  new Date(max),dateFormat: 'yy-mm-dd' });
		$( "#display_end_date").datepicker({ "minDate": new Date(min),dateFormat: 'yy-mm-dd' });*/
</script>
<div class="inner-right-content"> 

	<h2 class="page-title">Manage News </h2>
<div style="padding-left:10px;"><h3></h3></div>
<table width="98%" border="0" cellpadding="0" cellspadding="0">
	 <tr>
    <td align ="left">
		<div id="error_msg" style="display:none;border: 1px dashed rgb(218, 56, 56); width: auto; line-height: 20px; padding: 5px;"></div>	</td></tr>

 <tr>
    <td align ="right"><div style="float:left" class="subheading"><?php echo $this->bodyCopy ;?></div><a href="<?php echo $this->url(array('controller'=>'news', 'action'=>'newslist','msg'=>''),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
	</tr>
  <tr>
    <td align ="left">
	<?php //echo $this->bodyCopy ;?>
	<?php echo $this->form ;?>
	<?php
    $this->ckeditor = 'ckeditor'; //To tell the layout ckeditor must be loaded .
?>
<!-- Description is the id of the textarea -->
<?php echo $this->setupEditor( 'description' ); ?>
  </td>
	</tr>
</table>
</div>

