<?php   //echo $this->msg;  ?>





<div class="inner-right-content"> 


<h2 class="page-title">Manage Notification</h2>
		
	<div class="white-box-cont">
	<h3><?php echo ucwords($section_name)?></h3>
	<td align="right" >
	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	<div class="searchconmain">
			<div class="searchconleft">
				
					<div id="ad_sec_btn" style="float:left;"><a href="<?php echo $this->url(array('controller'=>'notification', 
					'action'=>'addnotificationlist'));?>">Add Notification </a></div>
				
			</div>
			<div class="searchconmiddle">
		<form action="<?php echo $this->url(array('controller'=>'notification','action'=>'notificationlist')) ?>" method="get">
    	
       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
        <input type="text"  id="squestion" name="searchelement" class="search_box" 
		  value="<?php echo $this->psquestion ?>" /> 	
        
</form>

			</div>
			<div class="searchconright"></div>
		</div>
	
	
 
	</div>
<div class="white-box">

<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="6%"><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th><center>
				<?php if($this->sortBy=='subject asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'notification','action'=>'notificationlist','sortBy'=>'subject desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'notification','action'=>'notificationlist','sortBy'=>'subject asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				  Subject</a>
				</center></th>
				<th width="19%">Message </th>
				<th width="17%"><center>
				  <strong>
				  <?php if($this->sortBy=='send_date asc') { ?>
					<a href="<?php echo $this->url(array('controller'=>'notification','action'=>'notificationlist','sortBy'=>'send_date desc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } else { ?>
					<a href="<?php echo $this->url(array('controller'=>'notification','action'=>'notificationlist','sortBy'=>'send_date asc','squestion'=>$this->psquestion)) ?>" id='linkhead'>
				<?php } ?>
				  Send Date</a></strong>
				</center></th>
               
                <th width="14%"><center>Action</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					
					<td width="9%" align="center"  valign="middle"><?php echo ucwords($event['subject']);?></td>
					<td align="left" valign="middle" ><?php echo $event['message']==''?'Description not found.':nl2br(html_entity_decode(substr(htmlentities(stripslashes($event['message'])),0,300)."..."));?></td>
					<td align="left" valign="middle" ><?php echo $event['send_date'];?></td>
									<td width="7%" align="center">
							<a href="<?php echo $this->url(array('controller'=>'notification', 
					'action'=>'viewnotificationlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'notification', 
					'action'=>'addnotificationlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20"alt="Delete CMS" title="Click Here To Edit" /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'notification', 'action'=>'deletenotificationlist', 'id'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>							</td>
					</tr>
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='6'><center><b>Record not found.</b></center></td>	
							    </tr>
					<?php
					}
					?>
					<tr>
					
					  <td style="display:none"><input type="button" name="Submit2" value="Publish" onclick="publish1()" /></td>
					    <td>
							<input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'notification', 'action'=>'deletenotificationlist' ),'default',true)  ?>"/>
						<input name="delete" type="button" value="Delete" id="delete"/>
					  </td>

			         
			  </tr>


					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        