<?php   //echo $this->msg;  


?>



<div class="inner-right-content"> 



	<div class="white-box-cont">


	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>

       
	</div>
	 <table  width="100%">
    	       <tr><td><h2 class="page-title">Manage Artwork Comment </h2></td></tr>
		      <tr>
    <td align ="right">

      <a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'artworkuploadlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a></td></tr>		   
		</table>
<div class="white-box">
<div>

	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="0" cellspacing="0" width="100%" class="members-list">
				<tr>
				<th width="6%"><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th width="16%"><center>Artwork Title</center></th>	
				<th width="13%"><center>Owner</center></th>
				<th width="19%">Comment</th>
				<th width="14%">Comment Date</th>
				<th width="13%"><center>Publish</center></th>
				<th width="10%"><center>Action</center></th>
               
			    </tr>

					<?php $i=1;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center" valign="top" ><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					<?php
					$Artwork_title		= new Application_Model_DbTable_Artworkupload();
					$ArtworkTitle	= $Artwork_title->getArtworkTitlelist($event['artwork_id']);
					$userstuff		= new Application_Model_Artuser(); 
					$userVal	= $userstuff->selestuser($event['user_id']);
					?>
					<td align="center"  valign="top"><?php echo $ArtworkTitle[0]['title']?></td>
					<td width="9%" align="center"  valign="top" ><?php echo ucfirst($userVal[0]['first_name']).' '.$userVal[0]['last_name'];?></td>
					<td align="left" valign="top" > <?php echo $event['feedback']==''?'Description not found.':nl2br(html_entity_decode(substr(htmlentities(stripslashes($event['feedback'])),0,200)."..."));?></td>
					<td align="left" valign="top" > <?php echo date('Y-m-d', strtotime($event['create_date']));?></td>
			
					<?php if($event['publish']=='1') {?>
					<td align="center" valign="top"  id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'updatecommentliststatus', 'msg'=>'', 'status'=>'0', 'did'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/active_1.png" height="25" alt="enable" title="Click Here To Change Status" border='0' /></a></td>
					<?php } else {?>
					<td width="4%" align="center" id="containerID" valign="top" ><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'updatecommentliststatus', 'msg'=>'' ,'status'=>'1', 'did'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/inactive_1.png" height="25" alt="enable" title="Click Here To Change Status" /></a></td>

					<?php }?>
					<td align="left" valign="top" ><center><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 
					'action'=>'viewcommentlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;<a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'deletecommentlist', 'did'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a></center></td>
					
					
					</tr>
					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='7'><center><b>Record not found.</b></center></td></tr>
					<?php
					}
					?>
					<tr>
					
					    
					     <td colspan='7'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'updatecommentliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'updatecommentliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 'action'=>'deletecommentlist', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>					  </td>
			  </tr>


					</tr>
			</table></form>
	   </ul>
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        