<?php $catname	= new Application_Model_DbTable_ArtCategory();?>

<div class="inner-right-content"> 

<h2 class="page-title">Manage Artwork </h2>
	
	<div class="white-box-cont">

	<div class="message" style="text-align:center;margin-top:5px;margin-bottom:5px;"><?php echo $this->msg;  ?></div>
	
	<div class="searchconmain">
			<div class="searchconleft">
				<!--<div id="ad_sec_btn" style="float:left;"><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'addartworkupload'));?>">Add Artwork </a></div>-->
				
			</div>
			<div class="searchconmiddle"></div>
			<div class="searchconright"><form action="<?php echo $this->url(array('controller'=>'artworkupload','action'=>'artworkuploadlist')) ?>" method="get">
    	
	       	<input type="image" src="<?php echo BASE_URL?>images/admin/search-btn.gif" class="search_button" /> 
	        <input type="text"  id="squestion" name="searchelement" class="search_box" value="<?php echo $this->psquestion ?>"  style='margin-left: 5px;'/> 	
      	  	<select name='owner_id' id='owner_id' class="search_box_small" style='margin-left: 5px;'>
			  	<option value=''> Select User</option>
			  <?php
			  		$userstuff		= new Application_Model_Artuser();
					$userVal	= $userstuff->getUsers();
					foreach($userVal as $user){ 
					?>
					<option value='<?php echo $user['id']?>' <?php echo $this->owner_id==$user['id']?'selected':'' ?>><?php echo $user['first_name']?> </option>
					<?php } ?>
					</select>
					<select name='category' id='category' class="search_box_small">
			  	<option value=''> Select Category</option>
			  <?php
					$categoryVal	= $catname->categoryList(); 
					foreach($categoryVal as $category){ 
					?>
					<option value='<?php echo $category['id']?>' <?php echo $this->category==$category['id']?'selected':'' ?>><?php echo $category['cat_name']?> </option>
					<?php } ?>
					</select>
</form></div>
		</div>
	

	</div>
<div class="white-box">
<div >
<br />
	    <ul>
			<form action="" method="post" name="frm">
			<table cellpadding="2" cellspacing="2" width="91%" class="members-list">
				<tr>
				<th width="3%" ><center><input type="checkbox" name="chk_all" id="chk_all" onclick="check_all()"></center></th>	
				<th width="15%" align="center"  nowrap="nowrap">
				<?php if($this->sortBy=='title asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'artworkupload','action'=>'artworkuploadlist','sortBy'=>'title desc','category'=>$this->category,'squestion'=>$this->psquestion,'owner_id'=>$this->owner_id)) ?>" id='linkhead'><center>Title</center></a>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'artworkupload','action'=>'artworkuploadlist','sortBy'=>'title asc','category'=>$this->category, 'squestion'=>$this->psquestion,'owner_id'=>$this->owner_id)) ?>" id='linkhead'><center>Title</center></a>
				<?php } ?>
				</th>
				<th width="9%" align="center" nowrap="nowrap"><center>Category</center></th>
				<th width="9%" align="center" ><center>Payment Status</center></th>
                <th width="9%" align="center" ><center>Paid Amount </center></th>
                <th width="10%" align="center" ><center>
				<?php if($this->sortBy=='approval_status asc') { ?>
				<a href="<?php echo $this->url(array('controller'=>'artworkupload','action'=>'artworkuploadlist','sortBy'=>'approval_status desc','category'=>$this->category,'squestion'=>$this->psquestion,'owner_id'=>$this->owner_id)) ?>" id='linkhead'>Approval Status</a>
				<?php } else { ?>
				<a href="<?php echo $this->url(array('controller'=>'artworkupload','action'=>'artworkuploadlist','sortBy'=>'approval_status asc','category'=>$this->category,'squestion'=>$this->psquestion,'owner_id'=>$this->owner_id)) ?>" id='linkhead'>Approval Status</a>
				<?php } ?></center></th>
                <th width="8%" align="center" >Comment</th>
                <th width="10%" align="center" ><center>Action</center></th>
			    </tr>

					<?php $i=0;
					foreach($this->paginator as $event){ 
					$row = $i % 2  == 1 ? '#F2F2F2':'#FFFFFF';
					?>
					<tr  style="background-color:<?php echo $row;?>" class="content_row">
					<td align="center"  valign="middle"><input type="checkbox" name="chk[]" id="chk[]" value="<?php echo $event['id'];?>" ></td>
					
					<td align="center"  valign="middle"><?php echo ucwords($event['title']);?></td>
					<?php
					
					$categoryname	= $catname->getcategoryNameById($event['category']); 
					if($event['approval_status']=='1')
					{
						if($event['price']=='0.00' && $event['buy_it_now']=='0.00')
						{
							$payment_status = 'Pricing and Postage info not filled';
							$link = '';
							$pay_now = '';
						}
						else
						{
							if ($event['payment_status']==2){
								$payment_status = 'Failed Transaction';
								$pay_now = 'Pay Now';
								$link = $this->url(array('controller'=>'artworkupload', 
							'action'=>'updateartworkuploadliststatus', 'id'=>$event['id'], 'amount' => $this->auction_percent[0]['auction_percent']));
							}else {
								$payment_status = 'Pending';
								$pay_now = 'Pay Now';
								$link = $this->url(array('controller'=>'artworkupload', 
							'action'=>'updateartworkuploadliststatus', 'id'=>$event['id'], 'amount' => $this->auction_percent[0]['auction_percent']));
							}
						}
					}
					else
					{
						if ($event['payment_status']==1) {
							$payment_status = 'Completed';
							$link = '';
							$pay_now = '';
						}
						else {
							$payment_status = 'Waiting for moderator approval.';
							$link = '';
							$pay_now = '';
						}
					}
					?>
					<td align="center" valign="middle" > <?php echo $categoryname[0]['cat_name'];?></td>
					<td align="center" valign="middle" ><?php echo $payment_status;?><br><a href="<?php echo $link;?>"><?php echo $pay_now;?></a></td>
					<?php $chk=0;
					foreach($this->artworkuploadlistpayment_model_result as $eventp){ 
					if($eventp['artwork_id']==$event['id'] )
					{ 
					if($eventp['status']==1)
					{$chk=1;
					?>
					<td align="center" valign="middle" id="containerID">&pound; <?php echo $eventp['amount']?></td>
					<?php
					 }
					}
					}
					if($chk==0) {
					?>
					<td align="center" valign="middle" id="containerID">-</td>
					
					<?php }
					//if($event['approval_status']=='1') {?>
					<td align="center" valign="middle" id="containerID"><strong><?php if($event['approval_status']=='1') echo 'Approved';
					else if($event['approval_status']=='0') echo 'Unapproved';
					else if($event['approval_status']=='2') echo 'Pending';?></strong>
					</td>

					<?php // }
					// no of comments on a artwork
					$countcomment		= new Application_Model_DbTable_Artworkfeedbacks();
					$countcomment_rec	= $countcomment->getCommentCountlist($event['id']); 
					
					if($countcomment_rec['0']['countcomment']!=0) { ?>
					<td align="center" valign="middle" id="containerID"><a href="<?php echo $this->url(array('controller'=>'Adminmanagecomment', 
					'action'=>'artworkcommentlist', 'msg'=>'', 'id'=>$event['id']));?>"><?php echo $countcomment_rec['0']['countcomment']?></a></td>
					<?php } else { ?>
					<td width="9%" align="center" valign="middle" id="containerID">-</td>
					<?php } ?>
					<td width="18%" align="center"><a href="<?php echo $this->url(array('controller'=>'artworkupload', 
					'action'=>'viewartworkuploadlist', 'msg'=>'', 'id'=>$event['id']));?>"><img src="<?php echo BASE_URL?>images/admin/search_view.png" height="20" alt="View CMS" title="Click Here To View" /></a>&nbsp;&nbsp;<!--<a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'addartworkupload', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/edit.png" height="20" alt="Edit" title="Click Here To Edit" /></a>&nbsp;--><a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'deleteartworkuploadlist', 'id'=>$event['id']))  ?>" onclick="return categorydel();"><img src="<?php echo BASE_URL?>images/admin/delete_1.png" height="20" alt="Delete" title="Click Here To Delete" /></a>&nbsp;&nbsp;
                    <?php if($event['approval_status']!='1') { ?>
                    <a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'', 'status'=>'1', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/approvedIcon.png" height="22" alt="enable" title="Click Here To Approved" border='0' /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'' ,'status'=>'0', 'id'=>$event['id']))  ?>" ><img src="<?php echo BASE_URL?>images/admin/unapprovedIcon.png" height="22" alt="enable" title="Click Here To Unapproved" /></a>
                    <?php  } ?>
                    </td>
					</tr>

					<?php  $i++;} if($i==0)
					{
					?>
					<tr>
				<td colspan='8'><center><b>Record not found.</b></center></td>	
		      </tr>
					
					<?php
					}
					?>
					<tr>
					
					    
					     <td colspan='8'> <input  type="hidden" id="p_pagename" name="p_pagename" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'', 'status'=>'1'))  ?>"/>
						 <input  type="hidden" id="u_pagename" name="u_pagename" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'', 'status'=>'0'))  ?>"/>
						 <input  type="hidden" id="d_pagename" name="d_pagename" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'deleteartworkuploadlist', 'msg'=>''))  ?>"/>
						 <input name="publish" type="button" value="Publish" id="publish"/>
						<input name="unpublish" type="button" value="Unpublish" id="unpublish"/>
						<input name="delete" type="button" value="Delete" id="delete"/>					  </td>
			  </tr>
</table>
			</form>
	   </ul> 
</div>
<br clear="all" />
<span class="clearfix"></span><span class="height8"></span>
</div><!-- white-box-cont ends -->
<span class="bl"></span><span class="br width776"></span>
</div><!-- white-box ends-->
<div align="center">
	<div class="pagi_text"><?php echo $this->paginationControl($this->paginator,'Sliding','/managecmsmanagement/pagination.phtml'); ?></div>
</div></div><!-- inner-right-content -->

<script type="text/javascript" language="javascript" >
		function formSubmit(val) {
	alert ("Delete faq?you will not be able to undo this section "+val);
	document.getElementById('publice_val').value=val;
		document.form.submit();
	}
</script>
        