  <?php
	$namespace 	= new Zend_Session_Namespace();
	$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);
?> 

<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>

<div id="main">
    
    
        <!-- ** Begin left hand nav ** -->
        
        <?php echo $this->render('profile/headpart.phtml')?>
   <?php echo $this->render('profile/left_menu.phtml');?>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">

	  		 <form name="myform" action="<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'creditartworkuploadpay','page'=>$this->page))  ?>" method="post" onsubmit="return validatecredit()">
			 
	  <div class="register">
       <div style='padding-left:40px;'> <h2>Payment Options <span style="color: #666666; font-size: 11px;">(Click on any one for payment)</span></h2></div>
       <div class="paddingH40">
                <div class="clear"></div>
                <div class="block">
	                <label><a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'artworkuploadpay','id'=>$this->id)) ?>" ><strong>Direct Paypal</strong></a></label>

        </div><!-- block ends -->
                 
                 <div class="block">
	                <label><a href="javascript:void(0)" onclick="document.getElementById('show_credit1').style.display='';document.getElementById('show_credit2').style.display='';" ><strong>Credit Card</strong></a></label>
                 </div><!-- block ends -->
                 <div class="clear"></div>
         <div class="block" style="margin-bottom: 5px;">
	                <label><b>Listing Payment fee:
	                &pound; <?php echo $this->amount?></b></label>
        </div><!-- block ends -->
		<div class="clear"></div>
<?php if($this->reserve_price<0) {?>
         <div class="block" style="margin-bottom: 5px;">
	                <label><b>Reserve fee:
	                &pound; <?php echo $this->reserve_price?></b></label>
        </div><!-- block ends --> 
<?php } ?>

        <div class="clear"></div>
        </div>
	  <div style='padding-left:40px;display: none;' id='show_credit1'> <h2><?php echo $this->bodyCopy ;?></h2></div>
	  	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
		


	  <div class="paddingH40 paddingV20" style="display: none;" id='show_credit2'>
                <p class="floatL font17 colorBlack">&nbsp;</p>
                <div class="clear"></div>
                <div class="block">
	                <label>Credit Card Type :</label>
	                <?php echo $this->form->creditcardtype;?>
        </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Credit Card Number :</label>
	                 <?php echo $this->form->creditcardnumber;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
                 
                 <div class="block">
	                <label>Expiration Month :</label>
	                 <?php echo $this->form->exp_date_month;?>
                 </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Expiration Year :</label>
	                 <?php echo $this->form->exp_date_year;?>
                 </div><!-- block ends -->
                 
                
                  <div class="block">
	                <label>CVV2 Number :</label>
	                 <?php echo $this->form->cvv_number;?>
                 </div><!-- block ends -->
				  <div class="clear"></div>
                 <p class="floatL font17 colorBlack">Billing Address:</p>
                 <div class="clear"></div>
				 <div class="block">
	                <label>Address 1:</label>
	                <?php echo $this->form->address1;?>
        </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Address 2:</label>
	                 <?php echo $this->form->address2;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
				  <div class="block">
	                <label>City:</label>
	                <?php echo $this->form->city;?>
        </div><!-- block ends -->
                 
                 <div class="block">
	                <label>State:</label>
	                 <?php echo $this->form->state;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
				   <div class="block">
	                <label>Zip:</label>
	                <?php echo $this->form->zip;?>
        </div><!-- block ends -->
                 
                 <div class="block">
	                <label>Country:</label>
	                 <?php echo $this->form->country;?>
                 </div><!-- block ends -->
                 
                 <div class="clear"></div>
    <input type="hidden" name="firstname" value="<?php echo $this->firstname ?>">
    <input type="hidden" name="email" value="<?php echo $this->email;?>">
    <input type="hidden" name="user_id" value="<?php echo $this->user_id?>">
    <input type="hidden" name="id" value="<?php echo $this->id?>">
    <input type="hidden" name="item_name" value="Artwork Payment" />
    <input type="hidden" name="amount" value="<?php echo $this->amount?>" />
    <input type="hidden" name="reserve" value="<?php echo $this->reserve_price?>" />
    <input type="hidden" name="return" value="<?php echo BASE_URL ?>Artworkupload/creditartworkuploadpay/id/<?php echo $this->id?>" />
    <input type="hidden" name="cancel_return" value="<?php echo BASE_URL ?>index" />
                
				 
				  
                 <div class="clear"></div>

                 <input type="image" src="<?php echo $this->baseUrl();?>/images/pay_now.png" alt="Register" />&nbsp;
				  <img src="<?php echo $this->baseUrl();?>/images/cancel_btn.png" alt="Register" onclick= 'history.go(-1)' style='cursor:pointer'/><br />
                 <div class="block paddingV20">
                 </div>

                 
       	</div>
	  </div></form>
      </div>
        <p class="clearer">&nbsp;</p> 

    </div>
