<html>	<head>		<title>ArtEx</title>			
<script src="<?php echo $this->baseUrl();?>/js/jquery.min.js"></script>	
<script src="<?php echo $this->baseUrl();?>/js/jquery.Jcrop.js"></script>				
<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/css/demos.css" type="text/css" />	
<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/css/jquery.Jcrop.css" type="text/css" />		
<script language="Javascript" src="<?php echo $this->baseUrl();?>/js/myCrop.js">		
</script>
</head>
<body>
<div class="edit_photo">					
<h2 id='cropper_button'>Edit Your Image</h2>		
<div class="clear"></div>
<div class="photo_container">			<img src="<?php echo $this->path ?>" id="cropbox" /></div>
<div class="right" >	
<form action="#" id="cropperForm" method="post" onSubmit="" >	
<input type="hidden" id="abc" name="abc" value="<?php echo $this->img ?>" />	
<input type="hidden" id="path" name="path" value="<?php echo $this->path1 ?>" />	
<input type="hidden" id="x" name="x" />	
<input type="hidden" id="y" name="y" />	
<input type="hidden" id="w" name="w" />	
<input type="hidden" id="h" name="h" />	
<input type="hidden" id="tw" name="tw" />	
<input type="hidden" id="th" name="th" />		
<div class="red-button crop_button floatR">		
<span ><input type="submit" value="Crop Image" /></span>	
<input type="hidden" name="BASE_URL" id="BASE_URL" value="<?php echo $this->baseUrl();?>">
</div>			
</form>
</div><div class="clear"></div>
</div>
</body>
</html>