<?php
$namespace = new Zend_Session_Namespace();
$my_Proimages	= $this->baseUrl().'/upload/small/';
$my_Proimages_crop	= BASE_URL.'/upload/';
$filear=$namespace->userid;
?>

<table cellpadding="5" cellspacing="5">
        	<tr>
			<?php
			for($i=0;$i<count($namespace->filename);$i++)
			{
			?>
            	<td><img src="<?php echo $my_Proimages?>/<?php echo $namespace->filename[$i][$filear.'fname']?>" alt="" /><br><input type="hidden" name="crop<?php echo $i?>" id="crop<?php echo $i?>" value="<?php echo $namespace->filename[$i][$filear.'crop']?>" size="5" /><a href="javascript:void(0)" onclick="delimage('<?php echo $i?>')">Delete</a><script type="text/javascript">
// Popup window code
function newPopup(url) { 
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
				 <div class="edit_pic">
<a href="JavaScript:newPopup('<?php echo $this->baseUrl();?>/Artworkupload/crop/crop.php?p=<?php echo $my_Proimages_crop;?>/&q=<?php echo $namespace->filename[$i][$filear.'fname']?>');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Edit Photo
								 </a></div></td>
			<?php } ?>
               
            </tr>
        </table>
        <p class="floatR marginR5 font13">Your Pic: <?php echo count($namespace->filename)?>  | 10 more can be added</p><input type="hidden" name="count_img" id="count_img" value="<?php echo count($namespace->filename)?>" />
