
<?php 
$namespace 	= new Zend_Session_Namespace();
$images			= $this->baseUrl().'/images';
$my_Proimages	= $this->baseUrl().'/upload/small/';
$my_Proimages_crop	= $this->baseUrl().'/upload/';



?>

<table cellpadding="5" cellspacing="5">
        	<tr>
			<?php  $j=1;
			if($this->id!=''){
					if($namespace->filename=='')
					{
					$namespace->filename=null;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					$namespace->filename[]=$eventi['image'];
					
				$j++; }}
				}
					 ?>  
			<?php
			if($namespace->filename[0]!=''){
			for($i=0;$i<count($namespace->filename);$i++)
			{
			?>
            	<td><img src="<?php echo $my_Proimages?>/<?php echo $namespace->filename[$i]?>" alt="" /><br><a href="javascript:void(0)" onclick="delimage('<?php echo $i?>')">Delete</a> <script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=400,width=500,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>
				 <div class="edit_pic">
<a href="JavaScript:newPopup('crop/crop.php?p=<?php echo $my_Proimages_crop;?>/&q=<?php echo $namespace->filename[$i]?>');">								
<img src="<?php echo $this->baseUrl();?>/images/edit_blog.jpg" alt="Edit Rotate" align="absmiddle"  /> Edit Photo
								 </a></div></td>
			<?php } }?>
               
            </tr>
        </table>
        <?php if(count($namespace->filename)<10) { ?>
        <p class="floatR marginR5 font13">Your Pic: <?php echo count($namespace->filename)?>  | <?php echo 10-count($namespace->filename)?> more can be added</p><input type="hidden" name="count_img" id="count_img" value="<?php echo count($namespace->filename)?>" />
        <?php }?><input type="hidden" name="count_img" id="count_img" value="<?php echo count($namespace->filename)?>" />
