  <?php
	$namespace 	= new Zend_Session_Namespace();
?> <div id="main">
    
    
        <!-- ** Begin left hand nav ** -->
        
        <div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>CATEGORIES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Painting</a></li>
                    <li><a class="red_pointer" href="#">Sculpture</a></li>
                    <li><a class="red_pointer" href="#">Photography</a></li>
                    <li><a class="red_pointer" href="#">Drawing</a></li>
                    <li><a class="red_pointer" href="#">Illustration</a></li>
                    <li><a class="red_pointer" href="#">Original Print</a></li>
                    <li><a class="red_pointer" href="#">Ceramics &amp; Pottery</a></li>
                    <li><a class="red_pointer" href="#">Other Media</a></li>
                </ul>
                
                <h3>AUCTION</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Ending soonest</a></li>
                    <li><a class="red_pointer" href="#">Newly listed</a></li>
                    <li><a class="red_pointer" href="#">Buy it now</a></li>
                </ul>
                
                <h3>SEARCHES</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Locations</a></li>
                    <li><a class="red_pointer" href="#">Size</a></li>
                    <li><a class="red_pointer" href="#">Colours</a></li>
                    <li><a class="red_pointer" href="#">Medium</a></li>
                </ul>
                
                <h3>RATINGS</h3>
                <ul class="lhn">
                    <li><a class="red_pointer" href="#">Top Rated Artworks</a></li>
                    <li><a class="red_pointer" href="#">Top Rated Artists</a></li>
                </ul>
            </div> 
            
            <div id="activity" class="titlebar">
                <h3>RECENT ACTIVITY</h3>
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <p><a href="#">Anne Marie</a> commented on <a href="#">Elisabeth Bond's</a> profile <br />
                <span class="notes">8 minutes ago</span></p>
            </div>
            
            
             <div id="news" class="titlebar">
            	<h3>ARTEX NEWS</h3>
            
                <div class="news_sml event">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />
                
                <div class="news_sml article">
                    <p><a href="#">'The ArtEx Winter Show 2011'</a> open call for submissions <br />
                </div>   
                <img src="<?php echo $this->baseUrl();?>/images/divider_150_white.gif" width="150" height="20" alt="" />         
            </div>
            
        </div>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">
	  		 <form name="myform" action="<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'artworkupload','page'=>$this->page),'default',true)  ?>" method="post" onsubmit="return checkUser();" enctype= 'multipart/form-data'>
	  <div class="register">
	  <?php 
	  if($this->msg!='') {
	  ?>
	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px;">
	  <b><?php  echo $this->msg;
?></b>
	  </div>
	  <?php 
	  } ?>
	  <div class="paddingH40 paddingV20">
	  <p class="floatL font17 colorBlack">&nbsp;</p>
                 <div class="block">
	                <label><b>Title</b></label>
                 </div><!-- block ends -->
                                  
                 <div  class="block">
	                <label><b>Pay</b></label>
                 </div><!-- block ends -->
                 
	  <?php $i=0;
					foreach($this->paginator as $event){ 
					?>
                <p class="floatL font17 colorBlack">&nbsp;</p>
                 <div class="block">
	                
	                <?php echo ucwords($event['title']);?> 
                 </div><!-- block ends -->
                                  
                 <div  class="block">
	               
	                 <?php echo $event['approval_status']=='1'?'<a href="'.$this->url(array('controller'=>'Artworkupload', 'action'=>'artworkuploadpay','id'=>$event['id'])) .'">Direct Paypal</a>&nbsp;&nbsp;<a href="'.$this->url(array('controller'=>'Artworkupload', 'action'=>'creditartworkuploadpay','id'=>$event['id'])) .'">Credit Paypal</a>':'Not approved';?>
					 <!-- store value in database 1 for  Direct Paypal and 2 for Credit Paypal-->
                 </div><!-- block ends -->
                 
                
                 <?php
				$i++; }
				 if($i==0)
					{
					?>
					<div class="block"><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
					<?php
					}
					?>  
                
                 <div class="clear"></div>

                 <!--<input type="image" src="<?php echo $this->baseUrl();?>/images/register.png" alt="Register" /><br />-->
                 <div class="block paddingV20">
                 </div>

                 
       	</div>
	  </div></form>
      </div>
        <p class="clearer">&nbsp;</p> 

    </div>
