<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<?php 
$namespace 	= new Zend_Session_Namespace();
$images			= $this->baseUrl().'/images';
$my_Proimages	= $this->baseUrl().'/upload/small/';
$filear=$namespace->userid;

?>
<script type="text/javascript">
$(function()
{ 
userID='<?php echo $this->user_details['userInfo'][0]['id'];?>';
$('.red_pointer').live("hover",function()
{	 
var ID = $(this).attr("id");
 
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'loadmore', 'action_name'=> $this->action_name, 'id'=> $this->user_details['userInfo'][0]['id']),'default',true)?>",
data: "lastmsg="+ ID+ "&userID="+userID,
cache: false,
success: function(html){  
$("#ajaxComent").append(html);
 
$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});
</script>
<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
   <?php echo $this->render('profile/headpart.phtml')?>
   
    <div class="uploadReview" style="width: 952px;">
        <h2>Upload review</h2>
        <p class="font13">Review your artwork details below before submitting for moderatin. If you need to make change, click UPDATE, otherwise hit SUBMIT and we will moderate your masterpiece.</p>
           <div id="main">
    <!-- product detail top part -->
    <div id="topProDetail_Part">
      <div id="topProDetail_Part_left" style="width: 785px !important;">
        <div class="big_image" style="width: 780px">
          <!-- photogallery start here -->
          <div id="main-photo-slider" class="csw">
            <div class="panelContainer" style="width: 785px">
              <?php  
					for($i=1;$i<=count($namespace->filename);$i++){ 
					?>
				<div class="panel" title="Panel <?php $i?>">
					<div class="wrapper" style="width: 780px;">
						<img src="<?php echo $this->baseUrl();?>/upload/large/<?php echo $namespace->filename[$i-1][$filear.'fname']?>" alt="temp" />
						
					</div>
				</div>	
				<?php }?>	
            </div>
          </div>
          <!-- photo gallery end here -->
        </div>
        <div class="smallThumbsArea">
          <!-- img thumbs start here -->
          <div id="movers-row">
		  <?php
			for($i=1;$i<=count($namespace->filename);$i++)
			{
			?>
				  <div class="smallThumbsImg"><a href="#<?php echo $i?>" class="cross-link"><img src="<?php echo $my_Proimages?>/<?php echo $namespace->filename[$i-1][$filear.'fname']?>" class="nav-thumb" alt="temp-thumb" /></a></div>
			<?php if($i==9) break;} ?>
          
            
          </div>
          <!-- img thumb end here -->
        </div>
      </div>
      <div id="topProDetail_Part_right" class="marginL10">
        <div class="titlebar">
          <h2>Bidding</h2>
          <div>Highest bid</div>
          <div class="marginT5 redTXT font18">&nbsp;</div>
          <hr class="WTBorder" />
        <!--  <div class="floatL">Listed:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&pound;<?php echo $this->post['price']?></div>-->
          <div class="clear"></div>
          <div class="floatL">Ends:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&nbsp;</div>
          <div class="clear"></div>
          <div class="floatL">Quantity Available:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&nbsp;</div>
          <div class="clear"></div>
          <div class="floatL">Bids:</div>
          <div class="floatL marginL10 marginB5 darklTXT">&nbsp;</div>
          <div class="clear"></div>
          <div class="">Highest bidder:</div>
          <div class="marginB5 darklTXT">&nbsp;</div>
          <div class="clear"></div>
          <hr class="WTBorder" />
          <div class="">Shipping:</div>
          <div class="marginB5 darklTXT"><span class="redTXT"><?php if($this->post['postage_cost']!='') {?>&pound; <?php echo $this->post['postage_cost']?></span><?php }?> </div>
          <div class="clear"></div>
          <div class="">Location:</div>
          <div class="marginB5 darklTXT"><?php echo $this->user_details['userInfo'][0]['city'] ;?></div>
          <div class="clear"></div>
          <div class="">Ships to:</div>
          <?php
			///////////////////Find country name///////////////////////////////////////
			if($this->post['location']!='')
			{
			$country   = new Application_Model_DbTable_ArtCountry();
			$country_res = $country->getcountryCode($this->post['location']);	
			$countryarr=$this->view->country_res = $country_res; 
			}
			///////////////////////////Listing Images////////////////////////////////////
			?>
          <div class="marginB5 darklTXT"><?php echo $countryarr['country']!=''?$countryarr['country']:'';?><span class="small"></span></div>
          <div class="clear"></div>
          <div class="marginT20"><img src="<?php echo $this->baseUrl();?>/images/browse_search/bid_now_btn.jpg" width="150" height="33" /></div>
          <hr class="BLKBorder" />
          <div class="marginT20">
            <div class="floatL marginT1"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /></div>
            <div class="floatL marginL10"><a href="#">More art like this</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- product detail top part end -->
    <!-- product detail mid part -->
    <div id="midProDetail_Part">
      <div id="midProDetail_Part_left">
        <h1><?php echo $this->post['title']?></h1>
        <div class="whtrectBox backgroundN">
          <div class="ftrsBox wd180">
           <div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/likeHRT2.jpg" /></div>
        <div class="floatL marginL5 redTXT"><strong>0</strong></div>
        <div class="floatL marginT3 marginL5">
          <div class="ratingHRT"></div>
          <div class="ratingHRT"></div>
          <div class="ratingHRT"></div>
          <div class="ratingHRT"></div>
          <div class="ratingHRT"></div>
        </div>
        <div class="floatL marginL5">rate</div>
          </div>
          <div class="ftrsBox">Views: 0</div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Add to watchlist</a></div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Recommend to a friend</a></div>
          <div class="ftrsBox BorderNone font11 floatL noPadding marginL30"><div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/twitter_btn.jpg" /></div>
         
           <div class="twt_fb_countBox marginL5">
            <div class="twt_fb_countBoxL"></div>
            <div class="twt_fb_countBoxM">0</div>
            <div class="twt_fb_countBoxR"></div>
           </div>
          </div>
          <div class="ftrsBox BorderNone font11 floatL noPadding"><div class="floatL"><img src="<?php echo $this->baseUrl();?>/images/browse_search/fb_like.jpg" /></div>
          
          <div class="twt_fb_countBox marginL5">
            <div class="twt_fb_countBoxL"></div>
            <div class="twt_fb_countBoxM">0</div>
            <div class="twt_fb_countBoxR"></div>
           </div>
          
          </div>
          
         
        </div>
        <div class="widthAuto marginT20">
          <div class="floatL wd_150">
            <div class="floatL">Category:</div>
			<?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($this->post['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo $catarr[0]['cat_name']?></div>
            <div class="clear"></div>
            <div class="floatL">Subject:</div>
			<?php
			///////////////////Find subject name///////////////////////////////////////
			$subject   = new Application_Model_DbTable_ArtCatsubject();
			$subject_res = $subject->getcatsubjectlistName($this->post['subject'],'');	
			$subjectarr=$this->view->subject_res = $subject_res;
			///////////////////////////////////////////////////////////////
			?>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo $subjectarr[0]['subject']?></div>
            <div class="clear"></div>
            <div class="floatL">Medium:</div>
			<?php
			///////////////////Find medium name///////////////////////////////////////
			$medium   = new Application_Model_DbTable_ArtCatmedium();
			$medium_result = $medium->getcatmediumlistName($this->post['medium'],'');	
			$mediumarr=$this->view->medium_result = $medium_result;
			/////////////////////////// ////////////////////////////////////
			?>
            <div class="floatL marginL5 marginB5 darklTXT"><?php echo $mediumarr[0]['medium']?></div>
            <div class="clear"></div>
            <div class="floatL">Style </div>
			<?php
			///////////////////Find style name///////////////////////////////////////
			$style   = new Application_Model_DbTable_ArtCatstyle();
			$style_result = $style->getcatstylelistName($this->post['style'],'');	
			$stylearr=$this->view->style_result = $style_result;
			/////////////////////////// ////////////////////////////////////
			?>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo $stylearr[0]['style']?></div>
            <div class="clear"></div>
            <div class="floatL">Dimentions:</div>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo $this->post['width']?> x <?php echo $this->post['depth']?> x <?php echo $this->post['height']?></div>
            <div class="clear"></div>
            <div class="floatL">Year:</div>
            <div class="floatL marginL10 marginB5 darklTXT"><?php echo $this->post['date_completed']?></div>
          </div>
          <div class="floatL paddingL10 paddingR10 wd610"> <?php echo $this->post['descrption']?>  </div>
          <div class="floatL wd_300 paddingL10">
           <!-- <div class="lightCol marginT10"> Frame Details:<br />
                <span class="darklTXT">5" thick, solid brass. Oak back</span> </div>-->
          </div>
        </div>
        <div class="clear"></div>
        <hr class="WTBorder marginT20" />
        <div class="lightCol marginT20">Keywords: <?php echo $this->post['keywords']?> </div>
        <div class="whtrectBox marginT20 marginB10">
          <div class="ByBox">
            <h3 class="font17 paddingL10">BY <?php echo $this->user_details['userInfo'][0]['first_name'];?> <?php echo $this->user_details['userInfo'][0]['last_name'];?></h3>
          </div>
          <div class="ftrsBox">Seller <img src="<?php echo $this->baseUrl();?>/images/browse_search/start.jpg" />0</div>
          <div class="ftrsBox">Sales: 0</div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Visit Studio</a></div>
          <div class="ftrsBox"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Follow</a></div>
          <div class="ftrsBox BorderNone"><img src="<?php echo $this->baseUrl();?>/images/browse_search/next_arrow.png" /> <a href="#">Send a message</a></div>
        </div>
      </div>
    </div>
    <!-- product detail mid part end -->
    <!-- product detail bottom part -->
    <div id="bottomProDetail_Part">
      <div id="bottomProDetail_Part_left">
        <!-- add comment -->
        <div id="addCommentArea">
          <div class="floatL marginL10 marginT10">
            <textarea name="textarea"></textarea>
          </div>
          <div class="floatL marginL10 marginT20">
            <input type="submit" value=" " />
          </div>
        </div>
        <!-- add comment end -->
        
      </div>
      <div id="bottomProDetail_Part_right">
      </div>
    </div>
    <!-- product detail bottom part end -->
    <div class="clear"></div>
    <div class="block marginT10 wd790">
	<form name="myform" action="<?php echo $this->post['pg']?>" method="post" enctype= 'multipart/form-data'>
    <input type="image" src="<?php echo $this->baseUrl();?>/images/update.png" alt="Update" class="floatL" /><input type='hidden' name='post' id='post' value='<?php echo serialize($this->post)?>'/></form>
	<form name="myform" action="<?php echo $this->post['pg1']?>" method="post" enctype= 'multipart/form-data'>
    <input type="image" src="<?php echo $this->baseUrl();?>/images/submit.png" alt="Submit" class="floatR" />
	<input type='hidden' name='post' id='post' value='<?php echo serialize($this->post)?>'/></form>
    </div>
  </div>        
        </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <?php //echo $this->render('profile/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery"> 
    <?php $cou = 1;for ($i = 0; $i < count($this->userArt); $i++) {?>
    	<a href="<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$this->userArt[$i]['id']));?>">
    		<img height="148"  width="148" src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $this->userArt[$i]['image'];?>">
    	</a>
      	 
      	<?php if ($cou==5){echo '';$cou = 0;}else{ echo '<div class="clearVer2"></div>';}$cou++;}?>
      	
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>

  </div>
  
<div id="banner_bottom">
	<a href="#"><?php  if($this->getbannerlist['location']=='Bottom') { ?>
            <img src="<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->getbannerlist['banner_path']?>" width="728" height="90"/>
            <?php }?></a>
</div>
