<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<?php 
$namespace 	= new Zend_Session_Namespace();
$images			=BASE_URL.'/images';
$my_Proimages	= BASE_URL.'/upload/small/';
$my_Proimages_crop	= BASE_URL.'/upload/';

$filear=$namespace->userid;
 
			
?>
<link href="<?php echo $this->baseUrl();?>/css/fileuploader.css" rel="stylesheet" type="text/css"/>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>-->
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 
<script type="text/javascript">

$(function() {
		$( "#date_completed" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
$(function() {
		$( "#created_in" ).datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
$(function() {
$(".showMsg a").mouseover(function(){
 $(this).siblings(".msgBox").fadeIn(200);
 
});
$(".showMsg a").mouseout(function(){
$(this).siblings(".msgBox").fadeOut(200);
});
});
/////////////////////////////////////////////////////////////////


function delimage(i)
{ //alert(i);
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'delimage'))?>";


      $.ajax({
                 url:  base_path,
                data: "index="+i,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) {  //alert(resp);
			 document.getElementById('Image_Primary_Content').innerHTML=resp;
			 },
               error: function(e){  alert('Error: '+e);  }  
            });

}
function changesub()
{ 
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'ajax'))?>";

var segId=document.getElementById('category').value;

      $.ajax({
                 url:  base_path,
                data: "segId="+segId,
				beforeSend: function(){
				
   				},
                type: 'GET',
             success: function (resp) { 
			 	var data_ar=resp.split('@|@');
			 document.getElementById('td_sub').innerHTML=data_ar[0];
			 document.getElementById('td_mid').innerHTML=data_ar[1];
			 document.getElementById('td_style').innerHTML=data_ar[2];
			 
			 
			 },
               error: function(e){  alert('Error: '+e);  }  
            });
}
function unitconvert()
{ 
var base_path = "<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'uconvert'))?>";

var conId=document.getElementById('convert').value;
var w=document.getElementById('width').value;
var d=document.getElementById('depth').value;
var h=document.getElementById('height').value;
var cu=document.getElementById('cur_unit').value;

      $.ajax({
                 url:  base_path,
                data: "&conId="+conId+"&width="+w+"&depth="+d+"&height="+h+"&cu="+cu,
				beforeSend: function(){

   				},
                type: 'GET',
             success: function (resp) { 

			 document.getElementById('td_u_convert').innerHTML=resp;
			
			 
			 
			 },
               error: function(e){  alert('Error: '+e);  }  
            });
}
function check_form(i)
{
	if(i==1)
	{
		var ch=check_price(); 
		if(ch==true)
		{
		document.myform.action='<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'preview','page'=>$this->page))  ?>';
		document.myform.submit();
		}
		else return false;
	}
	if(i==2)
	{
		var ch=check_price();
		if(ch==true)
		{
		document.myform.action='<?php echo $this->url(array('controller'=>'Artworkupload','action'=>'pricingnpostageinfo','value'=>'submit','ser'=>'un'))  ?>';
		document.myform.submit();
		}
		else return false;
	}
}
</script>
<script type="text/javascript">
$(function()
{ 
userID='<?php echo $this->user_details['userInfo'][0]['id'];?>';
$('.red_pointer').live("hover",function()
{	 
var ID = $(this).attr("id");
 
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'loadmore', 'action_name'=> $this->action_name, 'id'=> $this->user_details['userInfo'][0]['id']),'default',true)?>",
data: "lastmsg="+ ID+ "&userID="+userID,
cache: false,
success: function(html){  
$("#ajaxComent").append(html);
 
$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});
</script>
<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
   <?php echo $this->render('profile/headpart.phtml')?>
   
    <div class="UploadArtwork">
        <h2>Pricing and Postage Info</h2>
     <hr class="LGHTBorder">
		 <form name="myform" action="" method="post" enctype= 'multipart/form-data' onsubmit="return check_price();">
		 <div id="error_msg12" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px; display: none;"></div>
           <table width="700" border="0">
  <tbody>
  <tr><td width="300">&nbsp;</td><input type="hidden" name='aid' id='aid' value='<?php echo $this->id?>'/></tr>
  <!--dfds-->
  <?php if($this->id!='')
  { ?>
    <tr>
      <td class="font18"><?php echo $this->form->status;?>&nbsp;<?php echo $this->form->status1;?></td>
    </tr>
      <tr><td>&nbsp;</td></tr>
    <tr id="trid1" style="display:<?php echo $this->post['status1']=='1'?'none':''?>">
  	<td class="font18"><p class="floatL marginR10">Starting Price:</p>
    	<?php echo $this->form->price;?>
    </td>
  </tr>
   <tr id="trid2" style="display:<?php echo $this->post['status1']=='1'?'none':''?>"><td>&nbsp;</td></tr>
      <tr id="trid3" style="display:<?php echo $this->post['status1']=='1'?'none':''?>">
  	<td class="font18"><p class="floatL marginR10">Reserve Price:</p>
    	<?php echo $this->form->reserve_price;?><div class="showMsg floatR marginL10 marginT3" style="padding-right: 286px;"><a  href="#"><img src="<?php echo $this->baseUrl();?>/images/help.gif" alt="Help" /></a>
               <div class="msgBox" >
               <div class="topArrow"></div>
              <div class="midCont"> <?php echo $this->ini_array['reserve_price']?>
              </div>
              </div>
            </div>
    </td>
    
  </tr>
  <tr id="trid4" style="display:<?php echo $this->post['status1']!='1'?'none':''?>"><td>&nbsp;</td></tr>
      <tr  id="trid5" style="display:<?php echo $this->post['status1']!='1'?'none':''?>">
  	<td class="font18"><p class="floatL marginR10">Buy It Now:</p>
    	<?php echo $this->form->buy_it_now;?>
    </td>
    
  </tr>
 
  <tr><td>&nbsp;</td></tr>
        <tr>
  	<td class="font18"><p class="floatL marginR10">Location:</p>
    	<?php echo $this->form->location;?>
    </td>
    
  </tr>

    <tr><td>&nbsp;</td></tr>
        <tr>
  	<td class="font18"><p class="floatL marginR10">Service:</p>
    	<?php echo $this->form->service;?>
    </td>
    
  </tr>
   <tr><td>&nbsp;</td></tr>
        <tr>
  	<td class="font18"><p class="floatL marginR10">Postage Cost:</p>
    	<?php echo $this->form->postage_cost;?>&nbsp;&nbsp;<a href="http://www.royalmail.com/price-finder" target="_blank" title="calculate your postage cost">Postage calculator</a>
    </td>
    
  </tr>
  <tr><td>&nbsp;</td></tr>
      <tr>
  	<td class="font18"><p class="floatL marginR10">Dispatch Time:</p>
    	<?php echo $this->form->dispatch_time;?>
    </td>
    
  </tr>
  <tr><td>&nbsp;</td></tr>
  <!--<tr><td>&nbsp;</td></tr>
      <tr>
  	<td class="font18"><p class="floatL marginR10">Shipping Type:</p>
    	<?php echo $this->form->shipping_type;?>
    </td>
    
  </tr>
  <tr><td>&nbsp;</td></tr>
      <tr>
  	<td class="font18"><p class="floatL marginR10">Fixed Price:</p>
    	<?php echo $this->form->shipping_fixed_price;?>
    </td>-->
    
  </tr>
  <tr><td>&nbsp;</td></tr>
  <?php } ?>
  <!--ghgf-->
  <tr><td>&nbsp;</td></tr>
  <tr>
  	<td>
<?php  $j=1;
			if($this->id!=''){
					if($namespace->filename=='')
					{
					$namespace->filename=null;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					$namespace->filename[$j-1]=array($filear.'fname'=>$eventi['image'],$filear.'crop'=>'1');
					
				$j++; }}
				}  
					 ?>  
<input type="hidden" id="pg" name="pg" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'pricingnpostageinfo', 'id'=>$this->id,'value'=>'update'))  ?>" /> 
<input type="hidden" id="pg1" name="pg1" value="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'pricingnpostageinfo', 'id'=>$this->id,'value'=>'submit'))  ?>" />
<input type="hidden" id="keywords" name="keywords" value="<?php echo $this->record['keywords']?>" /> 
<input type="hidden" id="category" name="category" value="<?php echo $this->record['category']?>" /> 
<input type="hidden" id="subject" name="subject" value="<?php echo $this->record['subject']?>" /> 
<input type="hidden" id="medium" name="medium" value="<?php echo $this->record['medium']?>" /> 
<input type="hidden" id="style" name="style" value="<?php echo $this->record['style']?>" /> 
<input type="hidden" id="width" name="width" value="<?php echo $this->record['width']?>" /> 
<input type="hidden" id="cur_unit" name="cur_unit" value="<?php echo $this->record['cur_unit']?>" /> 
<input type="hidden" id="depth" name="depth" value="<?php echo $this->record['depth']?>" /> 
<input type="hidden" id="height" name="height" value="<?php echo $this->record['height']?>" /> 
<input type="hidden" id="convert" name="convert" value="<?php echo $this->record['convert']?>" />  
<input type="hidden" id="created_in" name="created_in" value="<?php echo $this->record['created_in']?>" /> 
<input type="hidden" id="date_completed" name="date_completed" value="<?php echo $this->record['date_completed']?>" /> 
<input type="hidden" id="title" name="title" value="<?php echo $this->record['title']?>" /> 
<input type="hidden" id="descrption" name="descrption" value="<?php echo $this->record['descrption']?>" /> 
<input type="hidden" id="presentation" name="presentation" value="<?php echo $this->record['presentation']?>" /> 
   <input class="floatL" type="image" src="<?php echo $this->baseUrl();?>/images/reviewBTN.jpg" alt="Submit" onclick="check_form(1)" /> 
     <input class="floatR" type="image" src="<?php echo $this->baseUrl();?>/images/sendToListingBTN.png" alt="Submit" onclick="check_form(2)" /></td>
  </tr>
  
</tbody></table>    
    </form>
        </div>
    <!-- user Intro area end -->
    <!-- ** Begin left hand nav ** -->
    <?php echo $this->render('profile/left_menu.phtml');?>
    <!-- ** End left hand nav ** -->
    <!-- user art gallery -->
    <div id="userArtgallery"> 
   
      	
    </div>
    <!-- user art gallery  end -->
    <p class="clearer">&nbsp;</p>
 
  </div>
  
<div id="banner_bottom">
	<a href="#"><?php  if($this->getbannerlist['location']=='Bottom') { ?>
            <img src="<?php echo $this->baseUrl();?>/images/banner/mid/<?php echo $this->getbannerlist['banner_path']?>" width="728" height="90"/>
            <?php }?></a>
</div>
