  <?php
  $con_id=$_GET['conId'];
  ?>
  
   	<p class="font17 floatL">Size</p><img src="<?php echo $this->baseUrl();?>/images/help.gif" class="marginL5" alt="Help" />
        <div class="clear"></div>
        <table cellpadding="0" cellspacing="0">
        	<tr>
            	<td class="font17">Width &nbsp; </td>
            	<td><?php echo $this->form->width;?></td>
                <td class="font17">&nbsp;<?php echo $con_id?> </td><input type='hidden' name='cur_unit' id='cur_unit' value='<?php echo $con_id?>'/>
                <td width="50px"></td>
                <td class="font17">Depth &nbsp; </td>
                <td><?php echo $this->form->depth;?></td>
                <td class="font17">&nbsp;<?php echo $con_id?>  </td>
                <td width="50px"></td>
                <td class="font17">Height &nbsp; </td>
                <td><?php echo $this->form->height;?></td>
                <td class="font17">&nbsp;<?php echo $con_id?>  </td>
           </tr>
        </table>