<script src="<?php echo $this->baseUrl();?>/js/validation.js" type="text/javascript"></script>
<?php 
$namespace 	= new Zend_Session_Namespace();
$images			= $this->baseUrl().'/images';
$my_Proimages	= $this->baseUrl().'/upload/small/';
$namespace->filename=null; 
$userInfo	=	new Application_Model_DbTable_Profile();
$getInfo = 	$userInfo->getUserdetails($namespace->email, $namespace->passowrd);
?>
<script type="text/javascript">
$(function()
{ 
userID='<?php echo $this->user_details['userInfo'][0]['id'];?>';
$('.red_pointer').live("hover",function()
{	 
var ID = $(this).attr("id");
 
if(ID)
{
$("#more"+ID).html('<img src="<?php echo $this->baseUrl();?>/images/moreajax.gif" />');

$.ajax({
type: "POST",
url: "<?php echo $this->url(array('controller'=>'Profile', 'action'=>'loadmore', 'action_name'=> $this->action_name, 'id'=> $this->user_details['userInfo'][0]['id']),'default',true)?>",
data: "lastmsg="+ ID+ "&userID="+userID,
cache: false,
success: function(html){  
$("#ajaxComent").append(html);
 
$("#more"+ID).remove(); // removing old more button
}
});
}
else
{
$(".morebox").html('The End');// no results
}

return false;
});
});
</script>
<div id="fb-root"></div>
<div id="main">
    <!-- welcome area -->
   <?php echo $this->render('profile/headpart.phtml')?>
   <?php echo $this->render('profile/left_menu.phtml');?>
    <div id="home_thumbs">
	   <?php 
	  if($this->msg!='') {
	  ?>
	  <div id="error_msg" style="border: 1px dashed rgb(218, 56, 56); width: auto; line-height:20px; padding:5px;">
	  <?php echo $this->msg;?>

	  </div>
	  <?php 
	  } ?>
	     <div class="paginationArea marginT5">  
                          <div class="floatL marginT7 ">
                            <div class="perpageOpen cursorPointer">
                               <div class="floatL marginT5 marginL5">Per Page</div>
                                <div class="floatL marginL10">
                                   <div class="perpageWrapper">
									   <select>
											<option>30</option>
											<option>40</option>
											<option>50</option>
											<option>60</option>
									   </select>
                                   </div>
                                </div>
                            </div>
                          </div>
                          <div id="paging_top" class="floatR marginT10 marginR10">
                          <?php echo $this->paginationControl($this->paginator,'Elastic','/artworkupload/pagination_top.phtml'); ?>
                          </div>
                          
                          </div>
                          
                          <!-- pagination Area end -->
                          
                          <div style="float:right"><a href="<?php echo $this->url(array('controller'=>'Artworkupload', 'action'=>'artworkupload'),'default',true);?>"><b>Add New ArtWork</b></a><br /></div>
                          <!-- thumbs Images Area -->
                          <div id="imgThumbArea">
						  <?php foreach($this->row as $event1){ $name=$event1['first_name']." ".$event1['last_name']; }?>
						  <?php $i=0; 
					foreach($this->paginator as $event){ 
					?>
	  		  <div class="listViewBox">
                                       <div class="listViewBox_Img">
									   
									  <a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'> <img src="<?php echo $this->baseUrl();?>/upload/mid/<?php echo $event['image'];?>"  height='78' width='78'/></a>
									   </div>
                                       <div class="listViewBox_Big">
			<?php
			///////////////////Find category name///////////////////////////////////////
			$Categorylist_model   = new Application_Model_DbTable_ArtCategory();
			$Categorylist_model_result = $Categorylist_model->getCategorylistName($event['category'],'');	
			$catarr=$this->view->Categorylist_model_result = $Categorylist_model_result;
			////////////////////////////////////////////////////////////////
			?>
                                           <h5 class="marginT15 marginB5"><a href='<?php echo $this->url(array('controller'=>'artworkdetails', 'action'=>'index', 'id'=>$event['wid']))  ?>'><?php echo ucwords($event['title']);?></a> </h5>
                                           <div class="hilefilter"><span class="lightCol"><?php echo $catarr[0]['cat_name']?></div>
										  <?php
											///////////////////Find subject name///////////////////////////////////////
											$subject   = new Application_Model_DbTable_ArtCatsubject();
											$subject_res = $subject->getcatsubjectlistName($event['subject'],'');	
											$subjectarr=$this->view->subject_res = $subject_res;
											///////////////////////////////////////////////////////////////
											?>
                                           <div class="marginT7 floatL">Subject: <strong class="redTXT"><?php echo $subjectarr[0]['subject']?></strong></div>
                                           <div class="marginT10_s floatL marginL5 redTXT"></div>
										   <div class="hilefilter"><span class="lightCol">Dimentions:<strong class="redTXT"><?php echo $event['width']?> x <?php echo $event['depth']?> x <?php echo $event['height']?></strong></span></div>
                                       </div>
                                       <div class="listViewBox_Small_s">
                                            <div class="hilefilter"><span class="lightCol">Completed Date:</span> <?php echo date('d M Y',strtotime($event['date_completed']));?></div>
                                            <div class="hilefilter marginT5"><span class="lightCol">Price:</span>&pound; <?php echo $event['price'];?></div>
                                       </div>
                                       
                                       <div class="listViewBox_Small_s">
                                            <div class="hilefilter"><span class="lightCol">Bid Start Date:</span></div>
                                            <div class="hilefilter marginT5"><strong class="redTXT"><?php echo $event['b_date'];?></strong></div>
                                       </div>
									   <div style="display:none;color: #FFF;" id='basic-modal'>
<form id="pay_frm<?php echo $event['wid']?>" method="post" >
    	<p id="login_error"><b>Payment Options</b></p>
    	<table width="250px" style="color: #FFF;">
    		<tr>
   			  <td align="left" nowrap>    	<?php echo $event['approval_status']=='1'?'<a href="'.$this->url(array('controller'=>'Artworkupload', 'action'=>'artworkuploadpay','id'=>$event['wid'])) .'" style="color: #FFF;">Direct Paypal</a>&nbsp;&nbsp;<a href="'.$this->url(array('controller'=>'Artworkupload', 'action'=>'creditartworkuploadpay','id'=>$event['wid'])) .'" style="color: #FFF;">Credit Paypal</a>':'Not approved';?></td>
    		</tr>
			 <tr>
    			<td colspan="2">&nbsp;</td>
    		</tr>	
 	  </table>
	</form>
</div>
                 <div class="listViewBox_Small_s">
                                            <div class="hilefilter">
											<?php if($event['approval_status']=='0') {?>
											<a href='<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'index', 'id'=>$event['wid']))  ?>'>Edit</a>
											<?php } ?>
                                           
                                            </div>
                                            <div class="small marginT5"><a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'deleteartworkuploadlist', 'id'=>$event['wid'],'sec'=>'usr'))  ?>" onclick="return categorydel();">Delete</a></div> <?php if($getInfo[0]['credit_card_number']=='') {?>
                                            <a href='<?php echo $this->url(array('controller'=>'Profile', 'action'=>'account', 'id'=>$event['wid']))  ?>'>Bank Account Link</a>
                                            <?php } else { 
											if($event['price']!='0.00')
											{
												if($event['payment_status']=='1') { } else { ?><?php echo $event['approval_status']=='1'?'<a title="pay" href="'.$this->url(array('controller'=>'Artworkupload', 'action'=>'creditartworkuploadpay','id'=>$event['wid'])) .'">Pay</a>':'Not approved';?> <?php }
											}
											else
											{
												?>
                                                <a title="Add Pricing and Postage info" href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'pricingnpostageinfo', 'id'=>$event['wid']))  ?>"">Add Pricing and Postage info</a>
											<?php }
											 }?>
                                       </div>
                                  </div>
                                
                                <!-- list thumbs end here -->
                                  
                   <?php
				$i++; }
				 if($i==0)
					{
					?>
					<div class="listViewBox"><center style="padding-top:20px;"><b>Record not found.</b></center> </div>
					<?php
					}
					?>             
                                
								  </div>
								  <!-- bottom pagination start here -->
                                    <div class="paginationArea marginT20">
	                                     <div class="goTop cursorPointer">
	                                         <span class="floatL marginL10 marginT15"><img src="<?php echo $this->baseUrl();?>/images/browse_search/top_arrow.png" /></span>
	                                         <span class="floatL marginL10 marginT13">Back to the top</span>
	                                     </div>
	                                         
	                                     <div class="marginT3 marginR10"  id="paging">
											<?php echo $this->paginationControl($this->paginator,'Elastic','/artworkupload/pagination1.phtml'); ?>
	                                     </div>
                                     </div>
                       
                       <!-- bottom pagination end here -->
      </div>
    <!-- user art gallery  end -->
	
    <p class="clearer">&nbsp;</p>

  </div>
  
<div id="banner_bottom">
	<a href="#"><img src="<?php echo $this->baseUrl();?>/images/ad_banners/partypoker.gif" width="728" height="90" alt="sponsored advert" /></a>
</div>