  <link rel="stylesheet" media="screen" type="text/css" href="<?php echo BASE_URL?>css/zoomimage/layout.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="<?php echo BASE_URL?>css/zoomimage/zoomimage.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="<?php echo BASE_URL?>css/zoomimage/custom.css" />
    <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/jquery.js"></script>
    <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/eye.js"></script>
    <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/utils.js"></script>
    <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/zoomimage.js"></script>
    <script type="text/javascript" src="<?php echo BASE_URL?>js/zoomimage/layout.js"></script>
<div class="inner-right-content"> 

	<h2 class="page-title">Manage Artwork </h2>
<div style="padding-left:13px;"><h3></h3></div>
<ul class="navigationTabs" style="display:none">
            <li><a href="#about" rel="about">About</a></li>
            <li><a href="#download" rel="download">Download</a></li>
            <li><a href="#implement" rel="implement">Implement</a></li>
        </ul>
<table cellpadding="5" border="0" width="765" cellspadding="2" style="margin-left:8px;">
 <?php $i=0;
					foreach($this->artworkuploadlist_model_result as $event){ 
					?>
 <tr>
    <td align ="right"><div style="float:left" class="subheading">View Artwork </div><a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'artworkuploadlist'),'default',true)  ?>"><img src="<?php echo BASE_URL?>images/admin/back_btn.jpg" /></a>
	
  </td>
    <tr>
    <td align ="left"><div id="view_data">
	<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#555555">
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Keywords:</strong></td>
        <td style='padding:5px'><?php echo $event['keywords'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Category:</strong></td>
        <?php
					$catname		= new Application_Model_DbTable_ArtCategory();
					$categoryname	= $catname->getcategoryNameById($event['category']); 
					
					?>
        <td style='padding:5px'><?php echo $categoryname[0]['cat_name'];?></td>
      </tr>
	  <?php
			///////////////////Find subject name///////////////////////////////////////
			$subject   = new Application_Model_DbTable_ArtCatsubject();
			$subject_res = $subject->getcatsubjectlistName($event['subject'],'');	
			$subjectarr=$this->view->subject_res = $subject_res;
			///////////////////////////////////////////////////////////////
			?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Subject:</strong></td>
        <td style='padding:5px'><?php echo $subjectarr[0]['subject']?></td>
      </tr>
	  <?php
			///////////////////Find medium name///////////////////////////////////////
			$medium   = new Application_Model_DbTable_ArtCatmedium();
			$medium_result = $medium->getcatmediumlistName($event['medium'],'');	
			$mediumarr=$this->view->medium_result = $medium_result;
			/////////////////////////// ////////////////////////////////////
			?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Medium:</strong></td>
        <td style='padding:5px'><?php echo $mediumarr[0]['medium']?></td>
      </tr>
	  <?php
			///////////////////Find style name///////////////////////////////////////
			$style   = new Application_Model_DbTable_ArtCatstyle();
			$style_result = $style->getcatstylelistName($event['style'],'');	
			$stylearr=$this->view->style_result = $style_result;
			/////////////////////////// ////////////////////////////////////
			?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Style:</strong></td>
        <td style='padding:5px'><?php echo $stylearr[0]['style']?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Width:</strong></td>
        <td style='padding:5px'><?php echo $event['width'];?> <?php echo $event['convert'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Depth:</strong></td>
        <td style='padding:5px'><?php echo $event['depth'];?> <?php echo $event['convert'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Height:</strong></td>
        <td style='padding:5px'><?php echo $event['height'];?> <?php echo $event['convert'];?></td>
      </tr>
    <!--  <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Create In: </strong></td>
        <td style='padding:5px'><?php echo $event['created_in'];?></td>
      </tr>-->
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Date Completed: </strong></td>
        <td style='padding:5px'><?php echo $event['date_completed'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td width="118" align="left" style='padding:5px'><strong>Title:</strong></td>

        <td width="344" style='padding:5px'><strong><?php echo ucwords($event['title']);?></strong></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Starting Price:</strong></td>
        <td style='padding:5px'>&pound; <?php echo $event['price'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Buy It Now: </strong></td>
        <td style='padding:5px'><?php echo $event['buy_it_now']=='1'?'YES':'NO'?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Reserve Price: </strong></td>
        <td style='padding:5px'>&pound; <?php echo $event['reserve_price'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong><span class="floatL marginR10">Location:</span></strong></td>
        <td style='padding:5px'><?php echo $event['location'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong><span class="floatL marginR10">Service:</span></strong></td>
        <td style='padding:5px'><?php echo $event['service'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong><span class="floatL marginR10">Postage Cost:</span></strong></td>
        <td style='padding:5px'><?php echo $event['postage_cost'];?></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong><span class="floatL marginR10">Dispatch Time:</span></strong></td>
        <td style='padding:5px'><?php echo $event['dispatch_time'];?> working days</td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Description:</strong></td>

        <td><div align="justify" style='padding:0 5px 5px 5px'><?php echo $event['descrption']==''?'Description not found.':nl2br(html_entity_decode(htmlentities(stripslashes($event['descrption']))));?>
          </div></td>
      </tr>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Presentation:</strong></td>
        <td style='padding:5px'><?php echo $event['presentation'];?></td>
      </tr>
      
	   <?php } $i=1;
					foreach($this->artworkuploadimageslist_model_result as $eventi){ 
					?>
      <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Image <?php echo $i?>:</strong></td>
        <td style='padding:5px'><a href="<?php echo $this->baseUrl();?>/upload/large/<?php echo $eventi['image'];?>" title="<?php echo $eventi['image'];?>" class="customGal"><image src="<?php echo $this->baseUrl();?>/upload/small/<?php echo $eventi['image'];?>"/></a></td>
      </tr>
<?php $i++;}?>
 <?php if($event['approval_status']!='1') { ?> <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Set Moderator Status:</strong></td>
        <td style='padding:5px'>
                    <a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'', 'status'=>'1', 'id'=>$event['id'],'p'=>'view'))  ?>" ><img src="<?php echo BASE_URL?>images/admin/approvedIcon.png" height="22" alt="enable" title="Click Here To Approved" border='0' /></a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('controller'=>'artworkupload', 'action'=>'updateArtworkuploadliststatus', 'msg'=>'' ,'status'=>'0', 'id'=>$event['id'],'p'=>'view'))  ?>" ><img src="<?php echo BASE_URL?>images/admin/unapprovedIcon.png" height="22" alt="enable" title="Click Here To Unapproved" /></a>
                    </td>
      </tr><?php  } else { ?>
       <tr bgcolor="#F7F7F7">
        <td align="left" valign="top" style='padding:5px'><strong>Moderator Status:</strong></td>
        <td style='padding:5px'><?php if($event['approval_status']=='1') echo 'Approved';
					else if($event['approval_status']=='0') echo 'Unapproved';
					else if($event['approval_status']=='2') echo 'Pending';?></td>
      </tr>
      <?php  } ?>
    </table>
    </div></td>
  </tr>
  <tr>
    <td align ="left" >  </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
  <tr>
    <td align ="left" >&nbsp; </td>
  </tr>
</table></div>