<?php $namespace 	= new Zend_Session_Namespace(); ?> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/css/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/login/jquery.fancybox-1.3.4.js"></script>
<div id="main">
    
        <!-- ** Begin left hand nav ** -->
        
        <div class="col_small">
		<?php if ($namespace->email==''){?>

            <div id="sign_reg">
               <p><a id="tip5" title="Login" href="#login_form" class="button home_green" ><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />SIGN IN</a></p>
                <p><a href="<?php echo $this->url(array('controller'=>'Registration', 'action'=>'groupregistration'),'default',true);?>" class="button home_blue"><img src="<?php echo $this->baseUrl();?>/images/pointer_bttn.png" width="23" height="10" alt="" />REGISTER</a></p>
            </div>
		<?php } ?>
        	<div class="titlebar">
            	<h3>MESSAGES</h3>
                <ul class="lhn">
                	<li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'compose'),'default',true) ; ?>">Compose</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'index'),'default',true) ; ?>">Inbox</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'sent'),'default',true) ; ?>">Sent Messages</a></li>
                    <li><a class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'trash'),'default',true) ; ?>">Trash</a></li>
                    <li><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'mailfolder'),'default',true) ; ?>">Create a New Folder</a></li>
					<ul>
					<?php
					foreach($this->viewfolders as $event ) 
						{ ?>
                	<li style="padding-left:20px"><a rel="fancybox" class="red_pointer" href="<?php echo $this->url(array('controller'=>'Message', 'action'=>'folder','fid'=>$event['id']),'default',true) ; ?>"><?php echo $event['folder_name']?></a></li>
					<?php }
					?>
					</ul>
                </ul>
            </div> 
            
            
        </div>
		
        <!-- ** End left hand nav ** -->
      <div id="home_thumbs">
	  
		<script type="text/javascript">
$(document).ready(function(){
	$('#email_delete').submit(function()
	{
		var arr	=	$(this).serializeArray();
		var len	=	arr.length;
		if(len==0)
		{
			alert('Please select message to delete')
			return false;
		}
		if(!confirm('Are you sure to delete message'))
		{
			return false;
		}	
	});
	
	$(".filter-message a").click(function(){
		$(".filter-message a").removeClass("active");
		$(this).addClass("active");
	});
	
});
</script>

      <div class="midd_column">
		 
        <div class="mail_box">
		<form name="create_folder" id="create_folder" action="#" >	
			<div class="titlebar"><input type="text" name="folder" id="folder" />
			<input name="create" id="create" type="submit" value="Create" ></div>
			<div class="clear"> </div>
			
		</form>	
		</div>	
        
        <!--- /paging end -->
      </div>	  
	  
	  </div>
      
        <p class="clearer">&nbsp;</p> 

    </div>
