

/** Reference web font **/
@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
	src: local( 'AllerRegular' ),
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
		 url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
/*    font-weight: normal;
    font-style: normal;*/
}



/** Alternate selection colour **/
/* Safari */::selection {background:#f5acac;}
/* Firefox */::-moz-selection {background:#f5acac;}


/** Reset **/
body ul, ol, li {margin:0; padding:0;} 
body li {list-style-type:none;}
body img {margin:0; padding:0; border:none;}


/** Typography styles and background **/
body {text-align:center; background-color:#f1f3f2;
	font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif; margin:0; padding:0;
	color:#666666; font-weight:normal; font-size:11.5px; line-height:1.2; letter-spacing:0.04em;}
	
body h1 {font-size:40px; color:#343a46; margin:0 0 15px; padding:0; font-weight:normal; text-transform:uppercase; letter-spacing:0.13em;}
body h2 {font-size:23px; color:#343a46; margin:0 0 13px; padding:0; font-weight:normal; letter-spacing:0.065em;}
body h3 {font-size:13px; color:#343a46; margin:0 0 13px; padding:0; font-weight:normal; text-transform:uppercase; letter-spacing:0.13em;}
body h4 {font-size:11.5px; color:#666666; margin:0 0 13px; padding:0; font-weight:normal;  letter-spacing:0.04em;}
body p {margin:0 0 10px; padding:0;font-size:11.5px;color:#999999;letter-spacing:0.04em;}
body span.notes {font-size:10px; color:#999!important; margin:0; padding:0; font-weight:normal;letter-spacing:0.04em;}
	
	
/** Hyperlinks **/
body a {margin:0; padding:0; color:#353574;}
body a:link {text-decoration:none;}
body a:visited {text-decoration:none;}
body a:hover {text-decoration:underline;}
body a:active {text-decoration:none;}


/** Buttons **/
a.button {width:150px; height:16px; margin:0; padding:7px 0; display:block; 
	font-size:13px; letter-spacing:0.13em; text-transform:uppercase;}
a.button:link {text-decoration:none; color:#FFF;}
a.button:visited {text-decoration:none; color:#FFF;}
a.button:hover {text-decoration:none; color:#efefef;}
a.button:active {text-decoration:none; color:#FFF;}
a.green {background:URL(../images/bttn_green.gif) left no-repeat;}
a.blue {background:URL(../images/bttn_blue.gif) left no-repeat;}
a.brws {background:URL(../images/bttn_browseart.gif) left no-repeat; height:17px; padding:9px 0;}
a.facebook {background:URL(../images/footer/facebook.gif) left no-repeat; height:16px; padding:9px 0 8px;}
a.twitter {background:URL(../images/footer/twitter.gif) left no-repeat; height:16px; padding:9px 0 8px;}
a.red_pointer {background:URL(../images/pointer_red.png) left no-repeat; padding-left:11px;}
a.header_pointer {background:URL(../images/pointer_header.png) left no-repeat; padding-left:11px;}


/** Containers **/
#container {width:975px; margin:0 auto; padding:40px 0 0; text-align:left; position:relative; z-index:1;min-height: 400px;}
#main {margin:0; padding:0 0 15px; width:975px; height:auto; overflow:hidden;}
#secondary {width:100%; margin:0; padding:20px 0 30px; background-color:#FFF;}


/** TEMPORARY rollovers **/
#container #panel_browse {width:995px; height:150px; margin:0; padding:0; position:absolute; top:110px; left:-10px; display:none;
	background:URL(../images/browse_search/browse_panel.png) top no-repeat; z-index:400;}
#container #panel_browse #options_browse {margin:23px 0 0 15px; padding:0;}
#container #panel_browse #options_browse .panel {height:110px; margin:0 0 0 5px; padding:0; float:left; background-color:#FFF; overflow:hidden;}	
#container #panel_browse #options_browse .allart {width:130px;}
#container #panel_browse #options_browse .ending {width:190px;}
#container #panel_browse #options_browse .range {width:190px;}
#container #panel_browse #options_browse .cats {width:430px;}
#container #panel_browse #options_browse .panel h3 {margin:10px 0 15px 10px;}
#container #panel_browse #options_browse .panel ul.one_col {padding-left:10px;}
#container #panel_browse #options_browse .panel li {margin-bottom:7px;}
#container #panel_browse #options_browse .panel .col_tiny {width:83px; height:40px; margin:0; padding:0 0 0 10px; float:left;}
#container #panel_browse #options_browse .panel .divider {border-left:1px solid #BABABA;}

#container #panel_search {width:455px; height:160px; margin:0; padding:0; position:absolute; top:110px; right:-10px; display:none;
	background:URL(../images/browse_search/search_panel.png) top no-repeat; z-index:400;}
#container #panel_search #all {margin:30px 0 20px; padding:0 0 0 25px;}
#container #panel_search .col_search {width:85px; margin:0; padding:0 0 0 20px; float:left;}
.col_search p {width:108px; float:left;}

	
/** Top navigation **/
#topnav {width:100%; height:40px; margin:0; position: fixed; /*position:static\9;   IE 8 and below */ padding:0; font-size:13px; letter-spacing:0.13em; text-transform:uppercase; 
	background-color:#403f47; z-index:99;  top:0; left:0;}

#centre {width:975px; height:30px; margin:0 auto; padding:0; text-align:left;}
#topnav ul {margin-top:0px;}
#topnav li {display:inline; height:40px; margin-right:0px; padding:0 0 0px; color:#666;}
#topnav li a:link {text-decoration:none; color:#FFF;}
#topnav li a:visited {text-decoration:none; color:#FFF;}
#topnav li a:hover {text-decoration:none; color:#666;}
#topnav li a:active {text-decoration:none; color:#FFF;}
#topnav li.current {background:URL(../images/current.png) bottom center no-repeat;}
#topnav .left {float:left; width:500px;}
#topnav #login_reg {float:right; width:400px; position:relative;}
#topnav #login_reg ul {text-align:right;}

#topnav #login_reg #loggedin {width:390px; height:40px; position:fixed; top:0;  z-index:2;
	background:URL(../images/topnav_bg.gif) top repeat-x; margin:0; padding:0;}
#topnav #login_reg #loggedin #summary {width:315px; height:40px; margin:0; padding:0; float:left; background:URL(../images/topnav_dotted.gif) left no-repeat;}
#topnav #login_reg #loggedin #summary ul.studio {float:none; font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif; padding:0 0 0 10px;
	color:#BABABA; font-weight:normal; font-size:11.5px; line-height:1.2; letter-spacing:0.04em; text-transform:none; text-align:left;}


/** Header **/	
#header {margin:0 0 20px; padding:0; height:95px; background:URL(../images/divider_full.gif) bottom no-repeat;}
#header img#logo {float:left;}
#header #search {margin:0; padding:30px 0 0; width:317px; float:right;}
#header #browse {margin:0 15px 0 0; padding:30px 0 0; width:150px; float:right;}	


/** Columns **/
.col_small {float:left; width:150px; margin:0 15px 0 0; padding:0;}
.col_final {margin-right:0;}
.notitle {padding-top:15px;}
.titlebar {border-top:5px solid #3b3a46; padding-top:10px;}
.col_small li {margin-bottom:7px;}


/** Left Hand Navigation **/
#sign_reg {margin:0; padding:0; display:block;}
ul.lhn {margin-bottom:15px;}
#activity {margin:25px 0 0;}
#news {margin:25px 0 0;}
#news .news_sml {width:150px; margin:0; padding:0;}
 



/** Banner ads **/
#banner_bottom {width:975px; height:100px; margin:10px auto; padding:0; text-align:left;
	 background:#FFF URL(../images/ad_banners/ad_bg_728.gif) center no-repeat;}
#banner_bottom img {margin:5px 0 0 242px;}


/** Footer **/
#footer {background:#403f47 URL(../images/footer/footer_bg.gif) top repeat-x; width:100%; color:#BABABA; height:240px;}
#footer #foot_container {width:975px; margin:0 auto; padding:35px 0 0; text-align:left;}
#footer #foot_container ul#link_lg li {margin-bottom:10px;}
#footer a.bright {color:#FFF;}
#footer a.footerlink_lg {color:#BABABA; font-size:13px; letter-spacing:0.13em; text-transform:uppercase;
	background:URL(../images/footer/pointer_footer_lg.gif) left no-repeat; padding-left:15px;}
#footer a.footerlink_sml {color:#BABABA;
	background:URL(../images/footer/pointer_footer_sml.gif) left no-repeat; padding-left:11px;}
	
#footer #foot_container #subscribe {width:315px; margin:0; padding:0; float:right;}
#footer #foot_container #subscribe h3 {color:#BABABA; margin-bottom:0;}


/** Other styles **/
img.thumbs {margin-bottom:15px; border:1px solid #FFF; width:148px; height:148px;}
p.clearer {clear:both; margin:0; padding:0; font-size:1px; line-height:1px; width:100%;}
li.navdivider {color:#555;}
	
	
.register{ width:656px; border:1px solid #000100; margin:0px auto; padding:30px 0px;}
.register p{ font-size:13px; line-height:16px;}
.txtCenter{ text-align:center !important;}
.font17{ font-size:17px !important; line-height:22px !important;}
.colorBlack{ color:#000 !important;}
.paddingH40{padding-left:40px !important; padding-right:40px !important;}
.paddingV20{padding-top:20px !important; padding-bottom:20px !important;}
.margin2{ margin:2px !important;}
.clear{ height:1px; margin:0 0 -1px; clear:both; font-size:1px;}    
.floatL{ float:left !important;}
.floatR{ float:right !important;}
.floatN{ float:none !important;}
.heightAuto{ height:auto !important;}

.blackBorder{ height:1px; overflow:hidden; font-size:0px; border-top:1px solid #000100;}
.register .block{ width:235px; margin-right: 45px; float:left; margin-bottom:20px;}
.register .block label{ display:block; margin-bottom:5px;}
.register .block .input{ border:1px solid #000100; height:17px; width:100%; font-family:"AllerRegular", "Trebuchet MS", Arial, sans serif;}
.register .blue_button{ background:url(../images/bttn_blue.gif) no-repeat;}
	
	
/************css for search box*******************/

.topsearchArea{
background-color:#EDEDED;
border:1px solid #d0d0d0; 
height:33px;
}
.searchTxtType{
width:215px;
height:33px;
border:none;
}
.SubmitSearch{
width:33px !important;
height:33px;
border:none;
background:url(../images/search_glass.gif) no-repeat;
}
/******************* END css for search ********************/
	
	
	
	/*--------- 13.02.2012 */

/*------ padding & margin */

.marginT5{ margin-top:5px !important;}

.marginT3{ margin-top:3px !important;}
.marginT5{ margin-top:5px !important;}
.marginT7{ margin-top:7px !important;}
.marginT8{ margin-top:8px !important;}
.marginT10{ margin-top:10px !important;}
.marginT11{ margin-top:11px !important;}
.marginT12{ margin-top:12px !important;}
.marginT13{ margin-top:13px !important;}
.marginT15{ margin-top:15px !important;}
.marginT20{ margin-top:20px !important;}
.marginT22{ margin-top:22px !important;}
.marginT23{ margin-top:23px !important;}
.marginT25{ margin-top:25px !important;}
.marginT28{ margin-top:35px !important;}
.marginT40{ margin-top:40px !important;}
.marginR10{ margin-right:10px !important;}
.marginB10{ margin-bottom:10px !important;}
.marginL10{ margin-left:10px !important;}
.marginL20{ margin-left:20px !important;}
.marginL35{ margin-left:35px !important;}
.marginT5{ margin-top:5px !important;}
.marginR5{ margin-right:5px !important;}
.marginB5{ margin-bottom:5px !important;}
.marginL5{ margin-left:5px !important;}
.paddingT10{ padding-top:10px !important;}
.paddingT5{ padding-top:5px !important;}
.paddingL3{ padding-left:3px !important;}
.paddingR10{ padding-right:10px !important;}
.paddingB10{ padding-bottom:10px !important;}
.paddingL10{ padding-left:10px !important;}
.noPadding{ padding:0px !important;}
.noMargin{ margin:0px !important;}
.wd_150{ width:150px !important;}
.wd_200{ width:200px !important;}
.wd_170{ width:170px !important;}
.widthAuto{ width:auto !important;}
.heightAuto{ height:auto !important;}
.txtAlignL{ text-align:left !important;}
.floatL{float:left;}
.floatR{float:right;}
.floatN{float:none;}
.smallUP{ font-size:11px; line-height:12px; color:#333; !important;width: 92px;}
.small{ font-size:11px; line-height:12px; color:#333 !important;}
.hilefilter{font-size:11px; line-height:12px; color:#333; !important;width: 132px;}

#searchArea{
width:810px;
height:auto;
margin-left:165px;
float:none;
}
.filterArea{
width:810px;
height:255px;
background-color:#FFFFFF;
}
.filterTop{
width:810px;
height:45px;
margin:auto;
float:left;
}
.filterTopLeft{
max-width:468px !important;
float:left;
}

#togg{
cursor: pointer;
}
.filterTopRight{
width:328px;
float:right;
text-align:right;
}

.marginT10{
margin-top:10px;
}
.filterMid{
width:810px;
height:45px;
margin:auto;
}
.filterMidLeft{
width:450px !important;
float:left;
margin-left:10px;
}
.filterMidRight{
width:350px;
float:right;
}
.wideInput{
width:300px;
height:20px;
margin:auto;
border:1px solid #CCCCCC;
}
#filterOptionsArea{
width:auto;
float:left;
margin:auto;
}
#filterOptionsArea1{
width:auto;
float:left;
margin:auto;
}
.optionBox{
width:145px;
height:25px;
float:left;
}
.optionChkBox{
width:20px;
height:25px;
float:left;
padding-left: 8px;
}
.optionChkBoxLabel{
width:116px;
height:25px;
float:right;
}

.paginationArea{
width:810px;
height:35px;
float:left;
background:url(../images/browse_search/grid_list_option_bg.jpg) no-repeat;
}

#imgThumbAreaBox{
width:810px;
height:auto;
margin:auto;
float:left;
}

#imgThumbAreaList{
width:810px;
height:auto;
margin:auto;
float:left;
}


.imgThumbBox{
width:150px;
height:200px;
float:left;
margin:5px;
}
.imgThumb{
width:150px;
height:150px;
}
.imgThumbDetail{
width:150px;
height:50px;
}
.imgThumbDetail_left{
width:94px;
float:left;
}
.imgThumbDetail_right{
width:54px;
float:right;
}
.redTXT{
color:#990000;
}
.loading {
	background: url(../images/browse_search/load.gif) no-repeat center center;
	height:48px;
	display:none;
}
.shortBySelector{
width:150px;
height:23px;
/*background:url(../images/browse_search/sort_by_bg.jpg) no-repeat;*/
}



/* --------- for select drop down*/
    .sortByWrapper{ background:url(../images/browse_search/down_select_arrow.jpg) no-repeat right #fff; width:180px; overflow:hidden; height:19px; border-top:1px solid #ccc;  border-left:1px solid #ccc;  border-bottom:1px solid #ccc;}	
	.sortByWrapper select{ width:200px; -webkit-appearance: none; border:0px; background:none; font-size:12px; 
	padding:1px; 
	font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');}
	.sortByWrapper select option{ background:none; -webkit-appearance: none;}
	
	
	.perpageWrapper{ background:url(../images/browse_search/down_select_arrow.jpg) no-repeat right #fff; width:70px; overflow:hidden; height:19px; border-top:1px solid #ccc;  border-left:1px solid #ccc;  border-bottom:1px solid #ccc;}	
	.perpageWrapper select{ width:90px; -webkit-appearance: none; border:0px; background:none; font-size:12px; 
	padding:1px; 
	font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');}
	.perpageWrapper select option{ background:none; -webkit-appearance: none; }
	
	.browseByWrapper{ background:url(../images/browse_search/down_select_arrow.jpg) no-repeat right #fff; width:305px; overflow:hidden; height:19px; border-top:1px solid #ccc;  border-left:1px solid #ccc;  border-bottom:1px solid #ccc;}	
	.browseByWrapper select{ width:325px; -webkit-appearance: none; border:0px; background:none; font-size:12px; 
	padding:1px; 
	font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');}
	.browseByWrapper select option{ background:none; -webkit-appearance: none;}
	
/*   end select menu --------*/


.sortByBox{
width:112px;
height:auto;
border:1px solid #999999;
border-top:none;
position:absolute;
background-color:#fff;
display:none;
padding:10px 5px 5px 5px;
}
.sortByBoxBig{
width:268px;
height:auto;
border:1px solid #999999;
border-top:none;
position:absolute;
background-color:#fff;
display:none;
text-align:left;
padding:10px 5px 5px 5px;
}
.perPageSelector{
width:68px;
height:23px;
background:url(../images/browse_search/per_page_bg.jpg) no-repeat;
}
.perPageBox{
width:30px;
height:auto;
border:1px solid #999999;
border-top:none;
position:absolute;
background-color:#fff;
display:none;
padding:10px 5px 5px 5px;
}
.cursorPointer{
cursor:pointer;
}
.marginT23{
margin-top:23px;
}
.marginL62{
margin-left:62px;
}
.marginL61{
margin-left:61px;
}
.marginL80{
margin-left:80px;
}
.marginL50{
margin-left:50px;
}
.marginL52{
margin-left:51px;
}
.marginT9{
margin-top:9px;
}
.paddingT5{
padding-top:5px;
}
.lineHT16{
line-height:20px;
}
/*--- search Top Box */
.topsearchArea{
border:1px solid #d0d0d0; 
height:33px;
background-color:#ededed;
}
.searchTxtType{
width:225px;
height:30px;
border:none;
}
.SubmitSearch{
width:33px !important;
height:33px;
border:none;
background:url(../images/search_glass.gif) no-repeat;
}
/*--- end search Top Box */
/*----- end 13.02.2012 */


/*------ 15.02.2012 */
.listViewBox{
width:810px;
height:95px;
float:left;
margin:auto;
margin-top:5px;
background:url(../images/browse_search/list_view_bg.jpg) no-repeat;
background-color:#f1f3f2;
}
.listViewBox_Img{
width:78px;
height:78px;
float:left;
margin:5px 0 0 15px;
border:2px solid #FFFFFF;
}
.listViewBox_Big{
width:180px;
height:80px;
float:left;
margin:5px 0 0 15px;
}
.listViewBox_Small{
width:140px;
height:30px;
float:left;
margin:30px 0 0 15px;
padding-left:10px;
border-left:2px dotted #FFFFFF;
}
.listViewBox_Small_s{
padding-left:10px;
border-left:2px dotted #FFFFFF;
float: left;
height: 80px;
margin: 5px 0 0 15px;
width: 140px;
}
.lightCol{
color:#999999;
}

.norecord{height: 200px;
    margin-top: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 20px; color: #B23C3C;}
/* end 15.02.2012 */

/*--- 16.02.2012 */
#topProDetail_Part{
width:975px;
height:auto;
float:left;
margin:auto;
padding-bottom:10px;
border-bottom:1px dashed #FFFFFF;
}
#topProDetail_Part_left{
width:790px;
height:auto;
margin:auto;
float:left;
border:1px solid #FFFFFF;
}
#topProDetail_Part_left .big_image{
width:770px;
height:535px;
margin:auto;
margin:10px;
}
#topProDetail_Part_right{
width:170px;
height:auto;
margin:auto;
float:right;
}
.font18{
font-size:18px;
}
.WTBorder{
border:1px dashed #FFFFFF;
}
.BLKBorder{
border:1px dashed #999;
}
.darklTXT{
color:#000000;
}
.marginT1{
margin-top:1px !important;
}
.smallThumbsArea{
width:790px;
height:85px;
margin:auto;
float:left;
padding:5px;
background:url(../images/browse_search/small_thumbImgBG.jpg) no-repeat;
text-align:center;
margin-left:4px;
}
.smallThumbsImg {
width:70px !important;
height:auto; 
margin:auto;
display:inline;
}
.smallThumbsImg img{
width:70px;
height:65px;
margin:auto;
border:1px solid #FFFFFF;
margin-top:10px !important;
}

#midProDetail_Part{
width:975px;
height:auto;
float:left;
margin:auto;
padding-bottom:10px;
}
#midProDetail_Part_left{
width:790px;
height:auto;
margin:auto;
float:left;
}
.whtrectBox{
width:100%;
height:40px;
background:#FFFFFF;
}

#midProDetail_Part_right{
width:170px;
height:auto;
margin:auto;
float:right;
}
.borderRight{
border-right:1px solid #333333;
}
.ByBox{
width:200px;
height:30px;
float:left;
padding-top:10px;
border-right:1px dotted #ccc;
}
.ftrsBox{
width:auto;
height:20px;
float:left;
border-right:1px solid #ccc;
margin:10px 0 0 5px;
padding:3px 5px 0 0px;
font-size:12px ;
}
.wd_300{
width:300px;
}

.BorderNone{
border:none !important;
}
/*---- end 16.02.2012 */
/*------ 17.02.2012 */
.twt_fb_countBox{
float:left;
}
.twt_fb_countBoxL{
width:6px;
height:20px;
float:left;
background:url(../images/browse_search/twitter_count_left.jpg) no-repeat;
}
.twt_fb_countBoxM{
min-width:30px;
height:13px;
float:left;
padding:3px;
border-top:1px solid #bababa;
border-bottom:1px solid #bababa;
background:#FFFFFF;
}
.twt_fb_countBoxR{
width:6px;
height:20px;
float:left;
background:url(../images/browse_search/twitter_count_right.jpg) no-repeat;
}

#bottomProDetail_Part{
width:100%;
height:auto;
float:left;
margin:auto;
padding-bottom:10px;
background:#FFFFFF;
}
#bottomProDetail_Part_left{
width:780px;
height:auto;
margin:auto;
float:left;
}
#addCommentArea{
width:790px;
height:80px;
float:left;
background:#f1f3f2;
margin:10px 10px 10px 10px;
}
#addCommentArea textarea{
width:610px;
height:55px;
border:1px solid #CCCCCC;
}
#addCommentArea input[type=submit]{
width:135px;
height:30px;
background:url(../images/browse_search/rateReviewBTN.jpg) no-repeat;
border:none;
cursor:pointer;
}
#addCommentArea input[type=button]{
width:135px;
height:30px;
background:url(../images/browse_search/rateReviewBTN.jpg) no-repeat;
border:none;
cursor:pointer;
}
#comm_id  input[type=submit]{
width:135px;
height:30px;
background:url(../images/browse_search/add_comment_btn.jpg) no-repeat;
border:none;
cursor:pointer;
}
#showCommentArea{
width:760px;
height:auto;
float:left;
margin:10px 10px 10px 10px;
}
#showCommentBox{
width:760px;
min-height:50px;
float:left;
margin-top:15px;
padding-bottom:10px;
border-bottom:1px dashed #999999;
}
.showComment_imgBox{
width:50px;
height:50px;
float:left;
border:1px solid #CCCCCC;
margin:0 10px 10px 0;
}
.showComment_title{
width:110px;
height:50px;
float:left;
margin:0 10px 10px 0;
}
.showComment_comment{
width:430px;
min-height:50px;
float:left;
}
.showComment_commentInside{
width:570px;
min-height:50px;
float:left;
margin:5px 0 10px 15px;
background:url(../images/browse_search/commentInsideBg.jpg) repeat-x #fff;
}
.showComment_icon{
width:68px;
height:50px;
float:right;
margin:0 10px 10px 0;
}


#bottomProDetail_Part_right{
width:160px;
height:auto;
margin:auto;
float:right;
margin:10px 10px 0 0;
border-top:5px solid #000000;
}
.bottomPart_rightImg{
width:148px;
height:148px;
float:left;
margin:10px 10px 0 0;
}
.upperCase{
text-transform:uppercase !important;
}
.font13{
font-size:13px;
}
.font11{
font-size:11px !important;
color:#999 !important;
}
.marginL25{
margin-left:25px;
}
.marginBN{
margin-bottom:0px;
}
.marginT-25{
margin-top:-25px;
}
/*--------- end 17.02.2012 */
/*--------- 22.02.2012 ------*/
.ratingHRT{}
.showRatingHRT{
width:12px;
height:10px;
display:block;
float:left;
margin-left:5px;
background:url(../images/browse_search/greyHRT.png) no-repeat;
}
/*.ratingHRT a{
width:12px;
height:10px;
background:url(../images/browse_search/greyHRT.jpg) no-repeat;
}
.ratingHRT a:hover{
width:12px;
height:10px;
background:url(../images/browse_search/greyHRT_hover.jpg) no-repeat;
}*/
.ratingHRT{
width:12px;
height:10px;
float:left;
display:block;
margin-left:5px;
background:url(../images/browse_search/greyHRT.png) no-repeat;
}
.ratingHRThover{
width:12px;
height:10px;
float:left;
display:block;
margin-left:5px;
background:url(../images/browse_search/greyHRT_hover.png) no-repeat;

}

#writeCommentBoxArea{
width:100%;
height:100%;
margin:auto;
display:none;
}
.writeCommentBox{
width:300px;
height:150px;
margin:auto;
padding:5px;
border:1px dashed #CCCCCC;
}
.writeCommentBox .cancel{
width:20px;
height:20px;
float:right;
margin:auto;
}
.writeCommentBox textarea{
width:275px;
height:70px;
margin:auto;
float:left;
border:1px solid #999999;
font-size:12px;
font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	padding:10px;
}
.writeCommentBox input[type=submit]{
width:150px;
height:33px;
margin:auto;
background:url(../images/browse_search/add_comment_btn_small.jpg) no-repeat;
border:none;
margin-top:10px;
cursor:pointer;
float:left;
cursor:pointer;
}
.writeCommentBox input[type=button]{
width:150px;
height:33px;
margin:auto;
background:url(../images/browse_search/add_comment_btn_small.jpg) no-repeat;
border:none;
margin-top:10px;
cursor:pointer;
float:left;
cursor:pointer;
}
/*---------- end 22.02.2012 -----*/
/*-------------23-02-2012  by reeta---*/
*{ margin:0px; padding:0px }
ol.timeline
{
list-style:none
}
ol.timeline li
{
position:relative;
border-bottom:1px #dedede dashed;
padding:8px;
}
.morebox
{
font-weight:bold;
color:#333333;
text-align:center;

padding:8px;
margin-top:8px;
margin-bottom:8px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
.morebox a{ color:#333333; text-decoration:none}
.morebox a:hover{ color:#333333; text-decoration:none}

/*---------- end 23.02.2012 by reeta-----*/
/*  for User HP in page 01.03.2012 */

#welcomeArea{
width:975px;
height:110px;
float:left;
margin:auto;
padding-bottom:25px;
}
#welcomeArea_left{
width:960px;
height:110px;
float:left;
margin:auto;
background:#e5e5e5;
}
.welcomeTopicarea{
width:300px;
height:40px;
margin:auto;
float:left;
margin-left:15px;
font-size:12px;
border-right:1px dashed #FFFFFF;
}
#welcomeArea_Right{
width:15px;
height:110px;
float:right;
margin:auto;
background:url(../images/userHP/welcomeArea_right.jpg) no-repeat;
}
#userIntroArea{
width:800px;
height:auto;
margin:auto;
float:right;
background:#fff;
padding-top:15px;
padding-bottom:25px;
}
#userIntroArea_left{
width:150px;
height:auto;
margin:auto;
float:left;
}
#userIntroArea_mid{
width:470px;
height:auto;
float:left;
}
#userIntroArea_right{width:145px; height:auto; margin-right:10px; float:right; border-top: 5px solid #3B3A46;}
#userIntroArea_firstright{width:145px; height:auto; margin-left:20px; float:left; padding-top:95px;}
.borderBottom{border-bottom:2px dotted #CCCCCC;}
.lineHT40{line-height:40px;}
.greyrectBox{width:100%; height:35px; background:#f1f3f2;}
.greyrectBox .ftrsBox{width:auto; height:20px; float:left; border-right:1px solid #ccc; margin:5px 0 0 5px; padding:5px 5px 0 5px; font-size:13px !important;}
.User_twt_fb_countBoxL{width:6px; height:20px; float:left; background:url(../images/browse_search/twitter_count_left_wt.jpg) no-repeat;}
.User_twt_fb_countBoxM{min-width:30px; height:13px; float:left; padding:3px; border-top:1px solid #bababa; border-bottom:1px solid #bababa; background:#FFFFFF;}
.User_twt_fb_countBoxR{width:6px; height:20px; float:left; background:url(../images/browse_search/twitter_count_right.jpg) no-repeat;}
.NoLetterSpace{letter-spacing:0 !important;}
#userArtgallery{width:800px; height:auto; float:right; margin-top:15px;}
/*#userArtgallery img{width:150px; height:150px; border:1px solid #FFFFFF; margin-top:6px; float:left;}*/
.wd975{width:975px !important;}
.wd800{width:800px !important;}
.wd780{width:780px !important;}
.wd610{width:610px !important;}
.wd500{width:500px !important;}
.paddingB50{padding-bottom:50px !important;}
#loadMore{width:800px; height:30px; float:left; text-align:center; padding-top:15px; background:url(../images/userHP/loadMoreBG.jpg) repeat-x;}
.clearVer{width:12px; height:150px; float:left;}
.clearVer2{width:10px; height:150px; float:left;}
.grey_pointer {background:URL(../images/pointer_grey.png) left no-repeat !important; padding-left:11px;}
/*------- end here --------*/



#backgroundPopup{ display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/ height:100%; width:100%; top:0; left:0; background:#000000; border:1px solid #cecece; z-index:1; }
#popupContact{ position:fixed; _position:absolute; /* hack for internet explorer 6*/ z-index:2; }
#popupContactClose{ background:url(../images/closebox.gif) 0 0 no-repeat; width:41px; height:43px; float:right; margin:-24px 0 0 439px; margin:-24px 0 0 -19px; cursor:pointer; position:absolute; z-index:4;  }
/********(02-03_2012) by reeta**********************************/
#alert_msgs {
    color:#fff; 
	background-color:#403F47; 
	border:4px solid #666;
    font-size: 18px;
    max-width: 200px;
    padding: 10px;
    position: relative;
    z-index: 999999;
}
#alert_msgs .close_btn {
    background: url("../images/x.png") no-repeat scroll 0 0 transparent;
    color: #CD0603;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    position: absolute;
    right: -32px;
    text-decoration: none;
    top: -16px;
    width: 50px;
}
#alert_msgs1 {
    color:#fff; 
	background-color:#403F47; 
	border:4px solid #666;
    font-size: 18px;
    max-width: 200px;
    padding: 10px;
    position: relative;
    z-index: 999999;
}
#alert_msgs1 .close_btn {
     background: url("../images/x.png") no-repeat scroll 0 0 transparent;
    color: #CD0603;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    position: absolute;
    right: -32px;
    text-decoration: none;
    top: -16px;
    width: 50px;
}
/********************end here (02-03_2012) by reeta**********************/
/*----- 03.03.2012 for blog page -----*/
#blogShowArea{width:970px; height:auto;}

#blogBox{width:975px; min-height:75px; float:left; border-bottom:1px dashed #ccc; margin-bottom:15px; }
.blogImg{width:78px; height:78px; float:left; margin:auto; border:2px solid #FFFFFF; }
.blogContent{width:750px; height:auto; float:left; margin:auto; line-height:16px; padding:5px 10px 10px 10px; text-align:justify;}
.blogBtnArea{width:110px; float:right; margin-left:10px; padding-top:10px;}
#fullpaginationArea{width:975px; height:30px; float:left; margin-top:10px;}
#fullpaginationArea .leftpagi{width:15px; height:35px; float:left; background:url(../images/fullpaginationBG.jpg) no-repeat top;}
#fullpaginationArea .midpagi{width:945px; height:35px; float:left; background:url(../images/fullpaginationBG.jpg) repeat-x left -70px ;}
#fullpaginationArea .rightpagi{width:15px; height:35px; float:right; background:url(../images/fullpaginationBG.jpg) no-repeat left -35px ;}

/* ---- end 03.03.2012 --------*/
/*----- 03.03.2012 for blog upate page -----*/
#blogUpdateArea{width:970px; height:auto;}
#blogUpdateArea ul li{ line-height:28px; list-style:none;}
#blogUpdateArea input[type=text]{ border:1px solid #CCCCCC; width:400px; height:25px; color:#666;}
#blogUpdateArea input[type=submit]{ border:none; background:url(../images/saveBlogUpdate.jpg) no-repeat; width:120px; height:26px;}

.LGHTBorder{border: 1px dashed #E9E9E9 !important;}\

 /*   ------- for input type file --------*/
  /*   ------- for input type file --------*/
 .file_input_textbox
{
	float: left;
}

.file_input_div
{
	position: relative; 
	width: 100px; 
	height: 28px; 
	overflow: hidden;
}

.file_input_button
{
	width: 82px; 
	position: absolute; 
	top: 0px;
	background-color: #333;
	background-image:url(browse-btn.gif);
	color: #FFFFFF;
	border-style: solid;
	height:28px;
	border-width:0px;
	
}

.file_input_hidden
{
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}
 
 /*---------  end  ---------------------- */

/*-----end  03.03.2012 for blog page -----*/
.wd870{width:870px !important;}
#viewersCommentsArea{width:955px; height:auto; margin:auto; background:#FFFFFF; float:left; padding:10px;}
#viewersCommentsBox{width:955px; min-height:75px; float:left; border-bottom:1px dashed #ccc; margin-bottom:15px; padding-top:5px; }
.viewersCommentsImg{width:55px; height:55px; float:left; margin:auto;}
.viewersCommentsContent{width:870px; height:auto; float:left; margin:auto; margin-left:10px; line-height:16px; padding:0px; text-align:justify;}
.viewersCommentsBtnArea{width:110px; float:right; margin-left:10px;}

#addCommentsArea{width:955px; height:auto; margin:auto; background:#FFFFFF; float:left; padding:10px;}
#addCommentsBox{width:955px; min-height:75px; float:left; border-bottom:1px dashed #ccc; margin-bottom:15px; padding-top:5px; }

/*----- 03.03.2012 for blog with comments page -----*/



/*----- end 03.03.2012 for blog with comments page -----*/
.loadMoreBox{width:800px; height:30px; float:left; text-align:center; padding-top:15px; background:url(../images/userHP/loadMoreBG.jpg) repeat-x;}

/*------- (06-03-2012) --------*/
.cat_id{margin: 4px;}


/*-------- 12.02.2012 --------*/
.uploadReview,.UploadArtwork, #profileUpdateArea{width:780px; height:auto; float:left; margin:auto; float:right; background:#fff; padding:10px;min-height: 500px;}
.UploadArtwork h3, #profileUpdateArea h3{font-size:18px !important;}
.UploadArtwork input[type=text], #profileUpdateArea input[type=text]{ border:1px solid #999999; width:250px; height:20px; font-size:12px; color:#333;}
.UploadArtwork input[type="password"], #profileUpdateArea input[type="password"] {
    border: 1px solid #999999;
    color: #333333;
    font-size: 12px;
    height: 20px;
    width: 250px;
}
.UploadArtwork select, #profileUpdateArea select{ border:1px solid #999999; width:252px; height:20px;  font-size:12px; color:#333}
.UploadArtwork textarea, #profileUpdateArea textarea{ border:1px solid #999999; width:250px; height:100px;  font-size:12px; color:#333}
.UploadArtwork input[type=submit], #profileUpdateArea input[type=submit]{ border:none; background:url(../images/saveBlogUpdate.jpg) no-repeat; width:120px; height:26px;}
.uploadReview{background:#F1F3F2;}
.uploadReview #topProDetail_Part_left{width:585px !important;overflow:hidden !important; float:left;}
.uploadReview .big_image{width:565px !important; overflow:hidden !important; height:362px !important;}
.uploadReview .smallThumbsArea {padding:5px ;}/*103px*/
.uploadReview #addCommentArea{ width:770px !important; margin-bottom:0px !important;}
.uploadReview #addCommentArea textarea{ width:605px !important;}

.greyBorder{ border:1px solid #999999;}

#accountsUpdateArea{width:780px; height:auto; float:left; margin:auto; float:right; background:#fff; padding:10px;}
#accountsUpdateArea h3{font-size:18px !important;}
#accountsUpdateArea input[type=text]{ border:1px solid #999999; width:250px; height:20px; font-size:12px; color:#333;}
#accountsUpdateArea input[type=password]{ border:1px solid #999999; width:250px; height:20px; font-size:12px; color:#333;}
#accountsUpdateArea select{ border:1px solid #999999; width:252px; height:20px;  font-size:12px; color:#333}
#accountsUpdateArea textarea{ border:1px solid #999999; width:250px; height:100px;  font-size:12px; color:#333}
#accountsUpdateArea input[type=submit]{ border:none; background:url(../images/saveBlogUpdate.jpg) no-repeat; width:120px; height:26px;}


#messagesInboxArea{width:800px; height:auto; margin:auto; float:right;}
.mailControlArea{width:800px; height:30px; background:#403f47; color:#FFFFFF; }
.mailControlArea h3{color:#FFFFFF; padding:0px; margin:0px; font-size:14px; }
#messagesInboxArea .delete{ border:none; width:75px; height:20px; background:url(../images/deleteBlog_btnsmall2.jpg) no-repeat; cursor:pointer;}
#messagesInboxArea .move{ border:none; width:75px; height:20px; background:url(../images/move_BlueSmall.jpg) no-repeat; cursor:pointer;}
#messagesInboxArea .select{ border:1px solid #999999; width:120px; height:20px;  font-size:12px; color:#333;}
.mailAreaLight{width:800px; height:25px; background:#E4E4E4; color:#000; border-top:1px solid #FFFFFF; }
.mailAreaDark{width:800px; height:25px; background:#D6D6D6; color:#000; border-top:1px solid #FFFFFF; }
.wd770{width:770px !important;}
.paddingT3{padding-top:3px !important;}
.paddingT6{padding-top:6px !important;}

#messagesComposeArea{width:800px; height:auto; margin:auto; float:right;}
#messagesComposeArea .select{ border:1px solid #999999; width:150px; height:20px;  font-size:12px; color:#333;}
#messagesComposeArea input[type=text]{ border:1px solid #999999; width:250px; height:15px; font-size:12px; color:#333;}
#messagesComposeArea input[type=submit]{ border:none; background:url(../images/sendBTN.jpg) no-repeat; width:150px; height:35px;}
.wd100{width:100px !important;}

#messagesInboxRead{width:800px; height:auto; margin:auto; float:right;}
#messagesInboxRead .delete{ border:none; width:75px; height:20px; background:url(../images/deleteBlog_btnsmall2.jpg) no-repeat; cursor:pointer;}
#messagesInboxRead .reply{ border:none; width:75px; height:20px; background:url(../images/replyBTN.jpg) no-repeat; cursor:pointer;}

/*--------- end 12.02.2012 -------*/


/*------ 13.03.2012 ----*/
.wd80{width:80px !important;}
.wd180{width:180px !important;}
.backgroundN{background:none !important;}
.padding2_0_0_0{padding: 2px 0 0 0 !important;}
.marginL30{margin-left:30px !important;}


.detailHolder img{float:none !important; margin:auto; padding:5px 5px 0 0px !important;}
.marginL100{margin-left:150px !important;}
.detailHolder .ratingHRT{
width:12px;
height:11px;
float:left;
display:block;
margin-left:5px;
background:url(../images/HRTGrey.png) no-repeat;
}
.detailHolder .ratingHRThover{
width:12px;
height:11px;
background:url(../images/HRTGrey_hover.png) no-repeat;
cursor:pointer;
}

.wd790{width:790px !important;}
.wd375{width:375px !important;}
.WTColor{color:#FFFFFF !important;}
/*-------- end 13.03.2012 -----*/
/*----------20-03-2012 by reeta-----------*/
.wrapper{text-align:center;}
/*----------20-03-2012-----------*/
/*-----------------------------------FOR MENU 30-03-2012-- BY REETA-------------*/
.arrowlistmenu{
/*width of accordion menu*/
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font-family: "AllerRegular","Trebuchet MS",Arial,sans serif;
font-size: 13px;
font-weight: normal;
letter-spacing: 0.13em;
color: #343A46;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
background:URL(../images/pointer_red.png) left no-repeat !important; padding-left:11px;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background:URL(../images/pointer_grey.png) left no-repeat !important; padding-left:11px;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 10px 13px 8px;
padding: 0;

}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/

}

.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/
background:URL(../images/pointer_red.png) left center no-repeat !important;
padding-left:13px;
padding-left: 4px\9;  /* IE 8 and below */
}

.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/
background:URL(../images/pointer_grey.png) left center no-repeat !important;
}

.arrowlistmenu ul li a{
font-family: "AllerRegular","Trebuchet MS",Arial,sans serif;
font-size: 11.5px;
font-weight: normal;
letter-spacing: 0.04em;
color: #353574;
display: block;
padding: 2px 0;
padding-left: 13px; /*link text is indented 19px*/
padding-left: 4px\9;  /* IE 8 and below */
background:URL(../images/pointer_artist.png) left center no-repeat !important;
text-decoration: none;
}
.arrowlistmenu ul li ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 10px 13px 8px;
padding: 0;

}
.arrowlistmenu ul li a:visited{
color: #353574;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #353574; 
}

.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/
color: #353574;
}
/*-----------------------------------FOR MENU 30-03-2012-- BY REETA-------------*/
.showMsg{ position:relative; height:25px; width:25px;}
.msgBox{display:none; margin-top:-2px;}
.msgBox .topArrow{width:17px; height:7px; float:left; margin-left:10px; background:url(../images/tooltipArrow.png) no-repeat;}
.msgBox .midCont{width:200px; height:auto; float:left; background:url(../images/tooltipBG.png) repeat; font-size:11px; color:#FFFFFF; padding:5px; line-height:14px;}

.currentSubmenu{font-size:14px; font-weight:700; color:#CC0000; border-bottom:1px solid;}

/*---------- 18.04.2012 -------*/
.marginR20{margin-right:20px !important;}
.broughtBTN{width:170px; float:left; height:25px; color:#666; background:#D1D1D1; border-radius:8px 8px 0 0; padding:7px 5px 5px 5px; text-align:center; font-size:16px;  cursor:pointer;}
.tabActive{background:#E5E5E5 !important;}
.tabInactive{background:#D1D1D1 !important;}
.soldBTN{width:170px; float:left; height:25px;  background:#D1D1D1; color:#666; border-radius:8px 8px 0 0; margin-left:2px; padding:7px 5px 5px 5px; text-align:center; font-size:16px; cursor:pointer;}
.HT125{height:125px !important;}
.wd_85{width:85px !important;}
.redHRT{width:12px;height:10px;float:left;display:block;margin-left:5px;background:url(../images/HRTGrey_hover.png) no-repeat;}

.mediumBTN{width:212px; float:left; height:25px; color:#666; background:#D1D1D1; border-radius:8px 8px 0 0; padding:7px 5px 5px 2px; text-align:center; font-size:16px;  cursor:pointer;}
.searchtabActive{background:#fff !important; border:1px solid #E5E5E5; border-bottom:none; width:211px !important;}
.searchtabInactive{background:#D1D1D1 !important; white-space:1px;}
.styleBTN{width:210px; float:left; height:25px;  background:#D1D1D1; color:#666; border-radius:8px 8px 0 0; padding:7px 5px 5px 5px; border-right:1px solid #E5E5E5; text-align:center; font-size:16px; cursor:pointer;}
.wd440{width:439px !important;}
.wd441{width:441px !important;}
.greenTXT{color:#009933;}
/*------------------passwordStrength (4-May 2012)---------------------*/

.strength0{	width:200px;background:#cccccc;}
.strength1{	width:50px;background:#ff0000;}
.strength2{	width:100px;background:#ff5f5f;}
.strength3{	width:150px;background:#56e500;}
.strength4{	background:#4dcd00;width:200px;}
.strength5{	background:#399800;width:200px;}

/*------- 04.06.2012 -------*/
.wd250{width:250px !important;}
.wd135{width:135px !important;}
.marginR40{margin-right:40px !important;}

/*---------05-10-12--------*/
#secondarycms{min-height:300px;}
