.ddsmoothmenu{

/*background: #414141;*/ /*background of menu bar (default state)*/
width: 555px;

}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;

}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
 /*background of menu items (default state)*/
color: white;
padding: 6px 10px;


text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white; padding-top:13px;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/

color: white;
}

.ddsmoothmenu ul li a:hover{
 /*background of menu items during onmouseover (hover state)*/
/*color:#fff !important;*/

}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 100;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;top:0px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
text-transform:capitalize;
font-weight:700;
letter-spacing:normal;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: -35px;
 top:20px\9 !important;  /* IE 8 and below */ 
 left:170px !important;

}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;background: #414141;  height:15px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: relative;
    right: -33px;
    top: 1px;
}

/* ######### CSS for shadow added to sub menus  ######### */

