body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
/*  ***************** 5 May Cropper Div ***********************/
.edit_photo{ width:450px; padding:5px; border:1px solid #ccc;position:absolute;}
.edit_photo h2{ background-color:#3399CC; color:#fff !important; padding:5px;  font-size:16px; border-bottom: 1px solid #3399CC; margin-bottom:5px;}
.edit_photo .photo_container{ width:480px; float:left; }
.edit_photo .photo_container img{}
.edit_photo .right{ float:left; width:135px;}
.edit_photo .right  .crop_button{ position:relative; bottom:5px;}
.red-button span input {background-image:url(../images/buttons.png); background-position:right -60px;  background-repeat:no-repeat; color:#fff; text-decoration:none; height:47px; line-height:47px; display:block; float:left; padding:0px 15px 0px 5px; font-size:19px; border:0px; cursor:pointer;}
.red-button span{background-image:url(../images/buttons.png); background-position:left -109px; background-repeat:no-repeat; padding-left:4px; height:47px; display:block;}

.floatR{ float:right !important;}

/*  ***************** End of 5 May Cropper Div ***********************/