#file-uploader-demo1{width: 100px; float:left }
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 95px; padding: 7px 0; text-align:center; color: #666666; height: 42px;  
  background:url(../images/upload-photo.png) no-repeat;
}
.qq-upload-button a{color: #666666;width:130px; height:35px;}
.qq-upload-button-hover { background:url(../images/upload-photo.png) no-repeat;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/browse_search/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
#div_error{border: 1px solid #000000;
    color: #FF0000;
    float: left;
    font-family: "AllerRegular","Trebuchet MS",Arial,sans serif;
    font-size: 12px;
    margin-top: 0;
    padding: 5px;
    width: 280px;  }