



/** Main image slideshow **/
#carousel {margin:0 0 15px; padding:0; width:975px; height:380px; background-color:#FFF; position:relative;
-moz-box-shadow: 0 1px 4px #999;
-webkit-box-shadow: 0 1px 4px #999;
box-shadow: 0 1px 4px #999;}
#carousel img {float:left; padding-top:15px; margin-left:2px; z-index:1;}
#carousel img#right {margin-left:15px;}
#carousel img#previous {position:absolute; z-index:2; top:0; left:0; margin:0; padding:0;}
#carousel img#next {position:absolute; z-index:2; top:0; right:0; margin:0; padding:0;}



/** Main image slideshow **/
#main .scrollerMain{width:975px; height: 355px; background:url(../images/scroller-bg.png) no-repeat; padding:15px 4px; margin:-21px 0px 15px 0px;}
#main #scroller {width:965px; height: 350px;position: relative;}
#main #scroller div.scrollableArea img 	{position: relative; float: left; margin: 0px 15px 0px 0px; padding: 0; }


/** 3 steps **/
#three_steps {margin:0 0 20px; padding:0; width:975px; height:110px; background:#FFF URL(../images/home/sign_reg_dots.gif) left no-repeat;}
#three_steps #sign_reg {height:110px; width:150px; padding:20px 0 0; margin:0; float:left;}
a.home_green {background:URL(../images/home/bttn_home_green.gif) left no-repeat; width:128px; margin-left:10px;}
a.home_blue {background:URL(../images/home/bttn_home_blue.gif) left no-repeat; width:128px; margin-left:10px;}
#three_steps .step {margin:0 0 0 15px; padding:0; width:260px; float:left;}
#three_steps .first {width:230px;}
#three_steps .step img {float:left;}
#three_steps .step .step_txt {margin:0; padding:15px 0 0; width:170px; float:left;}
#three_steps .step .step_txt h3 {color:#ad3939;}


/** Tumbnail strips **/
.home_nav {margin-right:8px;}

#home_thumbs {margin:0; padding:0; width:817px; float:left;}



/*********************************** Banner Slideshow *************************************/



.scrollWrapper .banner_slide {text-align:center; color:#999; width:478px; background-color:#403f47; overflow:hidden; z-index:100; position:relative; margin:10px 15px 0 0; padding:0; float:left;}
.detailHolder{width:100%; height:auto; position:absolute;/*position:inherit\9;   IE 8 and below */ z-index:0; padding:50px 25px 30px 10px; overflow:hidden; text-align: center;line-height:20px;}
.scrollWrapper .banner_slide img {position:absolute; top:0; left:0;}
.scrollWrapper .banner_slide h3 {margin:auto; color:#f1f3f2; padding-bottom:15px; width:100%; background:URL(../images/home/thumb_dots.gif) bottom no-repeat;}
.scrollWrapper .banner_slide p {margin:5px;}
.scrollWrapper .banner_slide a { color:#f1f3f2;}
.scrollWrapper a.currentbid {font-size:13px; color:#cf3a3a; font-weight:normal; letter-spacing:0.13em;}
/*********************************** END Banner Slideshow *************************************/

#home_thumbs .slidedown {text-align:center; color:#999; width:148px; height:148px; background-color:#403f47; overflow:hidden; position:relative; border:1px solid #FFF; margin:10px 15px 0 0; padding:0; float:left;}
#home_thumbs .slidedown img {position:absolute; top:0; left:0;}
#home_thumbs .slidedown h3 {margin:10px 0 5px; color:#f1f3f2; padding-bottom:15px; width:148px; background:URL(../images/home/thumb_dots.gif) bottom no-repeat;}
#home_thumbs .slidedown p {margin-bottom:5px;}
#home_thumbs .slidedown a { color:#f1f3f2;}
#home_thumbs a.currentbid {font-size:13px; color:#cf3a3a; font-weight:normal; letter-spacing:0.13em;}

#home_thumbs .first {margin-left:7px;}
#home_thumbs .strip_info {width:150px; float:left; margin:10px 0 0; padding:0;}
#home_thumbs .thumb_strip {margin:0 0 10px; padding:0; background:URL(../images/home/strip_white.gif) left no-repeat; width:817px; height:170px;}

#home_thumbs .grey {background:URL(../images/home/strip_grey.gif) left no-repeat;}


#home_thumbs .slideLarge {text-align:center; color:#999; width:646px; height:151px; background-color:#403f47; overflow:hidden; position:relative; border:1px solid #FFF; margin:10px 10px 0 7px; padding:0; float:left;}

