
/** <=IE 6 Fixes **/


/** Font switch **/
body {font-family:Arial, sans serif; font-size:11px; letter-spacing:normal;}	
#topnav #login_reg #loggedin #summary ul.studio {font-family:Arial, sans serif; font-size:11px; letter-spacing:normal;}	
#topnav #login_reg #loggedin #loggledin {font-family:Arial, sans serif; font-size:11px; letter-spacing:normal;}


/** Column fixes **/
.col_final {width:140px; margin-right:0; overflow:hidden;}
a.button {width:140px;}
#container_two .news_sml {width:140px;}


/** Remove hyperlin PNG backgrounds **/
a.red_pointer {background:none; padding-left:0;}
a.artist_pointer {background:none; padding-left:0;}


/** Other fixes **/
#main #howitworks #howbar h3 {width:200px;}