	
	img{border:none;}

			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
		
			
	#content{
		position:relative;
		}			

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:975px;
		height:330px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-15px;
		top:135px;
		z-index:1000;

		}	
	#nextBtn, #slider1next{ 
		left:930px;/*945*/
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;	
		
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/btn_next.gif) no-repeat 0 0;	
		}	
		
	.banner_slide{
	width:470px;height:330px;left: 0;
	background-color: #403F47;
    border: 1px solid #FFFFFF;
    color: #999999;
    float: left;
 	position:relative;
	/*position:inherit\9;   IE 8 and below */
    overflow: hidden;
    padding: 0;

	}
	.banner_slide .banner_img {
    position: absolute;/* position:inherit\9;  IE 8 and below */
	z-index:100;
}
.banner_slide .detailHolder a {
   color: #999999;
    text-align: center;
}
.banner_slide .detailHolder p {
   color: #999999;
    text-align: center;
}
/* // Easy Slider */