﻿/* You can alter this CSS in order to give SmoothDivScroll your own look'n'feel */

/* Invisible left hotspot */

div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	width: 23px;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(../images/scroller/cursors/cursor_arrow_left.cur), url(images/cursors/cursor_arrow_left.cur),w-resize;
	background:url("../images/scroller/arrow-left.png") transparent center no-repeat;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background:url("../images/scroller/arrow-left.png") transparent center no-repeat;
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	width: 23px;
	height: 100%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../images/scroller/cursors/cursor_arrow_right.cur), url(images/cursors/cursor_arrow_right.cur),e-resize;
	background:url("../images/scroller/arrow-right.png") transparent center no-repeat;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background:url("../images/scroller/arrow-right.png") transparent center no-repeat;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}